@model Entidades.ISisLogErrores
<div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Log_Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Log_Fecha)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Log_Archivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Log_Archivo)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Log_Funcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Log_Funcion)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Log_Linea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Log_Linea)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Log_Columna)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Log_Columna)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.LogPila)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Log_Pila)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Log_Error)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Log_Error)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Log_Info)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Log_Info)
    </div>
</div>

