@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{   
        <table id="tablaSIS_LOG_ERRORES" class="table table-condensed table-bordered tblSelectCatalogo">
                <thead class="grid-Head navbar-default">
                    <tr>
                        <th>
                            <div>@Html.LabelFor(model => ((ISisLogErrores)model.Contenido.First()).Log_Error_Id)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((ISisLogErrores)model.Contenido.First()).Log_Fecha)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((ISisLogErrores)model.Contenido.First()).Log_Archivo)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((ISisLogErrores)model.Contenido.First()).Log_Funcion)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((ISisLogErrores)model.Contenido.First()).Log_Linea)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((ISisLogErrores)model.Contenido.First()).Log_Columna)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((ISisLogErrores)model.Contenido.First()).Log_Pila)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((ISisLogErrores)model.Contenido.First()).Log_Error)</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(ISisLogErrores child in @Model.Contenido)
            {
                        <tr class="ui-rw-cat" data-property="Log_Error_Id" data-property-value="@child.Log_Error_Id"
                            style="font-size:90%!important;text-align:left!important;">
                            <td>@child.Log_Error_Id</td>
                            <td>@child.Log_Fecha</td>
                            <td>@child.Log_Archivo</td>
                            <td>@child.Log_Funcion</td>
                            <td>@child.Log_Linea</td>
                            <td>@child.Log_Columna</td>
                            <td>@((!String.IsNullOrEmpty(child.Log_Pila)) ? child.Log_Pila.Substring(0, child.Log_Pila.Length/20) : String.Empty)</td>
                            <td>@((!String.IsNullOrEmpty(child.Log_Error)) ? child.Log_Error.Substring(0, child.Log_Error.Length / 20) : String.Empty)</td>
                        </tr>
            }
                </tbody>
            </table>
            @Html.Partial("_Paginador", @Model.PaginaInfo)
            }
            else
            {
            @Html.Partial("_NoResult", Model);
            }
