@model Entidades.IEmpresas
@Html.HiddenFor(model => model.IdEmpresa)
@if(Model != null)
{
    if(!String.IsNullOrEmpty(Model.Logo))
    {
        <div class="logoEmpresa form-group col-md-12" style="background-image: url('@Url.Content(String.Format("~/{0}",Model.Logo))');"></div>
    }
}
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Empresa)
    @Html.EditorFor(model => model.Empresa)
    @Html.ValidationMessageFor(model => model.Empresa)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.RFC)
    @Html.EditorFor(model => model.RFC)
    @Html.ValidationMessageFor(model => model.RFC)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Direccion)
    @Html.EditorFor(model => model.Direccion)
    @Html.ValidationMessageFor(model => model.Direccion)
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.CodigoPostal)    
    @Html.EditorFor(model => model.CodigoPostal)
    @Html.ValidationMessageFor(model => model.CodigoPostal)
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Telefono)
    @Html.EditorFor(model => model.Telefono)
    @Html.ValidationMessageFor(model => model.Telefono)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.CorreoElectronico)
    @Html.EditorFor(model => model.CorreoElectronico)
    @Html.ValidationMessageFor(model => model.CorreoElectronico)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.SitioWeb)
    @Html.EditorFor(model => model.SitioWeb)
    @Html.ValidationMessageFor(model => model.SitioWeb)
</div>
    @Html.Partial("_CambiarLogoEmpresa", Model)
@*<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>*@


