@model Entidades.IOTPersonal
   @Html.HiddenFor(model => model.IdOTPersonal)
   <div class="form-group">
    @Html.LabelFor(model => model.IdOrdenTrabajo)
    @Html.EditorFor(model => model.IdOrdenTrabajo)
    @Html.ValidationMessageFor(model => model.IdOrdenTrabajo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdTecnico)
    @Html.EditorFor(model => model.IdTecnico)
    @Html.ValidationMessageFor(model => model.IdTecnico)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


