@model Entidades.ITecnicos
@Html.HiddenFor(model => model.IdTecnico)
<div id="dvNotificacionesValidacionTecnicos"></div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-12">   
    @Html.LabelFor(model => model.NombreEmpleado, new
  {
      @for = "IdEmpleadoTecnicosAutoComplete"
  })
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdEmpleadoTecnicosAutoComplete",
            Url = @Url.Action("Top", "Empleados"),
            Metod = "post",
            Min = "1",
            Target = "IdEmpleado",
            PropValue = "IdEmpleado",
            PropDisplay = "Nombre,ApellidoPaterno,ApellidoMaterno,Matricula",
            CampoSearch = "Nombre",
            CampoCondicion = "contenga",
            Multiple = "1",
            Value = (Model != null) ? Model.NombreEmpleado : String.Empty
        })
    @Html.ValidationMessageFor(model => model.IdEmpleado)
</div>
<div class="form-group col-md-10">
    @Html.LabelFor(model => model.IdGrado, new
  {
      @for = "IEspecialidadesGradoAutoComplete"
  })
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IEspecialidadesGradoAutoComplete",
            Url = @Url.Action("Top", "TecnicosGrados"),
            Metod = "post",
            Min = "1",
            Target = "IdGrado",
            PropValue = "IdGrado",
            PropDisplay = "Codigo,Nombre",
            CampoSearch = "Nombre",
            CampoCondicion = "contenga",
            Multiple = "1",
            Value = (Model != null) ? Model.NombreGrado : String.Empty
        })
    @Html.ValidationMessageFor(model => model.IdGrado)
</div>
<div class="form-group col-md-2">
    <br />
    <div id="btnAddGrado"
         class="btnGrid btnAddItem"
         data-url-plantilla="@Url.Action("GradoTR", "Tecnicos")"
         data-falta-grado="@Entidades.CIdioma.TraduceCadena("ITecnicosFaltaGrado")"
         data-toggle="tooltip"
         data-placement="right"
         title="@Entidades.CIdioma.TraduceCadena("ITecnicosBtnTitleAddGrado")">
    </div>
</div>
<div class="form-group col-md-12">
    @if(Model != null)
    {
        if(Model.Especialidades != null && Model.Especialidades.Count() > 0)
        {
            @Html.Partial("_TecnicoEspecialidades", Model.Especialidades)
        }
        else
        {
            @Html.Partial("_TecnicoEspecialidades",new List<Entidades.CEspecialidades>())
        }
    }
</div>
<div class="fieldDestino">
@Html.EditorFor(model => model.IdEmpleado)
</div>
<div class="fieldDestino">
@Html.EditorFor(model => model.IdGrado)
</div>
