﻿@model Entidades.ICotizaciones 
@*<div class="form-group col-md-6">
    @Html.LabelFor(model => model.IdMoneda, new
    {
        @for = "IdMonedaCotizacionHeadAutoComplete"
    })
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdMonedaCotizacionHeadAutoComplete",
        Url = @Url.Action("Top", "Monedas"),
        Metod = "post",
        Min = "1",
        Target = "IdMoneda",
        PropValue = "IdMoneda",
        PropDisplay = "Moneda",
        CampoSearch = "Moneda",
        CampoCondicion = "contenga",
        Multiple = "1",
        FnBeforeSelect = "ObtieneTipoCambio",
        Value = (Model != null) ? Model.Moneda : String.Empty
    })
</div>*@
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Utilidad)
    <input id="Utilidad" name="Utilidad" type="number" class="form-control" min="1" step="9" style="text-align:right" />    
</div>
<div class="form-group col-md-12">
    <div class="icap-input-file">
        <input type="file" size="1" class="input-file" name="fileCotizacionXls" id="fileCotizacionXls" />        
        <p>@Entidades.CIdioma.TraduceCadena("ICotizacionesLeyendaPlantillaCotizacion")</p>
        <span class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("ICotizacionesLeyendaLoadCotizacion")</span>
        <br />
        <label id="lblCotizacionXlsSelect"></label>
    </div>
</div>
@if(ViewBag.PermisoAddConceptos)
{
    <div class="form-group col-md-12">
        <input type="checkbox" checked="checked" value="true" name="IsCopy" id="IsCopy" />
        <label for="IsCopy" style="font-size:80%!important">@Entidades.CIdioma.TraduceCadena("ICotizacionesAddConceptoFromExcel")</label>       
    </div>
}
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdMoneda)
</div>