﻿@model IEnumerable<ICotizacionesDetalles>
@using Entidades
<br />
<div class="form-group col-md-8">    
    @*<label for="IdCotiClienteAutoComplete">@CIdioma.TraduceCadena("ICotizacionAddConceptoLabel")</label>  *@
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdCotiClienteAutoComplete",
        Url = @Url.Action("Top", "Conceptos"),
        Metod = "post",
        Min = "1",
        Target = "idConceptoAddAux",
        PropValue = "IdConcepto",
        PropDisplay = "Concepto,Descripcion",
        CampoSearch = "Concepto",
        Multiple="1",
        CampoCondicion = "contenga"  ,
        Value=String.Empty      
    })    
</div>
<div class="form-group col-md-4">
    <div id="btnAddDetalleConceptosCotizacion"
         class="btnGrid btnAddItem"
         data-url-plantilla="@Url.Action("PlantillaTablaAdd", "Cotizaciones")"
         data-falta-concepto="@Entidades.CIdioma.TraduceCadena("IMovimientosFaltaIdConcepto")"
         data-existe-concepto="@Entidades.CIdioma.TraduceCadena("IMovimientosExisteConcepto")"
         data-toggle="tooltip" data-placement="right" title="@Entidades.CIdioma.TraduceCadena("IMovimientosBtnTitleAddConcepto")"></div>
</div>
<div class="form-group col-md-12">
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div> @Html.LabelFor(model => ((ICotizacionesDetalles)model.First()).Capitulo)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => ((ICotizacionesDetalles)model.First()).Concepto)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => ((ICotizacionesDetalles)model.First()).Descripcion)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => ((ICotizacionesDetalles)model.First()).Precio)</div>
                </th>    
                <th>
                    <div> @Html.LabelFor(model => ((ICotizacionesDetalles)model.First()).Moneda)</div>
                </th>  
                <th>
                    <div> @Html.LabelFor(model => ((ICotizacionesDetalles)model.First()).Partida)</div>
                </th>       
                <th>
                    <div> @Html.LabelFor(model => ((ICotizacionesDetalles)model.First()).Cantidad)</div>
                </th>   
                <th>
                    <div> @Html.LabelFor(model => ((ICotizacionesDetalles)model.First()).UnidadMedida)</div>
                </th>   
                <th>
                    <div> @Html.LabelFor(model => ((ICotizacionesDetalles)model.First()).Ubicacion)</div>
                </th>    
                <th class="btn-one">
                </th>
            </tr>
        </thead>
        <tbody id="tbdodyConceptosCotizacion">
            @if(Model != null)
            {
                if(Model != null && Model.Count() > 0)
                {
                    foreach(ICotizacionesDetalles detail in Model.OrderBy(x=>x.Partida))
                    {
                        @Html.Partial("_PlantillaConceptoTR", detail)
                    }
                }
            }
        </tbody>
        <tfoot style="display:none">
            <tr><th colspan="3"></th><th colspan="1"><div style="text-align:center;" id="dvTotalConceptos" data-value="0">0</div></th></tr>
        </tfoot>
    </table>    
</div>
<div class="fieldDestino">
<input type="number" id="idConceptoAddAux" />
</div>
