﻿@model IEnumerable<Entidades.IConceptos>
@using Entidades
@if(Model != null && Model.Count() > 0)
{
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>    
                <th class="btn-one">

                </th>           
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.First()).Capitulo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.First()).Precio)</div>
                </th>               
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.First()).Moneda)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IConceptos child in @Model)
            {
                <tr class="ui-rw-cat" data-property="IdCapitulo" data-property-value="@child.IdCapitulo">
                    <td>
                        <div class="btnGridDetalle btnGridSmall "
                             data-url-detail="@Url.Action("InsumosByCapitulos", "Cotizaciones")"></div>
                    </td>
                    <td><strong>@child.Capitulo</strong> </td>
                    <td><strong>@child.Precio.ToString("c4")</strong> </td>
                    <td><strong>@child.Moneda</strong> </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_NoResultGeneric")
}  