﻿@model IEnumerable<Entidades.IConceptosInsumos>
@using Entidades
@if(Model != null && Model.Count() > 0)
{
    <tr id="@String.Format("{0}{1}","trDetailCapitulo",Model.First().IdCapitulo.ToString())">     
        <td colspan="4">
            <table class="table table-condensed table-bordered">
                <thead class="grid-Head  grid-Head-Detalle navbar-default">
                    <tr>
                        <th>
                            <div>@Html.LabelFor(model => ((IConceptosInsumos)model.First()).Codigo)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IConceptosInsumos)model.First()).Descripcion)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IConceptosInsumos)model.First()).Cantidad)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IConceptosInsumos)model.First()).Unidad)</div>
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach(IConceptosInsumos child in @Model)
                    {
                        <tr class="ui-rw-cat" data-property="IdConceptoInsumo" data-property-value="@child.IdConceptoInsumo">
                            <td><span class="LargeTxt"> @child.Codigo</span></td>
                            <td><span class="LargeTxt"> @child.Descripcion</span></td>
                            <td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad.ToString("n4")</td>
                            @if(!String.IsNullOrEmpty(child.Unidad))
                            {
                                <td>@child.Unidad</td>
                            }
                            else
                            {
                                <td>@CIdioma.TraduceCadena("IInsumoAutoEsServicio") </td>
                            }
                            
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
}
else
{
<tr>    
    <td colspan="3">
        @Html.Partial("_NoResultGeneric")
    </td>
</tr>
}