﻿@model  IEnumerable<Entidades.ICotizacionesPersonalCliente>
@using Entidades
@if(Model.Any())
{
    foreach(ICotizacionesPersonalCliente personal in Model)
    {
        <li class="list-group-item" data-id="@personal.IdCotizacionPersonalCliente" data-idcliente="@personal.IdPersonalCliente">
            @String.Format("{0} {1} {2} [{3}]", personal.Nombre, personal.ApellidoPaterno, personal.ApellidoMaterno, personal.Puesto)
        </li>
    }
}