﻿@model Entidades.ICotizacionesDetalles
@using Entidades
<tr class="ConceptoCotizacion" data-property="IdCotizacionDetalle" data-property-value="@Model.IdCotizacionDetalle">
    <td>
        <span>@Model.Capitulo</span>
    </td>
    <td data-property="Concepto" data-property-value="@Model.Concepto">
        <span class="LargeTxt">@Model.Concepto</span>
    </td>
    <td data-property="Descripcion" data-property-value="@Model.Descripcion">
        <span class="LargeTxt">@Model.Descripcion</span>
    </td>
    <td data-property="Precio" data-property-value="@Model.Precio">
        <span>@Model.Precio.ToString("c4")</span>
    </td>
    <td>
        <span>@Model.CodigoMoneda</span>
    </td>
    <td data-property="Partida" data-object-value="@String.Format("CIConceptoPartida{0}", Model.Partida)">
        <input type="number"
               class="form-control Cantidades"
               value="@Model.Partida"
               id="@String.Format("CIConceptoPartida{0}", Model.Partida)" />
    </td>  
    <td data-property="Cantidad" data-object-value="@String.Format("CIConceptoCantidad{0}", Model.IdConcepto)">
        <input type="number"
               class="form-control Cantidades"
               value="@Model.Cantidad"
               id="@String.Format("CIConceptoCantidad{0}", Model.IdConcepto)" />
    </td> 
    <td>
        <span>@Model.UnidadMedida</span>
    </td> 
    
    <td data-property="Ubicacion" data-object-value="this"@*"@String.Format("CIConceptoUbicacion{0}", Model.IdConcepto)"*@>
        <input type="text"
               class="form-control input-sm"
               value="@Model.Ubicacion"
               @*id="@String.Format("CIConceptoUbicacion{0}", Model.IdConcepto)"*@ />
    </td>            
    <td>
        <div class="btnDelete btnGrid btnGridSmall btnRemoveTR"></div>
    </td>
    <td style="display:none" data-property="IdConcepto" data-property-value="@Model.IdConcepto"></td>
</tr>