﻿@model Entidades.IUICatalogo           
@using Entidades;
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @foreach(IPerfilAcciones permiso in Model.Permisos)
            {
                @Html.Raw(permiso.Html)
            }
            <li><a id="btnToolCrearProyecto"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-url-proyecto="@Url.Action("NewHeader", "Proyectos")"
                   class="dvIconTool TabProyecto">@Entidades.CIdioma.TraduceCadena("IProyectosProyecto")</a></li>
            <li>
                <a id="btnToolCargaCotizacion"
                   data-url-plantilla="@Url.Action("PlantillaLoad", "Cotizaciones")"
                   data-url-uploadfile="@Url.Action("NewXls", "Cotizaciones")"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"                   
                   class="dvIconTool TabLoadExel">@Entidades.CIdioma.TraduceCadena("ILoadCotizacionFromXls")</a>              
            </li>
            <li>
                <a id="btnToolImprimeCotizacion"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-url="@Url.Action("ImprimeCotizacion", "Cotizaciones")"
                   data-url-rpt-dw="@Url.Action("DescargaReporte", "OrdenesTrabajo")"
                   class="dvIconTool TabImprimir">@Entidades.CIdioma.TraduceCadena("IImprimeCotizacion")</a>
            </li>
            <li>
                <a id="btnToolCopiarCotizacion"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-url="@Url.Action("CopiarCotizacion", "Cotizaciones")"
                   class="dvIconTool TabCopiar">@Entidades.CIdioma.TraduceCadena("ICopiarCotizacion")</a>
            </li>
            <li>
                <a id="btnToolPreviewCotizacion"
                   class="dvIconTool TabPreviewFile"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-url-plantilla="@Url.Action("PreviewCotizacion", "Cotizaciones")">
                    @Entidades.CIdioma.TraduceCadena("IOTPreviewCotizacion")
                </a>
        </li>
        </ul>
    }
    @if(Model != null && Model.HasPermiso("buscar"))
    {
        @Html.Partial("_ToolBuscar")
    }
</div>