﻿@model Entidades.IUICatalogo           
@using Entidades;
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @*@foreach(IPerfilAcciones permiso in Model.Permisos)
            {
                @Html.Raw(permiso.Html)
            }*@ 
            <li>
                <a id="btnToolImprimeCotizacionAll"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-url="@Url.Action("ImprimeCotizacion", "Cotizaciones")"
                   data-url-rpt-dw="@Url.Action("DescargaReporte", "OrdenesTrabajo")"
                   class="dvIconTool TabImprimir">@Entidades.CIdioma.TraduceCadena("IImprimeCotizacion")</a>
            </li>         
            <li>
                <a id="btnToolPreviewCotizacionAll"
                   class="dvIconTool TabPreviewFile"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-url-plantilla="@Url.Action("PreviewCotizacion", "Cotizaciones")">
                    @Entidades.CIdioma.TraduceCadena("IOTPreviewCotizacion")
                </a>
        </li>
        </ul>
    }
    @if(Model != null && Model.HasPermiso("buscar"))
    {
        @Html.Partial("_ToolBuscar")
    }
</div>