﻿@model Entidades.ICotizaciones
<form id="formularioEditarNewCotizaciones" action="@Url.Action("PutDatosComplementarios", "Cotizaciones")" method="post" autocomplete="off">
     
    <div id="dvNotificacionesValidacionConceptosCotizaciones"></div>
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Cotizacion)
        @Html.EditorFor(model => model.Cotizacion)
    </div>

    @Html.Partial("EditorTemplates/_ICotizacionesComplementos", Model)
    <div class="form-group col-md-12">
        <span id="btnSaveCotizaciones"
              class="btn btn-icap btn-right"
              data-cotizacion-vacia="@Entidades.CIdioma.TraduceCadena("ICotizacionSinConceptos")"
              data-cotizacion-nocliente="@Entidades.CIdioma.TraduceCadena("NCotizacionClienteNovalido")"
              data-cotizacion-tipocambio="@Entidades.CIdioma.TraduceCadena("NCotizacionTipoCambioNovalido")"
              data-ubicacion-empty="@Entidades.CIdioma.TraduceCadena("NConceptosDetalleNoUbicacion")"
              data-cotizacion-iva="@Entidades.CIdioma.TraduceCadena("NCotizacionIvaNovalido")">@ViewBag.LabelCreate</span>
        </div>
        <div class="modal-footer IcapFooter "></div>
    <div class="fieldDestino">
        @Html.HiddenFor(model => model.IdCliente)
        @Html.HiddenFor(model => model.IdCotizacion)
        @Html.HiddenFor(model => model.IdMoneda)
        @Html.HiddenFor(model => model.Exito)
        @Html.HiddenFor(model => model.IdIva)
        @Html.HiddenFor(model => model.DescuentoMonto)
        <span 
           data-url="@Url.Action("PersonalByCliente", "ClientesPersonal")"
           data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
           data-idcliente="0"          
           id="tabDatosAdicionales">            
        </span>
    </div>
    </form>