@model Entidades.ICotizaciones
@Html.DisplayForModel("ICotizacionesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaCotizaciones" class="btn btn-icap" data-property-id="@Model.IdCotizacion" data-url-action="@Url.Action("Delete", "Cotizaciones")">@ViewBag.LabelDelete</span>
</div>

