@model Entidades.ICotizaciones
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewCotizaciones" action="@Url.Action(ViewBag.Action, "Cotizaciones")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("ICotizaciones")
    <div class="form-group col-md-12">
        <span id="btnSaveCotizaciones"
              class="btn btn-icap btn-right" style="margin-right:90px"
              data-cotizacion-vacia="@Entidades.CIdioma.TraduceCadena("ICotizacionSinConceptos")"
              data-cotizacion-nocliente="@Entidades.CIdioma.TraduceCadena("NCotizacionClienteNovalido")"
              data-cotizacion-tipocambio="@Entidades.CIdioma.TraduceCadena("NCotizacionTipoCambioNovalido")"
              data-ubicacion-empty="@Entidades.CIdioma.TraduceCadena("NConceptosDetalleNoUbicacion")"
              data-op-ok="@Entidades.CIdioma.TraduceCadena("WebApiResponseOK")"
              data-cotizacion-iva="@Entidades.CIdioma.TraduceCadena("NCotizacionIvaNovalido")">@ViewBag.LabelCreate</span>
        <span id="btnSalirCotizacion"
              class="btn btn-icap btn-right">
            @Entidades.CIdioma.TraduceCadena("IGeneralSalir")
        </span>
        </div>
    
        <div class="modal-footer IcapFooter "></div>
    </form>

