﻿@model Entidades.ICotizaciones
@using Entidades
@*<iframe src='@Url.Content("~/Reportes/ReportesIcap.aspx?Rpt=COTIZACION_PDF&Id=40")' class="rptVisor"></iframe>*@

<html>
<body style=" font-family: Arial, Helvetica, sans-serif;font-size:12px;">
    <table style="width:100%;height:70px;border:1px solid #DFE8EB;font-size:12px;font-family: Arial">
        <tr style="background-color:#DFE8EB;width:100%">
            <td colspan="3" style="font-weight:bold;background-color:#DFE8EB;">&nbsp;</td>
        </tr>
        <tr>           
            <td style="width:60%;" rowspan="8">
                <table style="width:100%;">
                    <tr><td colspan="2">@Model.Empresa</td></tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#DFE8EB;">Cliente</td>
                        <td style="font-weight:bold;background-color:#DFE8EB;">Ubicacion</td>
                    </tr>
                    <tr>
                        <td>@Model.RazonSocial</td>
                        <td>Aqui va la ubicacion</td>
                    </tr>
                </table>
            </td>
            <td style="width:40%;font-size:7px;">
                <table style="width:100%;height:auto;font-size:12px;border:1px solid #DFE8EB;">                    
                    <tr><td style="font-weight:bold;background-color:#DFE8EB;">Moneda</td></tr>
                    <tr><td>@Model.Moneda</td></tr>
                    <tr><td style="font-weight:bold;background-color:#DFE8EB;">Unidad</td></tr>
                    <tr><td>@Model.Unidad</td></tr>
                    <tr><td style="font-weight:bold;background-color:#DFE8EB;">Fecha</td></tr>
                    <tr><td>@Model.Fecha.ToString("d")</td></tr>  
                    <tr><td style="font-weight:bold;background-color:#DFE8EB;">Tipo cambio</td></tr>
                    <tr><td>@Model.Valor.ToString("c4")</td></tr>                 
                    <tr><td style="font-weight:bold;background-color:#DFE8EB;">IVA</td></tr>
                    <tr><td>@Model.Iva %</td></tr>
                </table>
            </td>
        </tr>
    </table>
    <table style="width:100%;height:70px;border:1px solid #DFE8EB;font-size:12px;font-family: Arial;"> 
        <tr><th>&nbsp;</th></tr>       
        <tr>
            <th style="background-color:#DFE8EB;font-size:12px;font-family: Arial;text-align:center;">Concepto</th>
            <th style="background-color:#DFE8EB;font-size:12px;font-family: Arial;text-align:center;">Descripci&oacute;n</th>
            <th style="background-color:#DFE8EB;font-size:12px;font-family: Arial;text-align:center;">Precio</th>
            <th style="background-color:#DFE8EB;font-size:12px;font-family: Arial;text-align:center;">Cantidad</th>
        </tr>      
        @foreach(ICotizacionesDetalles concepto in Model.Conceptos)
        {
            <tr>
                <td style="font-size:12px;font-family: Arial;text-align:center; page-break-inside: avoid; ">@concepto.Concepto</td>
                <td style="font-size:12px;font-family: Arial;text-align:center; page-break-inside: avoid; ">@concepto.Descripcion</td>
                <td style="font-size:12px;font-family: Arial;text-align:center; page-break-inside: avoid; ">@concepto.Precio.ToString("c4")</td>
                <td style="font-size:12px;font-family: Arial;text-align:center; page-break-inside: avoid; ">1</td>
            </tr>
            if(concepto.Insumos != null && concepto.Insumos.Count > 0)
            {
                <tr>
                    <td colspan="4" style="width:100%;background-color:#DFE8EB;font-size:12px;font-family: Arial;text-align:center; page-break-inside: avoid; ">Insumos</td>
                </tr>
                <tr>
                    <td colspan="4" style=" page-break-inside: avoid; ">
                        <table style="width:100%;border:1px solid #DFE8EB;font-size:12px;font-family: Arial">
                            <tr>
                               <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <th style="background-color:#DFE8EB;font-size:12px;font-family: Arial;text-align:center;">C&oacute;digo</th>
                                <th style="background-color:#DFE8EB;font-size:12px;font-family: Arial;text-align:center;">Descripci&oacute;n</th>
                                <th style="background-color:#DFE8EB;font-size:12px;font-family: Arial;text-align:center;">Cantidad</th>
                            </tr>
                            @foreach(ICotizacionesDetallesInsumos insumo in concepto.Insumos)
                            {
                                <tr>
                                    <td style="font-size:12px;font-family: Arial;text-align:center;">@insumo.Codigo</td>
                                    <td style="font-size:12px;font-family: Arial;text-align:center;">@insumo.Descripcion</td>
                                    <td style="font-size:12px;font-family: Arial;text-align:center;">@insumo.Cantidad</td>
                                </tr>
                            }
                        </table>                        
                    </td>
                </tr>
            }
        }
        
    </table>



    <table style="width:100%;height:70px;border:1px solid #DFE8EB;font-size:12px;font-family: Arial">
        <tr>            
            <td style="width:60%;">               
            </td>
            <td style="width:40%;font-size:7px;">
                <table style="width:100%;height:auto;font-size:12px;border:1px solid #DFE8EB;">
                    <tr>
                        <td style="font-weight:bold;background-color:#DFE8EB;">Descuento</td>
                        <td>@String.Format("{0}%, {1}", Model.PorcentajeDescuento, Model.DescuentoMonto.ToString("c4"))</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#DFE8EB;">Descuento</td>
                        <td>@String.Format("{0}%, {1}",Model.PorcentajeDescuento,Model.DescuentoMonto.ToString("c4"))</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#DFE8EB;">SubTotal</td>
                        <td>@Model.SubTotal.ToString("c4")</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;background-color:#DFE8EB;">Total</td>
                        <td>@Model.Total.ToString("c4")</td>
                    </tr>                   
                </table>
            </td>
        </tr>
    </table>
</body>
</html>