﻿@model Entidades.ICotizaciones
@using Entidades
@{
    double IvaValor = ((Model.Iva / 100)) * Model.SubTotal;
}
@if(Model != null)
{
    <div class="form-group col-md-12">
        <table class="table table-condensed table-bordered">
            <thead class="grid-Head-Detalle-boot grid-Head navbar-default">
                <tr>
                    <th>
                        <div>@Html.LabelFor(model => model.Empresa)</div>
                    </th>
                    <th>
                        <div>@Html.LabelFor(model => model.Unidad)</div>
                    </th>
                    <th>
                        <div>@Html.LabelFor(model => model.RazonSocial)</div>
                    </th>
                    <th>
                        <div>@Html.LabelFor(model => model.Fecha)</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div>@Model.Empresa</div></td>
                    <td><div>@Model.Unidad</div></td>
                    <td><div>@Model.RazonSocial</div></td>
                    <td><div>@Model.Fecha.ToString("d")</div></td>
                </tr>
            </tbody>
            <tfoot>
                @*<tr> 
                   
                </tr>*@
                <tr>
                    <td colspan="2" rowspan="6" class="cellTotales">
                        <div class="logoEmpresa" style="background-size:46%!important;  background-image: url('@Url.Content(String.Format("~/{0}",ViewBag.Empresa.Logo))');"></div>
                    </td>
                    @*<td colspan="2" class="cellTotales"></td>*@
                    <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.Iva)</div></td>
                    <td>@Convert.ToDouble(Model.Iva/100).ToString("p2")</td>
                </tr>               
                <tr>
                    @*<td colspan="2" class="cellTotales"></td>*@
                    <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.Moneda)</div></td>
                    <td>@String.Format("{0} {1}",Model.Moneda,Model.CodigoMoneda)</td>
                </tr>
                <tr>
                    @*<td colspan="2" class="cellTotales"></td>*@
                    <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.Valor)</div></td>
                    <td>@Model.Valor.ToString("c4")</td>
                </tr>
                <tr>
                    @*<td colspan="2" class="cellTotales"></td>*@
                    <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.Utilidad)</div></td>
                    <td>@Convert.ToDouble(Model.Utilidad / 100).ToString("p2")</td>
                </tr> 
                <tr>
                    <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.Usuario)</div></td>
                    <td>@Model.Usuario.NombreEmpleado</td>
                </tr> 
                <tr>
                    <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.Cotizacion)</div></td>
                    <td>@Model.Cotizacion</td>
                </tr>                   
            </tfoot>
        </table>
    </div>
    if(Model.Conceptos != null && Model.Conceptos.Count() > 0)
    {
        <div class="form-group col-md-12">
            <table class="table table-condensed table-bordered">
                <thead class="grid-Head-Detalle-boot grid-Head navbar-default">
                    <tr>
                        <th></th>
                        <th>
                            <div>@Entidades.CIdioma.TraduceCadena("IConceptosConcepto")</div>
                        </th>
                        <th>
                            <div>@Entidades.CIdioma.TraduceCadena("IConceptosDescripcion")</div>
                        </th>
                        <th>
                            <div>@Entidades.CIdioma.TraduceCadena("IConceptosIdUnidadMedida")</div>
                        </th>
                        <th>
                            <div>@Entidades.CIdioma.TraduceCadena("ICotizacionesDetallesCantidad")</div>
                        </th>
                        <th>
                            <div>@Entidades.CIdioma.TraduceCadena("ICotizacionesDetallesPrecio")</div>
                        </th>
                        <th>
                            <div>@Entidades.CIdioma.TraduceCadena("ICotizacionesImporte")</div>
                        </th>
                    </tr>
                </thead>
                <tbody id="tblAllConceptos">
                    @foreach(ICotizacionesDetalles detalle in Model.Conceptos)
                    {
                        <tr>
                            <td>
                                <div class="btnGridSmall btnGridDetalle" data-tr-destino="@String.Format("trId{0}",detalle.IdConcepto)"></div>
                            </td>
                            <td><div class="cellTexto-xs"> @detalle.Concepto</div></td>
                            <td><div class="cellTexto-xs">@detalle.Descripcion</div></td>
                            <td>@detalle.UnidadMedida</td>
                            <td>@detalle.Cantidad.ToString("n4")</td>
                            <td>@detalle.Precio.ToString("c4")</td>
                            <td>@Convert.ToDouble(detalle.Precio * detalle.Cantidad).ToString("c4")</td>
                        </tr>
                        if(detalle.Insumos != null && detalle.Insumos.Count() > 0)
                        {
                            <tr id="@String.Format("trId{0}",detalle.IdConcepto)">
                                <td colspan="7">
                                    <table class="table table-condensed table-bordered">
                                        <thead class="grid-Head-Detalle grid-Head navbar-default">
                                            <tr>
                                                <th>
                                                    <div>@CIdioma.TraduceCadena("IInsumosCodigo")</div>
                                                </th>
                                                <th>
                                                    <div>@CIdioma.TraduceCadena("IInsumosDescripcion")</div>
                                                </th>
                                                <th>
                                                    <div>@CIdioma.TraduceCadena("IConceptosIdUnidadMedida")</div>
                                                </th>
                                                <th>
                                                    <div>@CIdioma.TraduceCadena("IConceptosCantidadInsumo")</div>
                                                </th>
                                                <th>
                                                    <div>@CIdioma.TraduceCadena("IConceptosCostoInsumo")</div>
                                                </th>
                                                <th>
                                                    <div>@CIdioma.TraduceCadena("ICotizacionesDetallesInsumosCostoTotal")</div>
                                                </th>
                                                <th>
                                                    <div>@CIdioma.TraduceCadena("IContratosValorUsadoTipo")</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(ICotizacionesDetallesInsumos insumo in detalle.Insumos)
                                            {
                                                <tr>
                                                    <td><div class="cellTexto-xs">@insumo.Codigo</div></td>
                                                    <td>
                                                        <div class="cellTexto-xs">@insumo.Descripcion</div>
                                                    </td>                                                    
                                                    @if(!String.IsNullOrEmpty(insumo.Unidad))
                                                    {
                                                        <td>@insumo.Unidad</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@CIdioma.TraduceCadena("IInsumoAutoEsServicio") </td>
                                                    }    
                                                    <td>@insumo.Cantidad.ToString("n4")</td>
                                                    @*<td>@insumo.Costo.ToString("c4")</td> 
                                                    <td>
                                                        @Convert.ToDouble(insumo.Cantidad*insumo.Costo).ToString("c4")
                                                    </td>*@     
                                                    @if(@insumo.Costo <= 0)
                                                    {
                                                        <td colspan="3" class="CellResaltada">
                                                            <div class="cellTexto-xs">
                                                                <strong> @String.Format("{0} {1} {2}", 
                                                                                        CIdioma.TraduceCadena("IContratosSinTipoCambioPreciosNew"), 
                                                                                        insumo.Monedas, 
                                                                                        insumo.Fecha.ToString("d"))
                                                                </strong>
                                                            </div>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>@insumo.Costo.ToString("c4")</td>
                                                        <td>
                                                            @Convert.ToDouble(insumo.Cantidad * insumo.Costo).ToString("c4")
                                                        </td>
                                                        <td>
                                                            <div class="cellTexto-xs">
                                                                <strong> @String.Format("{0} {1} {2}", 
                                                                          insumo.ValorTipoCambio.ToString("c4"), 
                                                                          insumo.Monedas, 
                                                                          insumo.Fecha.ToString("d"))
                                                                </strong>
                                                            </div>
                                                        </td>
                                                    }                                              
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="cellTotales"></td>
                        <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.SubTotal)</div></td>
                        <td><b>@Model.SubTotal.ToString("c4")</b></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="cellTotales"></td>
                        @*<td>@Html.LabelFor(model => model.Iva)</td>
                            <td>@Convert.ToDouble(Model.Iva/100).ToString("p2")</td>*@
                        <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.Iva)</div></td>
                        <td><b>@IvaValor.ToString("c4")</b></td>
                    </tr>

                    <tr>
                        <td colspan="5" class="cellTotales"></td>
                        <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.DescuentoMonto)</div></td>
                        <td><b>@Model.DescuentoMonto.ToString("c4")</b></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="cellTotales"></td>
                        <td class="grid-Head-Detalle-boot"><div>@Html.LabelFor(model => model.Total)</div></td>
                        <td><b>@Model.Total.ToString("c4")</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
}
<div class="modal-footer IcapFooter "></div>