﻿@model IEnumerable<Entidades.IProyectos>
@using Entidades
@if(Model != null && Model.Count() > 0)
{
    <table class="table table-condensed table-bordered tblSelectCatalogo">
        <thead class="grid-Head navbar-default">
            <tr>               
                <th class="btn-one">

                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IProyectos)model.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IProyectos)model.First()).Proyecto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IProyectos)model.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IProyectos)model.First()).Ubicacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IProyectos)model.First()).FechaInicial)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IProyectos)model.First()).FechaFinal)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IProyectos)model.First()).RazonSocial)</div>
                </th>  
                <th>
                    <div>@Html.LabelFor(model => ((IProyectos)model.First()).AllContratos)</div>
                </th>              
            </tr>
        </thead>
        <tbody id="tblAllProyectosInstaladoSolicitado">
            @foreach(IProyectos child in @Model)
            {
                <tr class="ui-rw-cat" data-property="IdProyecto" data-property-value="@child.IdProyecto" style="background-color:#fff!important;">                   
                    <td style="cursor:pointer" class="dvdetail" data-target-div="@String.Format("dvProyectoContratos{0}",child.IdProyecto)">
                    @if(child.vwContratos != null && child.vwContratos.Count > 0)
                    {
                        <div style="color:#286090">
                            <i class="fa fa-plus fa-1x "></i>
                        </div>
                    }
                    </td>                    
                    <td><div class="celltexto-xs">@child.Unidad</div></td>
                    <td><div class="celltexto-xs">@child.Proyecto</div></td>
                    <td><div class="cellTexto-xs">@child.Descripcion</div></td>
                    <td><div class="cellTexto-xs">@child.Ubicacion</div></td>
                    <td>@child.FechaInicial.ToString("d")</td>
                    <td><div class="celltexto-xs">@child.FechaFinal.ToString("d")</div></td>
                    <td><div class="cellTexto-xs">@child.RazonSocial</div></td>
                    @if(child.vwContratos != null && child.vwContratos.Count > 0)
                    {
                       <td>@child.vwContratos.Count</td>
                    }
                    else
                    {
                       <td>0</td>
                    }
                </tr>
                if(child.vwContratos != null && child.vwContratos.Count > 0)
                {
                    <tr id="@String.Format("dvProyectoContratos{0}", child.IdProyecto)" class="tdDetailContenido">
                        <td colspan="9">
                            @Html.Partial("~/Views/Proyectos/InsumosByProyecto/_RptContratos.cshtml", child.vwContratos)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_NoResult")
}
