﻿@using Entidades
@model IEnumerable<IContratosDetalles2>
@if(Model != null)
{
    <a class="dropdown-toggle dvIconTool"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">
        <i class="fa fa-filter fa-2x" aria-hidden="true" style="color:#1b87ef;">
            <label style=" font-size:55%!important;color:#000;">
                &nbsp;@CIdioma.TraduceCadena("IFiltroContratosLeyendaFiltroContratos")
            </label>
        </i>
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" id="ulContratosDinamicos">
        <li>
            <div style="margin-left:15px;margin-right:15px;width:100%!important;font-weight:bold;font-size:87%;">
              @Html.Raw(CIdioma.TraduceCadena("IFiltroContratosLeyendaContratos"))
            </div>
        </li>
        <li role="separator" class="divider"></li>
        @if(Model != null)
        {
            foreach(IContratosDetalles2 contrato in Model)
            {
                <li>
                    <a href="#" class="small" tabindex="-1">
                        <input type="checkbox" class="colContratoDinamic" value="@contrato.IdContrato" />&nbsp;@contrato.Contrato
                    </a>
                </li>
            }
        }
        <li role="separator" class="divider"></li>
        <li>
            <span id="btncontratosdinamicos" class="btn btn-primary btn-sm" style="margin-left:15px;">@CIdioma.TraduceCadena("IFiltroContratosbtnOkFiltros")</span>
        </li>
    </ul>   
}