﻿@model Entidades.IProyectos
@using Entidades;
<li class="dropdown">
    <a class="dropdown-toggle dvIconTool"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">
        <i class="fa fa-cog fa-1x" aria-hidden="true"></i>
        @Entidades.CIdioma.TraduceCadena("IUICatalogoEstimacionContrato")
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a id="btnAllEstimaciones"
               data-url-tbl="@Url.Action("EstimacionesPorContrato", "Proyectos")"
               data-tbl-target="dvConceptosContratosDetalle"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("EstimacionesPorContratoIndex", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IUICatalogoEstimacionContrato")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-handshake-o fa-1x" style="color:#286090!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IUICatalogoEstimacionContrato")</label>
                </i>
            </a>
        </li>     
    </ul>
</li>