﻿@model Entidades.IProyectos
@using Entidades;
<li class="dropdown">
    <a class="dropdown-toggle dvIconTool TabConsultasProyectos"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">
        <i class="fa fa-cog fa-1x" aria-hidden="true">            </i>
        @Entidades.CIdioma.TraduceCadena("MenuConsultasProyectos")
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a id="btnConceptosContratosProyectos"
               data-url-tbl="@Url.Action("ConceptosPorContratosView", "Proyectos")"
               data-tbl-target="dvConceptosContratosDetalle"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ConceptosPorContratos", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosConceptosPorContrato")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-handshake-o fa-1x" style="color:#286090!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosConceptosPorContrato")</label>
                </i>
            </a>
        </li>
        <li>
            <a id="btnConceptosContratosProyectosInstalado"
               data-url-tbl="@Url.Action("ConceptosPorContratosInstaladoView", "Proyectos")"
               data-tbl-target="dvConceptosContratosDetalle"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ConceptosPorContratosInstalado", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosConceptosPorContratoInstalado")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-handshake-o fa-1x" style="color:#286090!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosConceptosPorContratoInstalado")</label>
                </i>
            </a>
        </li>
        <li>
            <a id="btnConceptosContratosProyectosSolicitadoInstalado"
               data-url-tbl="@Url.Action("ConceptosPorContratosSolicitadoInstaladoBoton", "Proyectos")"
               data-tbl-target="dvConceptosContratosSolicitadoInstaladoDetalle"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ConceptosPorContratosSolicitadoInstalado", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosConceptosContratoSolicitadoInstalado")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-handshake-o fa-1x" style="color:#286090!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosConceptosContratoSolicitadoInstalado")</label>
                </i>
            </a>
        </li>
        <li>
            <a id="btnConceptosContratosProyectosSolicitadoEstado"
               data-url-tbl="@Url.Action("ConceptosPorContratosSolicitadoEstadoDetalle", "Proyectos")"
               data-tbl-target="dvConceptosContratosDetalle"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ConceptosPorContratosSolicitadoEstado", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosConceptosContratoSolicitadoEstado")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-handshake-o fa-1x" style="color:#286090!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosConceptosContratoSolicitadoEstado")</label>
                </i>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a id="btnConceptosContratosProyectosSolicitadoArea"
               data-url-tbl="@Url.Action("ConceptosPorContratosSolicitadoAreaDetalle", "Proyectos")"
               data-tbl-target="dvConceptosContratosSolicitadoAreaDetalle"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ConceptosPorContratosSolicitadoArea", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosConceptosContratoSolicitadoArea")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-map-marker fa-1x" style="color:#d72525!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosConceptosContratoSolicitadoArea")</label>
                </i>
            </a>
        </li>
        <li>
            <a id="btnConceptosContratosProyectosInstaladoArea"
               data-url-tbl="@Url.Action("ConceptosPorContratosInstaladoAreaDetalle", "Proyectos")"
               data-tbl-target="dvConceptosContratosInstaladoAreaDetalle"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ConceptosPorContratosInstaladoArea", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosConceptosContratoInstaladoArea")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-map-marker fa-1x" style="color:#d72525!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosConceptosContratoInstaladoArea")</label>
                </i>
            </a>
        </li>
        <li>
            <a id="btnConceptosProyectosSolicitadoInstaladoArea"
               data-url-tbl="@Url.Action("ConceptosSolicitadoInstaladoBotonArea", "Proyectos")"
               data-tbl-target="dvConceptosSolicitadoInstaladoDetalleArea"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ConceptosSolicitadoInstaladoArea", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosConceptosSolicitadoInstaladoArea")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-map-marker fa-1x" style="color:#d72525!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosConceptosSolicitadoInstaladoArea")</label>
                </i>
            </a>
        </li>
        <li>
            <a id="btnConceptoProyectosSolicitadoEstadoArea"
               data-url-tbl="@Url.Action("ConceptosSolicitadoEstadoAreaDetalle", "Proyectos")"
               data-tbl-target="dvConceptosSolicitadoEstadoDetalleArea"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ConceptosSolicitadoEstadoArea", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosConceptosSolicitadoEstadoArea")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-map-marker fa-1x" style="color:#d72525!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosConceptosSolicitadoEstadoArea")</label>
                </i>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a id="btnInsumosByProyecto"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("GetInsumosByProyecto", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosInsumosByProyecto")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-cubes fa-1x" style="color:#9b6606!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosInsumosByProyecto")</label>
                </i>
            </a>
        </li>
        <li>
            <a id="btnSolicitudInsumosInstalados"
               data-url-tbl="@Url.Action("SolicitudInsumosInstaladoProgramadoFiltro", "Proyectos")"
               data-tbl-target="dvInsumosDetalle"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("SolicitudInsumosInstaladoProgramado", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosSolicitudInsumosInstalados")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-cubes fa-1x" style="color:#9b6606!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosSolicitudInsumosInstalados")</label>
                </i>
            </a>
        </li>

        <li>
            <a id="btnSolicitudInsumosInstaladosFecha"
               data-url-tbl="@Url.Action("SolicitudInsumosInstaladoFechaFiltro", "Proyectos")"
               data-tbl-target="dvInsumosDetalle"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("SolicitudInsumosInstaladoFecha", "Proyectos")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosSolicitudInsumosInstaladosFecha")"
               data-proyecto="@Model.IdProyecto">
                <i class="fa fa-cubes fa-1x" style="color:#9b6606!important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosSolicitudInsumosInstaladosFecha")</label>
                </i>
            </a>
        </li>

    </ul>
</li>