﻿@model Entidades.IInsumos
<div class="form-group col-md-10">
    <input type="hidden" id="IdInsumoBuscarP_M" />
    @Html.LabelFor(model => model.IdInsumo, new
   {
       @for = "IdInsumoSearchAutoComplete"
   })
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdInsumoSearchAutoComplete",
            Url = @Url.Action("TopInsumosServicios", "Insumos"),
            Metod = "post",
            Min = "1",
            Target = "IdInsumoBuscarP_M",
            PropValue = "IdInsumo",
            PropDisplay = "Codigo,Serie,Descripcion",
            CampoSearch = "Codigo",
            CampoCondicion = "contenga",
            Multiple = "1"
        })
</div>
<div class="form-group col-md-2">
    <br />   
    <div id="btnSearchInsumoInPM" style="color:#286090;cursor:pointer"
         data-pedido-resultt="@Entidades.CIdioma.TraduceCadena("ISearchInPedidos")"
         data-movimiento-result="@Entidades.CIdioma.TraduceCadena("ISearchInMovimientos")">
        <i class="fa fa-search fa-2x "></i>
    </div>
</div>
<div class="alert alert-success col-md-12" role="alert" id="resultSearch">
    
</div>

    <div class="modal-footer IcapFooter"></div>
