﻿@using Entidades
@model IEnumerable<Entidades.IPedidosDetalles>
@if(@Model != null && @Model.Count() > 0)
{    
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head-Detalle grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Concepto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Serie)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Descripcion)</div>
                </th>                
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Cantidad)</div>
                </th>               
                <th colspan="2">
                    <div>@Html.LabelFor(model => (model.First()).CantidadEnviada)</div>
                </th>                          
                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadRecibida)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IPedidosDetalles child in @Model)
            {
                string clase = "background-color:#f54a4a;color:#fff;";
                if(child.PorcentajeEnvio <= 100 && child.PorcentajeEnvio>=99)
                {
                    clase = "background-color:#4cff00";
                }
                if(child.PorcentajeEnvio <= 99 && child.PorcentajeEnvio >= 60)
                {
                    clase = "background-color:#f8b449";
                }
                <tr class="ui-rw-cat rwDetalleInsumo" data-property="IdPedidoDetalle" data-property-value="@child.IdPedidoDetalle">
                    <td >@child.Concepto</td>
                    <td data-property="IdInsumo" data-property-value="@child.IdInsumo">@child.Codigo</td>
                    <td>@child.Serie</td>
                    <td>
                        <div class="cellTexto-xs">@child.Descripcion</div>
                    </td>                    
                    <td data-property="Cantidad" data-property-value="@child.Cantidad">                        
                        <div>@String.Format("{0} {1}",child.Cantidad.ToString("n4"), child.UnidadMedidaDescripcion)</div>
                    </td> 
                    <td data-property="CantidadEnviada" data-property-value="@child.CantidadEnviada2">
                        <div>@String.Format("{0} {1}", child.CantidadEnviada2, child.UnidadMedidaDescripcion)</div>
                    </td>                     
                    <td style="@clase">
                        <strong> @(String.Format("{0} %", child.PorcentajeEnvio.ToString("n4")))</strong>
                    </td>  
                    @if(ViewBag.ConfirmarInsumosCantidad)
                    {                    
                        if(child.CantidadEnviada2>0)
                        {                    
                        <td data-property="CantidadRecibida" data-object-value="@String.Format("CantidadRecibir{0}", child.IdPedidoDetalle)">
                            <input type="number"
                                   class="form-control"
                                   value="@child.CantidadRecibida"
                                   min="0"
                                   max="@child.Cantidad"
                                   style="width:90px!important;"
                                   id="@String.Format("CantidadRecibir{0}", child.IdPedidoDetalle)" />
                        </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    else
                    {
                        <td >
                            @child.CantidadRecibida
                        </td>
                    }
                    <td style="display:none" data-property="UnidadMedidaDescripcion" data-property-value="@child.UnidadMedidaDescripcion"></td> 
                    <td style="display:none" data-property="IdConcepto" data-property-value="@child.IdConcepto"></td> 
                    <td style="display:none" data-property="IdInsumo" data-property-value="@child.IdInsumo"></td> 
                </tr>
            }
        </tbody>
    </table>
}