﻿@using Entidades
@model IEnumerable<Entidades.IMovimientosDetalles>
@if(@Model != null && @Model.Count() > 0)
{
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head  grid-Head-Detalle navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Cantidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Concepto)</div>
                </th>              
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Serie)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Descripcion)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IMovimientosDetalles child in @Model)
            {
                <tr class="ui-rw-cat rwDetalleInsumo" data-property="IdMovimientoDetalle" data-property-value="@child.IdMovimientoDetalle">
                    <td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad</td>
                    <td data-property="UnidadMedidaDescripcion" data-property-value="@child.UnidadMedidaDescripcion">@child.UnidadMedidaDescripcion</td>                   
                    <td>@child.Concepto</td>
                    <td data-property="IdInsumo" data-property-value="@child.IdInsumo">@child.Codigo</td>
                    <td>@child.Serie</td>
                    <td><div class="cellTexto-xs">@child.Descripcion</div></td>                    
                </tr>
            }
        </tbody>
    </table>
}