﻿@model Entidades.CPedidoMovimientos
@using Entidades
<div id="dvNotificacionesMovimientosPedidos"></div>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="liTab">
            <a href="#dvProyectoPedidos" 
               aria-controls="dvProyectoPedidos" 
               role="tab" 
               data-toggle="tab">
                @CIdioma.TraduceCadena("IPoryectosPedidosAll")
            </a>
        </li>       
        <li role="presentation" class="liTab">
            <a href="#dvProyectoMovimientos"
               aria-controls="dvProyectoMovimientos"
               role="tab"
               data-toggle="tab">
                @CIdioma.TraduceCadena("IPoryectosMoviminetosAll")
            </a>
        </li>
        <li role="presentation" class="liTab">
            <a href="#dvBuscarInsumoInPM"
               aria-controls="dvBuscarInsumoInPM"
               role="tab"
               data-toggle="tab">
                @CIdioma.TraduceCadena("IPoryectosSearch")
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane  active" id="dvProyectoPedidos">
            @Html.Partial("PedidosMovimientos/PedidosByProyecto", Model.Pedidos)
        </div>
        <div role="tabpanel" class="tab-pane " id="dvProyectoMovimientos">
            @Html.Partial("PedidosMovimientos/MovimientosByProyecto", Model.Movimientos)
        </div>    
        <div role="tabpanel" class="tab-pane " id="dvBuscarInsumoInPM">
            @Html.Partial("PedidosMovimientos/_BuscaInsumo",new CInsumos())
        </div>     
    </div>
</div>


