﻿@using Entidades
@model IEnumerable<Entidades.IMovimientos>
@if(@Model != null && @Model.Count() > 0)
{   
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th class="btn-one">

                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Fecha)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Almacen)</div>
                </th> 
                <th>
                    <div>@Html.LabelFor(model => (model.First()).AlmacenDestino)</div>
                </th> 
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Contrato)</div>
                </th>         
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Usuario)</div>
                </th> 
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Tipo)</div>
                </th>               
            </tr>
        </thead>
        <tbody id="tblMovimientosByProyecto">
            @foreach(IMovimientos child in @Model)
            {
                <tr class="ui-rw-cat"
                    data-property="IdMovimiento"
                    data-property-value="@child.IdMovimiento">
                    <td class="dvdetail"
                        data-target-div="@String.Format("dvMovimientoDetalle{0}",child.IdMovimiento)"
                        data-idmovimiento="@child.IdMovimiento"
                        style="cursor:pointer">
                        <div style="color:#286090">
                            <i class="fa fa-plus fa-1x "></i>
                        </div>
                    </td>
                    <td>@child.Fecha.ToString("d")</td>
                    <td>@child.Unidad</td>
                    <td data-property="IdAlmacen"data-property-value="@child.IdAlmacen">@child.Almacen</td>
                    <td data-property="IdAlmacenDestino" data-property-value="@child.IdAlmacenDestino">@child.AlmacenDestino</td>
                    <td><div class="cellTexto-xs">@child.Contrato</div></td>  
                    <td>@child.Usuario</td>                                         
                    <td>@(((Negocio.NMovimientos.eTipoMovimientos)child.Tipo).ToString())</td>
                </tr>
                 <tr>
                     <td colspan="8" id="@String.Format("dvMovimientoDetalle{0}",child.IdMovimiento)" class="tdDetailContenido">
                         @Html.Partial("PedidosMovimientos/_DetalleMovimiento", @child.DetalleMovimientos)
                     </td>
                </tr>
               
            }
        </tbody>
    </table> 
}