﻿@using Entidades
@model IEnumerable<Entidades.IPedidos>
@if(@Model != null && @Model.Count() > 0)
{
    <table  class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th class="btn-one">

                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Contrato)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).FechaSolicitado)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).FechaLlegada)</div>
                </th>               
            </tr>
        </thead>
        <tbody id="tblPedidosByProyecto">
            @foreach(IPedidos child in @Model.OrderBy(x=>x.FechaSolicitado))
            {
                <tr class="ui-rw-cat" 
                    data-property="IdPedido" 
                    data-property-value="@child.IdPedido">
                    <td class="dvdetail"
                        data-target-div="@String.Format("dvPedidoDetalle{0}",child.IdPedido)"
                        data-idpedido="@child.IdPedido"
                        style="cursor:pointer">
                        <div style="color:#286090">
                            <i class="fa fa-plus fa-1x "></i>
                        </div>
                    </td>
                    <td>@child.Empresa</td>
                    <td>@child.Unidad</td>
                    <td>@child.Contrato</td>
                    <td>@child.FechaSolicitado.ToString("d")</td>
                    <td>
                        @if(@child.FechaLlegada != null)
                        {
                            @child.FechaLlegada.Value.ToString("d")
                        }
                    </td>                    
                </tr>
                <tr>
                    <td colspan="6" id="@String.Format("dvPedidoDetalle{0}",child.IdPedido)" class="tdDetailContenido">
                        @Html.Partial("PedidosMovimientos/_DetallePedido",@child.Detalle)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    if(ViewBag.ConfirmarInsumosCantidad)
    {    
    <span id="btnConfirmaRecepcion"
          data-url="@Url.Action("ConfirmaRecepcion", "PedidosDetalles")"
          data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
          class="btn btn-primary">@CIdioma.TraduceCadena("IPedidosBtnConfirmaInsumos")</span>
     }
}