﻿
<li style="position:absolute;right:0px;">
    <a id="dvCloseAllDetale"
       class="dvIconTool">
        <i class="fa fa-times-circle fa-2x" aria-hidden="true" style="color: red !important;"></i>
    </a>
</li>   