﻿@model Entidades.IUICatalogo
@using Entidades;
<div class="input-group">
    <div class="button-group">
        <button type="button" class="btn btn-icap btn-sm dropdown-toggle" style="height:34px!important;"
                data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="@String.Format("ulColumnDinamic{0}", Model.Nombre)">
            <li>
                <div style="margin-left:15px;margin-right:15px;width:100%!important;font-weight:bold;font-size:87%;">                   
                    @Html.Raw(CIdioma.TraduceCadena("IColsDinInstrucciones"))
                </div>
            </li>
            <li role="separator" class="divider"></li>
            @Html.Partial("_ColDinamicCustom")
            <li role="separator" class="divider"></li>
            <li>
                <span id="@String.Format("btnColumnDinamic{0}",Model.Nombre)" class="btn btn-primary btn-sm" style="margin-left:15px;">
                @CIdioma.TraduceCadena("IOTNewAccept")
                </span>
            </li>
        </ul>
    </div>
</div>