﻿@model bool
@if(Model)
{
    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:#368C53;"></span>
}
else
{
    <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:#D40202;"></span>
}
