﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RenderSection("Scripts", false/*required*/)
<div id="dvMain" class="ClassMain">
    <div id="mnu" class="classMnu">
        <div class="row">
            <div class="col-md-1 mnuItem"></div>
            <div class="col-md-1 mnuItem ">                
                    @Html.ActionLink("Inicio", "Index", "ICAP")
            </div>
        </div>
    </div>
    @RenderBody()
</div>
