﻿<!DOCTYPE html>
<html>
<head id="headMainIcap">  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Icap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Icap/Sistema/Base")
    @Scripts.Render("~/Icap/Sistema")
    @RenderSection("Scripts", false)   
</head>
<body>   
    @RenderBody()         
</body>
</html>
