﻿@*@Styles.Render("~/Content/css")*@
@RenderSection("Scripts", false)
<div>
    <div id="divNavToolBarActions">
        @RenderSection("ToolBar", false)
    </div>                         
    @RenderSection("Contenido", false)    
</div>
