﻿@model Entidades.IEntidad 
<form id="frmGenericoLoadFile" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="form-group col-md-12">        
         @Html.Partial("_BodyLoadFiles")        
    </div>
    <div class="modal-footer IcapFooter ">
        <span class="btn btn-icap btn-rsp-yes">
            Si
        </span>
        <span id="btnGenericRespNo" class="btn btn-icap btn-rsp-no">
            No
        </span>
    </div>
</form>