﻿<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @Entidades.CIdioma.TraduceCadena("ViewMvcNoResult")    
</div>