﻿@model Entidades.IUICatalogo
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @if (Model != null) 
    { 
        @Model.Traductor("ViewMvcNoResult")    
    }
    else
    {
        @Entidades.CIdioma.TraduceCadena("ViewMvcNoResult")
    }
</div>