﻿@model Entidades.IPaginaUI
@if(Model != null)
{
    if(Model.PaginasTotal > 1)
    {    
    <div class="PaginadorIcap" id="@String.Format("paginador{0}",@Model.Nombre)" 
                          data-total-pages="@Model.PaginasTotal" 
                          data-url="@Model.Url" 
                          data-parametros = "@Model.Parametros"
                          data-current-page="@Model.PaginaActual"
                          data-method="@Model.Metodo">    
        <div><span class="glyphicon glyphicon-fast-backward btnfirst"></span></div>
        <div><span class="glyphicon glyphicon-step-backward btnprevious"></span></div>
        <div><input class="txtNumberPage form-control" placeholder="@Model.NumeroPaginaTexto"  value="@Model.PaginaActual/@Model.PaginasTotal"/></div>
        <div><span class="glyphicon glyphicon-step-forward btnnext"></span></div>
        <div><span class="glyphicon glyphicon-fast-forward btnlast"></span></div>    
    </div>
    }
    else
    {
        <div class="PaginadorIcap" id="@String.Format("paginador{0}",@Model.Nombre)"
             data-total-pages="@Model.PaginasTotal"
             data-url="@Model.Url"
             data-parametros="@Model.Parametros"
             data-current-page="@Model.PaginaActual"
             data-method="@Model.Metodo" style="display:none;"></div>
    }
}