﻿@model Entidades.IError
<div class="alert alert-danger col-md-12 errorRespMvc" role="alert" style="visibility:visible" data-attr-id="@Model.IdError">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @Model.Error
</div>
@*<div class="modal-footer IcapFooter"></div>*@