﻿@*<div class="alert alert-success col-md-12" style="visibility:visible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Peticion exitosa.
</div>*@
@model  RestSharp.IRestResponse
@if(Model != null)
{
   <div class="alert alert-success col-md-12" style="visibility:visible" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @if(Model.Headers.Any(t => t.Name == "Location"))
        {
            <b>@Model.Headers.FirstOrDefault(t => t.Name == "Location").Value.ToString()</b><br />
        }
        @if(Model.Headers.Any(t => t.Name == "RespuestaWSICAP"))
        {
            <b>@Html.Raw(@Model.Headers.FirstOrDefault(t => t.Name == "RespuestaWSICAP").Value.ToString())</b>
        }
  </div>
  @*<div class="modal-footer IcapFooter"></div>*@
}
else
{
    <div class="alert alert-success col-md-12" style="visibility:visible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>@Html.Raw(@Entidades.CIdioma.TraduceCadena("WebApiResponseOK"))</b>
    </div>
    @*<div class="modal-footer IcapFooter"></div>*@
}