﻿@model Entidades.IUICatalogo
@using Entidades;
<b>@Model.Permisos</b>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>*@
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @*<li class="active"><a href="#">Nuevo<span class="sr-only">(current)</span></a></li>*@
                <li>
                    <a id="@String.Format("idToolNuevo{0}", Model.Nombre)"
                       class="dvIconTool"
                       style="background-image: url('@Url.Content("~/Content/Imagenes/Add.png")');"
                       data-msj-wait="@Model.Traductor("IUICatalogoMensajeWait")">@Model.Traductor("IUICatalogoNew")</a>
                </li>
                <li>
                    <a id="@String.Format("idToolEditar{0}", Model.Nombre)"
                       data-msj-wait="@Model.Traductor("IUICatalogoMensajeWait")"
                       class="dvIconTool"
                       style="background-image: url('@Url.Content("~/Content/Imagenes/Edit.png")');"
                       data-msj-none="@Model.Traductor("IUICatalogoMensajeNoSelect")">@Model.Traductor("IUICatalogoEdit")</a>
                </li>
                <li>
                    <a id="@String.Format("idToolEliminar{0}", Model.Nombre)"
                       data-msj-wait="@Model.Traductor("IUICatalogoMensajeWait")"
                       data-msj-none="@Model.Traductor("IUICatalogoMensajeNoDelete")"
                       class="dvIconTool"
                       style="background-image: url('@Url.Content("~/Content/Imagenes/Delete.png")');"
                       data-msj-question="@Model.Traductor("IUICatalogoMensajeQuestionConfirm")">@Model.Traductor("IUICatalogoDelete")</a>
                </li>
                @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>*@
            </ul>
            @*@if(Model != null)
                {
                    @if(Model.FieldsSearch != null && Model.FieldsSearch.Count() > 0)
                        {*@
            <div class="navbar-form navbar-left">
                <div class="input-group">
                    <input id="@String.Format("txtValueSearch{0}", Model.Nombre)"
                           type="text"
                           class="form-control"
                           placeholder="@Model.Traductor("IUICatalogoSearchPlaceHolder")">
                    <span id="@String.Format("btnToolBuscar{0}", Model.Nombre)"
                          class="input-group-addon btn-icap"
                          data-msj-wait="@Model.Traductor("IUICatalogoMensajeWait")"
                          data-msj-none="@Model.Traductor("IUICatalogoMensajeNoSearch")"
                          style="border-right:none!important;">@Model.Traductor("IUICatalogoSearch")</span>
                        <div class="input-group-addon dropdown btn-icap" style="border-left:none!important;width:10px!important;">
                            <button class="btn-icap" id="mnuFields" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                    style="border:none!important">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="mnuFields">
                                @foreach(IPropsWhere search in Model.FieldsSearch)
                                {
                                    <li class="list-group-item" data-field-name="@search.NombreCampo" data-field-display="@search.Condicion"><a class="icap-Buscar">@search.Condicion</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                @*}
                    }*@



                @*<div class="form-group">

                    </div>*@
                @*<span id="@String.Format("btnToolBuscar{0}", Model.Nombre)" class="btn btn-icap">@Model.Traductor("IUICatalogoSearch")</span>*@





                @*@if(Model != null)
                    {
                        <select id="@String.Format("lstSearchFields{0}",Model.Nombre)" class="form-control input-sm">
                            @if(Model.FieldsSearch != null && Model.FieldsSearch.Count() > 0)
                            {
                                foreach(IPropsWhere search in Model.FieldsSearch)
                                {
                                    <option value="@search.NombreCampo">@search.Condicion</option>
                                }
                            }
                        </select>

                    }*@

                @*<span class="caret"></span>
                    <div class="dropdown ">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>*@



            </div>
            @*<ul  class="nav navbar-nav navbar-right">*@
            @*<li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>*@
            @*</ul>*@
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->