﻿@model Entidades.IUICatalogo
@using Entidades;
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @foreach(IPerfilAcciones permiso in Model.Permisos)
            {
                @Html.Raw(permiso.Html)
            }
        </ul>
    }
    @if(Model != null && Model.HasPermiso("buscar"))
    {
        @Html.Partial("_ToolBuscar")
    }
</div>