﻿@model Entidades.IUICatalogo
@using Entidades;
<div class="permisoBuscar navbar-form navbar-left">
    <div class="input-group">
        <input id="@String.Format("txtValueSearch{0}", Model.Nombre)"
               type="text"
               class="form-control"
               placeholder="@Model.Traductor("IUICatalogoSearchPlaceHolder")">
        <span id="@String.Format("btnToolHelpSearch{0}", Model.Nombre)"
              data-msj-wait="@Model.Traductor("IUICatalogoMensajeWait")"
              data-url-busqueda="@Url.Action("HelpBuscar", "Empresas")"
              data-title="@CIdioma.TraduceCadena("IUICatalogobtnHelpTitle")"
              class="input-group-addon btn-icap btnHelpToolbarBuscar"
              style="border-right:none!important;cursor:pointer"></span>
        <span id="@String.Format("btnToolBuscar{0}", Model.Nombre)"
              class="input-group-addon btn-icap"
              data-msj-wait="@Model.Traductor("IUICatalogoMensajeWait")"
              data-msj-none="@Model.Traductor("IUICatalogoMensajeNoSearch")"
              style="border-right:none!important;border-left:none!important;cursor:pointer">@Model.Traductor("IUICatalogoSearch")</span>
            <div class="input-group-addon dropdown btn-icap" style="border-left:none!important;width:10px!important;">
                <button class="btn-icap" id="mnuFields" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                        style="border:none!important">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="mnuFields">
                    @foreach(IPropsWhere search in Model.FieldsSearch.OrderBy(x=>x.Condicion))
                    {
                        <li class="list-group-item" data-field-name="@search.NombreCampo" 
                                                    data-plantilla="@search.Plantilla"
                                                    data-field-omiteConcatenar=@((search.OmiteConcatenarTabla)? "1":"0")
                                                    data-field-display="@search.Condicion">
                                <a class="icap-Buscar">@search.Condicion</a>
                        </li>
                    }
                </ul>
            </div>
        </div> 
    @if(Model != null && Model.HasPermiso("ColumnasDinamicas"))
    {
        @Html.Partial("_ColDinamic",Model)
    }      
</div>