﻿@{
    Layout = "~/Views/Shared/_LayoutChild.cshtml";  
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ICAP Error</title>
</head>
<body>
    <div class="dvContenedorPrincipal dvErrorFatal">       
        <h3>Error</h3>
        <h4>Id Error: @ViewBag.Error </h4>  
    </div>
</body>
</html>