﻿@using Entidades
<div>
    <p>        
        <span>@CIdioma.TraduceCadena("HelpBusquedaPaso1")</span><br />
        <span>@CIdioma.TraduceCadena("HelpBusquedaPaso2")</span><br /><br />
        <span>@CIdioma.TraduceCadena("HelpBusquedaNota")</span>        
    </p>   
    <table class="table table-condensed table-bordered ">
        <thead class="grid-Head navbar-default" >
            <tr>
                <th>
                    <div>@CIdioma.TraduceCadena("HelpBusquedaHeadOperador")</div>
                </th>
                <th>
                    <div>@CIdioma.TraduceCadena("HelpBusquedaHeadDescripcion")</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr><td style="font-weight:bold">=</td> <td style ="text-align:left!important;">@CIdioma.TraduceCadena("HelpBusquedaOpEqual")</td></tr>
            <tr><td style ="font-weight:bold">!=</td><td style="text-align:left!important;">@CIdioma.TraduceCadena("HelpBusquedaOpDiff")</td></tr>
            <tr><td style="font-weight:bold">></td><td style="text-align:left!important;">@CIdioma.TraduceCadena("HelpBusquedaOpMayorQue") </td></tr>
            <tr><td style="font-weight:bold"><</td><td style="text-align:left!important;">@CIdioma.TraduceCadena("HelpBusquedaOpMenorQue") </td></tr>
            <tr><td style="font-weight:bold">>=</td><td style="text-align:left!important;">@CIdioma.TraduceCadena("HelpBusquedaOpMayorEqQue") </td></tr>
            <tr><td style="font-weight:bold"><=</td><td style="text-align:left!important;">@CIdioma.TraduceCadena("HelpBusquedaOpMenorEqQue") </td></tr>
            <tr><td style="font-weight:bold">*</td><td style="text-align:left!important;">@CIdioma.TraduceCadena("HelpBusquedaOpContains")</td></tr>
        </tbody>
    </table>
</div>