﻿@model Entidades.IUICatalogo
@using Entidades
@{
    Layout = "~/Views/Shared/_LayoutCatalogos.cshtml";
}
@section ToolBar
{
    @if(String.IsNullOrEmpty(Model.NombreToolBar))
    {
        @Html.Partial("_ToolBarCatalogos", Model)
    }
    else
    {
        @Html.Partial(Model.NombreToolBar, Model)
    }
}   
@section Contenido
{
    @if(@Model != null)
    {
        if(@Model.Usuario == null || @Model.Usuario.Data == null || @Model.Usuario.Data.Empresa == null || @Model.Usuario.Data.Unidad==null)
        {           
            <div class="alert alert-danger col-md-12" role="alert" style="visibility:visible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               @CIdioma.TraduceCadena("IUICatalogoNoDatosEmpresa")
            </div>
        }
        <div class="DisplaySection" id="@String.Format("dvContenido{0}",@Model.Nombre)">        
            <div id="@String.Format("dvNotificaciones{0}", @Model.Nombre)"></div> 
            @if(!String.IsNullOrEmpty(Model.controlesPersonalizados))
            {
                @Html.Partial(@Model.controlesPersonalizados)
            }                      
            <div id="@String.Format("dvTabla{0}", @Model.Nombre)">
                 @Html.DisplayForModel(@Model.ControladorName + "Collection")              
            </div>
        </div>
    }
   
}

@section Scripts
{   
}