@model Entidades.IUsuarios
<table id="tablaUsuarios" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Perfil)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Usuario)</div>
            </th>           
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Perfil</td>
            <td>@Model.Usuario</td>            
            <td>@Html.Partial("_Estatus",@Model.Estatus)</td>
        </tr>
    </tbody>
</table>

