@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaUsuarios" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IUsuarios)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUsuarios)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUsuarios)model.Contenido.First()).Departamento)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUsuarios)model.Contenido.First()).Perfil)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUsuarios)model.Contenido.First()).Usuario)</div>
                </th>                
                <th>
                    <div>@Html.LabelFor(model => ((IUsuarios)model.Contenido.First()).NombreEmpleado)</div>
                </th>               
                <th>
                    <div>@Html.LabelFor(model => ((IUsuarios)model.Contenido.First()).Estatus)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IUsuarios child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdUsuario" data-property-value="@child.IdUsuario">
                    <td>@child.Empresa</td>
                    <td>@child.Unidad</td>
                    <td>@child.Departamento</td>
                    <td data-property="IdPerfil" data-property-value="@child.IdPerfil">@child.Perfil</td>
                    <td data-property="Usuario" data-property-value="@child.Usuario">@child.Usuario</td>                                       
                    <td data-property="IdEmpleado" data-property-value="@child.IdEmpleado">
                        @if(child.IdEmpleado != null){@child.NombreEmpleado}
                        else
                        {
                            <i style="color:red">@CIdioma.TraduceCadena("IUsuariosNoHayIdEmpleado")</i>
                        }
                    </td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus",@child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}