@model Entidades.ICotizacionesDetalles
@Html.DisplayForModel("ICotizacionesDetallesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaCotizacionesDetalles" class="btn btn-icap" data-property-id="@Model.IdCotizacionDetalle" data-url-action="@Url.Action("Delete", "CotizacionesDetalles")">@ViewBag.LabelDelete</span>
</div>

