@model Entidades.ICotizacionesDetalles
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewCotizacionesDetalles" action="@Url.Action(ViewBag.Action, "CotizacionesDetalles")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel("ICotizacionesDetalles")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveCotizacionesDetalles" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

