@model Entidades.IEspecialidades
@Html.DisplayForModel("IEspecialidadesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaEspecialidades" class="btn btn-icap" data-property-id="@Model.IdEspecialidad" data-url-action="@Url.Action("Delete", "Especialidades")">@ViewBag.LabelDelete</span>
</div>

