@model Entidades.IEspecialidades
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewEspecialidades" action="@Url.Action(ViewBag.Action, "Especialidades")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IEspecialidades")    
    <div class="form-group col-md-12">
        <span id="btnSaveEspecialidades" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>

