@model Entidades.IMovimientos
@Html.HiddenFor(model => model.IdMovimiento)
<div class="form-group">
    @Html.LabelFor(model => model.Fecha)
    @Html.EditorFor(model => model.Fecha)
    @Html.ValidationMessageFor(model => model.Fecha)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdAlmacen)
    @Html.EditorFor(model => model.IdAlmacen)
    @Html.ValidationMessageFor(model => model.IdAlmacen)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdUsuario)
    @Html.EditorFor(model => model.IdUsuario)
    @Html.ValidationMessageFor(model => model.IdUsuario)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


