﻿@model IEnumerable<Entidades.IMonedas>
@using Entidades
@if(Model != null && Model.Count() > 0)
{
    <div id="dvNotificacionesObtieneTipoCambios"></div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.FirstOrDefault().Moneda)
        <select id="IdMonedaOrgienTC" class="form-control">
            <option selected="selected" value="0">
                @CIdioma.TraduceCadena("ITCSelecioneMonedaImporteShow")
            </option>
            @foreach(IMonedas moneda in Model)
            {
                <option value="@moneda.IdMoneda" data-codigo="@moneda.Codigo" data-moneda="@moneda.Moneda">
                    @String.Format("{0} {1}", moneda.Codigo, moneda.Moneda)
                </option>
            }
        </select>
    </div>
    <div class="form-group col-md-6">
        <label>@CIdioma.TraduceCadena("ITCProyectoFecha")</label>
        <input id="FechaTipoCambio" type="text" value="@DateTime.Now.ToString("d")" class="form-control" readonly="readonly" />
    </div>
    <div class="form-group col-md-12">
        <table  class="table table-condensed table-bordered">
            <thead class="grid-Head navbar-default">
                <tr>
                    <th>
                        <div><label>@CIdioma.TraduceCadena("ITipoCambiosIdMonedaDestino")</label></div>
                    </th>
                    <th>
                        <div><label>@CIdioma.TraduceCadena("ITipoCambiosValor")</label></div>
                    </th>
                </tr>
            </thead>
            <tbody id="tblMonedaEquivalencias">
                @foreach(IMonedas moneda in @Model)
                {
                    <tr class="ui-rw-cat tipocambios" data-property="IdMonedaDestino" data-property-value="@moneda.IdMoneda">
                        <td data-property="MonedaDestino" data-property-value="@moneda.Codigo">
                            @Html.Raw(String.Format("{0} <i>{1}</i>", moneda.Codigo, moneda.Moneda))
                        </td>
                        <td data-property="Valor" data-object-value="@String.Format("IdValMon{0}",moneda.IdMoneda)">
                            <input id="@String.Format("IdValMon{0}",moneda.IdMoneda)" type="number" value="0" class="form-control valMoneda" min="1" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group col-md-12">
        <span id="btnObtieneImportes"
              class="btn btn-icap btn-right"
              data-url="@Url.Action("ConvierteImportes", "Proyectos")"
              data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")">
                @CIdioma.TraduceCadena("IBtnObtieneImportes")
        </span>
    </div>
    <div class="modal-footer IcapFooter"></div>
}