﻿<form>
    <div class="form-group col-md-12">
        <p>
           @Html.Raw(Entidades.CIdioma.TraduceCadena("IContratosLeyendaConfirmaAprobacion"))            
        </p>
    </div>    
    <div class="modal-footer IcapFooter">
        <span id="btnApruebaContrato"              
              data-url="@Url.Action("SolicitarInsumosByProyecto", "Contratos")"
              class="btn btn-icap">
            @Entidades.CIdioma.TraduceCadena("IRespuestaAfirmativaSi")
        </span>
        <span id="btnNoAprobar" class="btn btn-icap ">
            @Entidades.CIdioma.TraduceCadena("IRespuestaAfirmativaNo")
        </span>
    </div>
</form>

