﻿@model Entidades.IContratos2
<form>
    <div class="form-group col-md-12">
        <p>
            @Html.Raw(Entidades.CIdioma.TraduceCadena("IContratosLeyendaYaAprobado"))
        </p>
    </div>
    <div class="modal-footer IcapFooter">       
    </div>
</form>
