﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades
<br />
    <div class="form-group col-md-8">    
        @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdConceptoContratoAutoComplete",
            Url = @Url.Action("Top", "Conceptos"),
            Metod = "post",
            Min = "1",
            Target = "IdConceptoAddCotratoAux",
            PropValue = "IdConcepto",
            PropDisplay = "Concepto,Descripcion",
            CampoSearch = "Concepto",
            Multiple = "1",
            CampoCondicion = "contenga",        
            Value = String.Empty
        })
    </div>
    <div class="form-group col-md-4">
        <div id="btnAddDetalleConceptosContratoAdicionales"
             class="btnGrid btnAddItem"
             data-tipo="1"
             data-url-plantilla="@Url.Action("PlantillaTablaAdd", "Contratos")"
             data-existe-concepto="@Entidades.CIdioma.TraduceCadena("IMovimientosExisteConcepto")"
             data-falta-concepto="@Entidades.CIdioma.TraduceCadena("IMovimientosFaltaIdConcepto")"
             data-tbltarget="tbdodyConceptosContratosAdicionales"
             data-toggle="tooltip" data-placement="right" title="@Entidades.CIdioma.TraduceCadena("IMovimientosBtnTitleAddConcepto")"></div>
    </div>

<div class="form-group col-md-12">
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>                
                <th>
                    <div> @Html.LabelFor(model => ((IContratosDetalles2)model.First()).Concepto)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => ((IContratosDetalles2)model.First()).Descripcion)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => ((IContratosDetalles2)model.First()).Moneda)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => ((IContratosDetalles2)model.First()).Precio)</div>
                </th>                                
                <th>
                    <div> @Html.LabelFor(model => ((IContratosDetalles2)model.First()).Partida)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => ((IContratosDetalles2)model.First()).Cantidad)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => ((IContratosDetalles2)model.First()).UnidadMedida)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => ((IContratosDetalles2)model.First()).Ubicacion)</div>
                </th>
                <th class="btn-one">
                </th>
            </tr>
        </thead>
        <tbody id="tbdodyConceptosContratosAdicionales">
               @if(Model != null && Model.Count() > 0)
                {
                    foreach(IContratosDetalles2 detail in Model)
                    {
                        @Html.Partial("_PlantillaConceptoTR", detail, new ViewDataDictionary 
                        { 
                            { "PrefijoTR","A" }                 
                        })
                    }
                }                           
        </tbody>      
    </table>
</div>
<div class="fieldDestino">
    <input type="number" id="IdConceptoAddCotratoAux" />
</div>