﻿@model IEnumerable<IContratosDetalles2>
@using Entidades
@{
    string HeadTable = Convert.ToString(ViewData["HeadTable"]);
    bool EsAdicional = Convert.ToBoolean(ViewData["EsAdicional"]);
    string IdTabla = Convert.ToString(ViewData["IdTabla"]);
}
<div class="form-group col-md-12">
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head-Detalle-boot grid-Head navbar-default"> 
            <tr><th colspan="6"><div>@HeadTable</div></th></tr>           
            <tr>
                <th></th>
                <th>
                    <div>@Html.LabelFor(model => model.First().Concepto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => model.First().Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => model.First().UnidadMedida)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => model.First().Moneda)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => model.First().Precio)</div>
                </th>
            </tr>
        </thead>
        <tbody id="@IdTabla">
            @foreach(IContratosDetalles2 detalle in Model)
            {
                <tr data-property="IdConcepto" data-property-value="@detalle.IdConcepto" class="trConcepto">
                    <td>
                        <div class="btnGridSmall btnGridDetalle" data-tr-destino="@String.Format("trId{0}{1}",detalle.IdContratosDetalles,detalle.IdConcepto)"></div>
                    </td>
                    <td>@detalle.Concepto</td>
                    <td>@detalle.Descripcion</td>
                    <td>@detalle.UnidadMedida</td>
                    <td>@detalle.Moneda</td>
                    <td data-property="Precio" data-property-value="@detalle.Precio">@detalle.Precio.ToString("c4")</td>
                    <td style="display:none" data-property="IdContratosDetalles" data-property-value="@detalle.IdContratosDetalles"></td>
                    <td style="display:none" data-property="Precio" data-property-value="@detalle.Precio"></td>
                    <td style="display:none" data-property="EsAdicional" data-property-value="@EsAdicional"></td>
                </tr>
                if(detalle.Insumos != null && detalle.Insumos.Count() > 0)
                {
                    <tr id="@String.Format("trId{0}{1}",detalle.IdContratosDetalles,detalle.IdConcepto)">
                        <td colspan="6">
                            <table class="table table-condensed table-bordered">
                                <thead class="grid-Head-Detalle grid-Head navbar-default">
                                    <tr>
                                        <th>
                                            <div>@Html.LabelFor(model => detalle.Insumos.First().Codigo)</div>
                                        </th>
                                        <th>
                                            <div>@Html.LabelFor(model => detalle.Insumos.First().Descripcion)</div>
                                        </th>
                                        <th>
                                            <div>@Html.LabelFor(model => detalle.Insumos.First().Unidad)</div>
                                        </th>
                                        <th>
                                            <div>@Html.LabelFor(model => detalle.Insumos.First().Cantidad)</div>
                                        </th>
                                        <th>
                                            <div>@Html.LabelFor(model => detalle.Insumos.First().Moneda)</div>
                                        </th>
                                        <th>
                                            <div>@Html.LabelFor(model => detalle.Insumos.First().Costo)</div>
                                        </th>
                                        <th>
                                            <div>@CIdioma.TraduceCadena("IContratoResultXml")</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(IContratosDetallesInsumos2 insumo in detalle.Insumos)
                                    {
                                        <tr data-property="IdInsumo" data-property-value="@insumo.IdInsumo" class="trInsumo">
                                            <td>@insumo.Codigo</td>
                                            <td>@insumo.Descripcion</td>
                                            @if(!String.IsNullOrEmpty(insumo.Unidad))
                                            {
                                                <td>@insumo.Unidad</td>
                                            }
                                            else
                                            {
                                                <td>@CIdioma.TraduceCadena("IInsumoAutoEsServicio") </td>
                                            }
                                            <td data-property="Cantidad" data-property-value="@insumo.Cantidad">@insumo.Cantidad.ToString("n4")</td>
                                            <td>@insumo.Moneda</td>

                                            <td data-property="Costo" data-object-value="@String.Format("CCIConceptoCantidad{0}{1}{2}",detalle.IdContratosDetalles,
                                                                                                                                       insumo.IdConcepto,
                                                                                                                                       insumo.IdInsumo)">
                                                <input type="number"
                                                       class="form-control Cantidades input-sm"
                                                       style="font-size:120%!important;width:100%!important"
                                                       value="@insumo.Costo"
                                                       id="@String.Format("CCIConceptoCantidad{0}{1}{2}",detalle.IdContratosDetalles,
                                                            insumo.IdConcepto,
                                                            insumo.IdInsumo)" />
                                            </td>
                                            <td>
                                                <div id="@String.Format("IdR{0}{1}{2}",insumo.IdConcepto,
                                                                                                            insumo.IdInsumo,
                                                                                                            EsAdicional).ToLower()">
                                                </div>
                                            </td>
                                            <td style="display:none" data-property="IdMoneda" data-property-value="@insumo.IdMoneda"></td>
                                            <td style="display:none" data-property="EsAdicional" data-property-value="@EsAdicional"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>