﻿@model Entidades.IContratos2
<input type="hidden" name="IdContrato" id="IdContrato" value="@Model.IdContrato">
@{
    bool ModificaCliente = (ViewData["ModificaCliente"]!= null)?Convert.ToBoolean(ViewData["ModificaCliente"]):true; 
}
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
 {
     @class = "form-control",
     @readonly = "readonly"
 })
    }
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Unidad)
    @if(Model != null)
    {
        @Html.TextBox("Unidad", Model.Unidad, new
 {
     @class = "form-control",
     @readonly = "readonly"
 })
    }
</div>
@if(ModificaCliente)
{
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.IdCliente, new
    {
        @for = "IdContratoClienteAutoComplete"
    })
        @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdContratoClienteAutoComplete",
            Url = @Url.Action("Top", "Clientes"),
            Metod = "post",
            Min = "1",
            Target = "IdCliente",
            PropValue = "IdCliente",
            PropDisplay = "RazonSocial",
            CampoSearch = "RazonSocial",
            CampoCondicion = "contenga",
            Value = (Model != null) ? Model.RazonSocial : String.Empty
        })
        @Html.ValidationMessageFor(model => model.IdCliente)
    </div>
}
else
{
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.IdCliente)
        <input type="text" readonly="readonly" value="@Model.RazonSocial" class="form-control"/>
    </div>
}

<div class="form-group col-md-3">
    <input type="hidden" id="IdPersonalClienteAux" value="@((Model != null) ? Model.IdPersonalCliente.ToString() : String.Empty)" />
    @Html.LabelFor(model => model.ContactoCliente, new
    {
        @for = "IdPersonalClienteAuxAutoComplete"
    })
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdPersonalClienteAuxAutoComplete",
            Url = @Url.Action("Top", "ClientesPersonal"),
            Metod = "post",
            Min = "1",
            Target = "IdPersonalClienteAux",
            PropValue = "IdPersonalCliente",
            PropDisplay = "Puesto,Nombre,ApellidoPaterno,ApellidoMaterno",
            CampoSearch = "ClientesPersonal.Nombre",
            CampoCondicion = "contenga",
            OmiteConcatenar = "1",
            ObjectComplemento = "IdCliente",
            Multiple = "1"  ,
            Value = (Model != null) ? Model.ContactoCliente : String.Empty          
        })
</div>



<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Contrato)
    @Html.EditorFor(model => model.Contrato)
    @Html.ValidationMessageFor(model => model.Contrato)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Fecha)
    @if(Model != null)
    {
        <input name="Fecha" id="Fecha" value="@Model.Fecha.ToString("d")"
               class="form-control icapDatePicker"
               data-url-ivacambio="@Url.Action("IvaByFecha", "IvaValores")" />
    }
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.IdMoneda, new
        {
            @for = "IdMonedaCotizacionHeadAutoComplete"
        })
     @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdMonedaContratoHeadAutoComplete",
            Url = @Url.Action("Top", "Monedas"),
            Metod = "post",
            Min = "1",
            Target = "IdMoneda",
            PropValue = "IdMoneda",
            PropDisplay = "Moneda",
            CampoSearch = "Moneda",
            CampoCondicion = "contenga",
            Multiple = "1",
            //FnBeforeSelect = "ObtieneTipoCambioContrato",
            Value = (Model != null) ? Model.Moneda : String.Empty
        })    
</div>

<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Iva)
    @if(Model != null)
    {
        @Html.TextBox("Iva", Model.Iva, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
@*<div class="form-group col-md-2">
    @Html.LabelFor(model => model.IdTipoCambio)
    @if(Model != null)
    {
        @Html.TextBox("Valor", Model.Valor, new
   {
       @class = "form-control",
       @readonly = "readonly",
       @url=@Url.Action("TipoCambioByFecha", "TipoCambios")
   })
    }
</div>*@
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Anticipo)
    @Html.EditorFor(model => model.Anticipo)    
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.DescuentoMonto)
    @Html.EditorFor(model => model.DescuentoMonto)
    @Html.ValidationMessageFor(model => model.DescuentoMonto)
</div>
@if(Model.IdContrato==0)
{
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Utilidad, new
            {
                @for = "IdMonedaCotizacionHeadAutoComplete"
            })
        @Html.EditorFor(model => model.Utilidad)
    </div>
}
else
{
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Utilidad)
        <input type="number" value="@Model.Utilidad" readonly="readonly" class="form-control SimboloPorcentaje" />
    </div>
}
@*<div class="form-group col-md-3">
    @Html.LabelFor(model => model.SubTotal)
    @if(Model != null)
    {
        @Html.TextBox("SubTotal", Model.SubTotal, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
    @Html.ValidationMessageFor(model => model.SubTotal)
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Total)
    @if(Model != null)
    {
        @Html.TextBox("Total", Model.Total, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
    @Html.ValidationMessageFor(model => model.Total)
</div>*@

    <div class="fieldDestino">
        @*@Html.EditorFor(model => model.IdCliente)*@
        <input id="IdCliente"
               type="hidden"
               value="@Model.IdCliente"
               data-auto2-nombrecampo="IdCliente"
               data-auto2-condicion="="
               data-auto2-operador=" AND " />
    </div>
    <div class="fieldDestino">
        @Html.EditorFor(model => model.IdIva)
    </div>
    <div class="fieldDestino">
        @Html.EditorFor(model => model.IdTipoCambio)
    </div>
    <div class="fieldDestino">  
        @Html.EditorFor(model => model.IdMoneda)           
    </div>