﻿@model IEnumerable<Entidades.IContratosDetalles2>
@using Entidades
@{
   IContratosDetallesInsumos2 plantilla = new CContratosDetallesInsumos2();   
}
@if(Model != null && Model.Count() > 0)
{
    <br />
    <table id="tablaExplosionInsumos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => plantilla.Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => plantilla.Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => plantilla.Cantidad)</div>
                </th> 
                <th>
                    <div>@Html.LabelFor(model => plantilla.Unidad)</div>
                </th>                            
            </tr>
        </thead>
        <tbody>
            @foreach(IContratosDetalles2 concepto in Model)
            {
                @*<tr><td colspan="3"><div>@concepto.Descripcion </div></td></tr>*@
                foreach(IContratosDetallesInsumos2 insumo in concepto.Insumos)
                {
                    <tr data-property="IdInsumoContrato" data-property-value="@insumo.IdInsumoContrato">
                        <td>@insumo.Codigo</td>
                        <td><span class="LargeTxt">@insumo.Descripcion</span></td>
                        <td>@insumo.Cantidad.ToString("n4")</td> 
                        @if(String.IsNullOrEmpty(insumo.Unidad))
                        {
                            <td>@CIdioma.TraduceCadena("IInsumoAutoEsServicio") </td>
                        }                      
                        else
                        {                        
                            <td>@insumo.Unidad</td>
                        }
                    </tr>
                }
            }
          </tbody>
     </table>
}