﻿@using Entidades
@model IEnumerable<Entidades.IPedidosDetalles>
@{
    int id = 0;
    string color = "#fff";
}
@if(@Model != null && @Model.Count() > 0)
{
    <table style="font-size:90%;
                  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <thead style="background-color:#286090;color:#fff;border-color:#204d74;font-weight:bold;">
            <tr>                                
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Serie)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Cantidad)</div>
                </th>
            </tr>
        </thead>
        <tbody>            
            @foreach(IPedidosDetalles child in @Model.OrderBy(x=>x.Codigo))
            {
                id++;
                color = (id % 2 == 0) ? "#fff" : "#9ac5f8";
                <tr style="background-color:@color">
                    <td >@child.Codigo</td>
                    <td>@child.Serie</td>
                    <td>@child.Descripcion</td>
                    <td >@String.Format("{0} {1}", child.Cantidad.ToString("n4"), child.UnidadMedidaDescripcion)</td>                   
                </tr>
            }
        </tbody>
    </table>
}