﻿@model Entidades.IContratosDetalles2
@using Entidades
@{
    string PrefijoTR = Convert.ToString(ViewData["PrefijoTR"]);  
}
<tr class="ContratoConcepto" data-property="IdContratosDetalles" data-property-value="@Model.IdContratosDetalles">   
    <td data-property="Concepto" data-property-value="@Model.Concepto">
        <span class="LargeTxt">@Model.Concepto</span>
    </td>
    <td data-property="Descripcion" data-property-value="@Model.Descripcion">
        <span class="LargeTxt">@Model.Descripcion</span>
    </td>
    <td>
        <span>@Model.CodigoMoneda</span>
    </td> 
    <td data-property="Precio" data-property-value="@Model.Precio">
        <span>@Model.Precio.ToString("c4")</span>
    </td>
    <td> <span>@Model.Partida</span></td>   
    <td data-property="Cantidad" data-object-value="@String.Format("CCIConceptoCantidad{0}{1}{2}", PrefijoTR, Model.IdContratosDetalles, Model.IdConcepto)">
        <input type="number"
               class="form-control Cantidades"
               value="@Model.Cantidad"
               id="@String.Format("CCIConceptoCantidad{0}{1}{2}",PrefijoTR,Model.IdContratosDetalles, Model.IdConcepto)" />
    </td>
    <td>
        <span>@Model.UnidadMedida</span>
    </td> 
    <td data-property="Ubicacion" data-object-value="@String.Format("CIConceptoUbicacion{0}{1}{2}", PrefijoTR, Model.IdContratosDetalles, Model.IdConcepto)">
        <input type="text"
               class="form-control input-sm"
               value="@Model.Ubicacion"
               id="@String.Format("CIConceptoUbicacion{0}{1}{2}",PrefijoTR, Model.IdContratosDetalles, Model.IdConcepto)" />
    </td>         
    <td>
        <div class="btnDelete btnGrid btnGridSmall btnRemoveTR"></div>
    </td>
    <td style="display:none" data-property="IdConcepto" data-property-value="@Model.IdConcepto"></td>
</tr>