﻿@model Entidades.IUICatalogo
@using Entidades;
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @*@foreach(IPerfilAcciones permiso in Model.Permisos)
            {
                @Html.Raw(permiso.Html)
            }*@         
            @*<li>
                <a id="btnToolAprobarContrato"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-url-aprobar="@Url.Action("AprobarContrato", "Contratos")"
                   class="dvIconTool TabAprobarContrato">@Entidades.CIdioma.TraduceCadena("IContratoApruebaContrato")</a>
            </li>*@
            <li>
                <a id="btnToolPreviewContrato"
                   class="dvIconTool TabPreviewFile"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-url-plantilla="@Url.Action("PreviewContrato", "Contratos")">
                    @Entidades.CIdioma.TraduceCadena("IContratosPreviewContrato")
                </a>
            </li>
        </ul>
    }
   @if(Model != null && Model.HasPermiso("buscar"))
    {
        @Html.Partial("_ToolBuscar")
    }
</div>