﻿@model IEnumerable<Entidades.IContratosCotizaciones>
@using Entidades
<div class="form-group col-md-12">
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Contrato)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Cotizacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Fecha)</div>
                </th>
                <th class="btn-one"></th>
                <th class="btn-one"></th>
                <th class="btn-one"></th>
            </tr>
        </thead>
        @if(Model != null && Model.Count() > 0)
        {
            <tbody id="tblContratosCotizacion"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-url-preview="@Url.Action("PreviewCotizacion", "Cotizaciones")"
                   data-url-print="@Url.Action("ImprimeCotizacion23", "Cotizaciones")"
                   data-url-editar="@Url.Action("EditarDatosAdicionales", "Cotizaciones")">
                @foreach(IContratosCotizaciones child in Model)
                {
                    <tr class="ui-rw-cat" data-property="IdContrato" data-property-value="@child.IdContratoCotizacion">
                        <td>@child.Contrato</td>
                        <td>@child.Cotizacion</td>                        
                        <td>@child.Fecha.ToString("d")</td>
                        <td>
                            <div style="color:#286090">
                                <i class="fa fa-file-text fa-2x dvContratoCotizacionPreview"
                                   data-id-cotizacion="@child.IdCotizacion"
                                   aria-hidden="true"
                                   style="cursor:pointer">

                                </i>
                            </div>
                        </td>
                        <td>
                            <div style="color:#286090">
                                <i class="fa fa fa-print fa-2x dvContratoCotizacionPrint"
                                   data-id-cotizacion="@child.IdCotizacion"
                                   aria-hidden="true"
                                   style="cursor:pointer">
                                </i>
                            </div>
                        </td>
                        <td>
                            <div style="color:#286090">
                                <i class="fa fa fa-pencil fa-2x dvContratoCotizacionEdit"
                                   data-id-cotizacion="@child.IdCotizacion"
                                   aria-hidden="true"
                                   style="cursor:pointer">
                                </i>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>
<div id="dvResulPreviewCoti" class="form-group col-md-12">

</div>
<div class="modal-footer IcapFooter "></div>