@model Entidades.IContratos2

    @Html.DisplayForModel("IContratosDisplay")
    <div class="modal-footer IcapFooter">
        <span id="btnEliminaContratos" class="btn btn-icap" data-property-id="@Model.IdContrato" data-url-action="@Url.Action("Delete", "Contratos")">@ViewBag.LabelDelete</span>
    </div>

    @*<p>
       <strong> @Entidades.CIdioma.TraduceCadena("NContratoAutorizado")</strong>
    </p>*@



