﻿@model Entidades.IContratos2
@using Entidades
@if(Model != null)
{
    <div class="form-group col-md-12">
        <ul class="nav navbar-nav">
            <li>
                <a id="btnAplicaNuevosPrecios"                                     
                   data-url="@Url.Action("ObtienePrecios", "Contratos")"
                   class="dvIconTool TabAplicaPrecios">@Entidades.CIdioma.TraduceCadena("IOTAplicarPrecios")</a>
            </li>
            <li>
                <a id="btnDeshacerNuevosPrecios"                  
                   class="dvIconTool TabDeshacerPrecios">@Entidades.CIdioma.TraduceCadena("IOTDeshacerPrecios")</a>
            </li>
        </ul>
    </div>
    <div class="form-group col-md-12">
        <div id="dvNotificacionesPrecios"
             data-msj-tipocambio="@CIdioma.TraduceCadena("IContratosSinTipoCambioPreciosNew")"
             data-valor-tipocambio="@CIdioma.TraduceCadena("IContratosValorUsadoTipo")"
             data-op-error="@CIdioma.TraduceCadena("IContratosOperacionError")"
             data-op-ok="@CIdioma.TraduceCadena("IContratosOperacionOk")">

        </div>
        @Html.LabelFor(model => model.MotivoModificacion)
        <textarea class="form-control" name="MotivoModificacion" 
                  id="MotivoModificacion" 
                  data-msj-empty="@CIdioma.TraduceCadena("NContratoElMotivoModificacionEmpty")">
              @Model.MotivoModificacion
        </textarea>        
    </div>
    <div id="dvTblAllPrecios" data-has-cambio="0">
        @if(Model.Conceptos != null && Model.Conceptos.Count() > 0)
        {            
            @Html.Partial("_ConceptosInsumosPrecios", Model.Conceptos, new ViewDataDictionary 
            { 
                { "HeadTable", CIdioma.TraduceCadena("IContratosTabConceptos") } ,
                { "IdTabla", "tblNewPreciosConceptos"} ,
                { "EsAdicional", false} 
                
            })
        }
        @*@if(Model.Adicionales != null && Model.Adicionales.Count() > 0)
        {            
            @Html.Partial("_ConceptosInsumosPrecios", Model.Adicionales, new ViewDataDictionary 
              { 
                { "HeadTable", CIdioma.TraduceCadena("IContratosTabAdicionales") } ,
                { "IdTabla", "tblNewPreciosConceptosAdicionales"} ,
                 { "EsAdicional", true} 
              })
        }*@
    </div>
}