@model Entidades.IContratos2
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewContratos" action="@Url.Action(ViewBag.Action, "Contratos")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IContratos")

    <div class="form-group  col-md-12">
        <span id="btnSaveContratos"
              class="btn btn-icap btn-right" style="margin-right:90px"
              data-contrato-vacia="@Entidades.CIdioma.TraduceCadena("NContratoSinConceptos")"
              data-contrato-nocliente="@Entidades.CIdioma.TraduceCadena("NContratoClienteNovalido")"
              data-contrato-tipocambio="@Entidades.CIdioma.TraduceCadena("NContratoTipoCambioNovalido")"
              data-contrato-iva="@Entidades.CIdioma.TraduceCadena("NContratoIvaNovalido")"
              data-op-ok="@Entidades.CIdioma.TraduceCadena("WebApiResponseOK")"
              data-ubicacion-empty="@Entidades.CIdioma.TraduceCadena("NConceptosDetalleNoUbicacion")">@ViewBag.LabelCreate</span>
        <span id="btnSalirContrato"
              class="btn btn-icap btn-right">
            @Entidades.CIdioma.TraduceCadena("IGeneralSalir")
        </span>
    </div>
     
    <div class="modal-footer IcapFooter"></div>
</form>