@model Entidades.IIngenierias
@Html.DisplayForModel("IIngenieriasDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaIngenierias" class="btn btn-icap" data-property-id="@Model.IdIngenieria" data-url-action="@Url.Action("Delete", "Ingenierias")">@ViewBag.LabelDelete</span>
</div>

