@model Entidades.IIngenierias
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewIngenierias" action="@Url.Action(ViewBag.Action, "Ingenierias")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IIngenierias")
    <div class="form-group col-md-12">
        <span id="btnSaveIngenierias" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>

