@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaClasificacionConceptos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IClasificacionConceptos)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClasificacionConceptos)model.Contenido.First()).Clasificacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClasificacionConceptos)model.Contenido.First()).Descripicion)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IClasificacionConceptos child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdConceptoClasificacion" data-property-value="@child.IdConceptoClasificacion">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="Clasificacion" data-property-value="@child.Clasificacion">@child.Clasificacion</td>
                    <td data-property="Descripicion" data-property-value="@child.Descripicion">@child.Descripicion</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult");
}

