@model Entidades.IClasificacionConceptos
<table id="tablaClasificacionConceptos" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>           
            <th>
                <div>@Html.LabelFor(model => Model.Clasificacion)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Descripicion)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>            
            <td>@Model.Clasificacion</td>
            <td>@Model.Descripicion</td>

        </tr>
    </tbody>
</table>

