@model Entidades.IConceptosInsumos
   @Html.HiddenFor(model => model.IdConceptoInsumo)
   <div class="form-group">
    @Html.LabelFor(model => model.IdConcepto)
    @Html.EditorFor(model => model.IdConcepto)
    @Html.ValidationMessageFor(model => model.IdConcepto)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdInsumo)
    @Html.EditorFor(model => model.IdInsumo)
    @Html.ValidationMessageFor(model => model.IdInsumo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Cantidad)
    @Html.EditorFor(model => model.Cantidad)
    @Html.ValidationMessageFor(model => model.Cantidad)
</div>


