@model Entidades.IDepartamentos
@Html.HiddenFor(model => model.IdDepartamento)
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Unidad)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Unidad, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
@*<div class="form-group col-md-6">
    <div class="fieldDestino">
        @Html.EditorFor(model => model.IdUnidad)
    </div>
    @Html.LabelFor(model => model.Unidad, new{@for = "IdUnidadAutoComplete"})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdUnidadAutoComplete",
        Url = @Url.Action("Top", "Unidades"),
        Metod = "post",
        Min = "1",
        Target = "IdUnidad",
        PropValue = "IdUnidad",
        PropDisplay = "Unidad",
        CampoSearch = "Unidad",
        CampoCondicion = "contenga",
        Value = (Model != null)? Model.Unidad:String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdUnidad)
</div>*@
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Codigo)
    @Html.EditorFor(model => model.Codigo)
    @Html.ValidationMessageFor(model => model.Codigo)
</div>
<div class="form-group col-md-9">
    @Html.LabelFor(model => model.Nombre)
    @Html.EditorFor(model => model.Nombre)
    @Html.ValidationMessageFor(model => model.Nombre)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


