@model Entidades.IUsuarios
@Html.DisplayForModel("IUsuariosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaUsuarios" class="btn btn-icap" data-property-id="@Model.IdUsuario" data-url-action="@Url.Action("Delete", "Usuarios")">@ViewBag.LabelDelete</span>
</div>

