@model Entidades.IUsuarios
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewUsuarios" action="@Url.Action(ViewBag.Action, "Usuarios")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")                   
    @Html.EditorForModel("IUsuarios")
    <div class="form-group col-md-12">
        <span id="btnSaveUsuarios" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>