@model Entidades.IMovimientosDetalles
   @Html.HiddenFor(model => model.IdMovimientoDetalle)
   <div class="form-group">
    @Html.LabelFor(model => model.IdMovimiento)
    @Html.EditorFor(model => model.IdMovimiento)
    @Html.ValidationMessageFor(model => model.IdMovimiento)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdInsumo)
    @Html.EditorFor(model => model.IdInsumo)
    @Html.ValidationMessageFor(model => model.IdInsumo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Cantidad)
    @Html.EditorFor(model => model.Cantidad)
    @Html.ValidationMessageFor(model => model.Cantidad)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Precio)
    @Html.EditorFor(model => model.Precio)
    @Html.ValidationMessageFor(model => model.Precio)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Observacion)
    @Html.EditorFor(model => model.Observacion)
    @Html.ValidationMessageFor(model => model.Observacion)
</div>


