@model Entidades.IConversiones
@Html.DisplayForModel("IConversionesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaConversiones" class="btn btn-icap" data-property-id="@Model.IdConversion" data-url-action="@Url.Action("Delete", "Conversiones")">@ViewBag.LabelDelete</span>
</div>

