@model Entidades.IConversiones
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewConversiones" action="@Url.Action(ViewBag.Action, "Conversiones")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IConversiones")
   <div class="form-group col-md-12">
	<span id="btnSaveConversiones" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
   </div>
   <div class="modal-footer IcapFooter"></div>
</form>

