@model Entidades.IFamilias
@Html.DisplayForModel("IFamiliasDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaFamilias" class="btn btn-icap" data-property-id="@Model.IdFamilia" data-url-action="@Url.Action("Delete", "Familias")">@ViewBag.LabelDelete</span>
</div>

