@model Entidades.IFamilias
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewFamilias" action="@Url.Action(ViewBag.Action, "Familias")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IFamilias")
   <div class="form-group col-md-12">
	<span id="btnSaveFamilias" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
   </div>
   <div class="modal-footer IcapFooter"></div>
</form>

