﻿@model  Entidades.IEstimaciones
@using Entidades
<form id="frmEstimacionNew" action="@Url.Action("ValidaEstimacionFecha","Contratos")" method="post" autocomplete="off">
    <div id="dvNotificacionEstimacionNew" class="form-group col-md-12"></div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.FechaInicio)
        <input type='text' 
               class="form-control" 
               id='FechaInicio' 
               name="FechaInicio" 
               value="@Model.FechaInicio" 
               style="font-size:75%!important" />
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.FechaFin)
        <input type='text'
               class="form-control"
               id='FechaFin'
               name='FechaFin'
               value="@Model.FechaFin"
               style="font-size:75%!important" />
    </div>
    <div class="form-group  col-md-12">
        <span id="btnValidaPeriodoEstimacion"
              class="btn btn-icap" style="margin-right:90px">
            @CIdioma.TraduceCadena("IEstimacionAddNew")
        </span>
    </div>
    <div class="modal-footer IcapFooter"></div>    
    <input type="hidden" name="IdContratosDetalles" id="IdContratosDetalles" value="@Model.IdContratosDetalles">        
</form>