﻿@model CModeloEstimaciones
@using Entidades
@using Negocio
@{        
    IContratos2 Contrato = Model.Contrato;
    IEstimaciones estimacion = Model.EstimacionActual();
    bool MuestraEstimacion=false;
} 
@if (Model.Estimaciones != null && Model.Estimaciones.Count > 0)
{
    @*if (Model.PorcentajeAmortizacionAnticipo > 100)
    { 
       <div class="alert alert-danger" role="alert" style="text-align:center;margin-bottom:0px!important;font-weight:bold">
           @CIdioma.TraduceCadena("IEstimacionesPorcentajeAmortizacionOverload") <br />
           @Model.DetallePorcentajeAmortizacionAnticipo
       </div>  
    }*@
    <div style="text-align:center" class="form-group  col-md-12">
        @if (estimacion != null)
        {
            <span style="font-size:115%;">@CIdioma.TraduceCadena("IEstimacionTitleContrato") <b style="text-transform:capitalize;">@Contrato.Contrato</b></span><br />
            <span style="font-size:115%;">@CIdioma.TraduceCadena("IEstimacionesNumeroEstimacion") <b>@estimacion.NumeroEstimacion</b></span><br />
            <span style="font-size:115%;">@CIdioma.TraduceCadena("IEstimacionesTituloPeriodo") <b>@String.Format("{0} - {1}", estimacion.FechaInicio.ToString("d"), estimacion.FechaFin.ToString("d"))</b></span><br /><br />
            
                <span style="font-size: 115%; font-weight: bold">@CIdioma.TraduceCadena("IEstimacionesImporteDeductivo")</span><br />
                <input id="ImporteDeductivo" 
                       class="SimboloMoneda" 
                       value="@estimacion.ImporteDeductivo" 
                       style="width:100px!important;text-align:right" type="number" />
                @*<br />
                <span style="font-size:115%;font-weight:bold">@CIdioma.TraduceCadena("IEstimacionesPorcentajeAmortizacionAnticipo")</span><br />
                <input id="PorcentajeAmortizacionAnticipo"
                       class="SimboloPorcentaje"
                       value="@estimacion.PorcentajeAmortizacionAnticipo"
                       style="width:100px!important;text-align:right" type="number" />*@                        
            if (estimacion.IdEstimacion == 0)
            {
                <div class="alert alert-info" role="alert" style="margin-bottom:0px!important;">@CIdioma.TraduceCadena("IEstimacionesInstruccionesGuardar")</div>
            }
        }
    </div>


    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">           
            <tr>
                <th>
                    <div> @Html.LabelFor(model => (Contrato.Conceptos.First() as IContratosDetalles2).Concepto)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => (Contrato.Conceptos.First() as IContratosDetalles2).Descripcion)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => (Contrato.Conceptos.First() as IContratosDetalles2).UnidadMedida)</div>
                </th>               
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesCantidadContratada")</label></div>
                </th>
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesPrecioUnitario")</label></div>
                </th>  
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesImporteContratado")</label></div>
                </th>    
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesCantidadAcumuladaAnterior")</label></div>
                </th> 
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesCantidadEjecutadaOT")</label></div>
                </th>  
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesCantidadEstimada")</label></div>
                </th>  
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesImporteEstimado")</label></div>
                </th>   
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesCantidadAcumuladaActual")</label></div>
                </th>             
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesImporteAcumuladoActual")</label></div>
                </th> 
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesCantidadPorEstimar")</label></div>
                </th>
                <th>
                    <div><label>@CIdioma.TraduceCadena("IEstimacionesImportePorEstimar")</label></div>
                </th>                            
            </tr>
        </thead>
        <tbody id="tbdodyEstimacionesConceptos">
            @if (Contrato != null && Contrato.Conceptos != null && Contrato.Conceptos.Count > 0)
            {
                foreach (IContratosDetalles2 detail in Contrato.Conceptos)
                {                    
                    estimacion =Model.EstimacionByContrato(detail.IdContratosDetalles);
                    MuestraEstimacion=false;
                    if (estimacion != null && estimacion.IdContratosDetalles == detail.IdContratosDetalles) { MuestraEstimacion = true; }
                    <tr style="overflow:hidden;height:50px!important;">
                        <td data-property="Concepto" data-property-value="@detail.Concepto">
                            <div class="cellTexto-xs">@detail.Concepto</div>
                        </td>
                        <td data-property="Descripcion" data-property-value="@detail.Descripcion">
                            <div>                           
                                @detail.Descripcion
                            </div>
                        </td>
                        <td data-property="UnidadMedida" data-property-value="@detail.UnidadMedida">
                            <div class="cellTexto-xs">
                                @detail.UnidadMedida
                            </div>
                        </td>                        
                        <td data-property="Cantidad" data-property-value="@detail.Cantidad"><span>@detail.Cantidad</span></td>
                        <td data-property="Precio" data-property-value="@detail.Precio"><span>@detail.Precio.ToString("c4")</span></td> 
                        <td ><span>@((detail.Precio*detail.Cantidad).ToString("c4"))</span></td> @*ImporteContratado*@
                        <td ><span>@((MuestraEstimacion)? estimacion.CantidadAcumuladaAnterior.ToString("n4"):"")</span></td> 
                        <td><span>@((MuestraEstimacion)?estimacion.CantidadEjecutadaOT.ToString("n4"):"")</span></td> 
                       

                        <td data-property="CantidadEstimada" data-object-value="@String.Format("CantidadEstimada{0}", detail.IdContratosDetalles)">
                            <input id="@String.Format("CantidadEstimada{0}", detail.IdContratosDetalles)"
                                   type="number"
                                   class="form-control Cantidades input-sm"
                                   style="font-size:120%!important;width:100%!important"
                                   value="@((MuestraEstimacion) ? estimacion.CantidadEstimada.ToString("n4") : "")" />
                        </td>
                        <td><span>@((MuestraEstimacion)?estimacion.ImporteEstimado.ToString("c4"):"")</span></td> 
                        <td><span>@((MuestraEstimacion)?estimacion.CantidadAcumuladaActual.ToString("n4"):"")</span></td> 
                        <td><span>@((MuestraEstimacion)?estimacion.ImporteAcumuladoActual.ToString("c4"):"")</span></td> 
                        <td><span>@((MuestraEstimacion)?estimacion.CantidadPorEstimar.ToString("n4"):"")</span></td> 
                        <td><span>@((MuestraEstimacion)?estimacion.ImportePorEstimar.ToString("c4"):"")</span></td>   
                        <td style="display:none" data-property="IdContratosDetalles" data-property-value="@detail.IdContratosDetalles"></td>
                        <td style="display:none" data-property="IdEstimacion" data-property-value="@((MuestraEstimacion)?estimacion.IdEstimacion.ToString():"0")"></td>    
                        <td style="display:none" data-property="FechaInicio" data-property-value="@((MuestraEstimacion)?estimacion.FechaInicio.ToString("d"):"")"></td>
                        <td style="display:none" data-property="FechaFin" data-property-value="@((MuestraEstimacion) ? estimacion.FechaFin.ToString("d"):"")"></td>        
                        <td style="display:none" data-property="NumeroEstimacion" 
                            data-property-value="@((MuestraEstimacion) ? estimacion.NumeroEstimacion.ToString():"")"></td>
                    </tr>
                   
                }
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        <b>
            @CIdioma.TraduceCadena("IEstimacionesSinEstimaciones")
        </b>
    </div>    
}