﻿@model Entidades.IContratos2
@using Entidades
@using Negocio
@{
    string clase = "colNoZebra";
    CModeloEstimaciones modelE = new CModeloEstimaciones();
    modelE.IniciaEstimacionesUI(Model);      
} 
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th colspan="6" style="text-align:center;">
                    @Model.Contrato.ToUpper()
                </th>
                @foreach(IEstimaciones estimacion in modelE.Estimaciones)
                {
                    <th colspan="2" style="text-align:center;font-size:85%;">
                        @Html.Raw(String.Format("{0} <br/> {1}-{2}",estimacion.NumeroEstimacion,
                                                                    estimacion.FechaInicio.ToString("d"),
                                                                    estimacion.FechaFin.ToString("d")))
                    </th>
                }
                <th colspan="1" style="text-align:center;background-color:#53AEFF!important;border-color:#53AEFF!important">@DateTime.Now.ToString("d")</th>
                <th colspan="2" style="text-align:center">@CIdioma.TraduceCadena("IProyectosTotalConversion")</th>
                <th colspan="2" style="text-align:center">@CIdioma.TraduceCadena("IEstimacionesPorEstimar")</th>
            </tr>
            <tr>
                <th>
                    <div> @Html.LabelFor(model => (model.Conceptos.First() as IContratosDetalles2).Concepto)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => (model.Conceptos.First() as IContratosDetalles2).Descripcion)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => (model.Conceptos.First() as IContratosDetalles2).Ubicacion)</div>
                </th>
                <th>
                    <div><label>@CIdioma.TraduceCadena("IContratosDetallesInsumos2CantidadSolicitada")</label></div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => (model.Conceptos.First() as IContratosDetalles2).CantidadProgramada)</div>
                </th>
                <th>
                    <div> @Html.LabelFor(model => (model.Conceptos.First() as IContratosDetalles2).CantidadEjecutada)</div>
                </th>
                @for(int c = 0; c < modelE.Estimaciones.Count; c++)
                {
                    <th>@CIdioma.TraduceCadena("IEstimacionesCantidadEstimada")</th>
                    <th>@CIdioma.TraduceCadena("IEstimacionesImporteEstimado")</th>
                }
                <th style="background-color:#53AEFF!important;border-color:#53AEFF!important">Cantidad</th>                    
                <th style="text-align:center">@CIdioma.TraduceCadena("IEstimacionesCantidadEstimadaTotal")</th>
                <th style="text-align:center">@CIdioma.TraduceCadena("IEstimacionesImporteEstimadoTotal") </th>
                <th>@CIdioma.TraduceCadena("IEstimacionesCantidadEstimada")</th>
                <th>@CIdioma.TraduceCadena("IEstimacionesImporteEstimado")</th>
            </tr>
        </thead>
        <tbody id="tbdodyEstimacionesConceptos">
            @if(Model != null && Model.Conceptos != null && Model.Conceptos.Count > 0)
            {
                foreach(IContratosDetalles2 detail in Model.Conceptos)
                {
                    clase = "colZebra";
                    <tr style="overflow:hidden;height:50px!important;">
                        <td data-property="Concepto" data-property-value="@detail.Concepto">
                            <div class="cellTexto-xs">@detail.Concepto</div>
                        </td>
                        <td data-property="Descripcion" data-property-value="@detail.Descripcion">
                            <div>                           
                                @detail.Descripcion
                            </div>
                        </td>
                        <td data-property="Ubicacion" data-property-value="@detail.Ubicacion">
                            <div class="cellTexto-xs">                           
                                @detail.Ubicacion
                            </div>
                        </td>                        
                        <td data-property="Cantidad" data-property-value="@detail.Cantidad"><span>@detail.Cantidad</span></td>
                        <td data-property="CantidadProgramada" data-property-value="@detail.CantidadProgramada"><span>@detail.CantidadProgramada</span></td>
                        <td data-property="CantidadEjecutada" data-property-value="@detail.CantidadEjecutada"><span>@detail.CantidadEjecutada</span></td>                        
                        @foreach(DateTime fecha in modelE.Fechas)
                        {                            
                            IEstimaciones estimacion = modelE.GetEstimacionFecha(detail, fecha);
                            if(estimacion != null)
                            {
                                if(fecha.Date == DateTime.Now.Date)
                                {
                                    <td  style="cursor:pointer" data-property="IdEstimacion" data-property-value="@estimacion.IdEstimacion" 
                                        class="@String.Format("{0} eliminaEstimacion", clase)">
                                        @estimacion.CantidadEstimada.ToString("n4")
                                        <span class="fa fa-times-circle fa-1x " aria-hidden="true" style="color:#d92424">
                                        </span>

                                    </td>
                                }
                                else
                                {
                                    <td class="@clase" data-property="IdEstimacion" data-property-value="@estimacion.IdEstimacion">@estimacion.CantidadEstimada.ToString("n4")</td>
                                }

                                <td class="@clase">@estimacion.ImporteEstimado.ToString("c4")</td>
                            }
                            else
                            {
                                <td class="@clase"></td>
                                <td class="@clase"></td>
                            }
                            if(clase == "colNoZebra")
                            {
                                clase = "colZebra";
                            }
                            else
                            {
                                clase = "colNoZebra";
                            }

                        }
                       
                        <td>
                            @if(detail.CantidadPorEstimar > 0)
                            {
                                <input class="form-control Estimacion"
                                       style="width:100px!important;"
                                       data-idcontratodetalle="@detail.IdContratosDetalles"
                                       data-fecha="@DateTime.Now"
                                       type="number"
                                       value="@detail.CantidadPorEstimar.ToString("n4")" />
                            }
                        </td>                          
                        <td class="colTotales">@modelE.CantidadTotalPorDetalle(detail).ToString("n4")</td>
                        <td class="colTotales">@modelE.ImporteTotalPorDetalle(detail).ToString("c4")</td>
                        <td class="colTotales">@detail.CantidadPorEstimar.ToString("n4")</td>
                        <td class="colTotales">@detail.ImportePorEstimar.ToString("c4")</td>
                    </tr>
                   
                }
            }
        </tbody>
    </table>