﻿@using Entidades
@model IEnumerable<IEstimaciones>
@if(Model != null)
{
    <a class="dropdown-toggle dvIconTool"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">
        <i class="fa fa-filter fa-2x" aria-hidden="true" style="color:#1b87ef;">
            <label style=" font-size:55%!important;color:#000;">
                &nbsp;@CIdioma.TraduceCadena("IEstimacionesFiltroNumeroEstimacion")
            </label>
        </i>
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" id="ulContratosDinamicos">
        <li>
            <div style="margin-left:15px;margin-right:15px;width:100%!important;font-weight:bold;font-size:87%;">
              @Html.Raw(CIdioma.TraduceCadena("IEstimacionesFiltroNumeroEstimacionLeyenda"))
            </div>
        </li>
        <li role="separator" class="divider"></li>
        @if(Model != null && Model.Count()>0)
        {
            foreach(IEstimaciones estimacion in Model)
            {
                <li>
                    <a href="#" class="small" tabindex="-1">
                        <input type="radio"  name="estimacionSeleccionada" class="colContratoDinamic"  value="@estimacion.NumeroEstimacion" />
                            &nbsp;@String.Format("{0} {1} {2}",estimacion.NumeroEstimacion,estimacion.FechaInicio.ToString("d"),estimacion.FechaFin.ToString("d"))
                    </a>
                </li>
            }        
            <li role="separator" class="divider"></li>
            <li>
                <span id="btnMostrarEstimacion"
                      data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                      data-url="@Url.Action("EstimacionesPorProyecto", "Contratos")"
                      class="btn btn-primary btn-sm"
                      style="margin-left:15px;">
                    @CIdioma.TraduceCadena("IFiltroContratosbtnOkFiltros")
                </span>
            </li>
        }
    </ul>
    <input type="hidden" id="btnSendNewEstimacion" data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
           data-url="@Url.Action("SendNewEstimacion", "Contratos")" />

    <input type="hidden"
           id="btnEstimacionMainHidden"
           data-title="@CIdioma.TraduceCadena("IUICatalogoEstimacionContrato")"
           data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
           data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
           data-url="Contratos/ContratoEstimacion"
           @*data-url="@Url.Action("ContratoEstimacion", "Contratos")"*@ />
}