﻿@using Entidades;
<li class="dropdown">   
    <a class="dropdown-toggle dvIconTool"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">
        <i class="fa fa-cog fa-2x" aria-hidden="true" style="color:#1b87ef;">
            <label style=" font-size:55%!important;color:#000;">
                &nbsp;@CIdioma.TraduceCadena("IEstimacionListadoReportes")
            </label>
        </i>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a id="btnEstimacionRptResumenEconomico"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ReporteEstimacionResumenEconomicoParametros", "Contratos")"
               data-url-rpt="@Url.Action("ReporteEstimacionResumenEconomico", "Estimaciones")"
               data-url-rpt-dw="@Url.Action("DescargaReporte", "Estimaciones")"
               data-title="@Entidades.CIdioma.TraduceCadena("IEstimacionResumenEconomico")">
                <i class="fa fa-file fa-1x" style="color: #399b2e !important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IEstimacionResumenEconomico")</label>
                </i>
            </a>
        </li>       
        <li role="separator" class="divider"></li>
        <li>
            <a id="btnEstimacionRptCantidadesXls"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ReporteEstimacionCantidadesXls", "Estimaciones")"
               data-url-rpt-dw="@Url.Action("DescargaReporte", "Estimaciones")"
               data-title="@Entidades.CIdioma.TraduceCadena("IEstimacionRptCantidadesXls")">
                <i class="fa fa-file-excel-o fa-1x" style="color: #399b2e !important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IEstimacionRptCantidadesXls")</label>
                </i>
            </a>
        </li>
        <li>
            <a id="btnEstimacionRptCantidadesPdf"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ReporteEstimacionCantidadesPdf", "Estimaciones")"
               data-url-rpt-dw="@Url.Action("DescargaReporte", "Estimaciones")"
               data-title="@Entidades.CIdioma.TraduceCadena("IEstimacionRptCantidadesPdf")">
                <i class="fa fa-file-pdf-o fa-1x" style="color: #f73d3d !important;" aria-hidden="true">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IEstimacionRptCantidadesPdf")</label>
                </i>
            </a>
        </li>
    </ul>
</li>