﻿@model CModeloEstimaciones
@using Entidades
@using Negocio
<div class="dvToolPermisos navbar navbar-default">
        <ul class="nav navbar-nav"> 
            <li>
                <a id="btnAddEstimacion"
                   data-title="@CIdioma.TraduceCadena("IEstimacionAddNew")"
                   data-url="@Url.Action("AddEstimacion","Contratos")"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   class="dvIconTool"
                   style="color:#0786F6">
                    <i class="fa fa-plus-circle fa-2x" style="color: #399b2e;">
                        <label style=" font-size:55%!important;color:#000;">
                            &nbsp;@CIdioma.TraduceCadena("IEstimacionAddNew")
                        </label>
                    </i>
                </a>
            </li>
            <li>
                <a id="btnSaveEstimaciones"
                   data-idcontrato="@Model.Contrato.IdContrato"
                   data-op-ok="@Entidades.CIdioma.TraduceCadena("WebApiResponseOK")"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-url="@Url.Action("EstimacionesPorContrato", "Contratos")"
                   class="dvIconTool"
                   style="color:#0786F6">
                    <i class="fa fa-save fa-2x" style="color:#399b2e;">
                        <label style=" font-size:55%!important;color:#000;">
                            &nbsp;@CIdioma.TraduceCadena("IEstimacionSaveEstimaciones")
                        </label>
                    </i>

                </a>
            </li> 
            <li id="liFiltroEstimacion" class="dropdown">
                @Html.Partial("Estimaciones/_FiltroEstimaciones", Model.FiltroEstimaciones())
            </li> 
            <li>
                @Html.Partial("Estimaciones/_ReportesEstimaciones")
            </li>          
            <li>
                <a id="btnBackMain"
                   data-url="@Url.Action("GetContratos", "Proyectos")"
                   class="dvIconTool"
                   style="color:#0786F6">
                    <i class="fa fa-reply fa-2x" style="color:#0786F6;">
                        <label style=" font-size:55%!important;color:#000;">
                            &nbsp;@CIdioma.TraduceCadena("IEstimacionBackContratos")
                        </label>
                    </i>
                </a>
            </li>                            
            @Html.Partial("_CloseTab") 
        </ul>    
</div>