﻿@model CModeloEstimaciones
@using Entidades
@using Negocio
@if (Model != null && Model.Contrato != null && Model.Contrato.Conceptos  != null && Model.Contrato.Conceptos.Count() > 0)    
{          
    @Html.Partial("Estimaciones/_ToolBarEstimaciones",Model)
    <div id="dvNotificacionEstimacion"></div>
    <div id="dvContenidoEstimaciones">
        @Html.Partial("Estimaciones/_EstimacionesConceptos", Model)
    </div>
}

    