﻿@model Entidades.IContratos2
@using Entidades
@using Negocio
@if(Model != null && Model.Conceptos != null && Model.Conceptos.Count() > 0)    
{          
    @Html.Partial("Estimaciones/_ToolBarEstimaciones")
    <div id="dvNotificacionEstimacion"></div>
    <div id="dvContenidoEstimaciones">
        @Html.Partial("Estimaciones/_EstimacionesConceptos", Model)
    </div>
}

    