﻿@model Entidades.IEstimacionesResumenEconomico
@using Entidades;
<form  autocomplete="off" id="frmReporte">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col-md-12 " id="dvNotificacionCatalogoResmnCostos">
    </div>
    
    <div class="form-group col-md-6">
        @Html.LabelFor(model => (model as IEstimaciones).PorcentajeAmortizacionAnticipo)
        @if (Model != null)
        {
            @Html.TextBox("PorcentajeAmortizacionAnticipo", (Model as IEstimaciones).PorcentajeAmortizacionAnticipo, new
            {
                @class = "my-form-control SimboloPorcentaje",
                @type="number",
                @min="0",
                @max="100",
                @step="10"
            })
        }
    </div>
    <div class="form-group col-md-3">        
        <label for="IdEstimacion">@CIdioma.TraduceCadena("IEstimacionParametrosEstimacionInicial")</label>
        @if (Model != null)
        {
            @Html.TextBox("IdEstimacion", (Model as IEstimaciones).IdEstimacion, new
             {
                 @class = "form-control",
                 @type = "number",
                 @min = "1",                 
                 @step = "1"
             })
        }
    </div>
    <div class="form-group col-md-3">
        <label for="NumeroEstimacion">@CIdioma.TraduceCadena("IEstimacionParametrosEstimacionFinal")</label>
        @if (Model != null)
        {
            @Html.TextBox("NumeroEstimacion", (Model as IEstimaciones).NumeroEstimacion, new
             {
                 @class = "form-control",
                 @type = "number",
                 @min = "1",
                 @step = "1"
             })
        }
    </div>
    <div class="form-group col-md-12" >
        <label class="checkbox-inline">
            <input type="radio" value="0" name="ImportePagar">&nbsp;&nbsp; 
            <i class="fa fa-file-excel-o fa-1x" style="color: #399b2e !important;" aria-hidden="true"></i>
            Excel
        </label>        
    </div>
    <div class="form-group col-md-12">
        <label class="checkbox-inline">
            <input type="radio" value="1" name="ImportePagar">&nbsp;&nbsp;
            <i class="fa fa-file-pdf-o fa-1x" style="color: #f73d3d !important;" aria-hidden="true"></i>
            Pdf
        </label>
    </div>

        <div class="form-group  col-md-12">
            <span class="btn btn-icap btn-right" id="btnExportaReporte">@CIdioma.TraduceCadena("IOTNewAccept")</span>
        </div>
        <div class="modal-footer IcapFooter"></div>
    <input type="hidden" id="IdContrato" name="IdContrato" value="@Model.IdContrato" />
</form>