@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaClientesPersonal" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IClientesPersonal)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientesPersonal)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientesPersonal)model.Contenido.First()).IdCliente)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientesPersonal)model.Contenido.First()).Nombre)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientesPersonal)model.Contenido.First()).ApellidoPaterno)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientesPersonal)model.Contenido.First()).ApellidoMaterno)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientesPersonal)model.Contenido.First()).Puesto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientesPersonal)model.Contenido.First()).Telefono)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientesPersonal)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IClientesPersonal child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdPersonalCliente" data-property-value="@child.IdPersonalCliente">
                    <td data-property="Empresa" data-property-value="@child.Empresa">@child.Empresa</td>
                    <td data-property="Unidad" data-property-value="@child.Unidad">@child.Unidad</td>
                    <td data-property="IdCliente" data-property-value="@child.IdCliente">@child.RazonSocial</td>
                    <td data-property="Nombre" data-property-value="@child.Nombre">@child.Nombre</td>
                    <td data-property="ApellidoPaterno" data-property-value="@child.ApellidoPaterno">@child.ApellidoPaterno</td>
                    <td data-property="ApellidoMaterno" data-property-value="@child.ApellidoMaterno">@child.ApellidoMaterno</td>
                    <td data-property="Puesto" data-property-value="@child.Puesto">@child.Puesto</td>
                    <td data-property="Telefono" data-property-value="@child.Telefono">@child.Telefono</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}