@model Entidades.IClientesPersonal
<table id="tablaClientesPersonal" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>            
            <th>
                <div>@Html.LabelFor(model => Model.Nombre)</div>
            </th>            
            <th>
                <div>@Html.LabelFor(model => Model.Puesto)</div>
            </th>            
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>           
            <td>@String.Format("{0} {1} {2}",Model.Nombre,Model.ApellidoPaterno,Model.ApellidoMaterno)</td>           
            <td>@Model.Puesto</td>           
            <td>@Html.Partial("_Estatus", @Model.Estatus)</td>
        </tr>
    </tbody>
</table>

