﻿@model Entidades.IEmpleados
@Html.DisplayForModel("IEmpleadosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaEmpleados" class="btn btn-icap" data-property-id="@Model.IdEmpleado" data-url-action="@Url.Action("Delete", "Empleados")">@ViewBag.LabelDelete</span>
</div>