﻿@model Entidades.IEmpleados
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewEmpleados" action="@Url.Action(ViewBag.Action, "Empleados")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IEmpleados")
    <div class="form-group col-md-12">
        <span id="btnSaveEmpleados" class="btn btn-icap btn-right"> @ViewBag.LabelCreate</span>
     </div>        
       <div class="modal-footer IcapFooter"></div>        
</form>