@model Entidades.IPedidosDetalles
   @Html.HiddenFor(model => model.IdPedidoDetalle)
   <div class="form-group">
    @Html.LabelFor(model => model.IdPedido)
    @Html.EditorFor(model => model.IdPedido)
    @Html.ValidationMessageFor(model => model.IdPedido)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdInsumo)
    @Html.EditorFor(model => model.IdInsumo)
    @Html.ValidationMessageFor(model => model.IdInsumo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Cantidad)
    @Html.EditorFor(model => model.Cantidad)
    @Html.ValidationMessageFor(model => model.Cantidad)
</div>


