@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaAlmacenes" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IAlmacenes)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IAlmacenes)model.Contenido.First()).IdUnidad)</div>                
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IAlmacenes)model.Contenido.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IAlmacenes)model.Contenido.First()).Almacen)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IAlmacenes)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IAlmacenes child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdAlmacen" data-property-value="@child.IdAlmacen">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="IdUnidad" data-property-value="@child.IdUnidad">@child.Unidad</td>
                    <td data-property="Codigo" data-property-value="@child.Codigo">@child.Codigo</td>
                    <td data-property="Almacen" data-property-value="@child.Almacen">@child.Almacen</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

