﻿<div class="form-group col-md-12">
    <div class="icap-input-file">
        <input type="file" size="1" class="input-file" name="fileInsumosXls" id="fileInsumosXls" />
        <p>@Entidades.CIdioma.TraduceCadena("IInsumosLeyendaPlantillaMasiva")</p>
        <span class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("IInsumosLeyendaLoadInsumo")</span>
        <br />
        <label id="lblInsumosXlsSelect"></label>
    </div>
</div>