﻿@using Entidades
@model  IEnumerable<Entidades.IInsumos>
@if(Model != null && Model.Count() > 0)
{
    <table id="tablaInsumos" class="table table-condensed table-bordered">
        <thead class="grid-HeadRed  navbar-default">
            <tr>
                <th colspan="7"><div>@CIdioma.TraduceCadena("IInsumosWithErrorXls")</div></th>
            </tr>
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Serie)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Familia)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).UnidadMedidaDescripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Moneda)</div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-size:95%">
            @foreach(IInsumos child in @Model)
            {
                <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="@child.IdInsumo">                   
                    <td >
                        <div class="cellTexto-xs">@child.Codigo</div>
                    </td>                   
                    <td>
                        <div class="cellTexto-xs">@child.Serie</div>
                    </td>                   
                    <td>
                        <div class="cellTexto-xs">@child.Descripcion</div>
                    </td>                   
                    <td>
                        <div class="cellTexto-xs">@child.Familia</div>
                    </td>                   
                    <td>
                        <div class="cellTexto-xs">@child.UnidadMedidaDescripcion</div>
                    </td>                   
                    <td>
                        <div class="cellTexto-xs">@child.CodigoMoneda</div>
                    </td>  
                    <td>
                        <div class="cellTexto-xs"style="color:#f00;"><b>@child.Empresa</b></div>
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-success col-md-12" style="visibility:visible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>@Html.Raw(@Entidades.CIdioma.TraduceCadena("WebApiResponseOK"))</b>
    </div>
}
