@model Entidades.IInsumos
@Html.DisplayForModel("IInsumosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaInsumos" class="btn btn-icap" data-property-id="@Model.IdInsumo" data-url-action="@Url.Action("Delete", "Insumos")">@ViewBag.LabelDelete</span>
</div>

