@model Entidades.IInsumos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewInsumos" action="@Url.Action(ViewBag.Action, "Insumos")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IInsumos")
    <div class="form-group col-md-12">
        <span id="btnSaveInsumos" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>