@model Entidades.IMenus
<table id="tablaMenus" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => Model.IdMenuPadre)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Menu)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Titulo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Imagen)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Url)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Orden)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Estatus)</div>
</th> 
                   
            </tr>
        </thead>
    <tbody>
	<tbody>          
             <tr>
		 <td>@Model.IdMenuPadre</td>
<td>@Model.Menu</td>
<td>@Model.Titulo</td>
<td>@Model.Imagen</td>
<td>@Model.Url</td>
<td>@Model.Orden</td>
<td>@Model.Estatus</td>
                      
            </tr>            
        </tbody>         
</table>

