@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaMenus" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).IdMenu)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).IdMenuPadre)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).Menu)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).Titulo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).Imagen)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).ImagenTab)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).Url)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).Orden)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).Parametros)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMenus)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IMenus child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdMenu" data-property-value="@child.IdMenu">
                    <td data-property="IdMenu" data-property-value="@child.IdMenu">@child.IdMenu</td>
                    <td data-property="IdMenuPadre" data-property-value="@child.IdMenuPadre">@child.IdMenuPadre</td>
                    <td data-property="Menu" data-property-value="@child.Menu">@child.Menu</td>
                    <td data-property="Titulo" data-property-value="@child.Titulo">@child.Titulo</td>
                    <td data-property="Imagen" data-property-value="@child.Imagen" style="text-align:center">
                        @if(!String.IsNullOrEmpty(child.Imagen))
                        {
                            <div class="dvIconTool" style="height:30px;width:100%;background-size:25px; background-image: url('@Url.Content(child.Imagen)'); background-position:center;"></div>
                        }                                               
                    </td>
                    <td data-property="ImagenTab" data-property-value="@child.ImagenTab" style="text-align:center">
                        @if(!String.IsNullOrEmpty(child.ImagenTab))
                        {
                            <div class="dvIconTool" style="height:30px;width:100%;background-size:25px; background-image: url('@Url.Content(child.ImagenTab)'); background-position:center;"></div>
                        }
                    </td>
                    <td data-property="Url" data-property-value="@child.Url">@child.Url</td>
                    <td data-property="Orden" data-property-value="@child.Orden">@child.Orden</td>
                    <td data-property="Parametros" data-property-value="@child.Parametros">@child.Parametros</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

