@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaConceptos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).Clasificacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).Capitulo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).IdUnidadMedida)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).Concepto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).Precio)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).Moneda)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).Fecha)</div>
                </th>
                <th></th>
                @*<th>
                    <div>@Html.LabelFor(model => ((IConceptos)model.Contenido.First()).Estatus)</div>
                </th>*@
            </tr>
        </thead>
        <tbody >
            @foreach(IConceptos child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdConcepto" data-property-value="@child.IdConcepto"
                    data-popOverNecesario="@((!child.EsValido)? 1:0)"
                    data-placement="top"
                    data-trigger="click"
                    data-toggle="popover"
                    data-html="true"
                    title="@child.Concepto"
                    data-content="@child.MotivoNoValido">
                    @*style="@((!child.EsValido) ? "background-color:#ef6f6f!important;color:#fff!important;" : "")">*@
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="IdConceptoClasificacion" data-property-value="@child.IdConceptoClasificacion">@child.Clasificacion</td>
                    <td data-property="IdCapitulo" data-property-value="@child.IdCapitulo">@child.Capitulo</td>
                    <td data-property="IdUnidadMedida" data-property-value="@child.IdUnidadMedida">@child.UnidadMedida</td>
                    <td data-property="Concepto" data-property-value="@child.Concepto">@child.Concepto</td>
                    <td data-property="Descripcion" data-property-value="@child.Descripcion">
                        @child.Descripcion                       
                    </td>
                    <td data-property="Precio" data-property-value="@child.Precio">@child.Precio.ToString("c4")</td>
                    <td class="tipocambios"> <i>@child.CodigoMoneda</i></td>
                    <td>@child.Fecha.ToString("d")</td>
                    <td class="@((!child.EsValido) ? "popConceptoError" : "")" style="font-size:85%!important;">
                        @Html.Partial("_Estatus", @child.EsValido)
                        @if(!child.EsValido)
                        {
                            <br />
                            <i>@(CIdioma.TraduceCadena("IConceptoPopInstrucciones").ToUpper())</i>
                        }
                    </td>
                    @*<td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>*@
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}