@model Entidades.IConceptos
<table id="tablaConceptos" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Capitulo)</div>
            </th>            
            <th>
                <div>@Html.LabelFor(model => Model.Concepto)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Descripcion)</div>
            </th>           
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>  
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>           
            <td>@Model.Capitulo</td>
            <td>@Model.Concepto</td>
            <td>@Model.Descripcion</td>  
            <td>@Html.Partial("_Estatus", @Model.Estatus)</td>          
        </tr>
    </tbody>
</table>

