@model Entidades.IDepartamentos
@Html.DisplayForModel("IDepartamentosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaDepartamentos" class="btn btn-icap" data-property-id="@Model.IdDepartamento" data-url-action="@Url.Action("Delete", "Departamentos")">@ViewBag.LabelDelete</span>
</div>

