@model Entidades.IDepartamentos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewDepartamentos" action="@Url.Action(ViewBag.Action, "Departamentos")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IDepartamentos")
    <div class="form-group col-md-12">
        <span id="btnSaveDepartamentos" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
     </div>
     <div class="modal-footer IcapFooter"></div>
</form>

