﻿@model Entidades.IActividades
@if(Model != null)
{   
    <input type="hidden"
        id="hdnIdEspecialidad"
        data-auto2-nombrecampo="IdEspecialidad"
        data-auto2-condicion="="
        data-auto2-operador=" " value="@Model.IdEspecialidad" />
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Actividad)
        <input type="text" readonly="readonly" class="form-control" value="@Model.Actividad" />               
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Descripcion)        
        <input type="text" readonly="readonly" class="form-control" value="@Model.Descripcion" />
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Especialidad)        
        <input type="text" readonly="readonly" class="form-control" value="@Model.Especialidad" />
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.ProcedimientoSeguridad)
        <br />
        <a href="@String.Format("{0}/{1}", Url.Action("DescargaProcedimientoSeguridad", "Actividades"), Model.IdActividad)" target="_blank">
            @System.IO.Path.GetFileName(Model.ProcedimientoSeguridad)
        </a>
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.AnalisisRiesgo)
        <br />
        <a href="@String.Format("{0}/{1}", Url.Action("DescargaAnalisisRiesgo", "Actividades"), Model.IdActividad)" target="_blank">
            @System.IO.Path.GetFileName(Model.AnalisisRiesgo)
        </a>
    </div>
}