﻿@model Entidades.IOrdenesTrabajo 
@{
    int iConsecutivo = Convert.ToInt32(ViewData["Consecutivo"]);
}
@if(iConsecutivo<3)
{
<div class="form-group col-md-12 diagrama" data-id="@iConsecutivo">
    <div class="icap-input-file">
        <input type="file" size="1" class="input-file diagrama" data-ctrl-target="@String.Format("{0}{1}", "spnDiagrama", iConsecutivo)" />
        <span class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("IOTLoadDiagrama")</span>
        <label id="@String.Format("{0}{1}", "spnDiagrama", iConsecutivo)" class="spnNameFile">@Entidades.CIdioma.TraduceCadena("IOTLoadDiagramaSeleccioneDiagrama")</label>
    </div>
</div>
}
else
{
    <div class="alert alert-danger form-group col-md-12 " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Entidades.CIdioma.TraduceCadena("IOTDiagramasMaxFilesUpLoad")
    </div>
}

