﻿@model Entidades.IOrdenesTrabajo
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.ComentariosCliente)
    <textarea name="ComentariosCliente" id="ComentariosCliente" class="form-control">@Model.ComentariosCliente</textarea>
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Comentarios)
    <textarea name="Comentarios" id="Comentarios" class="form-control">@Model.Comentarios</textarea>
</div>