﻿@model Entidades.IOrdenesTrabajo
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Contratos)
    <select class="form-control input-sm"            
            id="IdContrato"
            data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
            data-url-proyecto="@Url.Action("ContratrosByProyecto", "Proyectos")"></select>  
</div>
<div class="form-group col-md-2">
    <br />
    <div>
        <div id="btnContratoPlus" class="btn btn-sm btn-primary glyphicon glyphicon-plus" data-origen="IdContrato" data-destino="ulOTContratos"></div>
        <div id="btnContratoMinus" class="btn btn-sm btn-primary glyphicon glyphicon-minus" data-origen="ulOTContratos"></div>
    </div>
</div>
<div class="form-group col-md-12">   
    <ul id="ulOTContratos" class="list-group ulPersonalCliente" data-msj-existe="@Entidades.CIdioma.TraduceCadena("IOTyaExisteElContrato")">
        @Html.Partial("_OTContratos", Model.Contratos)
    </ul>
</div>