﻿@model Entidades.IOrdenesTrabajo
@using Entidades
<div class="form-group col-md-12">
    <ul class="nav navbar-nav">
            <li>
                <a id="btnAddConcepto"               
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-url-load="@Url.Action("ConceptoPlantilla", "OrdenesTrabajo")"
                   data-sin-tipo="@CIdioma.TraduceCadena("IOTSinTipoDeOrden")"
                   class="dvIconTool TabAddConcepto">@Entidades.CIdioma.TraduceCadena("IOTLoadConcepto")</a>
            </li>
        
        @if(Model.IdOrdenTrabajo>0)
        {        
            <li>
                <a id="btnEjcutarConcepto"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-url-load="@Url.Action("_EjecutarConceptos", "OrdenesTrabajo")"
                   class="dvIconTool TabExeConcepto">@Entidades.CIdioma.TraduceCadena("IOTEjecutarConcepto")</a>
            </li>
        }
    </ul>
</div>


    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Actividad, new
    {
        @for = "IdOTActividadAutoComplete"
    })
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdOTActividadAutoComplete",
        Url = @Url.Action("Top", "Actividades"),
        Metod = "post",
        Min = "1",
        Target = "IdActividad",
        PropValue = "IdActividad",
        PropDisplay = "Actividad,Descripcion,Clasificacion",
        CampoSearch = "Actividad",
        CampoCondicion = "contenga",
        Multiple = "1",
        FnOnSelect = "OnSelectActividad",
        Value = (Model != null) ? Model.Actividad : String.Empty
    })
        @Html.ValidationMessageFor(model => model.IdActividad)
    </div>

@*else
{
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Actividad, new
    {
        @for = "IdOTActividadAutoComplete"
    })
        <input type="text"
               readonly="readonly"
               id="IdOTActividadAutoComplete"
               class="form-control"
               value="@Model.Actividad" />
    </div>
}*@
<div id="dvListAllConceptos" class="form-group col-md-6">

        @Html.LabelFor(model => model.OTConceptos)
    <select id="selAllConceptos"
            data-auto2-nombrecampo="IdConceptoClasificacion"
            data-auto2-condicion="="
            data-auto2-operador=" AND "
            data-auto2-property="data-property-valor"
            data-property-valor="0"
            class="form-control input-sm"
            data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
            data-url-load="@Url.Action("GetConceptosByContrato", "OrdenesTrabajo")">
        <option selected="selected" value="0">@CIdioma.TraduceCadena("IOTConcepto")</option>
    </select>
    
</div>

<div id="dvEjecucionConceptos" class="form-group col-md-12">    
</div>
<div id="dvAllTblConceptos"  class="form-group col-md-12">
    @Html.Partial("_TblConceptos", Model.OTConceptos, new ViewDataDictionary { { "colDelete", true } })
</div>

<div class="fieldDestino">
    @Html.EditorFor(model => model.IdActividad)
</div>