﻿@model Entidades.IOTConceptos    
@using Entidades
@{
    List<IOTConceptos> aux = new List<IOTConceptos>();
    aux.Add(Model);
}
<div class="form-group col-md-12">
    @Html.Partial("_TblConceptos", aux, new ViewDataDictionary { { "colDelete", false } })
</div>
<div class="form-group col-md-8">
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head-Detalle-boot grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.Ejecuciones.First().Fecha))</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.Ejecuciones.First()).CantidadProgramada)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.Ejecuciones.First()).CantidadEjecutada)</div>
                </th>
                <th class="btn-one">

                </th>
            </tr>
        </thead>
        <tbody id="tblEjecucionConceptos" data-url="@Url.Action("DeleteEjecucion", "OTConceptos")">
            @if(Model.Ejecuciones != null && Model.Ejecuciones.Count() > 0)
            {
                foreach(IOTConceptosEjecucion child in Model.Ejecuciones.OrderBy(x => x.Fecha))
                {
                    <tr data-property="IdOTConceptoEjecucion" data-property-value="@child.IdOTConceptoEjecucion">
                        <td data-property="Fecha" data-property-value="@child.Fecha.ToString("d")">@child.Fecha.ToString("d")</td>
                        <td data-property="CantidadProgramada" data-property-value="@child.CantidadProgramada">@child.CantidadProgramada.ToString("n4")</td>
                        <td data-property="CantidadEjecutada" data-property-value="@child.CantidadEjecutada">@child.CantidadEjecutada.ToString("n4")</td>
                        @if(child.CantidadEjecutada <= 0 && child.IdOTConceptoEjecucion>0)
                        {                        
                        <td style="cursor:pointer" class="iRemoveEjecucion" data-idEjecucion="@child.IdOTConceptoEjecucion">
                            <div class="btnGridSmallDetalle" style="color:#f00">
                                <i class="fa fa-remove fa-1x"></i>
                            </div>
                        </td>
                        }
                        else
                        {
                            <td ></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="form-group col-md-4">   
    <input type="text" class="form-control input-sm" placeholder="@CIdioma.TraduceCadena("IOTConceptosEjecucionFecha")" id="ExeFecha" /><br />
    <input type="number" step="2" class="form-control input-sm" placeholder="@CIdioma.TraduceCadena("IOTConceptosEjecucionCantidadProgramada")" id="ExeProgramada" /><br />
    <input type="number" step="2" class="form-control input-sm" placeholder="@CIdioma.TraduceCadena("IOTConceptosEjecucionCantidadEjecutada")" id="ExeEjecutada" /><br />
    
    <span class="btn btn-primary btn-sm"
          data-url-exe="@Url.Action("RegistraEjecucion", "OTConceptos")"
          @*data-url-reload="@Url.Action("GetConceptos", "OrdenesTrabajo")"*@
          id="btnExeEjecutar">@CIdioma.TraduceCadena("IOTConceptosBtnEjecutar")</span>
    <span class="btn btn-primary btn-sm"
          data-url-reload="@Url.Action("GetConceptos", "OrdenesTrabajo")"
          id="btnExeCancelar">@CIdioma.TraduceCadena("IOTConceptosBtnCancelar")</span>
</div>