﻿@model IEnumerable<Entidades.IOTContratos>
@using Entidades
@if(Model.Any())
{
    foreach(IOTContratos contrato in Model)
    {
        <li class="list-group-item" data-id="@contrato.IdContratoOrden" data-orden="@contrato.IdOrdenTrabajo" data-contrato="@contrato.IdContrato">@contrato.Contrato</li>
    }
}