﻿@model Entidades.IOTConceptos
@{
    bool colDelete = Convert.ToBoolean(ViewData["colDelete"]);
}
@if(Model!= null)
{
    <tr class="ui-rw-cat" data-property="IdOTConcepto" data-property-value="@Model.IdOTConcepto">
        @if(!String.IsNullOrEmpty(Model.Clasificacion))
        {
            <td>@Model.Clasificacion</td>
        }
        else
        {
            <td>@Model.InfoConcepto.Clasificacion</td>
        }
        
        <td>@Model.Concepto</td>
        <td>@Model.Descripcion</td>
        <td>@Model.Partida</td>
        <td>@Model.UnidadMedida</td>
        <td>@Convert.ToInt16(@Model.EsAdicional)</td>
        @if(colDelete)
        {        
            <td>@Model.Contrato</td>
        }
        <td>@Model.Cantidad.ToString("n4")</td>
        @if(colDelete)
        {
            <td>@Model.CantidadProgramadaOT.ToString("n4")</td>
            <td>@Model.CantidadEjecutadaOT.ToString("n4")</td> 
            if(@Model.CantidadEjecutada<=0)
            {                   
                <td>
                    <div class="btnDelete btnGrid btnGridSmall btnRemoveTR" data-param="@Model.IdOTConcepto"></div>
                </td>
            }
        }        
        <td style="display:none" data-property="IdContratosDetalles" data-property-value="@Model.IdContratosDetalles"></td>
        <td style="display:none" data-property="IdConcepto" data-property-value="@Model.IdConcepto"></td>
        <td style="display:none" data-property="Ubicacion" data-property-value="@Model.Ubicacion"></td>
        @*@if(Model.InfoConcepto != null)
        {
            <td style="display:none" data-property="IdConceptoClasificacion" data-property-value="@Model.InfoConcepto.IdConceptoClasificacion"></td>
            <td style="display:none" data-property="Clasificacion" data-property-value="@Model.InfoConcepto.Clasificacion"></td>
        }*@
        
        
            <td style="display:none" data-property="IdConceptoClasificacion" data-property-value="@Model.IdConceptoClasificacion"></td>
            <td style="display:none" data-property="Clasificacion" data-property-value="@Model.Clasificacion"></td>
        
    </tr>
}