﻿@model Entidades.IOrdenesTrabajo
<div class="form-group col-md-12">
    <ul class="nav navbar-nav">
        <li>
            <a id="btnDownloadDiagrama"
               class="dvIconTool TabDownloadFile"
               data-url-dwn="@Url.Action("DescargaDocumento", "OrdenesTrabajo")"
               data-origen="allDiagramasList">
                @Entidades.CIdioma.TraduceCadena("IOTDownloadFile")
            </a>
        </li>
        <li>
            <a id="btnDelDiagrama"
               class="dvIconTool TabEliminaFile"
               data-url-del="@Url.Action("Delete", "OTDocumentos")"
               data-origen="allDiagramasList"
               data-target="dvOTDiagramas">
                @Entidades.CIdioma.TraduceCadena("IOTEliminaFile")
            </a>
        </li>
        <li>
            <a id="btnAddDiagramaPlus"
               class="dvIconTool TabAddFile"
               data-destino="allDiagramasInputFile"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url-plantilla="@Url.Action("OtPlantillaDiagramaFile", "OrdenesTrabajo")"
               data-target="dvOTDiagramas"
               data-toggle="tooltip"
               data-placement="right" title="@Entidades.CIdioma.TraduceCadena("IOTAddTecnico")">
                @Entidades.CIdioma.TraduceCadena("IOTAddFile")
            </a>
        </li>
        <li>
            <a id="btnPreviewDiagrama" class="dvIconTool TabPreviewFile"
               data-origen="allDiagramasList"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url-plantilla="@Url.Action("VistaPrevia", "OrdenesTrabajo")"
               data-target="dvPreviewDiagrama">
                @Entidades.CIdioma.TraduceCadena("IOTPreviewFile")
            </a>
        </li>
    </ul>
</div>
@if(Model != null)
{
    <div class="form-group col-md-9">
        @Html.Partial("_OTListDiagramas", Model.OTDiagramas)
    </div>   
}
<div class="form-group col-md-12" id="allDiagramasInputFile">
    @Html.Partial("_BodyLoadFiles", Model, new ViewDataDictionary { { "Consecutivo", 0 } })
</div>  
<div class="form-group col-md-12" id="dvPreviewDiagrama"></div>