﻿@model Entidades.IOrdenesTrabajo
<div class="form-group col-md-12">
    <ul class="nav navbar-nav">
        <li>
            <a id="btnDownloadDetalleInstalacion"
               class="dvIconTool TabDownloadFile"
               data-url-dwn="@Url.Action("DescargaDocumento", "OrdenesTrabajo")"
               data-origen="allDetallesInstalacionList">
                @Entidades.CIdioma.TraduceCadena("IOTDownloadFile")
            </a>
        </li>
        <li>
            <a id="btnDelDetalleInstalacion"
               class="dvIconTool TabEliminaFile"
               data-url-del="@Url.Action("Delete", "OTDocumentos")"
               data-origen="allDetallesInstalacionList"
               data-target="dvOTDetallesInstalacion">
                @Entidades.CIdioma.TraduceCadena("IOTEliminaFile")
            </a>
        </li>
        <li>
            <a id="btnAddDetalleInstalacionPlus" class="dvIconTool TabAddFile"
               data-destino="allDetallesInstalacionInputFile"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url-plantilla="@Url.Action("OtPlantillaDiagramaFile", "OrdenesTrabajo")"
               data-target="dvOTDetallesInstalacion">
                @Entidades.CIdioma.TraduceCadena("IOTAddFile")
            </a>
        </li>
        <li>
            <a id="btnPreviewDetalleInstalacion" class="dvIconTool TabPreviewFile"
               data-origen="allDetallesInstalacionList"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url-plantilla="@Url.Action("VistaPrevia", "OrdenesTrabajo")"
               data-target="dvPreviewDetallesInstalacion">
                @Entidades.CIdioma.TraduceCadena("IOTPreviewFile")
            </a>
        </li>
    </ul>
</div>
@if(Model != null)
{
    <div class="form-group col-md-9">
       @Html.Partial("_OTListDetallesInstalacion", Model.OTDetalleInstalacion)
    </div>  
}
    <div class="form-group col-md-12" id="allDetallesInstalacionInputFile" >
    @Html.Partial("_BodyLoadFiles", Model, new ViewDataDictionary { { "Consecutivo", 0 } })
    </div>
    <div class="form-group col-md-12" id="dvPreviewDetallesInstalacion"></div>
