﻿@model IEnumerable<Entidades.IOTDocumentos>
@using Entidades
@if(Model != null)
{
    <select class="form-control" id="allDetallesInstalacionList">
        @foreach(IOTDocumentos doc in Model)
        {
            <option value="@doc.IdOTDocumentos">@System.IO.Path.GetFileName(doc.RutaDocumento)</option>
        }
    </select>
}           