﻿@model IEnumerable<Entidades.IOTPersonal>
@using Entidades

    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IOTPersonal)model.First()).NombreEmpleado)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOTPersonal)model.First()).NombreGrado)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOTPersonal)model.First()).NombreEspecialidad)</div>
                </th> 
                <th></th>               
            </tr>
        </thead>
        <tbody id="tblOTAllPersonal">
            @if(Model != null)
            {
                foreach(IOTPersonal tecnico in Model)
                {
                    <tr class="ui-rw-cat" data-property="IdOTPersonal" data-property-value="@tecnico.IdOTPersonal">
                        @Html.Partial("_OTTecnicoTR", tecnico)
                    </tr>
                }
            }
        </tbody>
       </table>
