﻿@model Entidades.IOrdenesTrabajo
@using Entidades
<div class="form-group col-md-12">
    <ul class="nav navbar-nav">
        <li>
            <a id="btnLoadAllTecnicos"
               data-dvdata="dvData"
               data-dvdata-aux="DataAuxAllTecnicos"
               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url-load-tecnicos="@Url.Action("TecnicosByEmpresa", "Tecnicos")"
               class="dvIconTool TabAllTecnicos">@Entidades.CIdioma.TraduceCadena("IOTLoadAllTecnicos")</a>
        </li>
    </ul>
    </div>
@if(Model != null && Model.OTActividad != null)
{    
    @Html.Partial("_ActividadOT", Model.OTActividad)
}
else
{
    <div id="dvActividadAux" 
         data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")" 
         data-url-plantilla="@Url.Action("OtPlantillaActividad", "OrdenesTrabajo")"></div>
}
<div id="dvData">
    <div class="form-group col-md-10">
        @Html.LabelFor(model => model.OTPersonal, new
    {
        @for = "IdOTTecnicoAutoComplete"
    })
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdOTTecnicoAutoComplete",
        Url = @Url.Action("Top", "Tecnicos"),
        Metod = "post",
        Min = "1",
        Target = "idTecnicoAux",
        PropValue = "IdTecnico",
        PropDisplay = "NombreEmpleado,NombreEspecialidad",
        CampoSearch = "NombreEmpleado",
        CampoCondicion = "contenga",
        ObjectComplemento = "hdnIdEspecialidad",
        Multiple = "1"
    })
        @Html.ValidationMessageFor(model => model.IdProyecto)
    </div>
    <div class="form-group col-md-2">
        <br />
        <div id="btnAddTecnicoPlus"
             data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
             class="btnGrid btnAddItem"
             data-url-plantilla="@Url.Action("OtPlantillaTecnico", "OrdenesTrabajo")"
             data-toggle="tooltip" data-placement="right" title="@Entidades.CIdioma.TraduceCadena("IOTAddTecnico")"
             data-origen="idTecnicoAux" data-destino=""></div>
    </div>

    <div class="form-group col-md-12">
        @if(Model != null)
        {
            @Html.Partial("_OTPersonalTecnicos", Model.OTPersonal)
        }
    </div>
</div>
<div id="DataAuxAllTecnicos" class="dvHidden"></div>
<div class="fieldDestino">
   <input id="idTecnicoAux" type="hidden" />
</div>