﻿@model  IEnumerable<Entidades.IOTPersonalCliente>
@using Entidades
@if(Model.Any())
{
    foreach(IOTPersonalCliente personal in Model)
    {
        <li class="list-group-item" data-id="@personal.IdOTPersonalCliente" data-idcliente="@personal.IdPersonalCliente">
            @String.Format("{0} {1} {2} [{3}]", personal.Nombre, personal.ApellidoPaterno, personal.ApellidoMaterno, personal.Puesto)
        </li>
    }
}