﻿@model Entidades.IOTPersonal
@using Entidades
@if(Model != null)
{
    <tr class="ui-rw-cat" data-property="IdOTPersonal" data-property-value="@Model.IdOTPersonal">
        <td data-property="IdTecnico" data-property-value="@Model.IdTecnico">@Model.NombreEmpleado</td>
        <td>@Model.NombreGrado</td>
        <td>@Model.NombreEspecialidad</td>
        <td>
            <div class="btnDelete btnGrid btnGridSmall btnRemoveTR" data-param="@Model.IdOTPersonal"></div>
        </td>
    </tr>   
}