﻿@model IEnumerable<Entidades.IOTConceptos>
@using Entidades
@{
    bool colDelete = Convert.ToBoolean(ViewData["colDelete"]);
}
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => (model.First()).Clasificacion)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).Concepto)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).Descripcion)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).Partida)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).UnidadMedida)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).EsAdicional)</div>
            </th>
            @if(colDelete)
            {
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Contrato)</div>
                </th>
            }            
            <th>
                <div>@Html.LabelFor(model => (model.First()).Cantidad)</div>
            </th>
            @if(colDelete)
            {
                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadProgramada)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadEjecutada)</div>
                </th>
                <th></th>
            }                        
        </tr>
    </thead>   
    <tbody id="tblAllOTConceptos" data-concepto-existe="@Entidades.CIdioma.TraduceCadena("NOTConceptoYaExiste")">
        @if(Model != null && Model.Count() > 0)
        {
            foreach(IOTConceptos child in Model)
            {
                @Html.Partial("_OTConceptoTR", child, new ViewDataDictionary { { "colDelete", colDelete } })
            }
        }
    </tbody>    
</table>