﻿@model Entidades.IUICatalogo
@using Entidades;
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @*@foreach(IPerfilAcciones permiso in Model.Permisos)
            {
                @Html.Raw(permiso.Html)
            }*@
            <li>
                <a class="dvIconTool TabImprimir" id="dropdownMenu1"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="true">
                    @Entidades.CIdioma.TraduceCadena("IOTIndexImprimir")
                    <span class="caret"></span>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                        <li class="list-group-item">
                            <a class="icap-Buscar"
                               id="rptGral"
                               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                               data-url-plantilla="@Url.Action("ConfiguraReporte", "OrdenesTrabajo")"
                               data-url-rpt="@Url.Action("ImprimeRptGlobal", "OrdenesTrabajo")"
                               data-url-rpt-dw="@Url.Action("DescargaReporte", "OrdenesTrabajo")">
                               @Entidades.CIdioma.TraduceCadena("IOTImpGeneral")
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a class="icap-Buscar"
                               id="rptByActividades"
                               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                               data-url-rpt="@Url.Action("ImprimeRptActividad", "OrdenesTrabajo")"
                               data-url-rpt-dw="@Url.Action("DescargaReporte", "OrdenesTrabajo")">
                                @Entidades.CIdioma.TraduceCadena("IOTByActividades")
                            </a>
                        </li>
                    </ul>
                </a>
            </li>                      
        </ul>
      
    }
    @if(Model != null && Model.HasPermiso("buscar"))
    {
        @Html.Partial("_ToolBuscar")
    }
</div>