﻿@model Entidades.CParamRptOTActividad
@using Entidades
<form id="formularioConfigProyecto" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)   
   
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.FechaHoy)
        <input name="FechaHoy" id="FechaHoy" value="@Model.FechaHoy.ToString("d")" class="form-control icapDatePicker" />
    </div> 
    @if(Model != null && Model.Contratos != null)
    {

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Contratos)
            <select name="IdContrato" id="IdContrato" class="form-control">
                @foreach(IvwContratos2 contrato in Model.Contratos)
                {
                    <option value="@contrato.IdContrato">@contrato.Contrato</option>
                }
            </select>
        </div>
    }
    <div class="form-group col-md-6">                           
       @Html.LabelFor(model => model.FechaInicial)
       <input name="FechaInicial" id="FechaInicial" value="@Model.FechaInicial.ToString("d")" class="form-control icapDatePicker" />
    </div>    
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.FechaFinal)
        <input name="FechaFinal" id="FechaFinal" value="@Model.FechaFinal.ToString("d")" class="form-control icapDatePicker" />
    </div> 
    <div class="form-group col-md-12">
        <span id="btnBldRptGlobal" class="btn btn-icap btn-right">@CIdioma.TraduceCadena("CParamRptOTGlobalGenerarRPT")</span>
     </div>
    <div class="modal-footer IcapFooter"></div>
    @Html.HiddenFor(model=>model.IdProyecto)
</form>