﻿@model Entidades.CParamRptOTGlobal
@using Entidades
<form id="formularioConfigProyecto" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group col-md-12">
        <p class="texto">@CIdioma.TraduceCadena("CParamRptOTGlobalIndicaciones")</p>
    </div>    
    <div class="form-group col-md-12">                    
       @Html.CheckBoxFor(model => model.Concepto)
       @Html.LabelFor(model => model.Concepto)       
    </div>
    <div class="form-group col-md-12">        
        @Html.CheckBoxFor(model => model.Partida)
        @Html.LabelFor(model => model.Partida)
    </div>
    <div class="form-group col-md-12">        
        @Html.CheckBoxFor(model => model.Insumos)
        @Html.LabelFor(model => model.Insumos)
    </div>
    <div class="form-group col-md-12">                
        @Html.CheckBoxFor(model => model.Analisis)
        @Html.LabelFor(model => model.Analisis)
    </div>
    <div class="form-group col-md-12">
        <span id="btnBldRptGlobal" class="btn btn-icap btn-right">@CIdioma.TraduceCadena("CParamRptOTGlobalGenerarRPT")</span>
     </div>
    <div class="modal-footer IcapFooter"></div>
</form>