@model Entidades.IOrdenesTrabajo
@Html.DisplayForModel("IOrdenesTrabajoDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaOrdenesTrabajo" class="btn btn-icap" data-property-id="@Model.IdOrdenTrabajo" data-url-action="@Url.Action("Delete", "OrdenesTrabajo")">@ViewBag.LabelDelete</span>
</div>

