﻿@model IEnumerable<Entidades.IContratosDetalles2>
@using Entidades
@if(Model != null && Model.Count()>0)
{
    <option selected="selected" value="0">@CIdioma.TraduceCadena("IOTConcepto")</option>
    foreach(IContratosDetalles2 contrato in Model.OrderBy(x=>x.Concepto))
    {
        <option value="@contrato.IdContratosDetalles">@String.Format("[{0}] {1},{2}",@contrato.Contrato,@contrato.Concepto,contrato.Descripcion)</option>
    }
}