@model Entidades.IOrdenesTrabajo
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewOrdenesTrabajo" action="@Url.Action(ViewBag.Action, "OrdenesTrabajo")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel("IOrdenesTrabajo")    
    <div class="form-group col-md-12">                
        <span id="btnSaveOrdenesTrabajo"
              class="btn btn-icap btn-right" style="margin-right:90px"
              @*data-solo-concepto="@Entidades.CIdioma.TraduceCadena("NOTSoloUnConcepto")"*@   
              data-Actividad-vacia="@Entidades.CIdioma.TraduceCadena("IOTSeleccioneActividad")"           
              data-op-ok="@Entidades.CIdioma.TraduceCadena("WebApiResponseOK")">@ViewBag.LabelCreate</span>
        <span id="btnSalirOT" 
              class="btn btn-icap btn-right">
             @Entidades.CIdioma.TraduceCadena("IGeneralSalir")
        </span>
    </div>
    <div class="modal-footer IcapFooter"></div>     
</form>

