﻿@model Entidades.IProyectos
@using Entidades
<form id="frmNewOtByContrato">    
    @if(Model != null && Model.Contratos != null && Model.Contratos.Count > 0)
    {
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Proyecto)
            @Html.TextBox("Proyecto", Model.Proyecto, new
    {
        @class = "form-control",
        @readonly = "readonly"
    })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Contratos)
            <select id="IdContrato" class="form-control input-sm">
                @foreach(IProyectoContratos contrato in Model.Contratos)
                {
                    <option value="@contrato.IdContrato">@contrato.Contrato</option>
                }
            </select>
        </div>
    }
    else
    {
        <b>@CIdioma.TraduceCadena("IOTProyectoNuloOsinContratos")</b>
    }
    <div class="form-group col-md-12">
        <span id="btnNewOT"
              data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
              data-url="@Url.Action("NewByContrato", "OrdenesTrabajo")"
              class="btn btn-icap btn-right">
              @CIdioma.TraduceCadena("IOTNewAccept")
        </span>
    </div>
    <div class="modal-footer IcapFooter"></div>
    @Html.HiddenFor(model => model.IdProyecto)
</form>