﻿<table class="table table-condensed table-bordered">
    <thead class="grid-Head-Detalle navbar-default">
        <tr>
            <th>
                <div><label for="Codigo">Código</label></div>
            </th>
            <th>
                <div><label for="Serie">Serie</label></div>
            </th>
            <th>
                <div><label for="Descripcion">Descripción</label></div>
            </th>
            <th>
                <div><label for="Descripcion">Cantidad</label></div>
            </th>
        </tr>
    </thead>
    <tbody style="font-size:95%;text-align:left!important;">
        <tr class="ui-rw-cat">
            <td data-property="Codigo" data-property-value="1.02 TRA_T_C">
                <div>1.02 TRA_T_C</div>
            </td>
            <td data-property="Serie" data-property-value="1.02 TRA_T">
                <div>1.02 TRA_T</div>
            </td>
            <td data-property="Descripcion" data-property-value="Transcisión de Ducto Conduit a Ducto Plástico en Falso Plafón.">
                <div>Transcisión de Ducto Conduit a Ducto Plástico en Falso Plafón.</div>
            </td>

            <td data-property="Estatus" data-property-value="True">
                <span> 23</span>
            </td>
        </tr>
        <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="6">

            <td data-property="Codigo" data-property-value="101 FLETE">
                <div>101 FLETE</div>
            </td>
            <td data-property="Serie" data-property-value="101 FLETE">
                <div>101 FLETE</div>
            </td>
            <td data-property="Descripcion" data-property-value="Flete para envio o traslado de Materiales">
                <div>Flete para envio o traslado de Materiales</div>
            </td>
            <td data-property="Estatus" data-property-value="True">
                <span>22</span>
            </td>
        </tr>       
    </tbody>
</table>