﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<p>Date: <input type="text" id="datepicker"></p>


<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>


<i class="fa fa-window-close fa-4x" aria-hidden="true"></i>*@
<style>  
    .lblIcons 
    {
        color:#286090 ;
    }
    .frmLoggin 
    {
        color:#fff;
    }
    .btn-primary {
        background-image: linear-gradient(to bottom, #286090 0%, #286090 100%);
    }
    .lblText 
    {
        color:#fff;
    }
    .lblTxtImg 
    {
        margin-left:10px !important;
    }
</style>

<div id="dvAllContenido" class="container">
    <div class="col-md-12 col-sm-12">        
        <form style="margin-top:10%;" class="frmLoggin">
            <div class="form-group">
                <label for="txtUser" class="lblIcons">
                    <i class="fa fa-user-circle fa-2x"></i>
                </label>
                <label class="lblText lblTxtImg">Usuario</label>
                <input type="email" class="form-control" id="txtUser" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="txtClave" class="lblIcons">
                    <i class="fa fa-key fa-2x"></i>
                </label>
                <label class="lblText lblTxtImg">Clave</label>
                <input type="password" class="form-control" id="txtClave" placeholder="Clave">
            </div>            
            <span id="btnLoggin" type="submit" class="btn btn-primary" data-url="@Url.Action("OTLista", "Index")">
                <i class="fa fa-sign-in fa-1x"></i>
                Entrar
            </span>
        </form>
    </div>
</div>