﻿@Html.Partial("_Back")
<br />
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>           
            <th>
                <div><label for="Actividad">Actividad</label></div>
            </th>          
            <th>
                <div><label >Cantidad</label></div>
            </th>
            <th>
                <div><label>Cantidad Ejecutada</label></div>
            </th>
            <th>
                <div><label>Comentarios</label></div>
            </th>
        </tr>
    </thead>
    <tbody id="tablaOrdenesTrabajovwAdministrador" style="font-size:85%">
        <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
            <td >1.02 0 DUCTO GALVANIZADO </td>           
            <td>2 Mts</td>
            <td><input type="number" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
        </tr>
        <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
            <td>1.04 0 GABINETES Y REGISTROS</td>            
            <td>8 Mts</td>
            <td><input type="number" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
        </tr>
        <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
            <td>1.20 ZANJA </td>            
            <td>0.20 Mts</td>
            <td><input type="number" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
        </tr>
        <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
            <td>3.0 COLOCACION DE CABLEADO </td>            
            <td>5 Mts</td>
            <td><input type="number" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
        </tr>
        <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
            <td>3.02 COLOCACION DE JACKS </td>
            <td>100 PZAS</td>
            <td><input type="number" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
        </tr>
    </tbody>
    <tfoot id="infoFoot">
        <tr><td colspan="4" id="infosave">
               
            </td> </tr>
    </tfoot>
</table>

<span id="btnLoggin" type="submit" class="btn btn-primary" data-url="@Url.Action("OTLista", "Index")">
    <i class="fa fa-save fa-1x"></i>
    Guardar Mis Avances
</span>