﻿@Html.Partial("_Back")
<br />
<div class="dvToolPermisos navbar navbar-default">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle dvIconTool fa fa-briefcase fa-2x"
               data-toggle="dropdown"
               role="button"
               style="font-size:130%!important;color:#286090!important;"
               aria-haspopup="true"
               aria-expanded="false">
               <i style="font-style:normal;color:#000!important;">Ver</i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a id="btnAllInsumos">
                        <i class="fa fa-cubes fa-1x " style ="color:#286090!important;" aria-hidden="true"> <i style="font-style:normal;color:#000!important;">&nbsp;Insumos</i></i>
                    </a>
                </li> 
                <li>
                    <a id="btnAllActividades">
                        <i class="fa fa-file-o fa-1x " style="color:#286090!important;" aria-hidden="true"> <i style="font-style:normal;color:#000!important;">&nbsp;Actividades</i></i>
                    </a>
                </li>                 
            </ul>
        </li>
        <li>
            <a id="btnSaveOne">
                <i class="fa fa-save fa-1x " style="color:#286090!important;cursor:pointer;" aria-hidden="true"> <i style="font-style:normal;color:#000!important;">&nbsp;Guardar avance</i></i>
            </a>
        </li>  
    </ul>
</div>
<div id="dvAllOts">
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                @*<th>
                        <div><label for="Contrato">Contrato</label></div>
                    </th>
                    <th>
                        <div><label for="Folio">Folio</label></div>
                    </th>*@
                <th></th>
                <th>
                    <div><label for="Actividad">Actividad</label></div>
                </th>
                <th>
                    <div><label for="EstatusOT">Estatus</label></div>
                </th>
                <th>
                    <div><label for="PrioridadOT">Prioridad</label></div>
                </th>
                <th>
                    <div><label for="FechaInicio">Fecha Inicio</label></div>
                </th>
                <th>
                    <div><label for="FechaFin">Fecha Fin</label></div>
                </th>
                <th>
                    <div><label>Cantidad</label></div>
                </th>
                <th>
                    <div><label>Cantidad Ejecutada</label></div>
                </th>
                <th>
                    <div><label>Comentarios</label></div>
                </th>
                <th>RECHAZAR ORDEN TRABAJO</th>
                <th>Descargar Procedimientos</th>
            </tr>
        </thead>
        <tbody id="tablaOrdenesTrabajovwAdministrador" style="font-size:85%">           
            <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
                <td style="cursor:pointer" class="dvdetail" data-target-div="dv1">
                    <div style="color:#286090">
                        <i class="fa fa-cubes fa-2x "></i>
                    </div>
                </td>
                <td>1.02 0 DUCTO GALVANIZADO </td>
                <td>PROGRAMADO</td>
                <td>NORMAL</td>
                <td>@(System.DateTime.Now.ToString("d")) 10:00 </td>
                <td>@(System.DateTime.Now.ToString("d")) 12:00 </td>
                <td>2 Mts</td>
                <td><input type="number" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td style="cursor:pointer" class="dvRejectOT" data-target-div="">
                    <div style="color:#f00">
                        <i class="fa fa-times fa-2x "></i>
                    </div>
                </td>
                <td style="cursor:pointer" class="dvDownLoadFile">
                    <div style="color:#286090">
                        <i class="fa fa-file-o fa-2x "></i>
                    </div>
                </td>
            </tr>
            <tr id="dv1" style="display:none;">
                <td colspan="15">
                   @Html.Partial("_InsumosByOt")
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
                <td style="cursor:pointer" class="dvdetail" data-target-div="dv2">
                    <div style="color:#286090">
                        <i class="fa fa-cubes fa-2x "></i>
                    </div>
                </td>
                <td>1.04 0 GABINETES Y REGISTROS</td>
                <td>PROGRAMADO</td>
                <td>NORMAL</td>
                <td>@(System.DateTime.Now.ToString("d")) 12:30 </td>
                <td>@(System.DateTime.Now.ToString("d")) 16:00 </td>
                <td>8 Mts</td>
                <td><input type="number" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td style="cursor:pointer" class="dvRejectOT" data-target-div="">
                    <div style="color:#f00">
                        <i class="fa fa-times fa-2x "></i>
                    </div>
                </td>
                <td style="cursor:pointer" class="dvDownLoadFile">
                    <div style="color:#286090" >
                        <i class="fa fa-file-o fa-2x "></i>
                    </div>
                </td>
            </tr>
            <tr id="dv2" style="display:none;">
                <td colspan="15">
                    @Html.Partial("_InsumosByOt")
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
                <td style="cursor:pointer" class="dvdetail" data-target-div="dv3">
                    <div style="color:#286090">
                        <i class="fa fa-cubes fa-2x "></i>
                    </div>
                </td>
                <td>1.20 ZANJA </td>
                <td>PROGRAMADO</td>
                <td>NORMAL</td>
                <td>@(System.DateTime.Now.ToString("d")) 16:00 </td>
                <td>@(System.DateTime.Now.ToString("d")) 16:40 </td>
                <td>0.20 Mts</td>
                <td><input type="number" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td style="cursor:pointer" class="dvRejectOT" data-target-div="">
                    <div style="color:#f00">
                        <i class="fa fa-times fa-2x "></i>
                    </div>
                </td>
                <td style="cursor:pointer" class="dvDownLoadFile">
                    <div style="color:#286090" >
                        <i class="fa fa-file-o fa-2x "></i>
                    </div>
                </td>
            </tr>
            <tr id="dv3" style="display:none;">
                <td colspan="15">
                    @Html.Partial("_InsumosByOt")
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
                <td style="cursor:pointer" class="dvdetail" data-target-div="dv4">
                    <div style="color:#286090">
                        <i class="fa fa-cubes fa-2x "></i>
                    </div>
                </td>
                <td>3.0 COLOCACION DE CABLEADO </td>
                <td>PROGRAMADO</td>
                <td>NORMAL</td>
                <td>@(System.DateTime.Now.ToString("d")) 16:40 </td>
                <td>@(System.DateTime.Now.ToString("d")) 17:00 </td>
                <td>5 Mts</td>
                <td><input type="number" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td style="cursor:pointer" class="dvRejectOT" data-target-div="">
                    <div style="color:#f00">
                        <i class="fa fa-times fa-2x "></i>
                    </div>
                </td>
                <td style="cursor:pointer" class="dvDownLoadFile">
                    <div style="color:#286090">
                        <i class="fa fa-file-o fa-2x "></i>
                    </div>
                </td>
            </tr>
            <tr id="dv4" style="display:none;">
                <td colspan="15">
                    @Html.Partial("_InsumosByOt")
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="80">
                <td style="cursor:pointer" class="dvdetail" data-target-div="dv5">
                    <div style="color:#286090">
                        <i class="fa fa-cubes fa-2x "></i>
                    </div>
                </td>
                <td>3.02 COLOCACION DE JACKS </td>
                <td>PROGRAMADO</td>
                <td>NORMAL</td>
                <td>@(System.DateTime.Now.ToString("d")) 17:00 </td>
                <td>@(System.DateTime.Now.ToString("d")) 20:00 </td>
                <td>100 PZAS</td>
                <td><input type="number" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td style="cursor:pointer" class="dvRejectOT" data-target-div="">
                    <div style="color:#f00">
                        <i class="fa fa-times fa-2x "></i>
                    </div>
                </td>
                <td style="cursor:pointer" class="dvDownLoadFile">
                    <div style="color:#286090" >
                        <i class="fa fa-file-o fa-2x "></i>
                    </div>
                </td>
            </tr>
            <tr id="dv5" style="display:none;">
                <td colspan="15">
                    @Html.Partial("_InsumosByOt")
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="dvAllInsumos" style="display:none;">
    <table id="tablaInsumos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>                
                <th>
                    <div><label for="Codigo">Código</label></div>
                </th>
                <th>
                    <div><label for="Serie">Serie</label></div>
                </th>
                <th>
                    <div><label for="Descripcion">Descripción</label></div>
                </th>                
                <th>
                    <div><label for="Descripcion">Cantidad</label></div>
                </th>
            </tr>
        </thead>
        <tbody style="font-size:95%;text-align:left!important;">
            <tr class="ui-rw-cat">
                <td data-property="Codigo" data-property-value="1.02 TRA_T_C">
                    <div>1.02 TRA_T_C</div>
                </td>
                <td data-property="Serie" data-property-value="1.02 TRA_T">
                    <div>1.02 TRA_T</div>
                </td>
                <td data-property="Descripcion" data-property-value="Transcisión de Ducto Conduit a Ducto Plástico en Falso Plafón.">
                    <div>Transcisión de Ducto Conduit a Ducto Plástico en Falso Plafón.</div>
                </td>

                <td data-property="Estatus" data-property-value="True">
                    <span> 23</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="6">
                
                <td data-property="Codigo" data-property-value="101 FLETE">
                    <div >101 FLETE</div>
                </td>
                <td data-property="Serie" data-property-value="101 FLETE">
                    <div >101 FLETE</div>
                </td>
                <td data-property="Descripcion" data-property-value="Flete para envio o traslado de Materiales">
                    <div >Flete para envio o traslado de Materiales</div>
                </td>                               
                <td data-property="Estatus" data-property-value="True">
                    <span >22</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="7">
                
                <td data-property="Codigo" data-property-value="5860R">
                    <div >5860R</div>
                </td>
                <td data-property="Serie" data-property-value="5860R">
                    <div >5860R</div>
                </td>
                <td data-property="Descripcion" data-property-value="Panel anunciador LCD.">
                    <div >Panel anunciador LCD.</div>
                </td>
                
                <td data-property="Estatus" data-property-value="True">
                    <span >66</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="8">
                
                <td data-property="Codigo" data-property-value="A20 PLC">
                    <div >A20 PLC</div>
                </td>
                <td data-property="Serie" data-property-value="A20 PLC">
                    <div >A20 PLC</div>
                </td>
                <td data-property="Descripcion" data-property-value="PLC">
                    <div >PLC</div>
                </td>               
                <td data-property="Estatus" data-property-value="True">
                    <span >33</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="9">                
                <td data-property="Codigo" data-property-value="AAS 67  Dolar">
                    <div >AAS 67  Dolar</div>
                </td>
                <td data-property="Serie" data-property-value="AAS 6731I">
                    <div >AAS 6731I</div>
                </td>
                <td data-property="Descripcion" data-property-value="Telefono IP-SIP basico marca Aastra modelo 6731i, con pantalla, apariencia de 6 líneas, 2 ">
                    <div >Telefono IP-SIP basico marca Aastra modelo 6731i, con pantalla, apariencia de 6 líneas, 2 </div>
                </td>                
                <td data-property="Estatus" data-property-value="True">
                    <span >33</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="10">                
                <td data-property="Codigo" data-property-value="AAS 675 Euro">
                    <div >AAS 675 Euro</div>
                </td>
                <td data-property="Serie" data-property-value="AAS 6751I">
                    <div >AAS 6751I</div>
                </td>
                <td data-property="Descripcion" data-property-value="Telefono IP-SIP semi ejecutivo marca Aastra modelo 6751i, con pantalla, una sola linea, 2 ">
                    <div >Telefono IP-SIP semi ejecutivo marca Aastra modelo 6751i, con pantalla, una sola linea, 2 </div>
                </td>               
                <td data-property="Estatus" data-property-value="True">
                    <span >45</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="11">               
                <td data-property="Codigo" data-property-value="AAS 6753I">
                    <div >AAS 6753I</div>
                </td>
                <td data-property="Serie" data-property-value="AAS 6753I">
                    <div >AAS 6753I</div>
                </td>
                <td data-property="Descripcion" data-property-value="Telefono IP-SIP semi ejecutivo marca Aastra modelo 6753i, con pantalla, apariencia de 9 líneas, 2 puertos ethernet, soporta PoE, ">
                    <div >Telefono IP-SIP semi ejecutivo marca Aastra modelo 6753i, con pantalla, apariencia de 9 líneas, 2 puertos ethernet, soporta PoE, </div>
                </td>                
                <td data-property="Estatus" data-property-value="True">
                    <span >45</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="12">               
                <td data-property="Codigo" data-property-value="AAS 6755I">
                    <div >AAS 6755I</div>
                </td>
                <td data-property="Serie" data-property-value="AAS 6755I">
                    <div >AAS 6755I</div>
                </td>
                <td data-property="Descripcion" data-property-value="Telefono IP-SIP ejecutivo marca Aastra modelo 6755i, con pantalla, apariencia de 9 líneas, 2 puertos ethernet, 20 teclas programables, ">
                    <div >Telefono IP-SIP ejecutivo marca Aastra modelo 6755i, con pantalla, apariencia de 9 líneas, 2 puertos ethernet, 20 teclas programables, </div>
                </td>               
                <td data-property="Estatus" data-property-value="True">
                    <span >455</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="13">                
                <td data-property="Codigo" data-property-value="AAS 9143I">
                    <div >AAS 9143I</div>
                </td>
                <td data-property="Serie" data-property-value="AAS 9143I">
                    <div >AAS 9143I</div>
                </td>
                <td data-property="Descripcion" data-property-value="Telefono IP-SIP semi ejecutivo marca Aastra modelo 9143i, con pantalla, apariencia de 9 líneas, 2 puertos ethernet, 7 teclas programables, ">
                    <div >Telefono IP-SIP semi ejecutivo marca Aastra modelo 9143i, con pantalla, apariencia de 9 líneas, 2 puertos ethernet, 7 teclas programables, </div>
                </td>               
                <td data-property="Estatus" data-property-value="True">
                    <span >12</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="14">                
                <td data-property="Codigo" data-property-value="AAS AC_ADAPTOR">
                    <div >AAS AC_ADAPTOR</div>
                </td>
                <td data-property="Serie" data-property-value="AAS AC_ADAPTOR">
                    <div >AAS AC_ADAPTOR</div>
                </td>
                <td data-property="Descripcion" data-property-value="Fuente de poder (AC Adaptor) para Telefonos Aastra 9133i,480i,4801CT,9143,9480i,9480iCT,51i,53i,55i,57i,57iCT.">
                    <div >Fuente de poder (AC Adaptor) para Telefonos Aastra 9133i,480i,4801CT,9143,9480i,9480iCT,51i,53i,55i,57i,57iCT.</div>
                </td>                
                <td data-property="Estatus" data-property-value="True">
                    <span >444</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="15">                
                <td data-property="Codigo" data-property-value="AC BASE_CON">
                    <div >AC BASE_CON</div>
                </td>
                <td data-property="Serie" data-property-value="AC BASE_CON">
                    <div >AC BASE_CON</div>
                </td>
                <td data-property="Descripcion" data-property-value="Base Metalica para condenzadora">
                    <div >Base Metalica para condenzadora</div>
                </td>                
                <td data-property="Estatus" data-property-value="True">
                    <span >56</span>
                </td>
            </tr>
            <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="16">              
                <td data-property="Codigo" data-property-value="AC LIE PRESCISION 5T">
                    <div >AC LIE PRESCISION 5T</div>
                </td>
                <td data-property="Serie" data-property-value="AC LIE PRESCISION 5T">
                    <div >AC LIE PRESCISION 5T</div>
                </td>
                <td data-property="Descripcion" data-property-value="Sistema de aire acondicionado de piso de 5 ton. marca Liebert, solo frío, de alta presición, montaje en interior y con manejadora externa.">
                    <div >Sistema de aire acondicionado de piso de 5 ton. marca Liebert, solo frío, de alta presición, montaje en interior y con manejadora externa.</div>
                </td>               
                <td data-property="Estatus" data-property-value="True">
                    <span >5000</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="idModalMode" data-url-modal="@Url.Action("Modal", "Index")">

</div>
