﻿<div class="OTLista">
    <div class="col-md-12 col-sm-12" >
        <label for="txtUser" class="lblIcons">
            <i class="fa fa-user-circle fa-2x"></i>
        </label>
        <label class="lblText lblTxtImg">Bienvenido(a) MARIA ELIZABETH ESCOBEDO SEGURA </label>
    </div>
    <div id="dvMnuPrincipal" class="col-md-12 col-sm-12">
        <h3>¿Que deseas hacer?</h3>
        <ul id="allMenu" class="list-mnu">
            <li class="lst-item-menu" id="liDwnOt"><i class="fa fa-globe fa-2x mnuOp" data-url="" data-fn="fnSimulaSincronizacion"></i> <label id="lblTargetMnu1" data-url="@Url.Action("FakeDescarga", "Index")" class="lblText lblTxtImg">Sincronizar mis ordenes.</label></li>
            <li class="lst-item-menu"><i class="fa fa-file-o fa-2x mnuOp" data-url="@Url.Action("MisOrdenes", "Index")"></i> <label class="lblText lblTxtImg">Mis ordenes de trabajo.</label></li>
            @*<li class="lst-item-menu"><i class="fa fa-industry fa-2x mnuOp" data-url="@Url.Action("IniciarOrden", "Index")"></i> <label class="lblText lblTxtImg">Guardar Avance Orden de trabajo.</label></li>*@
            <li class="lst-item-menu"><i class="fa fa-sign-out fa-2x mnuOp" data-url="" data-fn="fnSalir"></i> <label class="lblText lblTxtImg">Salir.</label></li>
        </ul>
    </div>
    <div id="dvMnuPrincipalResult" class="col-md-12 col-sm-12">
    </div>
</div>