@model Entidades.IMenus
@Html.DisplayForModel("IMenusDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaMenus" class="btn btn-icap" data-property-id="@Model.IdMenu" data-url-action="@Url.Action("Delete", "Menus")">@ViewBag.LabelDelete</span>
</div>

