@model Entidades.IMenus
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewMenus" action="@Url.Action(ViewBag.Action, "Menus")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IMenus")
    <div class="form-group col-md-12">
        <span id="btnSaveMenus" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>

