@model Entidades.IIngenierias
<table id="tablaIngenierias" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>           
            <th>
                <div>@Html.LabelFor(model => Model.Ingenieria)</div>
            </th>            
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Ingenieria</td>
            <td>@Html.Partial("_Estatus", @Model.Estatus)</td>
        </tr>
    </tbody>
</table>

