@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaIngenierias" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IIngenierias)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IIngenierias)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IIngenierias)model.Contenido.First()).Proyecto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IIngenierias)model.Contenido.First()).Ingenieria)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IIngenierias)model.Contenido.First()).Fecha)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IIngenierias)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IIngenierias child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdIngenieria" data-property-value="@child.IdIngenieria">
                    <td>@child.Empresa</td>
                    <td>@child.Unidad</td>
                    <td data-property="IdProyecto" data-property-value="@child.IdProyecto">@child.Proyecto</td>
                    <td data-property="Ingenieria" data-property-value="@child.Ingenieria">@child.Ingenieria</td>
                    <td data-property="Fecha" data-property-value="@child.Fecha">@child.Fecha.ToString("d")</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>

                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

