﻿body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;   
}
.dvContenedorPrincipal
{
    margin-top:5px;
    width:100%;
    text-align:center;
    font-size:70%; 
}
.dvErrorFatal
{
    background-image: url("../Content/Imagenes/robotError.jpg") ;
    background-repeat:no-repeat;
    background-size: 300px;
    background-position:center;
    height:500px;
}

.fondoLasecBody
{                        
   background-repeat:no-repeat;  
    background-size:70%;            
    background-position:center;
    background-image: url("../Content/Imagenes/ICAP_FONDO.jpg") ;     
}
.fondoLasecBodyLoading
{                        
    background-repeat:no-repeat;  
    background-size: 180px;         
    background-position:center;
    background-image: url("../Content/Imagenes/ICAPLoading.gif") ;    
}
.fondoLasecBodyComplete
{                        
    background-color:#fff;   
   
   

}
  .mnuAll 
        {
            width:200px;
            border:5px solid #06227d;
            overflow:hidden;
        }
        .mnuPadre
        {
          /* border:1px solid red;*/
           width:200px;
        }
        .mnuHijo
        {
           border:1px solid green;
           padding-left:20px;
            width:100%;
        }
         .mnuimg
        {
            background-repeat:no-repeat;
            background-size:30px;            
            background-position:left center;           
            padding-left:32px !important;
        }
        .mnuimgSmall 
        {
            background-repeat:no-repeat;
            background-size:22px;            
            background-position:left center;           
            padding-left:24px !important;
        }
        
        .dvLogo 
        {
            border:4px solid #333333;
            width:100px;
            height:100px;
            border-radius:100%;
            background-repeat:no-repeat;
            background-size:130px;
            background-position:center;           
            background-image: url("../Content/Imagenes/Logo.jpg") ;
            z-index:1000;
        }
        .dvContenAllBody 
        {
            position: relative;
        }
        .mnuIcap 
        {           
            position: absolute; 
            left: 0px; 
            top: 0px;
            z-index:100;
            width: auto;                    
            display:none;
            background-color:#F4F4F4;
            background-color:none;            
        }
         .mnuIcapPermisos 
        {                      
            z-index:99;
            width: auto;
            background-color:#F4F4F4;
            background-color:none;            
        }
        .ContenidoIcap 
        {                                
            height:1000px;
            width:100%;
            overflow:auto;
            padding-left:20PX;
            padding-right:20PX;                   
        }
       
       

.dvCatalogosLoading 
{
    width: 100% !important;
    height:150px;
    text-align:center;    
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center bottom;
    background-image: url("../Content/Imagenes/ICAPLoadingCatalogos.gif");    
    background-color: #fff;
    color:#000;
    font-weight:bold;   
}

.field-validation-error 
{
    color:#f00;
    font-size:75%;
    display:inline-block;
}
/**Botones*/
.btn-icap 
{    
    background-color:#53AEFF !important;
    color:#000 !important;
    border:1px solid #000 !important;
    border-radius:0px !important;
   
}
.btn-icap:hover 
{
    background-color:#C6E4FF!important;
    color:#000 !important;
}
.btn-right 
{
    position: absolute!important; 
    right: 0px!important; 
    top: 0px!important;
}

/*LOGGIN*/
.panel-heading {
    background-color:#53AEFF !important;/*#003e7e;*/
    color:#000 !important;   
}
.panel 
{
 border:2px solid #53AEFF !important;
}

.list-group-item 
{    
    padding: 3px 0px 3px  0px !important;
    border:none!important;
    font-size:85%;
}
li.list-group-item:hover
{
    background-color:#53AEFF !important;
    cursor:pointer;
    color:#fff !important;
}
a.icap-Buscar:hover
{
  background:none!important;
  background-color:#53AEFF !important;
  color:#fff !important;
  cursor:pointer;
  display:block;
  width:100%; 
  height:inherit;
  font-weight:bold;
}

.logoEmpresa 
{
    background-repeat:no-repeat!important;  
    background-size:28%!important;  
    background-position:center top!important;
    height:100px;  
}
.TitleHeader 
{
    color:#000;    
    font-size:150%;
    margin-top:0px!important;
    text-align:center;
}
.classMnu 
{
    background-color: #286090  !important;
}
div.classMnu a
{
    font-size:150%;
    color:#fff;
    text-decoration:none;
    cursor:pointer;
}