@model Entidades.IActividades
@Html.HiddenFor(model => model.IdActividad)
@Html.HiddenFor(model => model.AuxFilesMaps)
@Html.HiddenFor(model => model.ProcedimientoSeguridad)
@Html.HiddenFor(model => model.AnalisisRiesgo)
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Especialidad, new
{
    @for = "IdActividadIdEspecialidadAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdActividadIdEspecialidadAutoComplete",
        Url = @Url.Action("Top", "Especialidades"),
        Metod = "post",
        Min = "1",
        Target = "IdEspecialidad",
        PropValue = "IdEspecialidad",
        PropDisplay = "Nombre",
        CampoSearch = "Nombre",
        CampoCondicion = "contenga",        
        Value = (Model != null && !String.IsNullOrEmpty(Model.Especialidad)) ? Model.Especialidad : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdEspecialidad)
</div>
<div class="form-group col-md-6">

    @Html.LabelFor(model => model.IdConceptoClasificacion, new
   {
       @for = "IdConceptoClasificacionAutoComplete"
   })
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdConceptoClasificacionAutoComplete",
            Url = @Url.Action("Top", "ClasificacionConceptos"),
            Metod = "post",
            Min = "1",
            Target = "IdConceptoClasificacion",
            PropValue = "IdConceptoClasificacion",
            PropDisplay = "Clasificacion,Descripicion",
            CampoSearch = "Clasificacion",
            CampoCondicion = "contenga",
            Multiple = "1",
            Value = (Model != null) ? Model.Clasificacion : String.Empty
        })    
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Actividad)
    @Html.EditorFor(model => model.Actividad)
    @Html.ValidationMessageFor(model => model.Actividad)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Descripcion)
    @Html.EditorFor(model => model.Descripcion)
    @Html.ValidationMessageFor(model => model.Descripcion)
</div>
<div class="form-group col-md-6">
    <div class="icap-input-file ">
        <input type="file" name="fileProcedimientoSeguridad" id="fileProcedimientoSeguridad" size="1" class="input-file actividadFile" />
        <span class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("IActividadesProcedimientoSeguridad")</span>
        <label class="spnNameFile">@Entidades.CIdioma.TraduceCadena("IActividadesSeleccioneArchivo")</label>
    </div>
    @if(Model != null)
    {
        <span>@System.IO.Path.GetFileName(@Model.ProcedimientoSeguridad)</span>
    }    
</div>
<div class="form-group col-md-6">
    <div class="icap-input-file">
        <input type="file" name="fileAnalisisRiesgo" id="fileAnalisisRiesgo" size="1" class="input-file actividadFile" />
        <span class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("IActividadesAnalisisRiesgo")</span>
        <label class="spnNameFile">@Entidades.CIdioma.TraduceCadena("IActividadesSeleccioneArchivo")</label>
    </div>
    @if(Model != null)
    {
        <span>@System.IO.Path.GetFileName(@Model.AnalisisRiesgo)</span>
    }
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>

<div class="fieldDestino">
    @Html.EditorFor(model => model.IdEspecialidad)
</div>
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdConceptoClasificacion)
</div>