@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaFamilias" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IFamilias)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IFamilias)model.Contenido.First()).Familia)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IFamilias)model.Contenido.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IFamilias)model.Contenido.First()).Estatus)</div>
                </th>
                

            </tr>
        </thead>
        <tbody>
            @foreach(IFamilias child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdFamilia" data-property-value="@child.IdFamilia">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="Familia" data-property-value="@child.Familia">@child.Familia</td>
                    <td data-property="Descripcion" data-property-value="@child.Descripcion">@child.Descripcion</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult");
}

