@model Entidades.IFamilias
<table id="tablaFamilias" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>           
            <th>
                <div>@Html.LabelFor(model => Model.Familia)</div>
            </th>           
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>
            
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>           
            <td>@Model.Familia</td>            
            <td>@Html.Partial("_Estatus",@Model.Estatus)</td>
        </tr>
    </tbody>
</table>

