@model Entidades.IOTConceptos
   @Html.HiddenFor(model => model.IdOTConcepto)
   <div class="form-group">
    @Html.LabelFor(model => model.IdOrdenTrabajo)
    @Html.EditorFor(model => model.IdOrdenTrabajo)
    @Html.ValidationMessageFor(model => model.IdOrdenTrabajo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdContratoDetalle)
    @Html.EditorFor(model => model.IdContratoDetalle)
    @Html.ValidationMessageFor(model => model.IdContratoDetalle)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.CantidadSolicitada)
    @Html.EditorFor(model => model.CantidadSolicitada)
    @Html.ValidationMessageFor(model => model.CantidadSolicitada)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.CantidadProgramada)
    @Html.EditorFor(model => model.CantidadProgramada)
    @Html.ValidationMessageFor(model => model.CantidadProgramada)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.CantidadEjecutada)
    @Html.EditorFor(model => model.CantidadEjecutada)
    @Html.ValidationMessageFor(model => model.CantidadEjecutada)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


