@model Entidades.IPerfiles
@Html.DisplayForModel("IPerfilesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaPerfiles" class="btn btn-icap" data-property-id="@Model.IdPerfil" data-url-action="@Url.Action("Delete", "Perfiles")">@ViewBag.LabelDelete</span>
</div>

