@model Entidades.IPerfiles
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewPerfiles" action="@Url.Action(ViewBag.Action, "Perfiles")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IPerfiles")
    <div class="form-group col-md-12">
        <span id="btnSavePerfiles" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>

