@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaEmpresas" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpresas)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpresas)model.Contenido.First()).Direccion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpresas)model.Contenido.First()).Telefono)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpresas)model.Contenido.First()).CorreoElectronico)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpresas)model.Contenido.First()).SitioWeb)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpresas)model.Contenido.First()).RFC)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpresas)model.Contenido.First()).CodigoPostal)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpresas)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IEmpresas child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdEmpresa" data-property-value="@child.IdEmpresa">
                    <td data-property="Empresa" data-property-value="@child.Empresa">@child.Empresa</td>
                    <td data-property="Direccion" data-property-value="@child.Direccion">@child.Direccion</td>
                    <td data-property="Telefono" data-property-value="@child.Telefono">@child.Telefono</td>
                    <td data-property="CorreoElectronico" data-property-value="@child.CorreoElectronico">@child.CorreoElectronico</td>
                    <td data-property="SitioWeb" data-property-value="@child.SitioWeb"><a href="@child.SitioWeb" target="_blank"> @child.SitioWeb </a></td>
                    <td data-property="RFC" data-property-value="@child.RFC">@child.RFC</td>
                    <td data-property="CodigoPostal" data-property-value="@child.CodigoPostal">@child.CodigoPostal</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>

                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult");
}

