@model Entidades.IEmpresas
<table id="tablaEmpresas" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Empresa)</div>
            </th>            
            <th>
                <div>@Html.LabelFor(model => Model.RFC)</div>
            </th>            
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Empresa</td>           
            <td>@Model.RFC</td>           
            <td>@Html.Partial("_Estatus", @Model.Estatus)</td>
        </tr>
    </tbody>
</table>