@model Entidades.ISisLogErrores
@Html.DisplayForModel("ISIS_LOG_ERRORESDisplay")
<div class="modal-footer">
    <span id="btnEliminaSIS_LOG_ERRORES" class="btn btn-primary" data-property-id="@Model.LogErrorId" data-url-action="@Url.Action("Delete", "SIS_LOG_ERRORES")">@ViewBag.LabelCreate</span>
</div>

