@model Entidades.ISisLogErrores
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewSIS_LOG_ERRORES" action="@Url.Action(ViewBag.Action, "SIS_LOG_ERRORES")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("ISIS_LOG_ERRORES")
    <div class="modal-footer">
        @*<span id="btnSaveSIS_LOG_ERRORES" class="btn btn-primary">@ViewBag.LabelCreate</span>*@
    </div>
</form>

