﻿@model Entidades.IEmpresas
@if (Model == null || String.IsNullOrEmpty(Model.Logo))
{
    <div class="form-group col-md-12">
        <div class="icap-input-file">
            <input type="file" name="fileLogoEmpresa" id="fileLogoEmpresa" size="1" class="input-file" />
            <span class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("IEmpresasLogo")</span> 
        </div>
    </div>
}
else
{
    <div class="form-group col-md-12"><span id="btnEmpresaLogo" class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("IEmpresasBtnCambiaLogoEmpresa")</span></div>
    <div class="form-group col-md-12" id="_viewLogoEmpresa" style="visibility:hidden">              
        <div class="icap-input-file">
            <input type="file" name="fileLogoEmpresa" id="fileLogoEmpresa" size="1" class="input-file" />
            <span class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("IEmpresasLogo")</span>            
        </div>
    </div>
}
