﻿@model IEnumerable<Entidades.IDepartamentos>
@using Entidades
<option selected="selected" value="0">@CIdioma.TraduceCadena("IEmpresasDepartamentosSelectDefault")</option>
@if(Model != null)
{
    foreach(IDepartamentos dep in Model)
    {
        <option value="@dep.IdDepartamento">@dep.Nombre</option>
    }
}