﻿@model IEnumerable<Entidades.IUnidades>
@using Entidades
<option selected="selected" value="0">@CIdioma.TraduceCadena("IEmpresasUnidadesSelectDefault")</option>
@if(Model != null)
{
    foreach(IUnidades unidad in Model)
    {
        <option value="@unidad.IdUnidad">@unidad.Unidad</option>
    }
}
