﻿@using Entidades
@model IEnumerable<IEmpresas>
<div>  
    <div class="panel" style="width:40%;">
        <div class="noBorde panel-heading"> <h3 id="hTreeTitleMenu" class="panel-title">@CIdioma.TraduceCadena("IEmpresasSeleccionaTittle")</h3></div>
        <div class="panel-body" style="width:100%;">
            
            <div class="form-group col-md-10">
                <label for="opAllIdiomas">@CIdioma.TraduceCadena("IEmpresasEmpresaSelect")</label>
                <select id="cmbEmpresas"
                        class="form-control"
                        data-url="@Url.Action("GetUnidades", "Empresas")"
                        data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")">
                    <option selected="selected" value="0">@CIdioma.TraduceCadena("IEmpresasEmpresaSelectDefault")</option>
                    @if(Model != null)
                    {
                        foreach(IEmpresas empresa in Model)
                        {
                            <option value="@empresa.IdEmpresa">@empresa.Empresa</option>
                        }
                    }
                </select>

            </div>
            <div class="form-group col-md-10">
                <label for="opAllIdiomas">@CIdioma.TraduceCadena("IEmpresasUnidadesSelect")</label>
                <select id="cmbUnidades" class="form-control" data-url="@Url.Action("GetDepartamentos", "Empresas")"></select>
            </div>
            <div class="form-group col-md-12" style="margin-bottom:40px!important;">
                <span id="btnCambiaEmpresa"
                      data-url="@Url.Action("CambiarEmpresaUser", "Empresas")"
                      data-url-inicio="@Url.Action("Index", "ICAP")"
                      data-empresa-novalida="@CIdioma.TraduceCadena("IEmpresasBtnEmpresaNoValida")"
                      class="btn btn-icap btn-right">@CIdioma.TraduceCadena("IEmpresasBtnCambiaEmpresa")</span>
            </div> 
            @*<div class="form-group col-md-10">
                <label for="opAllIdiomas">@CIdioma.TraduceCadena("IEmpresasDepartamentosSelect")</label>
                <select id="cmbDepartamentos" class="form-control"></select>
            </div>*@
            </div>
        </div>    
</div>