@model Entidades.IEmpresas
@Html.DisplayForModel("IEmpresasDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaEmpresas" class="btn btn-icap" data-property-id="@Model.IdEmpresa" data-url-action="@Url.Action("Delete", "Empresas")">@ViewBag.LabelDelete</span>
</div>

