@model Entidades.IEmpresas
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewEmpresas" action="@Url.Action(ViewBag.Action, "Empresas")" method="post" enctype="multipart/form-data" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IEmpresas")
    <div class="form-group col-md-12">
        <span id="btnSaveEmpresas" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>     
    <div class="modal-footer IcapFooter"></div>
</form>

