@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaClientes" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IClientes)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientes)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientes)model.Contenido.First()).RazonSocial)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientes)model.Contenido.First()).NombreComercial)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientes)model.Contenido.First()).Rfc)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientes)model.Contenido.First()).Telefono)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientes)model.Contenido.First()).Direccion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientes)model.Contenido.First()).CodigoPostal)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IClientes)model.Contenido.First()).Estatus)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IClientes child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdCliente" data-property-value="@child.IdCliente">
                    <td data-property="Empresa" data-property-value="@child.Empresa">@child.Empresa</td>
                    <td data-property="Unidad" data-property-value="@child.Unidad">@child.Unidad</td>
                    <td data-property="RazonSocial" data-property-value="@child.RazonSocial">@child.RazonSocial</td>
                    <td data-property="NombreComercial" data-property-value="@child.NombreComercial">@child.NombreComercial</td>
                    <td data-property="Rfc" data-property-value="@child.Rfc">@child.Rfc</td>
                    <td data-property="Telefono" data-property-value="@child.Telefono">@child.Telefono</td>
                    <td data-property="Direccion" data-property-value="@child.Direccion">@child.Direccion</td>
                    <td data-property="CodigoPostal" data-property-value="@child.CodigoPostal">@child.CodigoPostal</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult",Model);
}