@model Entidades.IClientes
<table id="tablaClientes" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.RazonSocial)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.NombreComercial)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Rfc)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Telefono)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Direccion)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.CodigoPostal)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.RazonSocial</td>
            <td>@Model.NombreComercial</td>
            <td>@Model.Rfc</td>
            <td>@Model.Telefono</td>
            <td>@Model.Direccion</td>
            <td>@Model.CodigoPostal</td>
            <td>@Model.Estatus</td>

        </tr>
    </tbody>
</table>

