﻿@using Entidades
@model IUsuarios

<div id="dvHeadIcap" class="dvHead">
    <div id="mnuIcon" class="col-md-1 dvIconMenu">
    </div>
    <div class="infoUser col-md-9">         
                @if(Model != null)
        {
            if(Model.Data != null)
            {
                <div class="infoUserData" style="background-image: url('@Url.Content(Model.Data.GetEmpresaLogo())');">
                    <h2>@Model.Data.GetInfoUser()</h2>
                    <h3>@Model.Data.GetInfoEmpresa()</h3>
                </div>
            }
        }       
    </div>
    <div id="dvToolsHead" class="col-md-2">        
        <div id="btnIdRefreshAll" class="col-md-1 dvIconMenu" style="background-image: url('@Url.Content("~/Content/Imagenes/Refresh.png")');"></div>
        <div id="btnIdLogOut" class="col-md-1 dvIconMenu" style="background-image: url('@Url.Content("~/Content/Imagenes/Logout.png")');padding-left:10px;"
             data-url="@Url.Action("LogOut", "ICAP")"
             data-url-ini="@Url.Action("Login", "Acceso")">
        </div>
        @*<div class="col-md-1 dvIconMenu" style="background-image: url('@Url.Content("~/Content/Imagenes/Engrane.png")');"></div>*@
    </div>    
</div>