﻿@model IEnumerable<Entidades.IMenus>
<div class="dvContenAllBody">
    <div id="mnuIcapMain" class="mnuIcap">@Html.Partial("MenuPrincipal", Model)</div>
    <div id="mnuIcapContenido" class="ContenidoIcap fondoLasecBody">
        <div id="dvTabulador" class="dvTabulador"></div>
        <div id="dvPageParentIcap" class="dvPageIcap"></div>
    </div>
</div> 