﻿@using Negocio
@model IIcapIndex
@{
    Layout = "~/Views/Shared/_Layout.cshtml";     
    ViewBag.Title = "ICAP";
}
@using Entidades
@section Scripts
{
    <script>
        window.onload = function (){InicializaRootMain(0);}
    </script>    
}
@if(Model.Usuario != null)
{
    @Html.Partial("IcapHeader", Model.Usuario)
}
@if(Model.Menus != null)
{
    @Html.Partial("IcapBody", Model.Menus)
}
<div id="IcapModalGlobal" data-url-modal="@Url.Action("IcapModal", "ICAP")"></div>
<div id="IcapModalGlobalMode" ></div>
<input type="hidden" id="inptManterSession" data-url="@Url.Action("MantenerSession", "ICAP")" />