﻿@model Entidades.IMenus
@using Entidades
@if(Model != null)
{   
    <li data-img="@Model.Imagen"  data-has-items="@Model.HasItems" data-img-arrow="@Url.Content("~/Content/Menu/arrow.gif")" class="liAux">
        <a data-url-mnu="@((!Model.HasItems)? String.Format("{0}/{1}", Model.Url,Model.IdMenu):"")"
           data-title-mnu="@Model.Titulo"
           data-name-mnu="@Model.Menu"
           data-parametros-mnu="@Model.Parametros"
           data-id-menu ="@Model.IdMenu"
           data-id-menu-padre="@Model.IdMenuPadre"
           data-img-tab="@Model.ImagenTab">@Html.Raw(Model.Titulo)</a>
        @if(Model.HasItems)
        {
            <ul>
                @foreach(IMenus mnu in Model.SubMenus)
                {
                    @Html.Partial("MenuItem", mnu)
                }
            </ul>
        }
    </li>
}