﻿@model IEnumerable<Entidades.IMenus>
@using Entidades
@if(Model != null)
{
    <div class="navigation">
        <ul class="nav">
            @foreach(IMenus mnu in Model)
            {
                @Html.Partial("MenuItem", mnu)
            }
        </ul>
    </div>
}