@model Entidades.ITipoCambios
@Html.DisplayForModel("ITipoCambiosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaTipoCambios" class="btn btn-icap" data-property-id="@Model.IdTipoCambio" data-url-action="@Url.Action("Delete", "TipoCambios")">@ViewBag.LabelDelete</span>
</div>

