@model Entidades.ITipoCambios
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewTipoCambios" action="@Url.Action(ViewBag.Action, "TipoCambios")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")    
    @Html.EditorForModel("ITipoCambios")
   <div class="form-group col-md-12">
	<span id="btnSaveTipoCambios" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
   </div>
   <div class="modal-footer IcapFooter"></div>
</form>

