﻿@model Entidades.IPedidosDetalles
<tr class="ui-rw-cat" data-property="IdPedidoDetalle" data-property-value="@Model.IdPedidoDetalle">
    <td data-property="IdInsumo" data-property-value="@Model.IdInsumo">@Model.Codigo</td>
    <td>@Model.Serie</td>
    <td><div class="cellTexto-xs">@Model.Descripcion</div></td> 
    <td data-property="Cantidad" data-object-value="@String.Format("Cantidad{0}", Model.IdInsumo)">
        <input type="number"
               class="form-control"
               value="@Model.Cantidad"
               min="0"
               id="@String.Format("Cantidad{0}", Model.IdInsumo)" />
    </td>
    <td>
        <div class="btnDelete btnGrid btnGridSmall btnRemoveTR"></div>
    </td>
    <td style="display:none" data-property="IdConcepto" data-property-value="@Model.IdConcepto"></td> 
</tr>
