﻿@model IEnumerable<Entidades.IPedidosDetalles>
@using Entidades
@if(Model != null)
{
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => model.First().Codigo)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => model.First().Serie)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => model.First().Descripcion)</div>
            </th>
            <th class="headCantidades">
                <div>@Html.LabelFor(model => model.First().Cantidad)</div>
            </th>
            <th class="btn-one"></th>
        </tr>
    </thead>
    <tbody id="tblInsumosByPedido">
        @foreach(IPedidosDetalles child in @Model)
        {
            @Html.Partial("_EditPedido", child);            
        }
    </tbody>
</table>
}