@model Entidades.IPedidos
@Html.DisplayForModel("IPedidosDisplay")
@if(Model.IdProyecto == null)
{
    <div class="modal-footer IcapFooter">
        <span id="btnEliminaPedidos" class="btn btn-icap" data-property-id="@Model.IdPedido" data-url-action="@Url.Action("Delete", "Pedidos")">@ViewBag.LabelDelete</span>
    </div>
}