@model Entidades.IPedidos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewPedidos" action="@Url.Action(ViewBag.Action, "Pedidos")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IPedidos")
    @if(Model.IdProyecto == null)
    {    
    <div class="form-group col-md-12">
        <span id="btnSavePedidos"
              class="btn btn-icap btn-right"
              data-pedido-vacio="@Entidades.CIdioma.TraduceCadena("NPedidosDetalleVacio")"
              data-insumo-duplicado="@Entidades.CIdioma.TraduceCadena("NPedidoInsumoDuplicado")"
              data-insumo-zero="@Entidades.CIdioma.TraduceCadena("NPedidoCantidadesZero")">@ViewBag.LabelCreate</span>
    </div>
    }
    <div class="modal-footer IcapFooter">        </div>
</form>

