@model Entidades.IAlmacenes
@Html.DisplayForModel("IAlmacenesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaAlmacenes" class="btn btn-icap" data-property-id="@Model.IdAlmacen" data-url-action="@Url.Action("Delete", "Almacenes")">@ViewBag.LabelDelete</span>
</div>

