@model Entidades.IAlmacenes
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewAlmacenes" action="@Url.Action(ViewBag.Action, "Almacenes")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IAlmacenes")
    <div class="form-group col-md-12">
        <span id="btnSaveAlmacenes" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
     </div>
     <div class="modal-footer IcapFooter"></div>
</form>

