@model Entidades.IClientesPersonal
   @Html.HiddenFor(model => model.IdPersonalCliente)
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Unidad)
    @if(Model != null)
    {
        @Html.TextBox("Unidad", Model.Unidad, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
    @Html.ValidationMessageFor(model => model.Unidad)
</div>
<div class="form-group col-md-6">
    <div class="fieldDestino">
        @Html.EditorFor(model => model.IdCliente)
    </div>
    @Html.LabelFor(model => model.IdCliente, new{@for = "IdClienteAutoComplete"})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdClienteAutoComplete",
        Url = @Url.Action("Top", "Clientes"),
        Metod = "post",
        Min = "1",
        Target = "IdCliente",
        PropValue = "IdCliente",
        PropDisplay = "NombreComercial",
        CampoSearch = "NombreComercial",
        CampoCondicion = "contenga",
        Value=(Model!=null)? Model.RazonSocial:String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdCliente)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Puesto)
    @Html.EditorFor(model => model.Puesto)
    @Html.ValidationMessageFor(model => model.Puesto)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Nombre)
    @Html.EditorFor(model => model.Nombre)
    @Html.ValidationMessageFor(model => model.Nombre)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ApellidoPaterno)
    @Html.EditorFor(model => model.ApellidoPaterno)
    @Html.ValidationMessageFor(model => model.ApellidoPaterno)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ApellidoMaterno)
    @Html.EditorFor(model => model.ApellidoMaterno)
    @Html.ValidationMessageFor(model => model.ApellidoMaterno)
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Telefono)
    @Html.EditorFor(model => model.Telefono)
    @Html.ValidationMessageFor(model => model.Telefono)
</div>
<div class="form-group col-md-12">    
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>
