﻿@model IEnumerable<Entidades.IEspecialidades>
@using Entidades
@if(Model != null && Model.Count()>0)    
{
    foreach(IEspecialidades especialidad in Model)
    {    
        <tr class="ui-rw-cat" data-property="IdTecnico" data-property-value="@especialidad.IdTecnico">
            <td data-property="IdGrado" data-property-value="@especialidad.IdGrado">@especialidad.Grado</td>
            <td>@especialidad.Nombre</td>
            <td>
                <div class="btnDelete btnGrid btnGridSmall btnRemoveTR"></div>
            </td>
            <td style="display:none" data-property="IdEspecialidad" data-property-value="@especialidad.IdEspecialidad"></td>
        </tr>
    }
}