﻿@model IEnumerable<Entidades.IEspecialidades>
@using Entidades
@*@if(Model != null && Model.Count() > 0)
{*@
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>      
                <th>
                    <div>@Html.LabelFor(model => ((IEspecialidades)model.First()).Grado)</div>
                </th>                       
                <th>
                    <div>@Html.LabelFor(model => ((IEspecialidades)model.First()).Nombre)</div>
                </th> 
                <th class="btn-one">
                </th>               
            </tr>
        </thead>
        <tbody id="tbodyTecnicosEspecialidades">
            @Html.Partial("_EspecialidadTR", Model)
           @*@foreach(IEspecialidades especialidad in Model)
           {
               @Html.Partial("_EspecialidadTR",especialidad)
           }*@
        </tbody>
    </table>
@*}  *@
