@model Entidades.ITecnicos
@Html.DisplayForModel("ITecnicosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaTecnicos" class="btn btn-icap" data-property-id="@Model.IdEmpleado" data-url-action="@Url.Action("Delete", "Tecnicos")">@ViewBag.LabelDelete</span>
</div>

