@model Entidades.ITecnicos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewTecnicos" action="@Url.Action(ViewBag.Action, "Tecnicos")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")    
    @Html.EditorForModel("ITecnicos")
    <div class="form-group col-md-12">
        <span id="btnSaveTecnicos"
              class="btn btn-icap btn-right"
              data-especialidad-duplicado="@Entidades.CIdioma.TraduceCadena("ITecnicosEspecialidadRepetida")"
              data-especialidad-zero="@Entidades.CIdioma.TraduceCadena("ITecnicosSinEspecialidades")"
              data-no-empleado="@Entidades.CIdioma.TraduceCadena("ITecnicosNoEmpleadoSeleccionado")">
            @ViewBag.LabelCreate
        </span>
     </div>
     <div class="modal-footer IcapFooter"></div>
</form>

