﻿@model IEnumerable<Entidades.ITecnicos>
@using Entidades
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>           
            <th>
                <div>@Html.LabelFor(model => ((ITecnicos)model.First()).NombreEmpleado)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((ITecnicos)model.First()).NombreGrado)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((ITecnicos)model.First()).NombreEspecialidad)</div>
            </th>                     
        </tr>
    </thead>
    <tbody id="tblAllTecnicosByEmpresa">

        @foreach(ITecnicos child in @Model.OrderBy(x=>x.NombreEmpleado))
        {
            <tr class="ui-rw-cat" data-property="IdOTPersonal" data-property-value="0">
                <td data-property="IdTecnico" data-property-value="@child.IdTecnico">@child.NombreEmpleado</td>
                <td>@child.NombreGrado</td>
                <td>@child.NombreEspecialidad</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<span class="btn btn-primary" id="btnAddTecnicosSeleccionados">@Entidades.CIdioma.TraduceCadena("IOTAddSeleccionados")</span>
