@model Entidades.IMovimientosDetalles
<table id="tablaMovimientosDetalles" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => Model.IdMovimiento)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdInsumo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Cantidad)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Precio)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Observacion)</div>
</th> 
                   
            </tr>
        </thead>
    <tbody>
	<tbody>          
             <tr>
		 <td>@Model.IdMovimiento</td>
<td>@Model.IdInsumo</td>
<td>@Model.Cantidad</td>
<td>@Model.Precio</td>
<td>@Model.Observacion</td>
                      
            </tr>            
        </tbody>         
</table>

