@using Entidades
@model  IMovimientos
@if (@Model != null && @Model.DetalleMovimientos != null && @Model.DetalleMovimientos.Count() > 0)
{
    @*<tr>*@
        <td></td>
        <td colspan="9">
            <table id="tablaMovimientosDetalles" class="table table-condensed table-bordered">
                <thead class="grid-Head  grid-Head-Detalle navbar-default">
                    <tr>
                        <th>
                            <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.DetalleMovimientos.First()).Cantidad)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.DetalleMovimientos.First()).Unidad)</div>
                        </th>
                        @if (Model.Tipo == (int)Negocio.NMovimientos.eTipoMovimientos.Entrada)
                        {
                            <th>
                                <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.DetalleMovimientos.First()).Precio)</div>
                            </th>
                            <th>
                                <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.DetalleMovimientos.First()).Moneda)</div>
                            </th>
                        }
                        <th>
                            <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.DetalleMovimientos.First()).Codigo)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.DetalleMovimientos.First()).Descripcion)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.DetalleMovimientos.First()).Observacion)</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IMovimientosDetalles child in @Model.DetalleMovimientos)
                    {
                        <tr class="ui-rw-cat" data-property="IdMovimientoDetalle" data-property-value="@child.IdMovimientoDetalle">
                            <td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad</td>
                            <td>@child.UnidadMedidaDescripcion</td>
                            @if (Model.Tipo == (int)Negocio.NMovimientos.eTipoMovimientos.Entrada)
                            {
                                <td data-property="Precio" data-property-value="@child.Precio">@child.Precio.ToString("n4")</td>
                                <td >@child.CodigoMoneda</td>
                            }
                            <td data-property="Codigo" data-property-value="@child.IdInsumo">@child.Codigo</td>
                            <td data-property="Descripcion" data-property-value="@child.Descripcion"><span class="LargeTxt">@child.Descripcion</span></td>
                            <td data-property="Observacion" data-property-value="@child.Observacion">@child.Observacion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    @*</tr>*@
}
else
{
    <td></td>
    <td colspan="7">
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Entidades.CIdioma.TraduceCadena("ViewMvcNoResult")
        </div>
        </td>
        }

