@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaMovimientosDetalles" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.Contenido.First()).IdMovimiento)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.Contenido.First()).IdInsumo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.Contenido.First()).Cantidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.Contenido.First()).Precio)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.Contenido.First()).Observacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.Contenido.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientosDetalles)model.Contenido.First()).Descripcion)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IMovimientosDetalles child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdMovimientoDetalle" data-property-value="@child.IdMovimientoDetalle">
                    <td data-property="IdMovimiento" data-property-value="@child.IdMovimiento">@child.IdMovimiento</td>
                    <td data-property="IdInsumo" data-property-value="@child.IdInsumo">@child.IdInsumo</td>
                    <td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad</td>
                    <td data-property="Precio" data-property-value="@child.Precio">@child.Precio</td>
                    <td data-property="Observacion" data-property-value="@child.Observacion">@child.Observacion</td>
                    <td data-property="Codigo" data-property-value="@child.Codigo">@child.Codigo</td>
                    <td data-property="Descripcion" data-property-value="@child.Descripcion">@child.Descripcion</td>

                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

