@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="@String.Format("{0}{1}","tabla",Model.Nombre)" class="table table-condensed table-bordered tblSelectCatalogo">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Proyecto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Cotizacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).RazonSocial)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Usuario)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Fecha)</div>
                </th>
                @*<th>
                        <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Valor)</div>
                    </th>

                    <th>
                        <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Exito)</div>
                    </th>*@
                @*<th>
                        <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).DescuentoMonto)</div>
                    </th>
                *@
                @*<th>
                        <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Iva)</div>
                    </th>*@
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).SubTotal)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Total)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizaciones)model.Contenido.First()).Moneda)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(ICotizaciones child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdCotizacion" data-property-value="@child.IdCotizacion">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="IdUnidad" data-property-value="@child.IdUnidad">@child.Unidad</td>
                    <td>@child.Proyecto</td>
                    <td>@child.Cotizacion</td>
                    <td data-property="IdCliente" data-property-value="@child.IdCliente">@child.RazonSocial</td>
                    <td data-property="IdUsuario" data-property-value="@child.IdUsuario">@child.Usuario.NombreEmpleado</td>
                    <td data-property="Fecha" data-property-value="@child.Fecha">@child.Fecha.ToString("d")</td>
                    @*<td data-property="IdTipoCambio" data-property-value="@child.IdTipoCambio">@child.Valor.ToString("c4")</td>
                        <td data-property="Exito" data-property-value="@child.Exito">@String.Format("{0} %", @child.Exito.ToString("n4")) </td>*@
                    @*<td data-property="DescuentoMonto" data-property-value="@child.DescuentoMonto">@child.DescuentoMonto.ToString("c4")</td>
                        <td data-property="SubTotal" data-property-value="@child.SubTotal">@child.SubTotal.ToString("c4")</td>*@
                    @*<td data-property="IdIva" data-property-value="@child.IdIva">@String.Format("{0} %", @child.Iva.ToString("n4"))</td>*@
                    <td data-property="SubTotal" data-property-value="@child.SubTotal">@child.SubTotal.ToString("c4")</td>
                    <td data-property="Total" data-property-value="@child.Total">@child.Total.ToString("c4")</td>
                    <td class="tipocambios" data-property="IdMoneda" data-property-value="@child.IdMoneda"><i>@child.Moneda</i></td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

