@model Entidades.ICotizaciones
<table id="tablaCotizaciones" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Empresa)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Unidad)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.RazonSocial)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Fecha)</div>
            </th>
            @*<th>
                <div>@Html.LabelFor(model => Model.Exito)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.PorcentajeDescuento)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.DescuentoMonto)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.SubTotal)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Iva)</div>
            </th>*@ 
            <th>
                <div>@Html.LabelFor(model => Model.Total)</div>
            </th>                       
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Empresa</td>
            <td>@Model.Unidad</td>
            <td>@Model.RazonSocial</td>
            <td>@Model.Fecha.ToString("d")</td>
            @*<td>@Model.Exito.ToString("p2")</td>
            <td>@Model.PorcentajeDescuento.ToString("p2")</td>
            <td>@Model.DescuentoMonto.ToString("c4")</td>
            <td>@Model.SubTotal.ToString("c4")</td>
            <td>@Model.Iva.ToString("p2")</td>*@
            <td>@Model.Total.ToString("c4")</td>
        </tr>
    </tbody>
</table>

