﻿/*.ui-autocomplete 
{
    max-height: 20px;
    overflow-y: auto;
     prevent horizontal scrollbar 
    overflow-x: hidden;
  }*/
.ui-autocomplete-loading 
{
    background-repeat: no-repeat !important;
    background-size: 100px!important;  
    background-position:  right center!important;
    background-image: url("../Imagenes/ICAPLoadingCatalogos.gif") !important;
    background-color: #fff!important;
  }
.inputLoading 
{
    background-repeat: no-repeat !important;
    background-size: 100px!important;  
    background-position:  right center!important;
    background-image: url("../Imagenes/ICAPLoadingCatalogos.gif") !important;
    background-color: #fff!important;
    padding-right:0px!important;
  }
.autocompleteIcap
{
    background-repeat: no-repeat !important;
    background-size:30px!important;    
    background-position:  right center!important;
    background-image: url("../Imagenes/AutoComplete.png");
    background-color: #fff!important;

}
/*.ui-menu-item a
{
  cursor:pointer; 
  background:none!important;
  background-color:#53AEFF !important; 
  display:block;
  width:100%; 
  height:inherit;
  font-weight:bold; 
}*/

.fieldDestino 
{
   height:0px;
   overflow:hidden;
}
.my-form-control 
{
  font-size:85% !important;
    padding-bottom:3px;
    padding-top:3px;
    padding-left:8px;
    padding-right:0px;
     height: 30px;
  display: block;
  width: 100%; 
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;  
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.my-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.my-form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.my-form-control:-ms-input-placeholder {
  color: #999;
}
.my-form-control::-webkit-input-placeholder {
  color: #999;
}
.my-form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.my-form-control[disabled],
.my-form-control[readonly],
fieldset[disabled] .my-form-control {
  background-color: #eee;
  opacity: 1;
}
.my-form-control[disabled],
fieldset[disabled] .my-form-control{
  cursor: not-allowed;
}