﻿table.table 
{
    font-size:90%;
}

table tr.ui-rw-cat:nth-child(even) 
{
    background-color: #F4F4F4;
    color:#000;
}
 
table tr.ui-rw-cat:nth-child(odd)
{
    background-color: #ffffff;
    color:#000;
}

 table tr.ui-rw-cat:nth-child(even):hover,table tr.ui-rw-cat:nth-child(odd):hover 
 {
    background-color: #C6E4FF;
    color:#000 !important;    
    cursor:pointer;
}  
 
.trSeleccionado , table2 thead tr 
{
    background-color:#C6E4FF !important;
    color:#000 !important;
  
}
tr.trRepetido 
{
    background-color:#F7D358 !important;
    font-weight:bold;
}
span.LargeTxt 
{
    display:block;
        text-align:justify;
}
/*Colores grid collection all system*/
.grid-Head
{    
    text-align:center !important;    
    color: #fff  !important;
    background-color: #286090  !important;
    border-color: #204d74  !important;
}
.grid-Head div
{    
    text-align:center !important;    
    color: #fff  !important;
    background-color: #286090  !important;
    border-color: #204d74  !important;
}
.grid-Head th
{
    background-color: #286090  !important;
    border-color: #286090  !important;
}
/*Head red*/
.grid-HeadRed th
{
    background-color: #C0392B  !important;
    border-color: #C0392B  !important;

}
.grid-HeadRed div
{
    text-align:center !important;    
    color: #fff  !important;
    background-color: #C0392B  !important;
    border-color: #C0392B  !important;
}
/*Colores grid collection all system*/
/*Estilo boot*/
td.grid-Head-Detalle-boot
{
    background-color: #286090  !important;
}
.grid-Head-Detalle-boot th
{
    background-color: #286090  !important;
    border-color: #286090  !important;
}

.grid-Head-Detalle-boot div
{
    color: #fff  !important;
    background-color: #286090  !important;
    border-color: #204d74  !important;
}
/*Estilo boot*/
/*Estilo azul claro*/
.grid-Head-Detalle th
{    
    background-color:#53AEFF  !important;/*#003e7e;*/
    border-color:#53AEFF  !important;/*#003e7e;*/;
}

.grid-Head-Detalle div
{    
    color:#fff;
     background-color:#53AEFF  !important;/*#003e7e;*/
}
/*Estilo azul claro*/

table.table td
{
    text-align:center!important;    
}
.btnGrid 
{        
    width:35px;
    height:35px;
    border-radius:100%;
    background-color:#53AEFF !important;/*#003e7e;*/
    background-repeat:no-repeat;
    background-size:25px;
    background-position:center;   
    cursor:pointer;
}
.btnGridSmall 
{        
    width:22px;
    height:22px;
    border-radius:100%;
    background-color:#53AEFF !important;/*#003e7e;*/
    background-repeat:no-repeat;
    background-size:16px;
    background-position:center;   
    cursor:pointer;
}
.btnGridSmallLoading 
{            
    background-color:none!important;
    background-repeat:no-repeat;
    background-size:80px;
    background-position:center;   
    cursor:pointer;
    background-image: url("../Imagenes/ICAPLoadingCatalogos.gif") !important;
}

.btnGridDetalle 
{
    background-image: url('../Imagenes/detail.png')!important;
}
.btnGridDetalleHide 
{
    background-image: url('../Imagenes/Nodetail.png')!important;
    background-size:140%;
}
.btnAddInsumo 
{
    background-image: url('../Imagenes/addItem.png');
}
.btnRemoveTR 
{
   background-image: url('../Imagenes/delete2.png');
}
.btnAddItem 
{
   background-image: url('../Imagenes/addItem.png');
}
.btnHelpToolbarBuscar 
{
    background-repeat:no-repeat;
    background-size:20px;
    background-position:center;   
    background-image: url('../Imagenes/help.png');
}
.cellTotales 
{
    border-left:1px solid #fff !important ;
    border-bottom:1px solid #fff !important ;
    
}
.cellTexto-xs 
{
    text-align:justify;
    font-size:90%
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th 
{
   background-color: #C6E4FF;
}
.colTotales 
{
    background-color:#cac2c2;
    font-weight:bold;
}
.colZebra 
{
   background-color:#C6E4FF;      
}
.colNoZebra
{    
}

.titlePopConcepto 
{
    font-weight:bold;
    color:#FFF;
    background-color: #c9302c;
    border-color: #ac2925;
}
.popConceptoError 
{
    font-weight:bold;
    color: #a94442;
    font-style:italic;
    background-color: #f2dede;
    border-color: #ebccd1;    
    overflow:auto;
}
/*.arrowConceptoError 
{
   background-color: #f2dede;
    border-color: #ebccd1;
}*/