﻿.dvHead 
{
    height:50px;
    background-color:#333333;
    background-color:#000;
    width:100%;
    color:#fff;
}
.dvIconMenu 
{           
    width:50px;
    height:50px;
    background-repeat:no-repeat;
    background-size:30px;
    background-position:center;           
    background-image: url("../Imagenes/menuIcap.jpg") ;
    background-color:#000;  
}
div.dvIconMenu:hover 
{
    cursor:pointer;
}
.infoUser 
{  
   height:inherit;
   padding:0px !important;
}
.infoUserData 
{   
    background-color:#000;
    color:#fff;
    width:100%;
    height:inherit;    
    background-repeat:no-repeat;
    background-size:30px;
    background-position:left center;           
   /* background-image: url("../Imagenes/user.png") ;*/
    padding-left:60px !important;
    display:table;
}
div.infoUserData h2, div.infoUserData h3
{   
    display:block!important;
    height:auto!important;
    width:auto!important;   
    margin:0px;
    margin-top:7px;
}
div.infoUserData h2 
{
   font-size:100%;
}
div.infoUserData h3
{
   font-size:90%;
}
