﻿.icap-input-file 
{
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.icap-input-file .input-file 
{
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
}

.btnUploadFile 
{   
    background-repeat: no-repeat !important;
    background-size:30px!important;    
    background-position:  left center!important;
    background-image: url("../Imagenes/AutoComplete.png")!important;
    background-color: #fff!important;   
    padding-left:35px;
    cursor:pointer
}
.TxtCantidades 
{
    text-align:right !important;
    width:75px!important;
}
.SimboloMoneda 
{
    background-repeat: no-repeat !important;
    background-size:14px!important;    
    background-position:  left center!important;
    background-image: url("../Imagenes/PesosIcon.png")!important;
    text-align:right !important;
   /* background-color: #fff!important;*/
}
.SimboloPorcentaje
{        
    background-repeat: no-repeat !important;
    background-size:10px!important;    
    background-position:  right center!important;
    background-image: url("../Imagenes/SimboloPorcentajeIcon.png")!important;
    text-align:right !important;   
}
.rptVisor 
{
   /*height: 400px;
   width: 100%;
   display:block;
   border:none;
   overflow:hidden;
   overflow-x:no-display;
   overflow-y:no-display; */ 
   visibility:hidden;
}
.tipocambios > i 
{    
    font-size:85%;
    font-weight:bold;
    font-style:normal;
}
tr.tipocambios > td i 
{    
    font-size:85%;
    font-weight:bold;
    font-style:normal;
}