﻿
 @media (max-width: 600px) 
 {
      .fondoLasec
      {
         width:100%;
         background-image:none
      }
      .frmLoggin 
    {  
        position:absolute;
        left:0px;
        top:0px; 
        width:100%;
    }
    div.frmLoggin input,  div.frmLoggin select
    {
        max-width:200px;
    }
    div.alert 
    {
            max-width:200px!important;
    }
}
 @media (min-width: 601px) 
 {
         .frmLoggin 
        {  
            position:absolute;
            left:35%;
            top:85px; 
        }
         .fondoLasec 
        {                        
            background-repeat:no-repeat;  
            background-size:100%;            
            background-position:left center;
            background-image: url("../Imagenes/fondo.jpg") ;
        }
     div.frmLoggin input,  div.frmLoggin select
    {
        max-width:200px;
    }   
}