﻿.ModalTitle,div.modal-header /*,div.panel-heading */
{
    background-color:#53AEFF !important;/*#003e7e;*/
    color:#000 !important;   
    border-radius:  6px 6px 0px 0px!important;
}
    div.ModalTitle:hover 
    {
        cursor:move;
    }
.ui-datepicker-title ,.ui-datepicker-header
{
    background-image:none;
    background-color:#53AEFF !important;/*#003e7e;*/
}
.ui-dialog-titlebar 
{
  background-color:#003e7e;
  color:#fff;
}
.ui-icon-closethick-modal
{
      background-color:#003e7e;
      color:#fff;
}

.ui-icon.ui-icon-DialogICAPCloseButton 
{    
    background-image: url('Menu/close_icon_new.png');
    background-size:16px;
}
div.panel-heading 
{
    background-color:#53AEFF !important;
   /* color:#f00 !important;  */ 
}

.IcapFooter 
{
    border-top:none !important;
}
div.modal-body form label, div.modal-body form input.form-control, div.modal-body form input.my-form-control 
{
    font-size:85% !important;
    padding-bottom:3px !important;
    padding-top:3px !important;
    padding-left:8px!important;
    padding-right:0px!important;
     height: 30px!important;
}
div.modal-body form label 
{        
    height:auto!important;
    padding:0px!important;
}

.noBorde 
{
   border-radius:0px!important;
   background-color:#000!important;   
}
.imgModalIcon 
{
    background-repeat:no-repeat;
    background-size:25px;
    background-position:center left;
    padding-left:39px!important;
}