﻿ul.ulPersonalCliente 
{
border:1px solid #53AEFF;
border-radius:4px;
height:100px;
overflow:auto;
background-color:#eee;
}
ul.ulPersonalCliente li 
{     
/*border-bottom:1px solid #53AEFF!important;
border-top:1px solid #53AEFF!important;*/
background-color:#eee;
height:24px;
font-size:100%;                
}
ul.ulPersonalCliente li.personalActivo 
{
background-color:#F7D358;
}
div.dvHidden 
{
    display:none;
}
.CellResaltada
{
    background-color:#F7D358!important;    
    font-weight:bold;
}
tr.trActivo 
{
    background-color:#F7D358!important;    
}
/*tr.trActivo :hover
{
    background-color:#53AEFF;    
}*/
div.dvAllTecnicos
{
    border:1px solid #53AEFF;
    height:400px;
    display:block;
    overflow-y: auto;    
    overflow-x: hidden;
}