﻿@model IEnumerable<Entidades.IContratosDetalles2>
@using Entidades
@if(Model!= null)
{
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>          
            <th>
                <div>@Html.LabelFor(model => (model.First()).Concepto)</div>
            </th>  
            <th>
                <div>@Html.LabelFor(model => (model.First() ).Descripcion)</div>
            </th>           
            <th>
                <div>@Html.LabelFor(model => (model.First() ).Ubicacion)</div>
            </th> 
                              
            <th>
                <div>@Html.LabelFor(model => (model.First() ).Cantidad)</div>
            </th>           
            <th>
                <div>@Html.LabelFor(model => (model.First()).CantidadProgramada)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).CantidadEjecutada)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).Ots)</div>
            </th>            
        </tr>
    </thead>
    <tbody id="tAllConceptosInsumos">
        @foreach(IContratosDetalles2 concepto in Model)
        {
            <tr>               
                <td><div>@concepto.Concepto</div></td>    
                <td><div>@concepto.Descripcion</div></td>
                <td><div>@concepto.Ubicacion</div></td>                            
                <td><div>@concepto.Cantidad.ToString("n0")</div></td>               
                <td><div>@concepto.CantidadProgramada.ToString("n4")</div></td> 
                <td><div>@concepto.CantidadEjecutada.ToString("n4")</div></td> 
                <td><div>@concepto.Ots.ToString("n0")</div></td> 
            </tr>           
        }
    </tbody>
</table>
}
else
{
    @Html.Partial("_NoResultGeneric")
}