﻿@using Entidades
<div class="form-group col-md-6">
    <label>@CIdioma.TraduceCadena("IProyectosFechaInicial")</label>
    <input name="FechaInicial" id="FechaInicial" value="@DateTime.Now.ToString("d")" class="form-control icapDatePicker" />
</div>
<div class="form-group col-md-6">
    <label>@CIdioma.TraduceCadena("IProyectosFechaFinal")</label>
    <input name="FechaFinal" id="FechaFinal" value="@DateTime.Now.ToString("d")" class="form-control icapDatePicker" />
</div>
<div class="form-group col-md-12">
    <span id="btnConsultaReporte"
          class="btn btn-primary btn-right">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </span>
    </div>
<div class="modal-footer IcapFooter"></div>