@model Entidades.IProyectos
<table  class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>           
            <th>
                <div>@Html.LabelFor(model => Model.Proyecto)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Descripcion)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.RazonSocial)</div>
            </th> 
            <th>
                <div>@Html.LabelFor(model => Model.Ubicacion)</div>
            </th>                       
        </tr>
    </thead>
    <tbody>
    <tbody id="tblSingleProyecto">
        <tr data-property="IdProyecto" data-property-value="@Model.IdProyecto">
            <td data-property="Proyecto" data-property-value="@Model.Proyecto">@Model.Proyecto</td>
            <td>@Model.Descripcion</td>
            <td data-property="RazonSocial" data-property-value="@Model.RazonSocial">@Model.RazonSocial</td>
            <td>@Model.Ubicacion</td>
            <td style="display:none" data-property="IdCliente" data-property-value="@Model.IdCliente"></td>
        </tr>
    </tbody>
</table>

