@using Entidades
@model Entidades.IUICatalogo
@{
    IUICatalogoProyectos Costos = new CUICatalogoProyectos(Model);
}
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="@String.Format("{0}{1}","tabla",Model.Nombre)" class="table table-condensed table-bordered tblSelectCatalogo">
        <thead class="grid-Head navbar-default">
            <tr>
                <th data-property="Empresa">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).Empresa)</div>
                </th>
                <th data-property="Unidad">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).Unidad)</div>
                </th>
                <th data-property="Proyecto">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).Proyecto)</div>
                </th>
                <th data-property="Descripcion">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).Descripcion)</div>
                </th>
                <th data-property="Ubicacion">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).Ubicacion)</div>
                </th>
                <th data-property="FechaInicial">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).FechaInicial)</div>
                </th>
                <th data-property="FechaFinal">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).FechaFinal)</div>
                </th>
                <th data-property="RazonSocial">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).RazonSocial)</div>
                </th>
                <th data-property="Cotizacion">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).Cotizacion)</div>
                </th>
                <th data-property="AllContratos">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).AllContratos)</div>
                </th>
                <th data-property="EstatusProyecto">
                    <div>@Html.LabelFor(model => ((IProyectos)model.Contenido.First()).EstatusProyecto)</div>
                </th>
                @if(Costos.Monedas!= null)
                {                
                    foreach(IProyectosCostos moneda in Costos.Monedas)
                    {
                        <th>
                            <div>
                                @moneda.Codigo
                            </div>
                        </th>
                    }    
                    <th>
                        <div data-prefijo="@CIdioma.TraduceCadena("ITotalMonedaDinamica")">@CIdioma.TraduceCadena("ITotalMonedaDinamica")</div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(IProyectos child in @Model.Contenido.Where(e=> ((IProyectos)e ).EstatusProyecto!= CProyectos.PROYECTO_RSMN_COSTOS))
            {
                <tr class="ui-rw-cat" data-property="IdProyecto" data-property-value="@child.IdProyecto">
                    <td data-property="Empresa">@child.Empresa</td>
                    <td data-property="Unidad">@child.Unidad</td>
                    <td data-property="Proyecto" data-property-value="@child.Proyecto"><div class="celltexto-xs">@child.Proyecto</div></td>
                    <td data-property="Descripcion" data-property-value="@child.Descripcion"><div class="cellTexto-xs">@child.Descripcion</div></td>
                    <td data-property="Ubicacion" data-property-value="@child.Ubicacion"><div class="cellTexto-xs">@child.Ubicacion</div></td>
                    <td data-property="FechaInicial" data-property-value="@child.FechaInicial">@child.FechaInicial.ToString("d")</td>
                    <td data-property="FechaFinal" data-property-value="@child.FechaFinal">@child.FechaFinal.ToString("d")</td>
                    <td data-property="RazonSocial">@child.RazonSocial</td>
                    <td data-property="Cotizacion">@child.Cotizacion</td>
                    <td data-property="AllContratos">
                        @if(!String.IsNullOrEmpty(child.AllContratos))
                        {
                            <div class="cellTexto-xs">
                                @String.Format("{0} Contratos", child.AllContratos.Split(',').Count())
                            </div>
                        }
                    </td>
                    <td data-property="EstatusProyecto">@child.EstatusProyecto</td>
                    @if(Costos.Monedas !=null)
                    {                    
                        foreach(IProyectosCostos moneda in Costos.Monedas)
                        {
                            <td>
                                <div class="celltexto-xs">
                                    @Costos.ByMoneda(moneda, child).ToString("c4")
                                </div>
                            </td>
                        }    
                        <td><div id="@String.Format("dvTotalPrCST{0}",child.IdProyecto)">0</div></td>
                    }
                </tr>
            }
        </tbody>
        @if(Costos.Monedas!=null)
        {        
            <tfoot class="grid-head">
                <tr>
                    <td colspan="10" style="border:none;" class="cellSpcDin"></td>
                    <td class="grid-Head"> <div style="font-size:80%!important;font-weight:bold">@CIdioma.TraduceCadena("ITotalImportesPagina")</div></td>
                    @foreach(IProyectosCostos moneda in Costos.Monedas)
                    {
                        <td>
                            <div class="celltexto-xs">
                                <b> @Costos.TotalPaginaByMoneda(moneda).ToString("c4")</b>
                            </div>
                        </td>
                    }
                    <td><div id="dvTotalPaginaCostosTC"></div></td>
                </tr>
                <tr>
                    <td colspan="10" style="border:none;" class="cellSpcDin"></td>
                    <td class="grid-Head"><div style="font-size:80%!important;font-weight:bold">@CIdioma.TraduceCadena("ITotalImportesGloabal")</div></td>
                    @foreach(IProyectosCostos moneda in Costos.Monedas)
                    {
                        <td>
                            <div class="celltexto-xs">
                                <b>@Costos.TotalGlobalByMoneda(moneda).ToString("c4")</b>
                            </div>
                        </td>
                    }
                    <td><div id="dvTotalGeneralCostosTC"></div></td>
                </tr>
            </tfoot>
        }
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}