@model Entidades.IOrdenesTrabajo
<table id="tablaOrdenesTrabajo" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>

            <th>
                <div>@Html.LabelFor(model => Model.Folio)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Ubicacion)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.FechaInicio)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.FechaFin)</div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Folio</td>
            <td>@Model.Ubicacion</td>
            <td>@Model.FechaInicio</td>
            <td>@Model.FechaFin</td>
        </tr>
    </tbody>
</table>

