@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaOrdenesTrabajo" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).Proyecto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).RazonSocial)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).Contrato)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).Folio)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).Actividad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).EstatusOT)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).PrioridadOT)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).TipoOT)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).FechaInicio)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).FechaFin)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IOrdenesTrabajo child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="@child.IdOrdenTrabajo">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td>@child.Unidad</td>
                    <td data-property="IdProyecto" data-property-value="@child.IdProyecto">@child.Proyecto</td>
                    <td>@child.RazonSocial</td>
                    <td>@child.Contrato</td>
                    <td data-property="Folio" data-property-value="@child.Folio">@child.Folio</td>
                    <td data-property="IdActividad" data-property-value="@child.IdActividad">@child.Actividad</td>
                    <td data-property="IdEstatus" data-property-value="@child.IdEstatus">@child.EstatusOT</td>
                    <td data-property="IdPrioridad" data-property-value="@child.IdPrioridad">@child.PrioridadOT</td>
                    <td data-property="IdTipo" data-property-value="@child.IdTipo">@child.TipoOT</td>
                    <td data-property="FechaInicio" data-property-value="@child.FechaInicio">@child.FechaInicio.ToString("g")</td>
                    <td data-property="FechaFin" data-property-value="@child.FechaFin">@child.FechaFin.ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}