@model Entidades.IFamilias
@Html.HiddenFor(model => model.IdFamilia)
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Familia)
    @Html.EditorFor(model => model.Familia)
    @Html.ValidationMessageFor(model => model.Familia)
</div>
<div class="form-group col-md-8">
    @Html.LabelFor(model => model.Descripcion)
    @Html.EditorFor(model => model.Descripcion)
    @Html.ValidationMessageFor(model => model.Descripcion)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>