@model Entidades.IConceptosInsumos
@Html.DisplayForModel("IConceptosInsumosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaConceptosInsumos" class="btn btn-icap" data-property-id="@Model.IdConceptoInsumo" data-url-action="@Url.Action("Delete", "ConceptosInsumos")">@ViewBag.LabelDelete</span>
</div>

