@model Entidades.IConceptosInsumos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewConceptosInsumos" action="@Url.Action(ViewBag.Action, "ConceptosInsumos")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel("IConceptosInsumos")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveConceptosInsumos" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

