@model Entidades.ITipoCambios
<table id="tablaTipoCambios" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>                    
            <th>
                <div>@Html.LabelFor(model => Model.FechaInicio)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.FechaFin)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.MonedaOrigen)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.MonedaDestino)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Valor)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>                       
            <td>@Model.FechaInicio.ToString("d")</td>
            <td>@Model.FechaFin.ToString("d")</td>
            <td>@Model.MonedaOrigen</td>
            <td>@Model.MonedaDestino</td>
            <td>@Model.Valor.ToString("n4")</td>
            <td>@Html.Partial("_Estatus",@Model.Estatus)</td>
        </tr>
    </tbody>
</table>