@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaTipoCambios" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((ITipoCambios)model.Contenido.First()).Empresa)</div>
                </th>               
                <th>
                    <div>@Html.LabelFor(model => ((ITipoCambios)model.Contenido.First()).FechaInicio)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ITipoCambios)model.Contenido.First()).FechaFin)</div>
                </th>
                <th><div><label>@Entidades.CIdioma.TraduceCadena("ITipoCambioDiasVigencia")</label></div></th>
                <th>
                    <div>@Html.LabelFor(model => ((ITipoCambios)model.Contenido.First()).MonedaOrigen)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ITipoCambios)model.Contenido.First()).Valor)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ITipoCambios)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(ITipoCambios child in @Model.Contenido)
            {
                <tr class="ui-rw-cat tipocambios" data-property="IdTipoCambio" data-property-value="@child.IdTipoCambio">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>                    
                    <td data-property="FechaInicio" data-property-value="@child.FechaInicio">@child.FechaInicio.ToString("d")</td>
                    <td data-property="FechaFin" data-property-value="@child.FechaFin">@child.FechaFin.ToString("d")</td>
                    <td>@(((child.FechaFin - child.FechaInicio).TotalDays + 1).ToString("n0"))</td>
                    <td data-property="IdMonedaOrigen" data-property-value="@child.IdMonedaOrigen">@child.MonedaOrigen</td>
                    <td data-property="Valor" data-property-value="@child.Valor">@Html.Raw(String.Format("{0} <i>{1}</i>", child.Valor.ToString("n4"), child.CodigoMonedaDestino))</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult");
}