﻿@model Entidades.IEmpleados
@Html.HiddenFor(model => model.IdEmpleado)
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Unidad)
    @if(Model != null)
    {
        @Html.TextBox("Unidad", Model.Unidad, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div id="dvIdDepartamento" class="fieldDestino">
    @Html.EditorFor(model => model.IdDepartamento)
</div>
<div class="form-group col-md-8">
    @Html.LabelFor(model => model.IdDepartamento, new
{
    @for = "IdDepartamentoAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdDepartamentoAutoComplete",
        Url = @Url.Action("TopByEmpresa", "Departamentos"),
        Metod = "post",
        Min = "1",
        Target = "IdDepartamento",
        PropValue = "IdDepartamento",
        PropDisplay = "Nombre",
        CampoSearch = "Nombre",
        CampoCondicion = "contenga",
        FnOnSelect ="OnSelectEmpleado",
        Value = (Model != null && !String.IsNullOrEmpty(Model.DepartamentoNombre)) ? String.Format("[{0}] {1}",Model.Unidad, Model.DepartamentoNombre) : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdDepartamento)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Matricula)
    @Html.EditorFor(model => model.Matricula)
    @Html.ValidationMessageFor(model => model.Matricula)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Nombre)
    @Html.EditorFor(model => model.Nombre)
    @Html.ValidationMessageFor(model => model.Nombre)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ApellidoPaterno)
    @Html.EditorFor(model => model.ApellidoPaterno)
    @Html.ValidationMessageFor(model => model.ApellidoPaterno)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.ApellidoMaterno)
    @Html.EditorFor(model => model.ApellidoMaterno)
    @Html.ValidationMessageFor(model => model.ApellidoMaterno)
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.IdGrado, new
  {
      @for = "IEmpleadoGradoAutoComplete"
  })
    @if(String.IsNullOrEmpty(Model.Grado))
    {
        @Html.Partial("_AutoComplete",
        new
        {
            Id = "IEmpleadoGradoAutoComplete",
            Url = @Url.Action("Top", "TecnicosGrados"),
            Metod = "post",
            Min = "1",
            Target = "IdGrado",
            PropValue = "IdGrado",
            PropDisplay = "Codigo,Nombre",
            CampoSearch = "Nombre",
            CampoCondicion = "contenga",
            Multiple = "1"
        })
        @Html.ValidationMessageFor(model => model.IdGrado)
    }
    else
    {
        <input readonly="readonly" value="@Model.Grado" class="form-control"/>
    }
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Telefono)
    @Html.EditorFor(model => model.Telefono)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Celular)
    @Html.EditorFor(model => model.Celular)
</div>

@*<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
</div>*@
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdGrado)
</div>