@model Entidades.IAcciones
@Html.DisplayForModel("IAccionesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaAcciones" class="btn btn-icap" data-property-id="@Model.IdAccion" data-url-action="@Url.Action("Delete", "Acciones")">@ViewBag.LabelDelete</span>
</div>

