@model Entidades.IAcciones
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewAcciones" action="@Url.Action(ViewBag.Action, "Acciones")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IAcciones")
    <div class="form-group col-md-12">
        <span id="btnSaveAcciones" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>

