@model Entidades.IOTPersonalCliente
<table id="tablaOTPersonalCliente" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => Model.IdOrdenTrabajo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdEstatus)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdPersonalCliente)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Estatus)</div>
</th> 
                   
            </tr>
        </thead>
    <tbody>
	<tbody>          
             <tr>
		 <td>@Model.IdOrdenTrabajo</td>
<td>@Model.IdEstatus</td>
<td>@Model.IdPersonalCliente</td>
<td>@Model.Estatus</td>
                      
            </tr>            
        </tbody>         
</table>

