@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaOTPersonalCliente" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => ((IOTPersonalCliente)model.Contenido.First()).IdOrdenTrabajo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTPersonalCliente)model.Contenido.First()).IdEstatus)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTPersonalCliente)model.Contenido.First()).IdPersonalCliente)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTPersonalCliente)model.Contenido.First()).Estatus)</div>
</th> 
                   
            </tr>
        </thead>
        <tbody>
            @foreach(IOTPersonalCliente child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdOTPersonalCliente" data-property-value="@child.IdOTPersonalCliente">
		   <td data-property="IdOrdenTrabajo" data-property-value="@child.IdOrdenTrabajo">@child.IdOrdenTrabajo</td>
<td data-property="IdEstatus" data-property-value="@child.IdEstatus">@child.IdEstatus</td>
<td data-property="IdPersonalCliente" data-property-value="@child.IdPersonalCliente">@child.IdPersonalCliente</td>
<td data-property="Estatus" data-property-value="@child.Estatus">@child.Estatus</td>
                      
                </tr>
            }
        </tbody>       
    </table>
   @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
   @Html.Partial("_NoResult",Model);
}  

