﻿@using Entidades
@model Entidades.IUICatalogo


@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaEmpleados" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Empresa)</div>
                </th>                
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Unidad)</div>
                </th>  
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).IdDepartamento)</div>                
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Matricula)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Nombre)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).ApellidoPaterno)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).ApellidoMaterno)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Grado)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Estatus)</div>                   
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach(IEmpleados child in @Model.Contenido)
        {
                <tr class="ui-rw-cat" data-property="IdEmpleado" data-property-value="@child.IdEmpleado">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="IdUnidad" data-property-value="@child.IdUnidad">@child.Unidad</td>
                    <td data-property="IdDepartamento" data-property-value="@child.IdDepartamento">@child.DepartamentoNombre</td>
                    <td data-property="Matricula" data-property-value="@child.Matricula">@child.Matricula</td>
                    <td data-property="Nombre" data-property-value="@child.Nombre">@child.Nombre</td>
                    <td data-property="ApellidoPaterno" data-property-value="@child.ApellidoPaterno">@child.ApellidoPaterno</td>
                    <td data-property="ApellidoMaterno" data-property-value="@child.ApellidoMaterno">@child.ApellidoMaterno</td>                    
                    @if(!String.IsNullOrEmpty(child.Grado))
                    {
                        if(child.Grado.Split(',').Count() > 0)
                        {
                            <td>
                                @foreach(string grado in child.Grado.Split(',').OrderBy(x => x))
                                {
                                    @Html.Raw(String.Format("{0}<br/>", grado))
                                }
                            </td>
                        }
                    }      
                    else
                    {
                        <td></td>
                    }
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
        }
        </tbody>
        <tfoot>

        </tfoot>
    </table>
   

   
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
   @Html.Partial("_NoResult",Model);
}  