﻿@model Entidades.IEmpleados
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Matricula)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Nombre)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.ApellidoPaterno)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.ApellidoMaterno)</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Matricula</td>
            <td>@Model.Nombre</td>
            <td>@Model.ApellidoPaterno</td>
            <td>@Model.ApellidoMaterno</td>
        </tr>
    </tbody>
</table>