@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaEstatus" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IEstatus)model.Contenido.First()).Empresa)</div>
                </th>
                <th>                    
                    <div>@Html.LabelFor(model => ((IEstatus)model.Contenido.First()).Clasificacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEstatus)model.Contenido.First()).Nombre)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEstatus)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IEstatus child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdEstatus" data-property-value="@child.IdEstatus">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="Clasificacion" data-property-value="@child.Clasificacion">@child.Clasificacion</td>
                    <td data-property="Nombre" data-property-value="@child.Nombre">@child.Nombre</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

