@model Entidades.IEstatus
<table id="tablaEstatus" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Clasificacion)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Nombre)</div>
            </th>            
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Clasificacion</td>
            <td>@Model.Nombre</td>
        </tr>
    </tbody>
</table>

