﻿@model Entidades.IUICatalogo
@using Entidades;
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @foreach(IPerfilAcciones permiso in Model.Permisos)
            {
                @Html.Raw(permiso.Html)
            }
            @if (Model.HasPermiso("ICatalogosCargaMasiva"))
            {
            <li>
                <a class="dropdown-toggle dvIconTool " id="dropdownMenu1"
                   data-toggle="dropdown"
                   role="button"
                   style="font-size:100%!important;padding-left:0px!important;"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-cloud-upload fa-1x" aria-hidden="true" style="color:#73a153;"></i>
                    &nbsp;@Entidades.CIdioma.TraduceCadena("ICatCargaMasiva")
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                    <li class="list-group-item">
                        <a id="rptCargaMasivaClasificacionConceptos"
                           class="icap-Buscar"
                           data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                           data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                           data-url-plantilla="@Url.Action("PlantillaLoad", "ClasificacionConceptos")"
                           data-url-uploadfile="@Url.Action("NewXls", "ClasificacionConceptos")">
                            <i class="fa fa-file-excel-o fa-2x" aria-hidden="true" style="color:#2b7106;"></i>
                            &nbsp;@Entidades.CIdioma.TraduceCadena("ICATImportarRegistros")
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a id="rptDwnPlantilla"
                           class="icap-Buscar"
                           href="~/ICAP/Layouts/Plantilla-ClasificacionConceptos.xlsx" target="_blank"
                           @*data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                                   data-url="@Url.Action("ImprimeRptActividad", "OrdenesTrabajo")"*@>
                            <i class="fa fa-download fa-2x" aria-hidden="true" style="color:#2693f1;"></i>&nbsp;@Entidades.CIdioma.TraduceCadena("ICatDescargaPlantillaCargaMasiva")
                        </a>
                    </li>
                </ul>

            </li>     
            }
        </ul>
    }
    @if(Model != null && Model.HasPermiso("buscar"))
    {
        @Html.Partial("_ToolBuscar")
    }
</div>