@model Entidades.IClasificacionConceptos
@Html.DisplayForModel("IClasificacionConceptosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaClasificacionConceptos" class="btn btn-icap" data-property-id="@Model.IdConceptoClasificacion" data-url-action="@Url.Action("Delete", "ClasificacionConceptos")">@ViewBag.LabelDelete</span>
</div>

