@model Entidades.IClasificacionConceptos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewClasificacionConceptos" action="@Url.Action(ViewBag.Action, "ClasificacionConceptos")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IClasificacionConceptos")
   <div class="form-group col-md-12">
	<span id="btnSaveClasificacionConceptos" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
   </div>
   <div class="modal-footer IcapFooter"></div>
</form>

