@model Entidades.IContratosDetalles
   @Html.HiddenFor(model => model.IdContratoDetalle)
   <div class="form-group">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdContrato)
    @Html.EditorFor(model => model.IdContrato)
    @Html.ValidationMessageFor(model => model.IdContrato)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdConcepto)
    @Html.EditorFor(model => model.IdConcepto)
    @Html.ValidationMessageFor(model => model.IdConcepto)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdInsumo)
    @Html.EditorFor(model => model.IdInsumo)
    @Html.ValidationMessageFor(model => model.IdInsumo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Partida)
    @Html.EditorFor(model => model.Partida)
    @Html.ValidationMessageFor(model => model.Partida)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Cantidad)
    @Html.EditorFor(model => model.Cantidad)
    @Html.ValidationMessageFor(model => model.Cantidad)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Precio)
    @Html.EditorFor(model => model.Precio)
    @Html.ValidationMessageFor(model => model.Precio)
</div>


