@model Entidades.ISisLogErrores
@Html.HiddenFor(model => model.Log_Error_Id)
@*<div class="editor-label">
    @Html.LabelFor(model => model.Log_Fecha)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Log_Fecha)
    @Html.ValidationMessageFor(model => model.Log_Fecha)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Log_Archivo)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Log_Archivo)
    @Html.ValidationMessageFor(model => model.Log_Archivo)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Log_Funcion)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Log_Funcion)
    @Html.ValidationMessageFor(model => model.Log_Funcion)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Log_Linea)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Log_Linea)
    @Html.ValidationMessageFor(model => model.Log_Linea)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Log_Columna)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Log_Columna)
    @Html.ValidationMessageFor(model => model.Log_Columna)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Log_Pila)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Log_Pila)
    @Html.ValidationMessageFor(model => model.Log_Pila)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Log_Error)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Log_Error)
    @Html.ValidationMessageFor(model => model.Log_Error)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Log_Info)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Log_Info)
    @Html.ValidationMessageFor(model => model.Log_Info)
</div>*@
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Log_Pila)
    <p style="overflow:auto;font-size:80%;">
        @Model.Log_Pila
    </p>
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Log_Error)
    <p style="overflow:auto;font-size:80%;">
        @Model.Log_Error
    </p>
</div>