@model Entidades.IPedidos
   @Html.HiddenFor(model => model.IdPedido)
<div id="dvNotificacionesValidacionPedidos"></div>
<div class="form-group col-md-6">
@Html.LabelFor(model => model.Empresa)
@if(Model != null)
{
    @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
}
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Unidad)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Unidad, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group  col-md-6">
    @Html.LabelFor(model => model.FechaSolicitado)
    @if(Model != null)
    {
        <input name="FechaSolicitado" id="FechaSolicitado" value="@Model.FechaSolicitado.ToString("d")"
               class="form-control" readonly="readonly" />
    }   
</div>
<div class="form-group  col-md-6">
    @Html.LabelFor(model => model.FechaLlegada)
    @if(Model != null)
    {
        if(Model.FechaLlegada != null)
        {
            <input name="FechaLlegada" id="FechaLlegada" value="@Model.FechaLlegada.Value.ToString("d")"
                   class="form-control" readonly="readonly" />
        }
        else
        {
            if(Model.IdPedido > 0)
            {
                <input name="FechaLlegada" id="FechaLlegada" class="form-control icapDatePicker" />
            }
            else
            {
                <input name="FechaLlegada" id="FechaLlegada" class="form-control" readonly="readonly" />
            }

        }
    }
</div>
<div class="form-group col-md-10">
    <input type="hidden" id="IdInsumoPedidoAux" />    
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdInsumoPedidoAutoComplete",
            Url = @Url.Action("Top", "Insumos"),
            Metod = "post",
            Min = "1",
            Target = "IdInsumoPedidoAux",
            PropValue = "IdInsumo",
            PropDisplay = "Codigo,Serie,Descripcion",
            CampoSearch = "Codigo",
            CampoCondicion = "contenga",
            Multiple = "1"
        })
</div>    
<div class="form-group col-md-2">
    <div id="btnAddDetallePedido"
         class="btnGrid btnAddInsumo"
         data-url-plantilla="@Url.Action("AddPedido", "Pedidos")"
         data-falta-insumo="@Entidades.CIdioma.TraduceCadena("IMovimientosFaltaIdInsumo")"
         data-toggle="tooltip" data-placement="right" 
         title="@Entidades.CIdioma.TraduceCadena("IMovimientosBtnTitleAddInsumo")"></div>
</div>
<div class="form-group col-md-12">
    @if(Model != null)
    {
        if(Model.Detalle != null)
        {
            @Html.Partial("_EditDetallePedido", Model.Detalle);
        }
        else
        {
            @Html.Partial("_EditDetallePedido", new List<Entidades.CPedidosDetalles>());
        }
    }
</div>
@*<div class="form-group  col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>*@
@Html.HiddenFor(model=>model.IdProyecto)
@Html.HiddenFor(model => model.IdContrato)