@model Entidades.ITecnicos
<table id="tablaTecnicos" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.NombreEmpleado)</div>
            </th>            
            <th>
                <div>@Html.LabelFor(model => Model.Especialidades)</div>
            </th>            
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.NombreEmpleado</td>
            @if(Model.Especialidades != null && Model.Especialidades.Count() > 0)
            {
                <td>
                    @String.Join(",", Model.Especialidades.Select(x => x.Nombre))
                </td>
            }
       </tr>
    </tbody>
</table>

