@using Entidades
@model Entidades.IUICatalogo           
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaTecnicos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).DepartamentoNombre)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Nombre)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).ApellidoPaterno)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).ApellidoMaterno)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IEmpleados)model.Contenido.First()).Matricula)</div>
                </th>
                <th>
                    <div>@Entidades.CIdioma.TraduceCadena("IEspecialidadesNombre")</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IEmpleados child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdEmpleado" data-property-value="@child.IdEmpleado">
                    <td>@child.Empresa</td>
                    <td>@child.Unidad</td>
                    <td>@child.DepartamentoNombre</td>
                    <td>@child.Nombre</td>
                    <td>@child.ApellidoPaterno</td>
                    <td>@child.ApellidoMaterno</td>
                    <td>@child.Matricula</td>
                    @if(!String.IsNullOrEmpty(child.Especialidades))
                    {
                        if(child.Especialidades.Split(',').Count() > 0)
                        {
                            <td style="text-align:left!important;">
                                @foreach(string especialiad in child.Especialidades.Split(',').OrderBy(x=>x))
                                {
                                       @Html.Raw(String.Format("<b>{0}</b>&nbsp;{1}<br/>", especialiad.Split('|')[0],especialiad.Split('|')[1]))
                                }
                            </td>
                        }
                    }                    
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

