@model Entidades.IOTDocumentos
@Html.DisplayForModel("IOTDocumentosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaOTDocumentos" class="btn btn-icap" data-property-id="@Model.IdOTDocumentos" data-url-action="@Url.Action("Delete", "OTDocumentos")">@ViewBag.LabelDelete</span>
</div>

