@model Entidades.IOTDocumentos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewOTDocumentos" action="@Url.Action(ViewBag.Action, "OTDocumentos")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IOTDocumentos")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveOTDocumentos" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

