@model Entidades.IPedidosDetalles
<table id="tablaPedidosDetalles" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => Model.IdPedido)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdInsumo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Cantidad)</div>
</th> 
                   
            </tr>
        </thead>
    <tbody>
	<tbody>          
             <tr>
		 <td>@Model.IdPedido</td>
<td>@Model.IdInsumo</td>
<td>@Model.Cantidad</td>
                      
            </tr>            
        </tbody>         
</table>

