@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaPedidosDetalles" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IPedidosDetalles)model.Contenido.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IPedidosDetalles)model.Contenido.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IPedidosDetalles)model.Contenido.First()).Cantidad)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IPedidosDetalles child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdPedidoDetalle" data-property-value="@child.IdPedidoDetalle">
                    <td data-property="IdInsumo" data-property-value="@child.IdInsumo">@child.Codigo</td>
                    <td >@child.Descripcion</td>
                    <td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad.ToString("n4")</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}