﻿@using Entidades
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="Empresa" />&nbsp;@CIdioma.TraduceCadena("IEmpresasEmpresa")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="Unidad" />&nbsp;@CIdioma.TraduceCadena("IUnidadesUnidad")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="Proyecto" />&nbsp;@CIdioma.TraduceCadena("IProyectosProyecto")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="Descripcion" />&nbsp;@CIdioma.TraduceCadena("IProyectosDescripcion")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="Ubicacion" />&nbsp;@CIdioma.TraduceCadena("IProyectosUbicacion")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="FechaInicial" />&nbsp;@CIdioma.TraduceCadena("IProyectosFechaInicial")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="FechaFinal" />&nbsp;@CIdioma.TraduceCadena("IProyectosFechaFinal")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="RazonSocial" />&nbsp;@CIdioma.TraduceCadena("IClientesRazonSocial")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="Cotizacion" />&nbsp;@CIdioma.TraduceCadena("ICotizacionesCotizacion")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="AllContratos" />&nbsp;@CIdioma.TraduceCadena("IProyectoContratosIdContrato")</a></li>
<li><a href="#" class="small" tabindex="-1"><input type="checkbox" class="colGridDinamic" value="EstatusProyecto" />&nbsp;@CIdioma.TraduceCadena("IProyectoEstatus")</a></li>
