﻿@model Entidades.IProyectos
@using Entidades
@if(Model.Contratos.Any())
{
    <option selected="selected" value="0">
        @Entidades.CIdioma.TraduceCadena("IProyectoSeleccioneContrato")
    </option>
    foreach(Entidades.IProyectoContratos contrato in Model.Contratos)
    {
        <option value="@contrato.IdContrato">
            @contrato.Contrato
        </option>
    }
}
else
{
    <option selected="selected" value="0">@Entidades.CIdioma.TraduceCadena("IProyectoSinContratos")
    </option>
}

