﻿@model Entidades.IContratos2
<form id="formularioEditarNewProyectoContratos"  method="post" autocomplete="off">
    @Html.HiddenFor(model => model.IdContrato)
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Empresa)
        @if(Model != null)
        {
            @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
        }
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Unidad)
        @if(Model != null)
        {
            @Html.TextBox("Empresa", Model.Unidad, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
        }
    </div>

  

    <div class="form-group  col-md-6">
        @Html.LabelFor(model => model.Contrato)
        @Html.EditorFor(model => model.Contrato)
        @Html.ValidationMessageFor(model => model.Contrato)
    </div>
    <div class="form-group  col-md-6">
        @Html.LabelFor(model => model.Proyecto)
        @Html.TextBox("Proyecto", Model.Proyecto.Proyecto, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    </div>
    <div class="form-group col-md-12">
        <span id="btnGeneraContrato"
              class="btn btn-icap btn-right"
              data-url-save="@Url.Action("GeneraContrato", "Proyectos")">@Entidades.CIdioma.TraduceCadena("IProyectoGeneraContrato")</span>
        </div>
    <div class="fieldDestino">
        <input type="hidden" id="IdProyecto" />
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>