﻿@model Entidades.IProyectos
<div class="fieldDestino">
    <input type="hidden" id="hddnIdContratoAux" />
</div>
<div class="form-group col-md-10">
    @Html.LabelFor(model => model.Contratos, new
            {
                @for = "IdContratos2AutoComplete"
            })
    @Html.Partial("_AutoComplete",
            new
                {
                    Id = "IdContratos2AutoComplete",
                    Url = @Url.Action("TopSinProyecto", "Contratos"),
                    Metod = "post",
                    Min = "1",
                    Target = "hddnIdContratoAux",
                    PropValue = "IdContrato",
                    PropDisplay = "Contrato,RazonSocial",
                    CampoSearch = "Contrato",
                    Multiple = "1",
                    CampoCondicion = "contenga"
                })
</div>
<div class="form-group col-md-2">
    <br />
    <div id="btnAddContrato2"
         class="btnGrid btnAddItem"
         data-url-plantilla="@Url.Action("ProyectoContratoTR", "Proyectos")"
         data-falta-contrato="@Entidades.CIdioma.TraduceCadena("IProyectosFaltaContrato")"
         data-contrato-exists="@Entidades.CIdioma.TraduceCadena("IProyectosContratoExiste")"
         data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
         data-toggle="tooltip"
         data-placement="right"
         title="@Entidades.CIdioma.TraduceCadena("IProyectosAddContrato")">
    </div>
</div>
<div class="form-group col-md-12">
    @Html.Partial("_ProyectoContratos", Model.Contratos, new ViewDataDictionary { { "HideDeleteButton", false } })
</div>
