﻿@using Entidades
<li>
    <a class="dropdown-toggle dvIconTool " id="dropdownMenu1"
       data-toggle="dropdown"
       role="button"       
       aria-haspopup="true"
       aria-expanded="false">
        <i class="fa fa-money fa-1x"></i>
       @Entidades.CIdioma.TraduceCadena("IProyectosImportesOP")
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
        <li class="list-group-item">
            <a id="opImporteSetTC"
               class="icap-Buscar"
               data-tipo-mnu="@ViewData.Eval("MnuTipo")"
               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
               data-url-plantilla="@Url.Action("TipoCambioEstablecer", "Proyectos")">
                <i class="fa fa-dollar fa-1x" aria-hidden="true" style="color:#59ce08;">
                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosImportesSTC")</label>
                </i>
            </a>
        </li>  
        <li class="list-group-item">
            <a id="opRptExcel"
               class="icap-Buscar"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosReporteXlsCostos")"
               data-tipo-mnu="@ViewData.Eval("MnuTipo")"
               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ReporteCostosXls", "Proyectos")"
               data-url-rpt-dw="@Url.Action("DescargaReporte", "Proyectos")">
                <i class="fa fa-file-excel-o fa-1x" aria-hidden="true" style="color:#206df7;">
                    <label style="color:#000;">
                    &nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosReporteXlsCostos")</label>
                </i>
            </a>
        </li> 
        <li class="list-group-item">
            <a id="opRptPdf"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosReportePdfCostos")"
               class="icap-Buscar"
               data-tipo-mnu="@ViewData.Eval("MnuTipo")"
               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("ReporteCostosPdf", "Proyectos")"
               data-url-rpt-dw="@Url.Action("DescargaReporte", "Proyectos")">
                <i class="fa fa-file-pdf-o fa-x" aria-hidden="true" style="color:#f73d3d;">
                    <label style="color:#000;">
                    &nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosReportePdfCostos")</label>
                </i>
            </a>
        </li>   
        @*<li class="list-group-item">
            <a id="opShowImportes"
               class="icap-Buscar"
               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
               data-url-plantilla="@Url.Action("PlantillaLoad", "Conceptos")">
                <i class="fa fa-list-ul fa-1x" aria-hidden="true">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosShowImportes")</i>
            </a>
        </li>*@           
    </ul>
</li>