﻿@model IEnumerable<Entidades.IProyectoContratos>
@using Entidades
@{
    bool HideDeleteButton = Convert.ToBoolean(ViewData["HideDeleteButton"]);
}
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => ((IProyectoContratos)model.First()).IdContrato)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IProyectoContratos)model.First()).RazonSocial)</div>
            </th>
            @if(!HideDeleteButton)
            {            
                <th class="btn-one">
                </th>    
            }
        </tr>
    </thead>
    <tbody id="tBodyAllContratos">
        @foreach(IProyectoContratos proyectoContrato in Model)
        {
           @Html.Partial("_ProyectoContratoTR", proyectoContrato, new ViewDataDictionary { { "HideDeleteButton", HideDeleteButton } })
        }
    </tbody>
</table>           

