﻿@model Entidades.IProyectoContratos
@{
    bool HideDeleteButton = Convert.ToBoolean(ViewData["HideDeleteButton"]);
}
@if(Model != null)
{
    <tr class="rwProyectoContrato" data-property="IdProyectoContrato" data-property-value="@Model.IdProyectoContrato">        
        <td data-property="Contrato" data-property-value="@Model.Contrato">@Model.Contrato</td>
        <td>@Model.RazonSocial</td>
        @if(!HideDeleteButton)
        {
            <td>
                <div class="btnDelete btnGrid btnGridSmall btnRemoveTR"></div>
            </td>
        }
        <td style="display:none" data-property="IdContrato" data-property-value="@Model.IdContrato"></td>
        <td style="display:none" data-property="IdCliente" data-property-value="@Model.IdCliente"></td>
        <td style="display:none" data-property="Estatus" data-property-value="@Model.Estatus"></td>
    </tr>
}
else
{
    @Html.Partial("_NoResultGeneric")
}