﻿@using Entidades

<div class="dvToolPermisos navbar navbar-default" id="dvToolbarReportes">

    <ul class="nav navbar-nav">

        <li>
            <a id="idToolReportesExportarExcel"
               data-url="@ViewData.Eval("UrlDwXls")"
               data-url-rpt-dw="@ViewData.Eval("Url")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosReporteXlsCostos")"
               class="dvIconTool"               
               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")">                  
                <i class="fa fa-file-excel-o fa-2x" aria-hidden="true" style="color:#399b2e;">
                    <label style=" font-size:55%!important;color:#000;">
                        &nbsp;@CIdioma.TraduceCadena("IProyectosReporteXlsCostos")
                    </label>
                </i>
            </a>
        </li>


        <li>
            <a id="idToolReportesExportarPdf"
               data-url="@ViewData.Eval("UrlDwPdf")"
               data-url-rpt-dw="@ViewData.Eval("Url")"
               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-title="@Entidades.CIdioma.TraduceCadena("IProyectosReportePdfCostos")"
               class="dvIconTool"               >
                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color:#f73d3d;">
                    <label style=" font-size:55%!important;color:#000;">
                        &nbsp;@CIdioma.TraduceCadena("IProyectosReportePdfCostos")
                    </label>
                </i>                
            </a>
        </li>
        <li class="dropdown" id="dvColumnasDinamicasProyecto" data-url="@Url.Action("GetFiltroContratos", "Proyectos")">
        </li>
        @Html.Partial("_CloseTab")
    </ul>      
</div>
<div style="width:100%;text-align:center"><h4 id="hTitleReporte"></h4></div>
