﻿@model Entidades.IUICatalogo
@using Entidades;
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @foreach(IPerfilAcciones permiso in Model.Permisos)
            {
                @Html.Raw(permiso.Html)
            }
            <li>
                <a id="btnToolCrearProyectoContrato"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-url-proyecto="@Url.Action("GeneraFromProyecto", "Proyectos")"
                   class="dvIconTool TabGeneraContrato">@Entidades.CIdioma.TraduceCadena("IProyectosGeneraContrato")</a>
            </li>          
            <li>
                <a id="btnToolAdministrarProyecto"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-url-administrar="@Url.Action("GeneraFromProyecto", "Proyectos")"
                   data-url-submenu="@Url.Action("AdministraProyecto", "Proyectos")"
                   data-loaded="0"
                   style="font-size:100%!important;"
                   class="dropdown-toggle dvIconTool ">
                    <i class="fa fa-folder-open-o fa-1x"></i>
                    &nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosAdministrarProyecto")
                </a>
            </li>
            @if(Model.HasPermiso("ProyectoCostosGlobal"))
            {
                @Html.Partial("_ImportesOpciones", new{MnuTipo = "1"})
            }            
        </ul>
    }
    @if(Model != null && Model.HasPermiso("buscar"))
    {
        @Html.Partial("_ToolBuscar")
    }       
</div>