﻿@model Entidades.IUICatalogo
@using Entidades;
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @*@foreach(IPerfilAcciones permiso in Model.Permisos.OrderBy(x=>x.IdAccion))
            {
                @Html.Raw(permiso.Html)
            }*@   
            <li>
                <a id="btnToolDetallesProyecto"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-url-proyecto="@Url.Action("DetallesProyecto", "Proyectos")"
                   class="dvIconTool TabProyecto">@Entidades.CIdioma.TraduceCadena("IProyectosDetalles")</a>
            </li> 
            <li>
                <a id="btnToolAdministrarProyecto"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-url-submenu="@Url.Action("AdministraProyectoAll", "Proyectos")"
                   data-loaded="0"                   
                   class="dropdown-toggle dvIconTool">
                    <i class="fa fa-folder-open-o fa-1x"></i>&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosAdministrarProyecto")</a>
            </li>           
            @if(Model.HasPermiso("ProyectoCostosGlobal"))
            {
                @Html.Partial("_ImportesOpciones", new{MnuTipo = "2"})
            }
        </ul>
    }
    @if(Model != null && Model.HasPermiso("buscar"))
    {
        @Html.Partial("_ToolBuscar")
    }
</div>