﻿@model Entidades.IProyectos
@using Entidades;
<div id="dvAllContentAdmProyect" class="dvTabContenido">
    @Html.HiddenFor(p => p.IdProyecto)
    <div class="dvToolPermisos navbar navbar-default">
        <ul class="nav navbar-nav">        
            @Html.Partial("Consultas/_OpcionesConsultas", Model)
            @*@Html.Partial("Consultas/_OpcionesEstimaciones", Model)*@
        </ul>
    </div>
    <div>
        @Html.DisplayForModel("IProyectosDisplay")
    </div>
    <div id="dvAdmProyectoBody" 
         data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
         data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")">
    </div>
</div>