﻿@model Entidades.IProyectos
@using Entidades;
<div id="dvAllContentAdmProyect" class="dvTabContenido">
    @Html.HiddenFor(p => p.IdProyecto)
    <div class="dvToolPermisos navbar navbar-default">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a class="dropdown-toggle dvIconTool TabManCotizaciones"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false"
                   id="btnAllCotizaciones">
                    @Entidades.CIdioma.TraduceCadena("MenuCotizaciones")
                    <span class="caret"></span>
                </a>
                @if(Model.IdCotizacion != null)
                {
                    <ul class="dropdown-menu">
                        <li>
                            <a id="btnViewCotizacion"
                               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                               data-url-plantilla="@Url.Action("PreviewCotizacion", "Cotizaciones")"
                               data-cotizacion="@Model.IdCotizacion">                               
                                <i class="fa  fa-money fa-1x" style="color:#286090!important;" aria-hidden="true">
                                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("ICotizacionesCotizacion")</label>
                                </i>


                            </a>
                        </li>
                        <li>
                            <a id="btnPrintCotizacion"
                               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                               data-msj-url="@Url.Action("ImprimeCotizacion", "Cotizaciones")"
                               data-url-rpt-dw="@Url.Action("DescargaReporte", "OrdenesTrabajo")"
                               data-cotizacion="@Model.IdCotizacion">                                
                                <i class="fa  fa-print fa-1x" style="color:#286090!important;" aria-hidden="true">
                                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IImprimeCotizacion")</label>
                                </i>
                            </a>
                        </li>
                        @*<li role="separator" class="divider"></li>*@
                    </ul>
                }
                else
                {
                    <ul class="dropdown-menu">
                        <li>
                            <a id="btnAsignarCotizacion"
                               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                               data-url-plantilla="@Url.Action("AsignarCotizacion", "Proyectos")"
                               data-proyecto="@Model.IdProyecto">                                
                                <i class="fa  fa-money fa-1x" style="color:#286090!important;" aria-hidden="true">
                                    <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("ICotizacionesAsignaPoryectoCotizacion")</label>
                                </i>
                            </a>
                        </li>
                    </ul>
                }
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle dvIconTool TabGeneraContrato"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    @Entidades.CIdioma.TraduceCadena("MenuContratos")
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a id="btnAllContratos"
                           data-url="@Url.Action("GetContratos", "Proyectos")">
                            <i class="fa  fa-handshake-o fa-1x" style="color:#286090!important;" aria-hidden="true">
                                <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("MenuContratos")</label>
                            </i>

                        </a>
                    </li>
                </ul>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle dvIconTool TabGeneraOT"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    @Entidades.CIdioma.TraduceCadena("MenuOTByContrato")
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a id="btnAddNewOtByContrato"
                           data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                           data-url="@Url.Action("SelectContrato", "OrdenesTrabajo")"
                           data-proyecto="@Model.IdProyecto">
                            <i class="fa  fa-calendar-check-o fa-1x" style="color:#286090!important;" aria-hidden="true">
                                <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosNewOTByContrato")</label>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a id="btnShowAllOT"
                           data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                           data-url="@Url.Action("GetOrdenesTrabajo", "Proyectos")"
                           data-proyecto="@Model.IdProyecto">                            
                            <i class="fa  fa-briefcase fa-1x" style="color:#286090!important;" aria-hidden="true">
                                <label style="color:#000;">&nbsp;@Entidades.CIdioma.TraduceCadena("IProyectosAllOTByContrato")</label>
                            </i>
                        </a>
                    </li>
                </ul>
            </li>            
            @Html.Partial("Consultas/_OpcionesConsultas",Model)
            @*@Html.Partial("Consultas/_OpcionesEstimaciones",Model)*@
        </ul>
    </div>
    <div>
        @Html.DisplayForModel("IProyectosDisplay")
    </div>
    <div id="dvAdmProyectoBody"
         data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
         data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")">
    </div>
</div>