﻿@model Entidades.IProyectos
@using Entidades;
<form id="formularioEditarNewProyectos" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)  
    <div id="dvNotificacionesAsignaCotizacion"></div>
    <div class="form-group col-md-12">        
        @Html.LabelFor(model => model.Cotizacion, new
{
    @for = "IdCotiAsignarComplete"
})
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdCotiAsignarComplete",
        Url = @Url.Action("Top", "Cotizaciones"),
        Metod = "post",
        Min = "1",
        Target = "IdCotizacion",
        PropValue = "IdCotizacion",
        PropDisplay = "Cotizacion",
        CampoSearch = "Cotizacion",
        CampoCondicion = "contenga",
        Value = (Model != null && String.IsNullOrEmpty(Model.Cotizacion)) ? Model.Cotizacion : String.Empty
    })
    </div>
    @Html.HiddenFor(model=>model.IdProyecto) 
    <div class="fieldDestino">
        @Html.EditorFor(model => model.IdCotizacion)
    </div>
    
    <div class="form-group col-md-12">
        <span id="btnSaveAsignaCotizacionProyecto"
              class="btn btn-icap btn-right"
              data-url-save="@Url.Action("SetCotizacionProyecto", "Proyectos")">@CIdioma.TraduceCadena("IProyectoAsignarCotizacionBtn")</span>
        </div>
        <div class="modal-footer IcapFooter"></div>
</form>