﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades

<div id="dvMenuConceptosSolicitadoEstadoArea">
    @Html.Partial("_ToolBarReportesUbicacion" ,new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("ReporteConceptosSolicitadoEstadoAreaXls", "Proyectos"),
                UrlDwPdf = @Url.Action("ReporteConceptosSolicitadoEstadoAreaPdf", "Proyectos")
            }
     )
</div>
<div id="dvConceptosSolicitadoEstadoDetalleArea">
    @Html.Partial("ConceptosSolicitadoEstadoDetalleArea", Model)
</div>