﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades

<div id="dvMenuConceptosContratos">
    @Html.Partial("_ToolBarReportes" ,new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("ReporteConceptosContratosXls", "Proyectos"),
                UrlDwPdf = @Url.Action("ReporteConceptoContratosPdf", "Proyectos")
            }
     )
</div>
<div id="dvConceptosContratosDetalle">
  @Html.Partial("_TablaConceptosContratos", Model)
</div>