﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades

<div id="dvMenuConceptosSolicitadoInstaladoArea">
    @Html.Partial("_ToolBarReportesUbicacion" ,new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("ReporteConceptosSolicitadoInstaladoAreaXls", "Proyectos"),
                UrlDwPdf = @Url.Action("ReporteConceptosSolicitadoInstaladoAreaPdf", "Proyectos")
            }
     )
</div>
<br />
<div id="dvFiltroConceptosSolicitadoInstaladoArea" >
    <div class="form-group col-md-2">
        <label for="ctCCSIFechaInicial">@CIdioma.TraduceCadena("RequiredIProyectosFechaInicial")</label>
        <input type="text"class="form-control" id="ctCCSIFechaInicial"/>
    </div>
    <div class="form-group col-md-2">
        <label for="ctCCSIFechaFinal">@CIdioma.TraduceCadena("RequiredIProyectosFechaFinal")</label>
        <input type="text" class="form-control" id="ctCCSIFechaFinal" />
    </div>
    <div class="form-group col-md-2">
        <br />
        <span id="btnBuscarConceptosSolicitadoInstaladoArea"
              class="btn btn-primary"
              data-url="@Url.Action("ConceptosSolicitadoInstaladoBotonArea", "Proyectos")"
              data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")">@CIdioma.TraduceCadena("IUICatalogoSearch")</span>
        </div>
</div>

<div id="dvConceptosSolicitadoInstaladoDetalleArea">
  @Html.Partial("ConceptosSolicitadoInstaladoBotonArea", Model)
</div>