﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades

<div id="dvMenuConceptosContratosSolicitadoArea">
    @Html.Partial("_ToolBarReportesUbicacion" ,new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("ReporteConceptosContratosSolicitadoAreaXls", "Proyectos"),
                UrlDwPdf = @Url.Action("ReporteConceptoContratosSolicitadoAreaPdf", "Proyectos")
            }
     )
</div>
<div id="dvConceptosContratosSolicitadoAreaDetalle">
    @Html.Partial("ConceptosPorContratosSolicitadoAreaDetalle", Model)
</div>