﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades

<div id="dvMenuConceptosContratosSolicitadoInstalado">
    @Html.Partial("_ToolBarReportes" ,new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("ReporteConceptosContratosSolicitadoInstaladoXls", "Proyectos"),
                UrlDwPdf = @Url.Action("ReporteConceptoContratosSolicitadoInstaladoPdf", "Proyectos")
            }
     )
</div>
<br />
<div id="dvFiltroConceptosContratosSolicitadoInstalado" >
    <div class="form-group col-md-2">
        <label for="ctCCSIFechaInicial">@CIdioma.TraduceCadena("RequiredIProyectosFechaInicial")</label>
        <input type="text"class="form-control" id="ctCCSIFechaInicial"/>
    </div>
    <div class="form-group col-md-2">
        <label for="ctCCSIFechaFinal">@CIdioma.TraduceCadena("RequiredIProyectosFechaFinal")</label>
        <input type="text" class="form-control" id="ctCCSIFechaFinal" />
    </div>
    <div class="form-group col-md-2">
        <br />
        <span id="btnBuscarConceptosSolicitadoInstalado"
              class="btn btn-primary"
              data-url="@Url.Action("ConceptosPorContratosSolicitadoInstaladoBoton", "Proyectos")"
              data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")">@CIdioma.TraduceCadena("IUICatalogoSearch")</span>
        </div>
</div>

<div id="dvConceptosContratosSolicitadoInstaladoDetalle">
  @Html.Partial("ConceptosPorContratosSolicitadoInstaladoBoton", Model)
</div>