﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades

<div id="dvMenuConceptosContratosInstaladoArea">
    @Html.Partial("_ToolBarReportesUbicacion" ,new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("ReporteConceptosContratosInstaladoAreaXls", "Proyectos"),
                UrlDwPdf = @Url.Action("ReporteConceptoContratosInstaladoAreaPdf", "Proyectos")
            }
     )
</div>
<div id="dvConceptosContratosInstaladoAreaDetalle">
    @Html.Partial("ConceptosPorContratosSolicitadoAreaDetalle", Model)
</div>