﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades

@if (Model != null)
{
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th colspan="4"></th> 
                @foreach (string contrato in Model.Select(p => p.Contrato).Distinct().ToList())
                {
                    <th colspan="2">
                        <div>@contrato</div>
                    </th>
                }
                <th colspan="2"></th> 
            </tr>
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Concepto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).UnidadMedida)</div>
                </th>
                <th>
                    <div>@CIdioma.TraduceCadena("IAccionesEstatus")</div>
                </th>
                @foreach (string contrato in Model.Select(p => p.Contrato).Distinct().ToList())
                {
                    <th>@CIdioma.TraduceCadena("CEncabezadoBase")</th>
                    <th>@CIdioma.TraduceCadena("CEncabezadoAdicional")</th>
                }
                <th>@CIdioma.TraduceCadena("CEncabezadoTotalBase")</th>
                <th>@CIdioma.TraduceCadena("CEncabezadoTotalAdicional")</th>        
            </tr>
           
        </thead>
        <tbody id="tAllConceptosContratosSolicitadoEstado">
            @foreach (IContratosDetalles2 eDetalle in Model.GroupBy(p => new {p.Concepto, p.Capitulo }).Select(p => p.First()).ToList())
            {
                List<IContratosDetalles2> listaConceptos = Model.Where(p => p.Concepto == eDetalle.Concepto && p.Capitulo == eDetalle.Capitulo).ToList();

                <tr>
                    <td>@listaConceptos.FirstOrDefault().Concepto</td>
                    <td>@listaConceptos.FirstOrDefault().Descripcion</td>
                    <td>@listaConceptos.FirstOrDefault().UnidadMedida</td>
                    <td>@listaConceptos.FirstOrDefault().Capitulo</td>

                    @foreach (string contrato in Model.Select(p => p.Contrato).Distinct().ToList())
                    {
                        var eConcepto = listaConceptos.FirstOrDefault(p => p.Contrato == contrato);

                        if (eConcepto != null)
                        {
                            <td>@string.Format("{0:N4}", eConcepto.Cantidad) </td>
                            <td>@string.Format("{0:N4}", eConcepto.CantidadProgramada)</td>
                        }
                        else
                        {
                            <td>0.0000</td>
                            <td>0.0000</td>
                        }

                    }
                    <td>@string.Format("{0:N4}", listaConceptos.Select(p => p.Cantidad).Sum())</td>
                    <td>@string.Format("{0:N4}", listaConceptos.Select(p => p.CantidadProgramada).Sum())</td>
                </tr>
            }
        </tbody>
    </table>
}