﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades
<div id="dvConceptoContratosDetalle">
    @Html.Partial("_ToolBarReportes", new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("ReporteConceptosContratosInstaladoXls", "Proyectos"),
                UrlDwPdf = @Url.Action("ReporteConceptoContratosInstaladoPdf", "Proyectos")
            }
     )
</div>
<div id="dvConceptosContratosDetalle">
    @Html.Partial("_TablaConceptosContratos", Model)
</div>
