﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades

<div id="dvMenuConceptosContratosSolicitadoEstado">
    @Html.Partial("_ToolBarReportes" ,new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("ReporteConceptosContratosSolicitadoEstadoXls", "Proyectos"),
                UrlDwPdf = @Url.Action("ReporteConceptoContratosSolicitadoEstadoPdf", "Proyectos")
            }
     )
</div>
<div id="dvConceptosContratosDetalle">
    @Html.Partial("ConceptosPorContratosSolicitadoEstadoDetalle", Model)
</div>