﻿@model Entidades.CFiltrosInstaladoSolicitado
@using Entidades
<fieldset>
    <legend></legend>    
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.FechaIni)
        <input type='text' class="form-control" id='FechaIni' value="@DateTime.Now" />
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.FechaFin)
        <input type='text' class="form-control" id='FechaFin' value="@DateTime.Now" />
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Proyecto)
        <input name="Proyecto" id="Proyecto" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.IdCliente)
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdClienteAutoComplete",
        Url = @Url.Action("Top", "Clientes"),
        Metod = "post",
        Min = "1",
        Target = "IdCliente",
        PropValue = "IdCliente",
        PropDisplay = "RazonSocial",
        CampoSearch = "RazonSocial",
        CampoCondicion = "contenga"
    })
    </div>   
    <div class="form-group col-md-2">
        <br />
        <span class="btn btn-primary"
              id="btnRptInstaladoSolicitado"
              data-url="@Url.Action("ConsultaInstaladoSolicitado", "Proyectos")"
              data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")">
            <i class="fa-1x fa fa-search"></i>
            @CIdioma.TraduceCadena("IUICatalogoSearch")
        </span>
    </div>
</fieldset>

<div class="form-group col-md-12" id="dvResultQuery">
</div>
<div class="fieldDestino">
    <input type="hidden" id="IdCliente" />   
</div>