﻿@model Entidades.IProyectos
@using Entidades           
<form id="formularioDetallesProyecto"  method="post" autocomplete="off">
    <div id="dvNotificacionesDetallesProyecto"></div>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="liTab">
                <a href="#dvTabProyectoGeneral" aria-controls="dvTabProyectoGeneral" role="tab" data-toggle="tab">
                    @CIdioma.TraduceCadena("IProyectoDatosGenerales")
                </a>
            </li>

            <li role="presentation" class="liTab">
                <a href="#dvProyectoCotizacion"
                   data-url="@Url.Action("PersonalByCliente", "ClientesPersonal")"
                   data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-idcliente="0"
                   aria-controls="dvProyectoCotizacion"
                   role="tab"
                   data-toggle="tab">
                    @CIdioma.TraduceCadena("IProyectoCotizacion")
                </a>
            </li>

            <li role="presentation" class="liTab">
                <a href="#dvProyectoContratos" aria-controls="dvProyectoContratos" role="tab" data-toggle="tab">
                    @CIdioma.TraduceCadena("IProyectoContratos")
                </a>
            </li>          
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane  active" id="dvTabProyectoGeneral">
                @Html.Partial("Detalles/_Proyecto", Model)                
            </div>
            <div role="tabpanel" class="tab-pane  " id="dvProyectoCotizacion">
                @Html.Partial("Detalles/_Cotizacion", Model)
            </div>
            <div role="tabpanel" class="tab-pane " id="dvProyectoContratos">
                @Html.Partial("Detalles/_Contratos", Model)
            </div>           
        </div>
    </div>
   <div class="modal-footer IcapFooter"></div>
</form>