@model Entidades.IProyectos
@Html.DisplayForModel("IProyectosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaProyectos" class="btn btn-icap" data-property-id="@Model.IdProyecto" data-url-action="@Url.Action("Delete", "Proyectos")">@ViewBag.LabelDelete</span>
</div>

