﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using Entidades

<div id="dvMenuConceptosContratos">
    @Html.Partial("_ToolBarReportesEstimaciones", new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("EstimacionesPorContratoXls", "Proyectos"),
                UrlDwPdf = @Url.Action("EstimacionesPorContratoPdf", "Proyectos")
            }
     )
</div>

<div id="dvFiltroConceptosContratosSolicitadoInstalado">
    <div class="form-group col-md-2">
        <label for="ctCCSIFechaInicial">@CIdioma.TraduceCadena("RequiredIProyectosFechaInicial")</label>
        <input type="text" class="form-control" id="ctCCSIFechaInicial" value="@DateTime.Now.ToString("d")" />
    </div>
    <div class="form-group col-md-2">
        <label for="ctCCSIFechaFinal">@CIdioma.TraduceCadena("RequiredIProyectosFechaFinal")</label>
        <input type="text" class="form-control" id="ctCCSIFechaFinal" value="@DateTime.Now.ToString("d")" />
    </div>
    <div class="form-group col-md-2">
        <br />
        <span id="btnBuscarEstimacionesPorFecha"
              class="btn btn-primary"
              data-url="@Url.Action("EstimacionesPorContrato", "Proyectos")"
              data-target="dvConceptosContratosDetalle"
              data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")">@CIdioma.TraduceCadena("IUICatalogoSearch")</span>
        </div>
    </div>

<div id="dvConceptosContratosDetalle">
  @Html.Partial("EstimacionesPorContrato", Model)
</div>