﻿@model  IEnumerable<Entidades.IContratosDetalles2>
@using System
@using Entidades
@using System.Collections.Generic
@{    
    string clase = "colNoZebra";
    IEnumerable<DateTime> Fechas = (Model != null) ? Model.GroupBy(x => x.Fecha).Select(x => x.Key).OrderBy(x=>x.Date) : null;
}
@if (Model != null && Fechas != null)
{        
    
        IEnumerable<Entidades.IContratosDetalles2> Agrupado =  Model.GroupBy(i => new
			{
				Contrato = i.Contrato,
				Concepto = i.Concepto,
				Partida = i.Partida,
				Ubicacion = i.Ubicacion,
				EsAdicional = i.EsAdicional,
                IdContratosDetalles=i.IdContratosDetalles,
                CantidadEjecutada=i.CantidadEjecutada,
                Precio=i.Precio            
			}).Select(i => new CContratosDetalles2()
			{
				Contrato = i.Key.Contrato,
				Concepto = i.Key.Concepto,
				Partida = i.Key.Partida,
				Ubicacion = i.Key.Ubicacion,
				EsAdicional = i.Key.EsAdicional,
                CantidadEjecutada=i.Key.CantidadEjecutada,
                Precio=i.Key.Precio,
                IdContratosDetalles=i.Key.IdContratosDetalles,
                CantidadPorEstimar = i.Sum(x => x.CantidadPorEstimar),
                ImportePorEstimar = i.Sum(x => x.ImportePorEstimar),
          });		
    
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th colspan="7"></th>               
                @foreach(DateTime fecha in Fechas)
                {
                    <th colspan="2" style="text-align:center">
                        <div>@fecha.ToString("d")</div>
                    </th>
                }   
                <th colspan="2" style="text-align:center">@CIdioma.TraduceCadena("IProyectosTotalConversion")</th>      
                <th colspan="2" style="text-align:center">@CIdioma.TraduceCadena("IEstimacionesPorEstimar")</th>               
            </tr>
            <tr>                                
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Contrato)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Concepto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).EsAdicional)</div>
                </th> 
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Partida)</div>
                </th>    
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Ubicacion)</div>
                </th>   
                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadEjecutada)</div>
                </th> 
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Precio)</div>
                </th>                    
                @foreach(DateTime fecha in Fechas)
                {
                    <th>
                        <div>@CIdioma.TraduceCadena("IEstimacionesCantidadEstimada")</div>
                    </th>
                    <th>
                        <div>@CIdioma.TraduceCadena("IEstimacionesImporteEstimado")</div>
                    </th>
                } 
                <th>
                    <div>@CIdioma.TraduceCadena("IEstimacionesCantidadEstimadaTotal")</div>
                </th>
                <th>
                    <div>@CIdioma.TraduceCadena("IEstimacionesImporteEstimadoTotal")</div>
                </th>   
                <th>@CIdioma.TraduceCadena("IEstimacionesCantidadEstimada")</th>
                <th>@CIdioma.TraduceCadena("IEstimacionesImporteEstimado")</th>                                                
            </tr>
        </thead>
        <tbody id="tAllConceptosContratos">            
            @foreach(IContratosDetalles2 detalle in	Agrupado)                
            {
                clase = "colZebra";    
                <tr>
                        <td>@detalle.Contrato</td>
                        <td>@detalle.Concepto</td>
                        <td>@Html.Partial("_Estatus", detalle.EsAdicional)</td>
                        <td>@detalle.Partida</td>
                        <td>@detalle.Ubicacion</td>                                                    
                        <td>@detalle.CantidadEjecutada.ToString("n4")</td>   
                        <td>@detalle.Precio.ToString("c4")</td>   
                        @foreach(DateTime fecha in Fechas)
                        {
                            IEnumerable<IContratosDetalles2> detalles = Model.Where(x => x.Fecha.Date == fecha.Date && x.IdContratosDetalles == detalle.IdContratosDetalles);
                            if(detalles != null && detalles.Count() > 0)
                            {
                                <td class="@clase">@detalles.Sum(x => x.CantidadPorEstimar).ToString("n4")</td>
                                <td class="@clase">@detalles.Sum(x => x.ImportePorEstimar).ToString("c4")</td>
                            }
                            else
                            {
                                <td class="@clase" colspan="2"></td>
                            }
                            if(clase == "colNoZebra")
                            {
                                clase = "colZebra";
                            }
                            else
                            {
                                clase = "colNoZebra";
                            }
                        }  
                        <td class="colTotales">@detalle.CantidadPorEstimar.ToString("n4")</td>              
                        <td class="colTotales">@detalle.ImportePorEstimar.ToString("c4")</td>
                        <td class="colTotales">@((detalle.CantidadEjecutada - detalle.CantidadPorEstimar).ToString("n4"))</td>
                        <td class="colTotales">@(((detalle.Precio * detalle.CantidadEjecutada) - detalle.ImportePorEstimar).ToString("c4"))</td>
                    </tr>                
             }                                        
        </tbody>
    </table>
}
else
{
    @Html.Partial("_NoResultGeneric")
}