﻿@model Entidades.IUICatalogo
@using Entidades
@{
    IEnumerable<IvwContratos2> contratos = Model.Contenido.Select(x => x as IvwContratos2);
}
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @if(Model.HasPermiso("NuevoProyectoContrato"))
            {            
                <li>
                    <a id="idToolNuevoContratosvwAdministrador"
                       class="dvIconTool"
                       style="background-image:url('/Content/Imagenes/Add.png');"
                       data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")">
                        @CIdioma.TraduceCadena("IUICatalogoNew")
                    </a>
                </li>
            }
            @if(Model.HasPermiso("EditarProyectoContrato"))
            {
            <li>
                <a id="idToolEditarContratosvwAdministrador"
                   data-msj-wait ="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   class="dvIconTool"
                   style="background-image: url('/Content/Imagenes/Edit.png');"
                   data-msj-none="Selecciona un registro para editar">
                    @CIdioma.TraduceCadena("IUICatalogoEdit")
                </a>
            </li>
            }
            @if(Model.HasPermiso("EliminarProyectoContrato"))
            {
                <li>
                    <a id="idToolEliminarContratosvwAdministrador"
                       data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                       data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoDelete")"
                       class="dvIconTool"
                       data-msj-question="@CIdioma.TraduceCadena("IUICatalogoMensajeQuestionConfirm")"
                       style="background-image: url('/Content/Imagenes/Delete.png');">
                        @CIdioma.TraduceCadena("IUICatalogoDelete")
                    </a>
                </li>  
            }

            <li>
                <a id="btnToolPreviewContrato"
                   class="dvIconTool TabPreviewFile"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-url-plantilla="@Url.Action("PreviewContrato", "Contratos")">
                    @Entidades.CIdioma.TraduceCadena("IContratosPreviewContrato")
                </a>
            </li> 
            @if(Model.HasPermiso("GeneraCotizacionContrato"))
            {
                <li class="dropdown">
                    <a class="dropdown-toggle dvIconTool TabManCotizaciones"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false"
                       id="btnAllCotizaciones">
                        @Entidades.CIdioma.TraduceCadena("IUICotizacionesContrato")
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="btnToolGeneraCotizacion"
                               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                               data-url="@Url.Action("GeneraCotizacionFromContrato", "Contratos")"
                               @*class="dvIconTool TabManCotizaciones"*@>
                               @Entidades.CIdioma.TraduceCadena("IUICatalogoGeneraCotizacion")
                            </a>
                        </li>
                        <li>
                            <a id="btnToolShowContratoCotizaciones"
                               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                               data-url="@Url.Action("CotizacionesGeneradas", "Contratos")"
                               @*class="dvIconTool TabManCotizaciones"*@>
                                @Entidades.CIdioma.TraduceCadena("IShowContratoCotizaciones")
                            </a>
                        </li>
                    </ul>
                </li>
            }        
            @if(Model.HasPermiso("SolicitaMaterialContrato"))
            {
                <li class="dropdown">
                    <a class="dropdown-toggle dvIconTool TabSolicitarMaterial"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        @Entidades.CIdioma.TraduceCadena("IUISolicitarMaterialContratos")
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="btnSolicitarTodoByProyecto"
                               data-element-target="IdProyecto"
                               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                               data-url="@Url.Action("ConfirmaSolicitudInsumosContrato", "Contratos")">
                                @Entidades.CIdioma.TraduceCadena("IUISolicitarByProyecto")
                            </a>
                        </li>  
                        <li>
                            <a id="btnLogMovimientosPedidos"
                               data-element-target="IdProyecto"
                               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                               data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                               data-url="@Url.Action("MovimientosPedidos", "Proyectos")">
                                @Entidades.CIdioma.TraduceCadena("IUIProyectoPedidosMovimientos")
                            </a>
                        </li>                           
                    </ul>
                </li>
            }
            <li>
                <a id="btnAddEstimacion"
                   data-title="@CIdioma.TraduceCadena("IUICatalogoEstimacionContrato")"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                   data-url="@Url.Action("ContratoEstimacion", "Contratos")"
                   class="dvIconTool">
                    <i class="fa fa-bookmark fa-1x"></i>
                    &nbsp;@Entidades.CIdioma.TraduceCadena("IUICatalogoEstimacionContrato")
                </a>
            </li>
            <li>
                <a id="btnToolActualizarContratos"
                   class="dvIconTool TabDeshacerPrecios">
                    @Entidades.CIdioma.TraduceCadena("IUICatalogoRefresh")
                </a>
            </li>    
            @Html.Partial("_CloseTab")
        </ul>
        
    } 
</div>
<div id="@String.Format("dvNotificaciones{0}", @Model.Nombre)"></div> 
<table  class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>           
            <th>
                <div>@Html.LabelFor(model => ((contratos.First() as IContratos2).Contrato))</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((contratos.First() as IContratos2).Fecha))</div>
            </th>            
            <th>
                <div>@Html.LabelFor(model => ((contratos.First() as IContratos2).SubTotal))</div>
            </th>          
            <th>
                <div>@Html.LabelFor(model => ((contratos.First() as IContratos2).Total))</div>
            </th>  
            <th>
                <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Moneda)</div>
            </th>            
        </tr>
    </thead>
    <tbody id="tablaContratosvwAdministrador">
        @if(Model != null && contratos.Count() > 0)
        {
            foreach(IContratos2 child in contratos)
            {
                <tr class="ui-rw-cat" data-property="IdContrato" data-property-value="@child.IdContrato">
                    <td>@child.Contrato</td>
                    <td>@child.Fecha.ToString("d")</td>
                    <td>@child.SubTotal.ToString("c4")</td>
                    <td>@child.Total.ToString("c4")</td>
                    <td>@child.Moneda</td>
                </tr>
            }
        }
    </tbody>
</table>