﻿@model IEnumerable<Entidades.IvwContratos2>
@using Entidades
<div class="dvToolPermisos navbar navbar-default">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle dvIconTool fa fa-sort-amount-asc fa-2x"
               data-toggle="dropdown"
               role="button"
               style="font-size:130%!important;"
               aria-haspopup="true"
               aria-expanded="false">
                @Entidades.CIdioma.TraduceCadena("RptOrderByConceptosInsumos")
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a id="rptAllByConcepto"
                       data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                       data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                       data-url="@Url.Action("GetInsumosByProyectoConcepto", "Proyectos")">
                        <i class="fa fa-cube fa-1x" aria-hidden="true">&nbsp;@Entidades.CIdioma.TraduceCadena("RptOrderByConceptos")</i>
                    </a>
                </li>
                <li>
                    <a id="rptAllByInsumo"
                       data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                       data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                       data-url="@Url.Action("GetInsumosByProyectoInsumo", "Proyectos")">
                        <i class="fa fa-cubes fa-1x" aria-hidden="true">&nbsp;@Entidades.CIdioma.TraduceCadena("RptOrderByInsumoa")</i>
                    </a>
                </li>              
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle dvIconTool fa fa-calendar fa-2x"
               data-toggle="dropdown"
               role="button"
               style="font-size:130%!important;"
               aria-haspopup="true"
               aria-expanded="false">
                @Entidades.CIdioma.TraduceCadena("RptOrderByConceptosInsumosFecha")
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a id="rptConceptosByFecha"
                       data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                       data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                       data-url-param="@Url.Action("ParametrosFecha", "Proyectos")"
                       data-url="@Url.Action("InstaladoFechaConceptos", "Proyectos")">
                        <i class="fa fa-cube fa-1x" aria-hidden="true">&nbsp;@Entidades.CIdioma.TraduceCadena("RptConceptosInstaladosFecha")</i>
                    </a>
                </li>
                <li>
                    <a id="rptInsumosByFecha"
                       data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                       data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                       data-url-param="@Url.Action("ParametrosFecha", "Proyectos")"
                       data-url="@Url.Action("InstaladoFechaInsumos", "Proyectos")">
                        <i class="fa fa-cubes fa-1x" aria-hidden="true">&nbsp;@Entidades.CIdioma.TraduceCadena("RptInsumosInstaladosFecha")</i>
                    </a>
                </li>
            </ul>
        </li>
            @Html.Partial("_CloseTab")
        </ul>
    </div>
<div id="dvResultInsumos">
    @Html.Partial("InsumosByProyecto/_RptContratos", Model)
</div>