﻿@model Entidades.IUICatalogo
@using Entidades
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
        @if(Model.HasPermiso("EditarProyectoOT"))
        {
            <li>
                <a id="idToolEditarOrdenesTrabajovwAdministrador"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   class="dvIconTool"
                   style="background-image: url('/Content/Imagenes/Edit.png');"
                   data-msj-none="Selecciona un registro para editar">
                    @CIdioma.TraduceCadena("IUICatalogoEdit")
                </a>
            </li>
        }
        @if(Model.HasPermiso("EliminarProyectoOT"))
        {
            <li>
                <a id="idToolEliminarOrdenesTrabajovwAdministrador"
                   data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                   data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoDelete")"
                   class="dvIconTool"
                   data-msj-question="@CIdioma.TraduceCadena("IUICatalogoMensajeQuestionConfirm")"
                   style="background-image: url('/Content/Imagenes/Delete.png');">
                    @CIdioma.TraduceCadena("IUICatalogoDelete")
                </a>
            </li>
        }
            <li class="dropdown">
                <a class="dropdown-toggle dvIconTool TabImprimir"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    @Entidades.CIdioma.TraduceCadena("IOTIndexImprimir")
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a id="rptGral"
                           data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                           data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                           data-url-plantilla="@Url.Action("ConfiguraReporte", "OrdenesTrabajo")"
                           data-url-rpt="@Url.Action("ImprimeRptGlobal", "OrdenesTrabajo")"
                           data-url-rpt-dw="@Url.Action("DescargaReporte", "OrdenesTrabajo")">
                            @Entidades.CIdioma.TraduceCadena("IOTImpGeneral")
                        </a>
                    </li>
                    <li>
                        <a id="rptByActividades"
                           data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                           data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                           data-url-plantilla="@Url.Action("ConfiguraActividad", "OrdenesTrabajo")"
                           data-url-rpt="@Url.Action("ImprimeRptActividad", "OrdenesTrabajo")"
                           data-url-rpt-dw="@Url.Action("DescargaReporte", "OrdenesTrabajo")">
                            @Entidades.CIdioma.TraduceCadena("IOTByActividades")
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a id="btnToolActualizarOT"
                   class="dvIconTool TabDeshacerPrecios">
                    @Entidades.CIdioma.TraduceCadena("IUICatalogoRefresh")
                </a>
            </li>  
            @Html.Partial("_CloseTab")  
        </ul>
     }
</div>
<div id="@String.Format("dvNotificaciones{0}", @Model.Nombre)"></div>
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>           
            <th>
                <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).Contrato)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).Folio)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).Actividad)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).EstatusOT)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).PrioridadOT)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).TipoOT)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).FechaInicio)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IOrdenesTrabajo)model.Contenido.First()).FechaFin)</div>
            </th>
        </tr>
    </thead>
    <tbody id="tablaOrdenesTrabajovwAdministrador">
        @foreach(IOrdenesTrabajo child in @Model.Contenido)
        {
            <tr class="ui-rw-cat" data-property="IdOrdenTrabajo" data-property-value="@child.IdOrdenTrabajo">                
                <td>@child.Contrato</td>
                <td data-property="Folio" data-property-value="@child.Folio">@child.Folio</td>
                <td data-property="IdActividad" data-property-value="@child.IdActividad">@child.Actividad</td>
                <td data-property="IdEstatus" data-property-value="@child.IdEstatus">@child.EstatusOT</td>
                <td data-property="IdPrioridad" data-property-value="@child.IdPrioridad">@child.PrioridadOT</td>
                <td data-property="IdTipo" data-property-value="@child.IdTipo">@child.TipoOT</td>
                <td data-property="FechaInicio" data-property-value="@child.FechaInicio">@child.FechaInicio.ToString("g")</td>
                <td data-property="FechaFin" data-property-value="@child.FechaFin">@child.FechaFin.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>