@model Entidades.IProyectos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewProyectos" action="@Url.Action(ViewBag.Action, "Proyectos")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IProyectos")
    <div class="form-group col-md-12">
        <span id="btnSaveProyectos"
              class="btn btn-icap btn-right"
              data-url-save="@Url.Action("Put", "Proyectos")">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>