@model Entidades.IProyectos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewProyectos" action="@Url.Action(ViewBag.Action, "Proyectos")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.IdProyecto)
    @Html.HiddenFor(model => model.IdCotizacion)
    @Html.HiddenFor(model => model.IdCliente)
    <div id="dvNotificacionesValidacionPProyectos"></div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Empresa)
        @if(Model != null)
        {
            @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
        }
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Unidad)
        @if(Model != null)
        {
            @Html.TextBox("Empresa", Model.Unidad, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
        }
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Proyecto)
        @Html.EditorFor(model => model.Proyecto)
        @Html.ValidationMessageFor(model => model.Proyecto)
    </div>
    <div class="form-group col-md-5">
        @Html.LabelFor(model => model.Descripcion)
        @Html.EditorFor(model => model.Descripcion)
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.IdEstatus)
        <select class="form-control input-sm"
                name="IdEstatus"
                id="IdEstatus"
                data-idestatusot="@Model.IdEstatus"
                data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                data-url-estatus="@Url.Action("ProyectoEstado", "Estatus")"></select>
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Ubicacion)
        @Html.EditorFor(model => model.Ubicacion)
        @Html.ValidationMessageFor(model => model.Ubicacion)
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.FechaInicial)
        <input name="FechaInicial" id="FechaInicial" value="@Model.FechaInicial.ToString("d")" class="form-control icapDatePicker" />
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.FechaFinal)
        <input name="FechaFinal" id="FechaFinal" value="@Model.FechaFinal.ToString("d")" class="form-control icapDatePicker" />
    </div>   
    @*@if(Model.Contratos!= null && Model.Contratos.Count>0)
    {    
        <div class="form-group col-md-12">
            @Html.Partial("_ProyectoContratos", Model.Contratos, new ViewDataDictionary { { "HideDeleteButton", true } })
        </div>
    }*@
    <div class="form-group col-md-12">
        <span id="btnSaveProyectos"
              class="btn btn-icap btn-right"
              data-url-save="@((Model.IdProyecto>0)? Url.Action("Put", "Proyectos"):Url.Action("New", "Proyectos"))">
            @Entidades.CIdioma.TraduceCadena("CatalogoCrearEntidad")
        </span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>