﻿@model  IEnumerable<IContratosDetallesInsumos2>
@using Entidades

<div id="dvMenuConceptosContratosSolicitadoEstado">
    @Html.Partial("_ToolBarReportesInsumos", new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("SolicitudInsumosInstaladoFechaXls", "Proyectos"),
                UrlDwPdf = @Url.Action("SolicitudInsumosInstaladoFechaPdf", "Proyectos")
            }
     )
</div>
<div class="form-group col-md-4">
    <label>@CIdioma.TraduceCadena("IProyectosFechaInicial")</label>
    <input name="ctCCSIFechaInicial" id="ctCCSIFechaInicial" value="@DateTime.Now.ToString("d")" class="form-control" />
</div>
<div class="form-group col-md-4">
    <label>@CIdioma.TraduceCadena("IProyectosFechaFinal")</label>
    <input name="ctCCSIFechaFinal" id="ctCCSIFechaFinal" value="@DateTime.Now.ToString("d")" class="form-control" />
</div>
<div class="form-group col-md-4">   
    <br />                         
    <span id="btnSolicitudInsumosInstaladosFechaFiltro"
          data-url="@Url.Action("SolicitudInsumosInstaladoFechaFiltro", "Proyectos")"
          data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
          class="btn btn-primary ">
        @CIdioma.TraduceCadena("IUICatalogoSearch")
    </span>
</div>

<div id="dvInsumosDetalle" class="form-group col-md-12">
    @Html.Partial("SolicitudInsumosInstaladosDetalleFecha", Model)
</div>