﻿@model  IEnumerable<IContratosDetallesInsumos2>
@using Entidades

<div id="dvMenuConceptosContratosSolicitadoEstado">
    @Html.Partial("_ToolBarReportesInsumos", new
            {
                Url = @Url.Action("DescargaReporte", "Proyectos"),
                UrlDwXls = @Url.Action("SolicitudInsumosInstaladoProgramadoXls", "Proyectos"),
                UrlDwPdf = @Url.Action("SolicitudInsumosInstaladoProgramadoPdf", "Proyectos")
            }
     )
</div>
<div id="dvInsumosDetalle">
    @Html.Partial("SolicitudInsumosInstaladosDetalle", Model)
</div>