﻿@model IEnumerable<Entidades.IContratosDetallesInsumos2>
@using Entidades
@if(Model != null)
{
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Unidad)</div>
                </th>                               
                <th>
                    <div><label>@CIdioma.TraduceCadena("CEncabezadoInstalado")</label></div>
                </th>  
                <th>
                    <div><label>@CIdioma.TraduceCadena("CEncabezadoProgramado")</label></div>
                </th>                                
            </tr>
        </thead>
        <tbody id="tAllInusmosInsumos">
            @foreach(IContratosDetallesInsumos2 insumo in Model)
            {
                <tr>
                    <td data-property="IdInsumo" data-property-value="@insumo.IdInsumo">@insumo.Codigo</td>
                    <td><div class="cellTexto-xs">@insumo.Descripcion</div></td>
                    <td>@insumo.Unidad</td>                    
                    <td>@insumo.CantidadEjecutada.ToString("n4")</td>                    
                    <td>@insumo.CantidadProgramada.ToString("n4")</td>      
                </tr>
            }
        </tbody>
    </table>
}