@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaContratosDetalles" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => ((IContratosDetalles)model.Contenido.First()).Estatus)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IContratosDetalles)model.Contenido.First()).IdContrato)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IContratosDetalles)model.Contenido.First()).IdConcepto)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IContratosDetalles)model.Contenido.First()).IdInsumo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IContratosDetalles)model.Contenido.First()).Partida)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IContratosDetalles)model.Contenido.First()).Cantidad)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IContratosDetalles)model.Contenido.First()).Precio)</div>
</th> 
                   
            </tr>
        </thead>
        <tbody>
            @foreach(IContratosDetalles child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdContratoDetalle" data-property-value="@child.IdContratoDetalle">
		   <td data-property="Estatus" data-property-value="@child.Estatus">@child.Estatus</td>
<td data-property="IdContrato" data-property-value="@child.IdContrato">@child.IdContrato</td>
<td data-property="IdConcepto" data-property-value="@child.IdConcepto">@child.IdConcepto</td>
<td data-property="IdInsumo" data-property-value="@child.IdInsumo">@child.IdInsumo</td>
<td data-property="Partida" data-property-value="@child.Partida">@child.Partida</td>
<td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad</td>
<td data-property="Precio" data-property-value="@child.Precio">@child.Precio</td>
                      
                </tr>
            }
        </tbody>       
    </table>
   @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
   @Html.Partial("_NoResult",Model);
}  

