@model Entidades.IContratosDetalles
<table id="tablaContratosDetalles" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => Model.Estatus)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdContrato)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdConcepto)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdInsumo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Partida)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Cantidad)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Precio)</div>
</th> 
                   
            </tr>
        </thead>
    <tbody>
	<tbody>          
             <tr>
		 <td>@Model.Estatus</td>
<td>@Model.IdContrato</td>
<td>@Model.IdConcepto</td>
<td>@Model.IdInsumo</td>
<td>@Model.Partida</td>
<td>@Model.Cantidad</td>
<td>@Model.Precio</td>
                      
            </tr>            
        </tbody>         
</table>

