@model Entidades.IParametros
@Html.DisplayForModel("IParametrosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaParametros" class="btn btn-icap" data-property-id="@Model.IdParametro" data-url-action="@Url.Action("Delete", "Parametros")">@ViewBag.LabelDelete</span>
</div>

