@model Entidades.IParametros
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewParametros" action="@Url.Action(ViewBag.Action, "Parametros")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IParametros")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveParametros" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

