﻿@model IEnumerable<Entidades.IAcciones>
@using Entidades
@{
    string MenuId = ViewData["MenuId"].ToString();
}

@if(Model != null && Model.Count() > 0)
{
    <ul>
        @foreach(IAcciones accion in Model)
        {
            if(String.IsNullOrEmpty(accion.MenuIncluir) && String.IsNullOrEmpty(accion.MenuOmitir))
            {
                @Html.Partial("Accion", accion, new ViewDataDictionary { { "MenuId", MenuId } })
            }
            if(!String.IsNullOrEmpty(accion.MenuIncluir))
            {
                string[] incluir = accion.MenuIncluir.Split(',');
                if(incluir.Contains(MenuId))
                {
                    @Html.Partial("Accion", accion, new ViewDataDictionary { { "MenuId", MenuId } })
                }
            }
            else if(!String.IsNullOrEmpty(accion.MenuOmitir))
            {
                string[] incluir = accion.MenuOmitir.Split(',');
                if(!incluir.Contains(MenuId))
                {
                    @Html.Partial("Accion", accion, new ViewDataDictionary { { "MenuId", MenuId } })
                }
            }
        }
    </ul>
}
