﻿@model Entidades.IPermisos
@using Entidades
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Icap/Sistema/Base")
@Scripts.Render("~/Icap/Sistema")
<link href="~/Content/jsTree/style.min.css" rel="stylesheet" />
<script src="~/Scripts/jsTree/jstree.min.js"></script>
<link href="~/Content/jsTree/jsTreePartial.css" rel="stylesheet" />
<div >
    <div class="dvToolPermisos navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a id="btnSavePermisos"
                   class="dvIconTool"
                   data-porfile-none="@CIdioma.TraduceCadena("PermisosViewNoneProfile")"
                   style="background-image:url('/Content/Imagenes/Add.png');">@CIdioma.TraduceCadena("PermisosViewGuardar")</a>
            </li>
        </ul>
    </div>
        <div id="dvNotificacionesPermisos"></div>      
        @if(Model != null)
        {
            <div class="row">
                <div id="dvPerfiles" data-url="@Url.Action("GetPerfilPermisos", "Permisos")" class="col-md-4" >
                    @Html.Partial("Perfiles", Model.Perfiles)
                </div>
                <div id="dvMenusPermisos" data-url="@Url.Action("Put", "Permisos")" class="col-md-8">
                    @Html.Partial("MenuPrincipal", Model)
                </div>
            </div>
        }
</div>