﻿@model Entidades.IPermisos
@using Entidades
@if(Model != null)
{
    <div class="panel">
        <div class="noBorde panel-heading"> <h3 id="hTreeTitleMenu" class="panel-title">@CIdioma.TraduceCadena("PermisosViewMenuTitle")</h3></div>
        <div class="panel-body" style="width:90%;">
            <div id="dvTreePermisos">
                <ul>
                    @if(Model != null)
                    {
                        foreach(IMenus mnu in Model.Menus)
                        {
                            @Html.Partial("MenuItem", mnu, new ViewDataDictionary { { "Acciones", Model.Acciones } })
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}

