﻿@model Entidades.IMenus
@using Entidades
@{
    IEnumerable<IAcciones> Acciones = ViewData["Acciones"] as IEnumerable<IAcciones>;
}
@if(Model != null)
{
    <li id="@String.Format("liTree{0}", @Model.Menu)" data-mnu-id="@Model.IdMenu"
        data-jstree='@String.Format("{{\"icon\":\"../{0}\"}}",((!String.IsNullOrEmpty(Model.Imagen))? Model.Imagen:Model.ImagenTab) )'>
        @Model.Titulo
        <ul>
            <li id="@String.Format("liTreeVer{0}", @Model.IdMenu)"
                data-jstree='{"icon":"../Content/Imagenes/MostrarMenu.png"}'
                data-mnu-permiso="0"
                data-mnu-id="@Model.IdMenu">Ver</li>
        </ul>
        @if(Model.HasItems)
        {
            <ul>
                @foreach(IMenus mnu in Model.SubMenus)
                {
                    @Html.Partial("MenuItem", mnu)
                }
            </ul>
        }
        else
        {
            @Html.Partial("Acciones", Acciones, new ViewDataDictionary { { "MenuId", @Model.IdMenu } })           
        }
       
    </li>
}