﻿@model IEnumerable<Entidades.IPerfiles>
@using Entidades
@if(Model != null && Model.Count() > 0)
{
    <div class="panel">
        <div class="noBorde panel-heading" > <h3 class="panel-title">@CIdioma.TraduceCadena("PermisosViewProfileTitle")</h3> </div>
        <div class="panel-body" style="width:90%;">
            <ul class="list-group">
                @foreach(IPerfiles perfil in Model)
                {
                    <li class="permisoPerfil list-group-item selectPerfil"
                        data-perfil-id="@perfil.IdPerfil"
                        data-perfil-nombre="@perfil.Nombre">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true">
                            @String.Format("{0} ({1})", @perfil.Nombre, perfil.Descripcion)
                        </i>
                   </li>
                }
            </ul>
        </div>
   </div>
}
