@model Entidades.IIvaValores
   @Html.HiddenFor(model => model.IdIva)
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>

<div class="form-group  col-md-4">
    @Html.LabelFor(model => model.FechaInicio)
    <input name="FechaInicio" id="FechaInicio" value="@Model.FechaInicio.ToString("d")" class="form-control icapDatePicker" />
</div>
<div class="form-group  col-md-4">
    @Html.LabelFor(model => model.FechaFin)
    <input name="FechaFin" id="FechaFin" value="@Model.FechaFin.ToString("d")" class="form-control icapDatePicker" />
</div>
<div class="form-group  col-md-4">
    @Html.LabelFor(model => model.Porcentaje)
    @Html.EditorFor(model => model.Porcentaje)
    @Html.ValidationMessageFor(model => model.Porcentaje)
</div>
<div class="form-group  col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


