@model Entidades.IInsumos
@Html.HiddenFor(model => model.IdInsumo)
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
@if(Model.IdInsumo>0)
{
<div class="form-group col-md-12" style="text-align:center">   
    @if(Model.EsServicio)
    {
        <h5><b>@Entidades.CIdioma.TraduceCadena("IInsumoTipoService")</b></h5>
    }
    else
    {
        <h5><b>@Entidades.CIdioma.TraduceCadena("IInsumoTipoInsumo")</b></h5>
    }     
</div>
}
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Codigo)
    @Html.EditorFor(model => model.Codigo)
    @Html.ValidationMessageFor(model => model.Codigo)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Serie)
    @Html.EditorFor(model => model.Serie)
    @Html.ValidationMessageFor(model => model.Serie)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Descripcion)
    @Html.EditorFor(model => model.Descripcion)
    @Html.ValidationMessageFor(model => model.Descripcion)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.IdFamilia, new
{
    @for = "IdFamiliaAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdFamiliaAutoComplete",
        Url = @Url.Action("Top", "Familias"),
        Metod = "post",
        Min = "1",
        Target = "IdFamilia",
        PropValue = "IdFamilia",
        PropDisplay = "Familia,Descripcion",
        CampoSearch = "Familia",
        CampoCondicion = "contenga",
        Multiple = "1",
        Value = (Model != null) ? Model.Familia: String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdUnidad)
</div>
@if(!Model.EsServicio)
{
    <div class="form-group col-md-12" id="dvSectionUnidadMedidaInsumo">
    
        @Html.LabelFor(model => model.IdUnidad, new{@for = "IdUnidadAutoComplete"})
        @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdUnidadAutoComplete",
            Url = @Url.Action("Top", "UnidadesMedida"),
            Metod = "post",
            Min = "1",
            Target = "IdUnidad",
            PropValue = "IdUnidad",
            PropDisplay = "Unidad,Descripcion",
            CampoSearch = "Unidad",
            CampoCondicion = "contenga",
            Multiple = "1",
            Value = (Model != null) ? Model.Unidad : String.Empty
        })
        @Html.ValidationMessageFor(model => model.IdUnidad)
    </div>
}
<div class="form-group col-md-12">
    
    @Html.LabelFor(model => model.IdMoneda, new
{
    @for = "IdMonedaAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdMonedaAutoComplete",
        Url = @Url.Action("Top", "Monedas"),
        Metod = "post",
        Min = "1",
        Target = "IdMoneda",
        PropValue = "IdMoneda",
        PropDisplay = "Moneda",
        CampoSearch = "Moneda",
        CampoCondicion = "contenga",
        Multiple = "1",
        Value = (Model != null) ? Model.Moneda : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdMoneda)
</div>
@if(Model.EsServicio || Model.IdInsumo<=0)
{
<div class="form-group col-md-12" id="dvSectionCostoInsumo">
    @Html.LabelFor(model => model.Costo)
    @Html.EditorFor(model => model.Costo)
    @Html.ValidationMessageFor(model => model.Costo)
</div>
}
@if(Model.IdInsumo<=0)
{
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.EsServicio)
        @Html.CheckBoxFor(model => model.EsServicio, new
        {@class = "check-box NoCheckInicial"})
        @Html.ValidationMessageFor(model => model.EsServicio)
    </div>
}
else
{
    if(Model!= null && Model.EsServicio)
    {
        @Html.HiddenFor(model => model.EsServicio)
    }
}

    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Estatus)
        @Html.EditorFor(model => model.Estatus)
        @Html.ValidationMessageFor(model => model.Estatus)
    </div>


<div class="fieldDestino">
    @Html.EditorFor(model => model.IdUnidad)
</div>
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdMoneda)
</div>
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdFamilia)
</div>