@model Entidades.ITecnicosGrados
@Html.DisplayForModel("ITecnicosGradosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaTecnicosGrados" class="btn btn-icap" data-property-id="@Model.IdGrado" data-url-action="@Url.Action("Delete", "TecnicosGrados")">@ViewBag.LabelDelete</span>
</div>

