@model Entidades.ITecnicosGrados
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewTecnicosGrados" action="@Url.Action(ViewBag.Action, "TecnicosGrados")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel("ITecnicosGrados")
    <div class="form-group col-md-12">
        <span id="btnSaveTecnicosGrados" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
     </div>
     <div class="modal-footer IcapFooter"></div>
</form>

