@model Entidades.IConversiones
   @Html.HiddenFor(model => model.IdConversion)
   <div class="form-group">
    @Html.LabelFor(model => model.IdMonedaOrigen)
    @Html.EditorFor(model => model.IdMonedaOrigen)
    @Html.ValidationMessageFor(model => model.IdMonedaOrigen)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdMonedaDestino)
    @Html.EditorFor(model => model.IdMonedaDestino)
    @Html.ValidationMessageFor(model => model.IdMonedaDestino)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Operador)
    @Html.EditorFor(model => model.Operador)
    @Html.ValidationMessageFor(model => model.Operador)
</div>


