@model Entidades.IOTDocumentos
   @Html.HiddenFor(model => model.IdOTDocumentos)
   <div class="form-group">
    @Html.LabelFor(model => model.IdOrdenTrabajo)
    @Html.EditorFor(model => model.IdOrdenTrabajo)
    @Html.ValidationMessageFor(model => model.IdOrdenTrabajo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdTipoDocumento)
    @Html.EditorFor(model => model.IdTipoDocumento)
    @Html.ValidationMessageFor(model => model.IdTipoDocumento)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.RutaDocumento)
    @Html.EditorFor(model => model.RutaDocumento)
    @Html.ValidationMessageFor(model => model.RutaDocumento)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


