@model Entidades.IMonedas
@Html.DisplayForModel("IMonedasDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaMonedas" class="btn btn-icap" data-property-id="@Model.IdMoneda" data-url-action="@Url.Action("Delete", "Monedas")">@ViewBag.LabelDelete</span>
</div>

