@model Entidades.IMonedas
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewMonedas" action="@Url.Action(ViewBag.Action, "Monedas")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IMonedas")
    <div class="form-group col-md-12">
        <span id="btnSaveMonedas" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>