@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaActividades" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IActividades)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IActividades)model.Contenido.First()).Clasificacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IActividades)model.Contenido.First()).Especialidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IActividades)model.Contenido.First()).Actividad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IActividades)model.Contenido.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IActividades)model.Contenido.First()).ProcedimientoSeguridad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IActividades)model.Contenido.First()).AnalisisRiesgo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IActividades)model.Contenido.First()).Estatus)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IActividades child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdActividad" data-property-value="@child.IdActividad">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td>@child.Clasificacion</td>
                    <td data-property="IdEspecialidad" data-property-value="@child.IdEspecialidad">@child.Especialidad</td>
                    <td data-property="Actividad" data-property-value="@child.Actividad">@child.Actividad</td>
                    <td data-property="Descripcion" data-property-value="@child.Descripcion">@child.Descripcion</td>
                    <td>
                        @*<a href="@child.ProcedimientoSeguridad">@System.IO.Path.GetFileName(child.ProcedimientoSeguridad)</a>*@
                        <a href="@String.Format("{0}/{1}", Url.Action("DescargaProcedimientoSeguridad", "Actividades"),child.IdActividad)" target="_blank">@System.IO.Path.GetFileName(child.ProcedimientoSeguridad)</a>
                    </td>
                    <td>
                        @*<a href="@child.AnalisisRiesgo">@System.IO.Path.GetFileName(child.AnalisisRiesgo)</a>*@
                        <a href="@String.Format("{0}/{1}", Url.Action("DescargaAnalisisRiesgo", "Actividades"), child.IdActividad)" target="_blank">@System.IO.Path.GetFileName(child.AnalisisRiesgo)</a>
                    </td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

