@model Entidades.IActividades
<table id="tablaActividades" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>           
            <th>
                <div>@Html.LabelFor(model => Model.Actividad)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Descripcion)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>            
            <td>@Model.Actividad</td>
            <td>@Model.Descripcion</td>
            <td>@Html.Partial("_Estatus", @Model.Estatus)</td>
        </tr>
    </tbody>
</table>

