@model IEnumerable<IPedidosDetalles>
@using Entidades
@if(Model != null && Model.Count() > 0)
{
    <tr id="@String.Format("{0}{1}", "trDetailPedido", Model.First().IdPedido.ToString())">
        <td colspan="8">
            <table class="table table-condensed table-bordered">
                <thead class="grid-Head  grid-Head-Detalle navbar-default">
                    <tr>
                        <th>
                            <div>@Html.LabelFor(model => ((IPedidosDetalles)model.First()).Codigo)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IPedidosDetalles)model.First()).Serie)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IPedidosDetalles)model.First()).Descripcion)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IPedidosDetalles)model.First()).UnidadMedidaDescripcion)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => ((IPedidosDetalles)model.First()).Cantidad)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => (model.First()).CantidadEnviada)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => (model.First()).CantidadRecibida)</div>
                        </th>
                    </tr>                    
                </thead>
                <tbody>
                    @foreach(IPedidosDetalles child in @Model)
                    {
                        <tr class="ui-rw-cat" data-property="IdPedidoDetalle" data-property-value="@child.IdPedidoDetalle">
                            <td data-property="IdInsumo" data-property-value="@child.IdInsumo" style="text-align:left!important;">@child.Codigo</td>
                            <td style="text-align:left!important;">@child.Serie</td>
                            <td style="text-align:left!important;">@child.Descripcion</td>
                            <td style="text-align:left!important;">@child.UnidadMedidaDescripcion</td>
                            <td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad.ToString("n4")</td>
                            <td data-property="CantidadEnviada" data-property-value="@child.CantidadEnviada">@child.CantidadEnviada2.ToString("n4")</td>
                            <td data-property="CantidadRecibida" data-property-value="@child.CantidadRecibida">@child.CantidadRecibida</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
}