@model Entidades.IPedidosDetalles
@Html.DisplayForModel("IPedidosDetallesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaPedidosDetalles" class="btn btn-icap" data-property-id="@Model.IdPedidoDetalle" data-url-action="@Url.Action("Delete", "PedidosDetalles")">@ViewBag.LabelDelete</span>
</div>

