@model Entidades.IPedidosDetalles
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewPedidosDetalles" action="@Url.Action(ViewBag.Action, "PedidosDetalles")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IPedidosDetalles")
    <div class="modal-footer IcapFooter">
        <span id="btnSavePedidosDetalles" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

