﻿@using Entidades
@model  IEnumerable<Entidades.IClientesPersonal>
@if(Model != null && Model.Count() > 0)
{
    <table id="tablaUnidades" class="table table-condensed table-bordered">
        <thead class="grid-HeadRed  navbar-default">
            <tr>
                <th colspan="7"><div>@CIdioma.TraduceCadena("ICatalogosWithErrorXls")</div></th>
            </tr>
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).RazonSocial)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Nombre)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).ApellidoPaterno)</div>
                </th>   
                <th>
                    <div>@Html.LabelFor(model => (model.First()).ApellidoMaterno)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Puesto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Telefono)</div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-size:95%">
            @foreach (IClientesPersonal child in @Model)
            {
                <tr class="ui-rw-cat" data-property="IdUnidad" data-property-value="@child.IdCliente">
                    <td>
                        <div class="cellTexto-xs">@child.Unidad</div>
                    </td>
                    <td>
                        <div class="cellTexto-xs">@child.RazonSocial</div>
                    </td>
                    <td>
                        <div class="cellTexto-xs">@child.Nombre</div>
                    </td>
                    <td>
                        <div class="cellTexto-xs">@child.ApellidoPaterno</div>
                    </td>
                    <td>
                        <div class="cellTexto-xs">@child.ApellidoMaterno</div>
                    </td>
                    <td>
                        <div class="cellTexto-xs">@child.Puesto</div>
                    </td>
                    <td>
                        <div class="cellTexto-xs">@child.Telefono</div>
                    </td>
                    <td>
                        <div class="cellTexto-xs" style="color:#f00;"><b>@child.Empresa</b></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-success col-md-12" style="visibility:visible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>@Html.Raw(@Entidades.CIdioma.TraduceCadena("WebApiResponseOK"))</b>
    </div>
}
