﻿@model IEnumerable<Entidades.IClientesPersonal>
@using Entidades
@if(Model != null)
{
    <option selected="selected" data-property="IdPersonalCliente" data-property-value="0">
        @Entidades.CIdioma.TraduceCadena("IClientesPersonalSeleccionePersonal")
    </option>
    foreach(IClientesPersonal personal in Model)
    {
        <option data-property="IdPersonalCliente" data-property-value="@personal.IdPersonalCliente">
            @String.Format("{0} {1} {2} [{3}]",personal.Nombre,personal.ApellidoPaterno,personal.ApellidoMaterno,personal.Puesto)
        </option>
    }
}
else
{
    <option data-property="IdPersonalCliente" data-property-value="0">@Entidades.CIdioma.TraduceCadena("ViewMvcNoResult")</option>
}