@model Entidades.IClientesPersonal
@Html.DisplayForModel("IClientesPersonalDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaClientesPersonal" class="btn btn-icap" data-property-id="@Model.IdPersonalCliente" data-url-action="@Url.Action("Delete", "ClientesPersonal")">@ViewBag.LabelDelete</span>
</div>

