@model Entidades.IClientesPersonal
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewClientesPersonal" action="@Url.Action(ViewBag.Action, "ClientesPersonal")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IClientesPersonal")
    <div class="form-group col-md-12">
        <span id="btnSaveClientesPersonal" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>    
</form>

