@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaCotizacionesDetalles" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizacionesDetalles)model.Contenido.First()).IdCotizacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizacionesDetalles)model.Contenido.First()).IdIConcepto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizacionesDetalles)model.Contenido.First()).IdInsumo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizacionesDetalles)model.Contenido.First()).Cantidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizacionesDetalles)model.Contenido.First()).Precio)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizacionesDetalles)model.Contenido.First()).PorcentajeDescuento)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((ICotizacionesDetalles)model.Contenido.First()).DescuentoMonto)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(ICotizacionesDetalles child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdCotizacionDetalle" data-property-value="@child.IdCotizacionDetalle">
                    <td data-property="IdCotizacion" data-property-value="@child.IdCotizacion">@child.IdCotizacion</td>
                    <td data-property="IdIConcepto" data-property-value="@child.IdIConcepto">@child.IdIConcepto</td>
                    <td data-property="IdInsumo" data-property-value="@child.IdInsumo">@child.IdInsumo</td>
                    <td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad</td>
                    <td data-property="Precio" data-property-value="@child.Precio">@child.Precio</td>
                    <td data-property="PorcentajeDescuento" data-property-value="@child.PorcentajeDescuento">@child.PorcentajeDescuento</td>
                    <td data-property="DescuentoMonto" data-property-value="@child.DescuentoMonto">@child.DescuentoMonto</td>

                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

