@model Entidades.ICotizacionesDetalles
<table id="tablaCotizacionesDetalles" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => Model.IdCotizacion)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdIConcepto)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdInsumo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Cantidad)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Precio)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.PorcentajeDescuento)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.DescuentoMonto)</div>
</th> 
                   
            </tr>
        </thead>
    <tbody>
	<tbody>          
             <tr>
		 <td>@Model.IdCotizacion</td>
<td>@Model.IdIConcepto</td>
<td>@Model.IdInsumo</td>
<td>@Model.Cantidad</td>
<td>@Model.Precio</td>
<td>@Model.PorcentajeDescuento</td>
<td>@Model.DescuentoMonto</td>
                      
            </tr>            
        </tbody>         
</table>

