﻿@model IEnumerable<Entidades.IUnidades>
@using Entidades
@if(Model != null && Model.Count() > 0)
{
    <form>
        <div class="form-group col-md-10">
            <label for="cmbUnidadesEmpresaUnidades">@CIdioma.TraduceCadena("IEmpresasUnidadesSelect")</label>
            <select id="cmbUnidadesEmpresaUnidades" class="form-control">
                <option selected="selected" value="0">@CIdioma.TraduceCadena("IEmpresasUnidadesSelectDefault")</option>
                @foreach(Entidades.IUnidades unidad in Model)
                {
                    <option value="@unidad.IdUnidad">@unidad.Unidad</option>
                }
            </select>
        </div>        
        <div class="form-group col-md-12">
            <span id="btnCambiaUnidad" class="btn btn-icap btn-right">@CIdioma.TraduceCadena("IUnidadesBtnCambiaUnidad")</span>
        </div>
        <div class="modal-footer IcapFooter"></div> 
    </form>
}