@model Entidades.IUnidades
@Html.HiddenFor(model => model.IdUnidad)  
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }    
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Unidad)
    @Html.EditorFor(model => model.Unidad)
    @Html.ValidationMessageFor(model => model.Unidad)
</div>
<div class="form-group col-md-9">
    @Html.LabelFor(model => model.Direccion)
    @Html.EditorFor(model => model.Direccion)
    @Html.ValidationMessageFor(model => model.Direccion)
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Telefono)
    @Html.EditorFor(model => model.Telefono)
    @Html.ValidationMessageFor(model => model.Telefono)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


