@model Entidades.ICotizaciones
<input type="hidden" name="IdCotizacion" id="IdCotizacion" value="@Model.IdCotizacion">
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
      @Html.TextBox("Empresa", Model.Empresa, new{@class = "form-control",@readonly = "readonly"})
    }
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Unidad)
    @if(Model != null)
    {
        @Html.TextBox("Unidad", Model.Unidad, new
 {
     @class = "form-control",
     @readonly = "readonly"
 })
    }
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.IdCliente, new
{
    @for = "IdCotiCLienteAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdCotiCLienteAutoComplete",
        Url = @Url.Action("Top", "Clientes"),
        Metod = "post",
        Min = "1",
        Target = "IdCliente",
        PropValue = "IdCliente",
        PropDisplay = "RazonSocial",
        CampoSearch = "RazonSocial",
        CampoCondicion = "contenga",
        Value = (Model != null) ? Model.RazonSocial : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdCliente)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Cotizacion)    
    @Html.TextBox("Cotizacion", Model.Cotizacion, new
 {
     @class = "form-control"    
 })   
</div>



<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Fecha)
    @if(Model != null)
    {
        <input name="Fecha" id="Fecha" value="@Model.Fecha.ToString("d")" 
               class="form-control icapDatePicker" 
               data-url-ivacambio="@Url.Action("IvaByFecha", "IvaValores")" />
    }   
</div>  
@*@if(Model != null && Model.IdCotizacion>0)
{
   <div class="form-group col-md-3">
        @Html.LabelFor(model => model.IdMoneda, new
        {
            @for = "IdMonedaCotizacionHeadAutoComplete"
        })
       <input id="IdMonedaCotizacionHeadAutoComplete" readonly="readonly" value="@Model.Moneda" type="text" class="form-control" />
    </div>
}
else
{*@
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.IdMoneda, new
        {
            @for = "IdMonedaCotizacionHeadAutoComplete"
        })
        @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdMonedaCotizacionHeadAutoComplete",
            Url = @Url.Action("Top", "Monedas"),
            Metod = "post",
            Min = "1",
            Target = "IdMoneda",
            PropValue = "IdMoneda",
            PropDisplay = "Moneda",
            CampoSearch = "Moneda",
            CampoCondicion = "contenga",
            Multiple = "1",
            //FnBeforeSelect = "ObtieneTipoCambio",
            Value = (Model != null) ? Model.Moneda : String.Empty
        })    
    </div>
@* } *@
<div class="form-group col-md-2">
    @Html.LabelFor(model => model.Exito)
    @Html.EditorFor(model => model.Exito)
    @Html.ValidationMessageFor(model => model.Exito)
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(model => model.Iva)
    @if(Model != null)
    {
        @Html.TextBox("Iva", Model.Iva, new{@class = "form-control",@readonly = "readonly"})
    }
</div>
@*<div class="form-group col-md-2">
    @Html.LabelFor(model => model.Valor)
    @if(Model != null)
    {
      <input id="Valor" value="@Model.Valor"
             class="form-control" 
              url="@Url.Action("TipoCambioByFecha", "TipoCambios")" />  
    }
</div>*@

@*<div class="form-group col-md-3">
    @Html.LabelFor(model => model.PorcentajeDescuento)
    @Html.EditorFor(model => model.PorcentajeDescuento)
    @Html.ValidationMessageFor(model => model.PorcentajeDescuento)
</div>*@
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.DescuentoMonto)
    @Html.EditorFor(model => model.DescuentoMonto)
    @Html.ValidationMessageFor(model => model.DescuentoMonto)
</div>
@if(Model.IdCotizacion == 0)
{
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Utilidad, new
        {
            @for = "IdMonedaCotizacionHeadAutoComplete"
        })
        @Html.EditorFor(model => model.Utilidad)
    </div>
}
else
{
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Utilidad)
        <input type="number" value="@Model.Utilidad" readonly="readonly" class="form-control SimboloPorcentaje" />
    </div>
}


@*<div class="form-group col-md-2">
    @Html.LabelFor(model => model.SubTotal)
    @if(Model != null)
    {
        <input  id="SubTotal" name="Subtotal" readonly="readonly" value="@Model.SubTotal.ToString("n4")" />
    }
    @Html.ValidationMessageFor(model => model.SubTotal)
</div>*@
@*<div class="form-group col-md-2">
    @Html.LabelFor(model => model.Total)
    @if(Model != null)
    {      
        <input id="Total" name="Total" readonly="readonly" value="@Model.Total.ToString("n4")" />
    }
    @Html.ValidationMessageFor(model => model.Total)
</div>*@
    @*<div class="form-group col-md-12">
            <span id="btnAplicaDescuentos"
                  class="btn btn-icap"
                  data-msj-wait="rEALIZANDO CONVERSION ESPER FALTA TRADUCCION"
                  data-url-conversion="@Url.Action("Conversion", "Cotizaciones")">@Entidades.CIdioma.TraduceCadena("ICotizacionCalculaTotales")</span>
        </div>*@
    <div class="fieldDestino">
        @Html.EditorFor(model => model.IdCliente)
    </div>
    <div class="fieldDestino">
        @Html.EditorFor(model => model.IdIva)
    </div>
    @*<div class="fieldDestino">
        <input name="IdTipoCambio" id="IdTipoCambio" type="hidden" value="@Model.IdTipoCambio" />
    </div>*@
    <div class="fieldDestino">
        <input name="IdMoneda" id="IdMoneda" type="hidden" value="@Model.IdMoneda" />        
    </div>
