@model Entidades.ICotizaciones
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Solicitud)
    @Html.EditorFor(model => model.Solicitud)    
</div>
<div class="form-group col-md-8">
    @Html.LabelFor(model => model.ProyectoInicial)
    @Html.EditorFor(model => model.ProyectoInicial)
</div>

<div class="form-group col-md-3">
    @Html.LabelFor(model => model.DescripcionTitulo)
    @Html.EditorFor(model => model.DescripcionTitulo)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.DescripcionCompleta)
    @Html.EditorFor(model => model.DescripcionCompleta)
</div>

<div class="form-group col-md-3">
    @Html.LabelFor(model => model.DepartamentoAtencion)
    @Html.EditorFor(model => model.DepartamentoAtencion)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.FechaEntrega)
    <textarea name="FechaEntrega" id="FechaEntrega" cols="1" rows="5" class="form-control input-sm" >
        @Model.FechaEntrega
    </textarea>
</div>

<div class="form-group col-md-4">
    <label>@Entidades.CIdioma.TraduceCadena("IOTPersonalClienteAtencion")</label>
    <select class="form-control" id="selAtencionCotizacion"></select>

</div>
<div class="form-group col-md-2">
    <br />
    <div>
        <div id="btnAtencionCotizacionPlus" class="btn btn-sm btn-primary glyphicon glyphicon-plus" data-origen="selAtencionCotizacion" data-destino="ulAtencionCotizacion"></div>
        <div id="btnAtencionCotizacionMinus" class="btn btn-sm btn-primary glyphicon glyphicon-minus" data-origen="ulAtencionCotizacion"></div>
    </div>
</div>


<div class="form-group col-md-4">
    <label>@Entidades.CIdioma.TraduceCadena("IOTPersonalClienteContacto")</label>
    <select class="form-control" id="selContactoCotizacion"></select>
</div>
<div class="form-group col-md-2">
    <br />
    <div>
        <div id="btnContactoCotizacionPlus" class="btn btn-sm btn-primary glyphicon glyphicon-plus" data-origen="selContactoCotizacion" data-destino="ulContactoCotizacion"></div>
        <div id="btnContactoCotizacionMinus" class="btn btn-sm btn-primary glyphicon glyphicon-minus" data-origen="ulContactoCotizacion"></div>
    </div>
</div>

<div class="form-group col-md-6">
    <ul id="ulAtencionCotizacion" class="list-group ulPersonalCliente" data-msj-existe="@Entidades.CIdioma.TraduceCadena("IOTyaExisteElPersonal")">
        @Html.Partial("_PersonalCliente", Model.PersonalClienteAtencion)
    </ul>
</div>
<div class="form-group col-md-6">
    <ul id="ulContactoCotizacion" class="list-group ulPersonalCliente" data-msj-existe="@Entidades.CIdioma.TraduceCadena("IOTyaExisteElPersonal")">
        @Html.Partial("_PersonalCliente", Model.PersonalClienteContacto)
    </ul>
</div>