@model Entidades.ICotizaciones
@using Entidades
<div id="dvNotificacionesValidacionConceptosCotizaciones"></div>
<div>    
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="liTab">
            <a href="#dvTabDatosGenerales" aria-controls="dvTabDatosGenerales" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("ICotizacionTabDatosGenerales")
            </a>
        </li>

        <li role="presentation" class="liTab">
            <a href="#dvTabDatosAdicionales"
               data-url="@Url.Action("PersonalByCliente", "ClientesPersonal")"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-IdCliente="0"
               aria-controls="dvTabDatosAdicionales"
               role="tab"
               data-toggle="tab"
               id="tabDatosAdicionales">
                @CIdioma.TraduceCadena("ICotizacionTabDatosAdicionales")
            </a>
        </li>

        <li role="presentation" class="liTab">
            <a href="#dvTabConceptos" aria-controls="dvTabConceptos" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("ICotizacionTabConceptos")
            </a>
        </li>
        <li role="presentation" class="liTab">
            <a id="tabExplosionInsumos"
               data-url-insumos="@Url.Action("InsumosByConceptos", "Cotizaciones")"
               href="#dvTabExpInsumos"
               aria-controls="dvTabExpInsumos"
               role="tab"
               data-toggle="tab">
                @CIdioma.TraduceCadena("ICotizacionTabExposionInsumos")
            </a>
        </li>
        <li role="presentation" class="liTab">
            <a id="tabConceptosCapitulos"
               data-url-group="@Url.Action("ConceptosByCapitulo", "Cotizaciones")"
               href="#dvTabConceptosCap"
               aria-controls="dvTabConceptosCap"
               role="tab"
               data-toggle="tab">
                @CIdioma.TraduceCadena("ICotizacionTabConceptosCapitulos")
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane  active" id="dvTabDatosGenerales">
            @Html.Partial("EditorTemplates/_ICotizacionesHeader", Model)
        </div>
        <div role="tabpanel" class="tab-pane  " id="dvTabDatosAdicionales">
            @Html.Partial("EditorTemplates/_ICotizacionesComplementos", Model)
        </div>
        <div role="tabpanel" class="tab-pane " id="dvTabConceptos">
            @if(Model!= null && Model.Conceptos != null)
            {
                @Html.Partial("_Conceptos", Model.Conceptos)
            }
            else
            {
                @Html.Partial("_Conceptos", new List<CCotizacionesDetalles>())
            }        
        </div>
        <div role="tabpanel" class="tab-pane " id="dvTabExpInsumos">                
            @Html.Partial("../Shared/ExplosionInsumos/_ExplosionInsumos", new List<CConceptosInsumos>())            
        </div>
        <div role="tabpanel" class="tab-pane " id="dvTabConceptosCap">
            @Html.Partial("_ConceptosGroupByCapitulo", new List<CConceptos>())            
        </div>
    </div>
</div>