@model Entidades.IUsuarios
@Html.HiddenFor(model => model.IdUsuario)

<div class="form-group col-md-6">
    <div class="fieldDestino">
        @Html.EditorFor(model => model.IdPerfil)
    </div>
    @Html.LabelFor(model => model.Perfil, new{@for = "IdPerfilAutoComplete"})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdPerfilAutoComplete",
        Url = @Url.Action("Top", "Perfiles"),
        Metod = "post",
        Min = "1",
        Target = "IdPerfil",
        PropValue = "IdPerfil",
        PropDisplay = "Nombre",
        CampoSearch = "Nombre",
        CampoCondicion = "contenga",
        Value = (Model != null) ? Model.Perfil : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdPerfil)
</div>


<div class="form-group col-md-6">
    <div class="fieldDestino">
        @Html.EditorFor(model => model.IdEmpleado)
    </div>
    @Html.LabelFor(model => model.NombreEmpleado, new{@for = "IdEmpleadoAutoComplete"})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdEmpleadoAutoComplete",
        Url = @Url.Action("Top", "Empleados"),
        Metod = "post",
        Min = "1",
        Target = "IdEmpleado",
        PropValue = "IdEmpleado",
        PropDisplay = "Nombre,ApellidoPaterno,ApellidoMaterno,Matricula",
        CampoSearch = "Nombre",
        CampoCondicion = "contenga",
        Multiple="1",
        Value = (Model != null) ? Model.NombreEmpleado : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdEmpleado)
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Usuario)
    @Html.EditorFor(model => model.Usuario)
    @Html.ValidationMessageFor(model => model.Usuario)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Clave)
    @Html.PasswordFor(model => model.Clave, new{@class = "form-control"})
    @Html.ValidationMessageFor(model => model.Clave)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.ClaveConfirm)
    @Html.PasswordFor(model => model.ClaveConfirm, new {@class = "form-control" })
    @Html.ValidationMessageFor(model => model.ClaveConfirm)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


