@model Entidades.IIngenierias
@Html.HiddenFor(model => model.IdIngenieria)
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Unidad)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Unidad, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Proyecto, new
{
    @for = "IdProyectoIngenieriaAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdProyectoIngenieriaAutoComplete",
        Url = @Url.Action("Top", "Proyectos"),
        Metod = "post",
        Min = "1",
        Target = "IdProyecto",
        PropValue = "IdProyecto",
        PropDisplay = "Proyecto",
        CampoSearch = "Proyecto",
        CampoCondicion = "contenga",
        Value = (Model != null) ? Model.Proyecto : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdProyecto)
</div>
<div class="form-group col-md-8">
    @Html.LabelFor(model => model.Ingenieria)
    @Html.EditorFor(model => model.Ingenieria)
    @Html.ValidationMessageFor(model => model.Ingenieria)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Fecha)
    <input name="Fecha" id="Fecha" value="@Model.Fecha.ToString("d")" class="form-control icapDatePicker" />
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdProyecto)
</div>