@model Entidades.ICapitulos
@Html.DisplayForModel("ICapitulosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaCapitulos" class="btn btn-icap" data-property-id="@Model.IdCapitulo" data-url-action="@Url.Action("Delete", "Capitulos")">@ViewBag.LabelDelete</span>
</div>

