@model Entidades.ICapitulos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewCapitulos" action="@Url.Action(ViewBag.Action, "Capitulos")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("ICapitulos")
   <div class="form-group col-md-12">
	<span id="btnSaveCapitulos" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
   </div>
   <div class="modal-footer IcapFooter"></div>
</form>

