@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaUnidadesMedida" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IUnidadesMedida)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUnidadesMedida)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUnidadesMedida)model.Contenido.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUnidadesMedida)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IUnidadesMedida child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdUnidad" data-property-value="@child.IdUnidad">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="Unidad" data-property-value="@child.Unidad">@child.Unidad</td>
                    <td data-property="Descripcion" data-property-value="@child.Descripcion">@child.Descripcion</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus",@child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

