@model Entidades.ITipoCambios
   @Html.HiddenFor(model => model.IdTipoCambio)
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.FechaInicio)    
    <input name="FechaInicio" id="FechaInicio" value="@Model.FechaInicio.ToString("d")" class="form-control icapDatePicker" />
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.FechaFin)    
    <input name="FechaFin" id="FechaFin" value="@Model.FechaFin.ToString("d")" class="form-control icapDatePicker" />
</div>
<div class="form-group col-md-6">

    @Html.LabelFor(model => model.MonedaOrigen, new
{
    @for = "IdMonedaOrigenAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdMonedaOrigenAutoComplete",
        Url = @Url.Action("Top", "Monedas"),
        Metod = "post",
        Min = "1",
        Target = "IdMonedaOrigen",
        PropValue = "IdMoneda",
        PropDisplay = "Moneda,Codigo",
        CampoSearch = "Moneda",
        CampoCondicion = "contenga",
        Multiple = "1",
        Value = (Model != null) ? Model.MonedaOrigen : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdMonedaOrigen)
</div>
<div class="form-group col-md-6">

    @Html.LabelFor(model => model.MonedaDestino, new
{
    @for = "IdMonedaDestinoAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdMonedaDestinoAutoComplete",
        Url = @Url.Action("Top", "Monedas"),
        Metod = "post",
        Min = "1",
        Target = "IdMonedaDestino",
        PropValue = "IdMoneda",
        PropDisplay = "Moneda,Codigo",
        CampoSearch = "Moneda",
        CampoCondicion = "contenga",
        Multiple = "1",
        Value = (Model != null) ? Model.MonedaDestino : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdMonedaDestino)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Valor)
    @Html.EditorFor(model => model.Valor)
    @Html.ValidationMessageFor(model => model.Valor)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>

<div class="fieldDestino">
    @Html.EditorFor(model => model.IdMonedaOrigen)
</div>
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdMonedaDestino)
</div>