@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaAcciones" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IAcciones)model.Contenido.First()).AccionNombre)</div>
                </th>  
                <th>
                    <div>@Html.LabelFor(model => ((IAcciones)model.Contenido.First()).MenuIncluir)</div>
                </th>                
                <th>
                    <div>@Html.LabelFor(model => ((IAcciones)model.Contenido.First()).MenuOmitir)</div>
                </th>                
                <th>
                    <div>@Html.LabelFor(model => ((IAcciones)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IAcciones child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdAccion" data-property-value="@child.IdAccion">
                    <td data-property="AccionNombre" data-property-value="@child.AccionNombre">@child.AccionNombre</td>
                    <td >@child.MenuIncluir</td>
                    <td >@child.MenuOmitir</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult");
}