@model Entidades.IAcciones
<table id="tablaAcciones" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.AccionNombre)</div>
            </th>                    
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.AccionNombre</td>          
            <td>@Html.Partial("_Estatus", @Model.Estatus)</td>
        </tr>
    </tbody>
</table>

