@model Entidades.IMovimientosDetalles
@Html.DisplayForModel("IMovimientosDetallesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaMovimientosDetalles" class="btn btn-icap" data-property-id="@Model.IdMovimientoDetalle" data-url-action="@Url.Action("Delete", "MovimientosDetalles")">@ViewBag.LabelDelete</span>
</div>

