@model Entidades.IMovimientosDetalles
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewMovimientosDetalles" action="@Url.Action(ViewBag.Action, "MovimientosDetalles")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IMovimientosDetalles")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveMovimientosDetalles" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

