﻿@model Entidades.IMovimientosDetalles
@using Entidades
<tr class="movimientoDetalle">
    <td>       
        <span title="@Model.Descripcion">@Model.Codigo</span>       
    </td>
    <td data-property="Cantidad" data-object-value="@String.Format("Cantidad{0}", Model.IdInsumo)">
        <input id="@String.Format("Cantidad{0}", Model.IdInsumo)"
               type="number"
               class="form-control Cantidades"
               value="@(Model.Cantidad)" />
    </td>
    <td>
        <span>@Model.UnidadMedidaDescripcion</span>
    </td>
    <td data-property="Precio" data-object-value="@String.Format("Precio{0}", Model.IdInsumo)">
        <input type="number"
               class="form-control Cantidades"
               value="@Model.Precio"
               id="@String.Format("Precio{0}", Model.IdInsumo)" />
    </td>
    <td>
        <span>@Model.CodigoMoneda</span>
    </td>
    <td data-property="Observacion" data-object-value="@String.Format("Observacion{0}", Model.IdInsumo)">
        <textarea class="form-control Observacion"                  
                  rows="2"
                  id="@String.Format("Observacion{0}", Model.IdInsumo)">
            @if (Model.IdMovimiento > 0)
            {
                @Model.Observacion
            }
        </textarea>
    </td>
    <td>
        <div class="btnDelete btnGrid btnGridSmall btnRemoveTR" data-param="@Model.IdInsumo"></div>         
    </td>
    <td style="display:none" data-property="IdMovimiento" data-property-value="@Model.IdMovimiento"></td>
    <td style="display:none" data-property="IdMovimientoDetalle" data-property-value="@Model.IdMovimientoDetalle"></td>
    <td style="display:none" data-property="IdInsumo" data-property-value="@Model.IdInsumo"></td>
</tr>