﻿@model Entidades.IMovimientosDetalles
@using Entidades
<tr class="movimientoDetalle">
    <td>
       <span title="@Model.Descripcion">@Model.Codigo</span>        
    </td>   
    <td data-property="CantidadExistenciaInsumo" data-property-value="@Model.CantidadExistenciaInsumo">
        @Model.CantidadExistenciaInsumo
    </td>
    <td data-property="Cantidad" data-object-value="@String.Format("CantidadSalida{0}", Model.Cantidad)">
        <input type="number"
               class="form-control"
               value="@Model.Cantidad"
               min="0"
               id="@String.Format("CantidadSalida{0}", Model.Cantidad)" />
    </td>
    <td data-property="Observacion" data-object-value="@String.Format("Observacion{0}", Model.IdInsumo)">
        <textarea class="form-control Observacion"
                  rows="2"
                  id="@String.Format("Observacion{0}", Model.IdInsumo)">
            @if(Model.IdMovimiento > 0)
            {
                @Model.Observacion
            }
        </textarea>
    </td>    
    <td>        
        <div class="btnDelete btnGrid btnGridSmall btnRemoveTR" data-param="@Model.IdInsumo"></div> 
    </td>   
    <td style="display:none" data-property="IdMovimiento" data-property-value="@Model.IdMovimiento"></td>
    <td style="display:none" data-property="IdMovimientoDetalle" data-property-value="@Model.IdMovimientoDetalle"></td> 
    <td style="display:none" data-property="IdInsumo" data-property-value="@Model.IdInsumo"></td>
</tr>