﻿@model IEnumerable<Entidades.IAlmacenes>
@using Entidades
@{
    int IdAlmacen = 0;
    if(ViewData["IdAlmacen"] != null)
    {
        IdAlmacen = (int)ViewData["IdAlmacen"];
    }    
}
@if(Model!= null && Model.Count()>0)
{
   <option selected="selected" value="0">@CIdioma.TraduceCadena("IMovimientosAlmacenSelecDefault")</option>
    foreach(IAlmacenes almacen in Model)
    {
        if(almacen.IdAlmacen == IdAlmacen)
        {
            <option selected="selected" value="@almacen.IdAlmacen">@almacen.Almacen</option>
        }
        else
        {
            <option value="@almacen.IdAlmacen">@almacen.Almacen</option>
        }

    }
}
