﻿@model IEnumerable<Entidades.IMovimientos>
@using Entidades   
@if(Model !=null && Model.Count()>0)
{
        
<table id="tblMovimientosResultAll" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th class="btn-one">

            </th>
            <th>
                <div>@Html.LabelFor(model => ((IMovimientos)model.First()).Fecha)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IMovimientos)model.First()).Tipo)</div>
            </th>
            <th>
                <div><label>@CIdioma.TraduceCadena("CFiltrosMovimientoIdUnidadOrigen")</label></div>
            </th>
            <th>
                <div><label>@CIdioma.TraduceCadena("CFiltrosMovimientoIdAlmacenOrigen")</label></div>
            </th>
            <th>
                <div><label>@CIdioma.TraduceCadena("CFiltrosMovimientoIdUnidadDestino")</label></div>
            </th> 
            <th>
                <div><label>@CIdioma.TraduceCadena("CFiltrosMovimientoIdAlmacenDestino")</label></div>
            </th>            
            <th>
                <div>@Html.LabelFor(model => ((IMovimientos)model.First()).Usuario)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IMovimientos)model.First()).Proyecto)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => ((IMovimientos)model.First()).Contrato)</div>
            </th>         
        </tr>
    </thead>
    <tbody>
        @foreach(IMovimientos child in @Model)
        {
            <tr class="ui-rw-cat"
                data-property="IdMovimiento"
                data-property-value="@child.IdMovimiento"
                data-url-movs="@Url.Action("GetAllMovsById", "MovimientosDetalles")">
                <td>                    
                    <div class="btnGridSmallDetalle" style="color:#286090">
                        <i class="fa fa-plus fa-1x "></i>
                    </div>
                </td>
                <td data-property="Fecha" data-property-value="@child.Fecha">@child.Fecha.ToString("d")</td>
                <td >@(((Negocio.NMovimientos.eTipoMovimientos)@child.Tipo).ToString())</td>
                <td data-property="IdUnidad" data-property-value="@child.IdUnidad">@child.Unidad</td>              
                <td data-property="IdAlmacen"
                    data-property-value="@child.IdAlmacen">                   
                    @child.Almacen
                </td>
                <td>@child.UnidadDestino</td>                                                       
                <td >@child.AlmacenDestino
                </td>                
                <td data-property="IdUsuario" data-property-value="@child.IdUsuario">@child.Usuario</td>
                <td data-property="IdProyecto" data-property-value="@child.IdProyecto">@child.Proyecto</td>
                <td data-property="IdContrato" data-property-value="@child.IdContrato">@child.Contrato</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    @Html.Partial("_NoResult")
}