﻿@model Entidades.IInsumosExistencias
<thead class="grid-Head navbar-default">
    <tr>
        <th>
            <div> @Html.LabelFor(Model => Model.Codigo)</div>
        </th>
        <th class="headCantidades">
            <div> @Html.LabelFor(Model => Model.Cantidad)</div>
        </th>
        <th class="headCantidades">
            <div> @Html.LabelFor(Model => Model.Cantidad)*</div>
        </th>     
        <th class="headObservacion">
            <div><label>@Entidades.CIdioma.TraduceCadena("IMovimientosDetallesObservacion")</label></div>
        </th>   
        <th class="btn-one">
        </th>
    </tr>
</thead>