﻿@model Entidades.IMovimientosDetalles
<thead class="grid-Head navbar-default">
    <tr>
        <th>
            <div> @Html.LabelFor(Model => Model.IdInsumo)</div>
        </th>
        <th class="headCantidades">
            <div> @Html.LabelFor(Model => Model.Cantidad)</div>
        </th>
        <th class="headCantidades">
            <div> @Html.LabelFor(Model => Model.Unidad)</div>
        </th>
        <th class="headCantidades">
            <div > @Html.LabelFor(Model => Model.Precio)</div>
        </th>
        <th class="headCantidades">
            <div> @Html.LabelFor(Model => Model.Moneda)</div>
        </th>
        <th class="headObservacion">
            <div> @Html.LabelFor(Model => Model.Observacion)</div>
        </th>
        <th class="btn-one">
        </th>
    </tr>
</thead>