﻿@model Entidades.CModelTraspasos
@using Entidades
@if(Model != null && Model.Almacenes != null && Model.Almacenes.Count() > 0)
{
    <div class="form-group col-md-6">
        <label>@CIdioma.TraduceCadena("ITraspasoAlmacenOrigen")</label>
        <select id="IdAlmacen"
                class="form-control"
                name="IdAlmacen"
                data-auto2-nombrecampo="IdAlmacen" 
                data-auto2-condicion="=" 
                data-auto2-operador=" AND ">
            @if(Model.Movimiento.IdMovimiento == 0)
            {
                <option selected="selected" value="0">@CIdioma.TraduceCadena("IMovimientosAlmacenSelecDefault")</option>
            }            
            @foreach(IAlmacenes almacen in Model.Almacenes)
            {
                if(Model.Movimiento.IdAlmacen == almacen.IdAlmacen)
                {
                    <option selected="selected" value="@almacen.IdAlmacen">@almacen.Almacen</option>
                }
                else
                {
                    <option value="@almacen.IdAlmacen">@almacen.Almacen</option>
                }
            }
        </select>    
    </div>   
    <div class="form-group col-md-6">
        <label>@CIdioma.TraduceCadena("ITraspasoAlmacenDestino")</label>
        <select id="IdAlmacenDestino" class="form-control" name="IdAlmacenDestino">
            @if(Model.Movimiento.IdMovimiento == 0)
            {
                <option selected="selected" value="0">@CIdioma.TraduceCadena("IMovimientosAlmacenSelecDefault")</option>
            }      
            @foreach(IAlmacenes almacen in Model.Almacenes)
            {
                if(Model.Movimiento.IdAlmacenDestino == almacen.IdAlmacen)
                {
                    <option selected="selected" value="@almacen.IdAlmacen">@almacen.Almacen</option>
                }
                else
                {
                    <option value="@almacen.IdAlmacen">@almacen.Almacen</option>
                }
            }
        </select>    
    </div>
}