﻿@model Entidades.IUICatalogo
@using Entidades;
<div class="dvToolPermisos navbar navbar-default" id="@String.Format("dvToolBarOpciones{0}", @Model.Nombre)" data-id-menu="@Model.MenuCaller">
    @if(Model != null && Model.Permisos != null && Model.Permisos.Count() > 0)
    {
        <ul class="nav navbar-nav">
            @foreach(IPerfilAcciones permiso in Model.Permisos)
            {
                @Html.Raw(permiso.Html)
            }
            @if(Model.HasPermiso("EnviarInsumosUnidad"))
            {            
                <li>
                    <a id="btnRealizaEnvioInsumos"
                       data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                       data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                       data-url="@Url.Action("NewTraspasoFromPedido", "Movimientos")"                   
                       class="dvIconTool TabSolicitarMaterial">@Entidades.CIdioma.TraduceCadena("IPedidoEnviarInsumos")</a>
                </li>
            }
            @if(Model.HasPermiso("EntradaFromPedido"))
            {
                <li>
                    <a id="btnEntradaFromPedido"
                       data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                       data-msj-none="@CIdioma.TraduceCadena("IUICatalogoMensajeNoSelect")"
                       data-url="@Url.Action("NewEntradaFromPedido", "Movimientos")"
                       class="dvIconTool TabSolicitarMaterial">@Entidades.CIdioma.TraduceCadena("IPedidoEntradaFromPedido")</a>
                </li>
            }
        </ul>
    }
    @*@if(Model != null && Model.HasPermiso("buscar"))
    {
        @Html.Partial("_ToolBuscar")
    }*@
</div>