﻿@model Entidades.IUICatalogo
@using Entidades
@if(@Model != null && Model.Usuario != null && Model.Usuario.Data != null && Model.Usuario.Data.Unidad != null)
{
    <div id="dvUnidadActual"
         class="TitleHeader"
         data-id-empresa="@Model.Usuario.Data.Empresa.IdEmpresa"
         data-id-unidad="@Model.Usuario.Data.Unidad.IdUnidad"
         data-url-cambio="@Url.Action("IndexPaginadoEntradasCambioUnidad", "Movimientos")"
         data-url-html="@Url.Action("PlantillaSelectUnity", "Movimientos")">

        <span>@Model.Usuario.Data.Unidad.Unidad</span>
    </div>
}

