﻿@model Entidades.CModelTraspasos
@using Entidades
@if(Model != null && Model.Unidades != null && Model.Unidades.Count()>0)
{
    <div class="form-group col-md-3">
        <label>@CIdioma.TraduceCadena("ITraspasoUnidadOrigen")</label>
        <select id="IdUnidadOrigen"
                class="form-control"
                data-url="@Url.Action("GetAlmacenesOption", "Movimientos")"
                data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")">
            @if(Model.Movimiento.IdMovimiento ==0)
            {
                <option selected="selected" value="0">@CIdioma.TraduceCadena("IEmpresasUnidadesSelect")</option>
            }
            @foreach(IUnidades unidad in Model.Unidades)
            {
                if(unidad.IdUnidad == Model.Movimiento.IdUnidad && Model.Movimiento.IdMovimiento != 0)
                {
                    <option value="@unidad.IdUnidad" selected="selected">@unidad.Unidad</option>
                }
                else
                {
                    <option value="@unidad.IdUnidad">@unidad.Unidad</option>
                }
            }
        </select>    
    </div>
    <div class="form-group col-md-3">
        <label>@CIdioma.TraduceCadena("ITraspasoAlmacenOrigen")</label>
        <select id="IdAlmacen"
                class="form-control"
                name="IdAlmacen"
                data-auto2-nombrecampo="IdAlmacen" 
                data-auto2-condicion="=" 
                data-auto2-operador=" AND ">
                @if(Model.Movimiento.IdAlmacen > 0)
                {
                    <option selected="selected" value="@Model.Movimiento.IdAlmacen">@Model.Movimiento.Almacen</option>
                }
                else
                {
                    <option selected="selected" value="0">@CIdioma.TraduceCadena("IMovimientosAlmacenSelecDefault")</option>
                }
                
        </select>    
    </div>

    <div class="form-group col-md-3">
        <label>@CIdioma.TraduceCadena("ITraspasoUnidadDestino")</label>
        <select id="IdUnidadDestino"
                class="form-control"
                name="IdAlmacenDestino"
                data-url="@Url.Action("GetAlmacenesOption", "Movimientos")"
                data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")">
            @if(Model.Movimiento.IdMovimiento ==0)
            {
                <option selected="selected" value="0">@CIdioma.TraduceCadena("IEmpresasUnidadesSelect")</option>
            }
            @foreach(IUnidades unidad in Model.Unidades)
            {                
                if(unidad.IdUnidad == Model.Movimiento.IdUnidadDestino)
                {
                    <option value="@unidad.IdUnidad" selected="selected">@unidad.Unidad</option>
                }
                else
                {
                    <option value="@unidad.IdUnidad">@unidad.Unidad</option>
                }
            }
        </select>    
    </div>
    <div class="form-group col-md-3">
        <label>@CIdioma.TraduceCadena("ITraspasoAlmacenDestino")</label>
        <select id="IdAlmacenDestino" class="form-control" name="IdAlmacenDestino">
            @if(Model.Movimiento.IdMovimiento ==0)
            {
                <option selected="selected" value="0">@CIdioma.TraduceCadena("IMovimientosAlmacenSelecDefault")</option>
            }
            else
            {
                if(Model.Movimiento.IdAlmacenDestino != null)
                {
                    if(Model.Movimiento.IdAlmacenDestino > 0)
                    {                        
                        <option selected="selected" value="@Model.Movimiento.IdAlmacenDestino">@Model.Movimiento.AlmacenDestino</option>
                    }
                }
            }
            
        </select>    
    </div>
}