﻿@model Entidades.CFiltrosMovimiento
@using Entidades
<fieldset>
    <legend></legend>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Tipo)
        <select class="form-control" id="Tipo">
            <option selected="selected" value="@((int)Negocio.NMovimientos.eTipoMovimientos.Entrada)">@Negocio.NMovimientos.eTipoMovimientos.Entrada</option>
            <option value="@((int)Negocio.NMovimientos.eTipoMovimientos.Salida)">@Negocio.NMovimientos.eTipoMovimientos.Salida</option>
            <option value="@((int)Negocio.NMovimientos.eTipoMovimientos.Traspaso)">@Negocio.NMovimientos.eTipoMovimientos.Traspaso</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.FechaIni)
        <input type='text' class="form-control" id='FechaIni' value="@DateTime.Now" />
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.FechaFin)
        <input type='text' class="form-control" id='FechaFin' value="@DateTime.Now" />
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Proyecto)
        <input name="Proyecto" id="Proyecto" class="form-control" />
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Contrato)
        <input name="Contrato" id="Contrato" class="form-control" />
    </div>




    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.IdUsuario)
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdUsuarioAutoComplete",
        Url = @Url.Action("Top", "Usuarios"),
        Metod = "post",
        Min = "1",
        Target = "IdUsuario",
        PropValue = "IdUsuario",
        PropDisplay = "Usuario",
        CampoSearch = "Usuario",
        CampoCondicion = "contenga"
    })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.IdUnidadOrigen)
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdUnidadOrigenAutoComplete",
        Url = @Url.Action("Top", "Unidades"),
        Metod = "post",
        Min = "1",
        Target = "IdUnidadOrigen",
        PropValue = "IdUnidad",
        PropDisplay = "Unidad",
        CampoSearch = "Unidad",
        CampoCondicion = "contenga"
    })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.IdAlmacenOrigen)
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdAlmacenOrigenAutoComplete",
        Url = @Url.Action("Top", "Almacenes"),
        Metod = "post",
        Min = "1",
        Target = "IdAlmacenOrigen",
        PropValue = "IdAlmacen",
        PropDisplay = "Almacen",
        CampoSearch = "Almacen",
        CampoCondicion = "contenga"
    })
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.IdUnidadDestino)
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdUnidadDestinoAutoComplete",
        Url = @Url.Action("Top", "Unidades"),
        Metod = "post",
        Min = "1",
        Target = "IdUnidadDestino",
        PropValue = "IdUnidad",
        PropDisplay = "Unidad",
        CampoSearch = "Unidad",
        CampoCondicion = "contenga"
    })
    </div>
    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.IdAlmacenDestino)
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdAlmacenDestinoAutoComplete",
        Url = @Url.Action("Top", "Almacenes"),
        Metod = "post",
        Min = "1",
        Target = "IdAlmacenDestino",
        PropValue = "IdAlmacen",
        PropDisplay = "Almacen",
        CampoSearch = "Almacen",
        CampoCondicion = "contenga"
    })
    </div>
    <div class="form-group col-md-2">
        <br />
        <span class="btn btn-primary"
              id="btnBuscaMovimiento"
              data-url="@Url.Action("BuscaMovimiento", "Movimientos")"
              data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")">
            <i class="fa-1x fa fa-search"></i>
            @CIdioma.TraduceCadena("IUICatalogoSearch")
        </span>
    </div>
</fieldset>

<div class="form-group col-md-12" id="dvResultQuery">
</div>
<div class="fieldDestino">
   <input type="hidden" id="IdUsuario" />
   <input type="hidden" id="IdUnidadOrigen" />
   <input type="hidden" id="IdAlmacenOrigen" />
   <input type="hidden" id="IdUnidadDestino" />
   <input type="hidden" id="IdAlmacenDestino" />
</div>