@model Entidades.IMovimientos
@Html.DisplayForModel("IMovimientosDisplay")
<div class="modal-footer IcapFooter">
    @if(Model.Tipo == (int)Negocio.NMovimientos.eTipoMovimientos.Entrada)
    {
        <span id="btnEliminaEntradas" class="btn btn-icap" data-property-id="@Model.IdMovimiento" data-url-action="@Url.Action("Delete", "Movimientos")">@ViewBag.LabelDelete</span>
    }
    @if(Model.Tipo == (int)Negocio.NMovimientos.eTipoMovimientos.Salida)
    {
        <span id="btnEliminaSalidas" class="btn btn-icap" data-property-id="@Model.IdMovimiento" data-url-action="@Url.Action("Delete", "Movimientos")">@ViewBag.LabelDelete</span>
    }
    @if(Model.Tipo == (int)Negocio.NMovimientos.eTipoMovimientos.Traspaso)
    {
        <span id="btnEliminaTraspasos" class="btn btn-icap" data-property-id="@Model.IdMovimiento" data-url-action="@Url.Action("Delete", "Movimientos")">@ViewBag.LabelDelete</span>
    }
</div>

