@model Entidades.IMovimientos
@using Entidades
@using Negocio
@using Controladores.MVC
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewMovimientosEntrada" action="@Url.Action(ViewBag.Action, "Movimientos")" method="post" class="frmMovimientos">   
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true) 
    @Html.Partial("_NotificacionesCatalogos")
    @Html.HiddenFor(m => m.IdMovimiento)
    <input type="hidden" name="Tipo" id="Tipo" value="@((int)NMovimientos.eTipoMovimientos.Entrada)" />    
    <div id="dvNotificacionesValidacion">                  
    </div>      
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Fecha)
        <input name="Fecha" id="Fecha" value="@Model.Fecha.ToString("d")" class="form-control" />
        @*@Html.TextBoxFor(m => m.Fecha, "{0:dd/MM/yyyy}", new 
   {
       @class="form-control"
   })        
        @Html.ValidationMessageFor(model => model.Fecha)*@
    </div>
            
    <div class="form-group col-md-8">
        @Html.LabelFor(model => model.IdAlmacen)           
        <select id="IdAlmacen" class="form-control" name="IdAlmacen">
            @Html.Partial("_Almacenes", new AlmacenesController().GetAlmacenByUnidad(Model.IdUnidad), new ViewDataDictionary(ViewData) { { "IdAlmacen", Model.IdAlmacen } })
        </select>
        @Html.ValidationMessageFor(model => model.IdAlmacen)
    </div>
       
    <div class="form-group col-md-10">
        <input type="hidden" id="IdInsumoAux" />
        @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdInsumoAutoComplete",
            Url = @Url.Action("Top", "Insumos"),
            Metod = "post",
            Min = "1",
            Target = "IdInsumoAux",
            PropValue = "IdInsumo",
            PropDisplay = "Codigo,Serie,Descripcion",
            CampoSearch = "Codigo",
            CampoCondicion = "contenga",
            Multiple = "1"
        })        
    </div>     
    <div class="form-group col-md-2">        
        <div id="btnAddDetalleEntrada"
             class="btnGrid" style="background-image: url('../Content/Imagenes/addItem.png');"
             data-url-plantilla="@Url.Action("PlantillaTablaAdd", "Movimientos")"
             data-falta-insumo="@Entidades.CIdioma.TraduceCadena("IMovimientosFaltaIdInsumo")"
             data-toggle="tooltip" data-placement="right" title="@Entidades.CIdioma.TraduceCadena("IMovimientosBtnTitleAddInsumo")"></div>
    </div>
    <div class="form-group col-md-12">
        <table class="table table-condensed table-bordered">
         @Html.Partial("_HeadMovimientoDetalle",new CMovimientosDetalles())
            <tbody id="tbdodyMovimientoDetalleEntrada">
                @if(Model != null)
                {
                    if(Model.DetalleMovimientos != null && Model.DetalleMovimientos.Count() > 0)
                    {
                        foreach(Entidades.IMovimientosDetalles detail in Model.DetalleMovimientos)
                        {
                            @Html.Partial("_AddDetalleMovimiento", detail)
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="form-group col-md-12">
        <span id="btnSaveEntradas" class="btn btn-icap btn-right"
              data-cant-precios-zero="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckCantidadesPrecioNoZero")"
              data-insumo-repetido="@Entidades.CIdioma.TraduceCadena("NMovimientosInsumosRepetidoMovimiento")"
              data-movimiento-vacio="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckMovimientoVacio ")"
              data-no-almacen="@Entidades.CIdioma.TraduceCadena("NMovimientosNoAlmacen")">@ViewBag.LabelCreate</span>       
    </div>
        <div class="modal-footer IcapFooter"></div>    
</form>

