@model Entidades.CModelTraspasos
@using Entidades
@using Negocio
@using Controladores.MVC
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewMovimientosTraspasos" action="@Url.Action(ViewBag.Action, "Movimientos")" method="post" class="frmMovimientos">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    <input name="IdMovimiento" id="IdMovimiento" value="@Model.Movimiento.IdMovimiento" type="hidden" />
    <input type="hidden" name="Tipo" id="Tipo" value="@((int)NMovimientos.eTipoMovimientos.Traspaso)" />
    <div id="dvNotificacionesValidacion">
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Movimiento.Fecha)
        <input name="Fecha" id="Fecha" value="@Model.Movimiento.Fecha.ToString("d")" class="form-control" style="width:150px!important" />
    </div>   
    @if(Model.PermisoCambioUnidades)
    {
        @Html.Partial("_UnidadesAlmacenes", Model)
    }
    else
    {
        @Html.Partial("_OnlyAlmacenes", Model)
    }
    @if(!Model.Movimiento.TieneSolicituInsumoAsociada)
    {
    
    <div class="form-group col-md-11">
        <input type="hidden" id="IdInsumoExistenciasTraspasosAux" />
        @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdInsumoExistenciasTraspasosAutoComplete",
            Url = @Url.Action("Top", "InsumosExistencias"),
            Metod = "post",
            Min = "1",
            Target = "IdInsumoExistenciasTraspasosAux",
            PropValue = "IdInsumo",
            PropDisplay = "Codigo,Serie,Descripcion",
            CampoSearch = "Insumos.Codigo",
            CampoCondicion = "contenga",
            OmiteConcatenar = "1",
            ObjectComplemento = "IdAlmacen",
            Multiple = "1"
        })
    </div>
    <div class="form-group col-md-1">
        <div id="btnAddDetalleTraspaso"
             class="btnGrid" style="background-image: url('../Content/Imagenes/addItem.png');"
             data-url-plantilla="@Url.Action("PlantillaTablaAddSalida", "Movimientos")"
             data-falta-insumo="@Entidades.CIdioma.TraduceCadena("IMovimientosFaltaIdInsumo")"
             data-toggle="tooltip" data-placement="right" title="@Entidades.CIdioma.TraduceCadena("IMovimientosBtnTitleAddInsumo")"></div>
    </div>
    }
    <div class="form-group col-md-12">
        <table class="table table-condensed table-bordered">
            @Html.Partial("_HeadMovimientoDetalleSalida", new CInsumosExistencias())
            <tbody id="tbdodyMovimientoDetalleTraspasos">
                @if(Model != null)
                {
                    if(Model.Movimiento.DetalleMovimientos != null && Model.Movimiento.DetalleMovimientos.Count() > 0)
                    {
                        foreach(Entidades.IMovimientosDetalles detail in Model.Movimiento.DetalleMovimientos)
                        {
                            @Html.Partial("_AddDetalleMovimientoSalida", detail)
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="form-group col-md-12">
        <span id="btnSaveTraspasos" class="btn btn-icap btn-right"
              data-cant-zero="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckCantidadesNoZero")"
              data-exist-zero="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckExistenciasNoZero")"
              data-exist-cant="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckExistenciasVSsalidas")"
              data-insumo-repetido="@Entidades.CIdioma.TraduceCadena("NMovimientosInsumosRepetidoMovimiento")"
              data-movimiento-vacio="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckMovimientoVacio")"
              data-almacen-equal="@Entidades.CIdioma.TraduceCadena("NMovimientosAlmacenEqualAlmacenDestino")"
              data-no-almacen="@Entidades.CIdioma.TraduceCadena("NMovimientosNoAlmacen")">@ViewBag.LabelCreate</span>
        </div>
        <div class="modal-footer IcapFooter"></div>
    </form>



