@model Entidades.CModelEntrada
@using Entidades
@using Negocio
@{
    IPedidosDetalles plantilla = new CPedidosDetalles();
}
<form id="formularioNewEntradaFromProyecto" class="frmMovimientos">   
    <input name="IdMovimiento" id="IdMovimiento" value="@Model.Movimiento.IdMovimiento" type="hidden" />
    <input type="hidden" name="Tipo" id="Tipo" value="@((int)NMovimientos.eTipoMovimientos.Entrada)" />
    <div id="dvNotificacionesValidacion"></div> 
    @if(Model.Pedidos != null && Model.Pedidos.Count>0)
    {    
        <div class="form-group col-md-6">
            @Html.LabelFor(model => (Model.Pedidos.First()).Proyecto)
            <input readonly="readonly" value="@(Model.Pedidos.First().Proyecto)" type="text" class="form-control" />
            <input name="IdProyecto" id="IdProyecto" type="hidden" value="@(Model.Pedidos.First().IdProyecto)" />
        </div>
    }
    else
    {
        <div class="form-group col-md-12 alert alert-danger" role="alert">            
           @Entidades.CIdioma.TraduceCadena("NPedidosDetalleVacio")            
        </div>
    }
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Fecha)
        <input type='text' class="form-control" id='Fecha' value="@Model.Fecha" style="font-size:75%!important" />
    </div>
    <div class="form-group col-md-6">
        <label>@CIdioma.TraduceCadena("ITraspasoUnidadOrigen")</label><br />
        <input readonly="readonly" value="@Model.Unidad" type="text" class="form-control" data-id="@Model.IdUnidad" />
    </div>
    <div class="form-group col-md-6">
        <label>@CIdioma.TraduceCadena("ITraspasoAlmacenOrigen")</label>
        <select id="IdAlmacen"
                class="form-control"
                data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                data-url="@Url.Action("CantPedidoByProyecto", "Proyectos")"
                name="IdAlmacen">
            <option selected="selected" value="0">@CIdioma.TraduceCadena("IMovimientosAlmacenSelecDefault")</option>
            @foreach(IAlmacenes almacen in Model.Almacenes)
            {
                <option value="@almacen.IdAlmacen">@almacen.Almacen</option>
            }
        </select>
    </div>    
    <div class="form-group col-md-12 " style="height:270px;overflow:auto;">
        @if(Model.Pedidos != null && Model.Pedidos.Count() > 0)
        {
            <table class="table table-condensed table-bordered">
                <thead class="grid-Head navbar-default">
                    <tr>
                        <th>
                            <div>@Html.LabelFor(model => (Model.Pedidos.First()).Contrato)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => plantilla.Concepto)</div>
                        </th>
                        <th>
                            <div>@Html.LabelFor(model => plantilla.Codigo)</div>
                        </th>
                        <th>
                            <div> @Html.LabelFor(model => plantilla.Descripcion)</div>
                        </th>
                        <th class="headCantidades">
                            <div> @Html.LabelFor(model => plantilla.Cantidad)</div>
                        </th>
                        <th class="headCantidades">
                            <div> <label>@CIdioma.TraduceCadena("IEntradaCantidadAlmacen")</label></div>
                        </th>
                        <th class="headCantidades">
                            <div> <label>@CIdioma.TraduceCadena("IEntradaCantidadEntrada")</label></div>
                        </th>
                        <th class="headCantidades">
                            <div> <label>@CIdioma.TraduceCadena("IEntradaCantidadEntradaCosto")</label></div>
                        </th>
                        <th class="btn-one">
                        </th>
                    </tr>
                </thead>
                <tbody id="tbdodyMovimientoDetalleEntradaFromProyecto">
                    @foreach(IPedidos pedido in Model.Pedidos)
                    {
                        foreach(IPedidosDetalles detalle in pedido.Detalle)
                        {
                            if(detalle.CantidadEnviada2 < detalle.Cantidad)
                            {
                                <tr class="EntradaDetalle" id="@String.Format("trIdPedido{0}", detalle.IdPedidoDetalle)"
                                    data-insumo-id="@detalle.IdInsumo">
                                    <td><div class="cellTexto-xs">@pedido.Contrato</div></td>
                                    <td><div class="cellTexto-xs">@detalle.Concepto</div></td>
                                    <td><div class="cellTexto-xs">@detalle.Codigo</div></td>
                                    <td><div class="cellTexto-xs">@detalle.Descripcion</div></td>
                                    <td>
                                        <div>@String.Format("{0} {1}", detalle.Cantidad.ToString("n4"), detalle.UnidadMedidaDescripcion)</div>
                                    </td>
                                    <td>
                                        <div class="CantidadExistenciaAlmacen">
                                        </div>
                                    </td>
                                    <td data-property="Cantidad" data-object-value="@String.Format("CantidadTraspasar{0}", detalle.IdPedidoDetalle)">
                                        <input type="number"
                                               class="form-control cantidadEnviarEntrada"
                                               value="0"
                                               min="0"
                                               id="@String.Format("CantidadTraspasar{0}", detalle.IdPedidoDetalle)" />
                                    </td>
                                    <td data-property="Precio" data-object-value="@String.Format("CantidadTraspasarPrecio{0}", detalle.IdPedidoDetalle)">
                                        <input type="number"
                                               class="form-control cantidadEnviarEntradaPrecio"
                                               value="0"
                                               id="@String.Format("CantidadTraspasarPrecio{0}", detalle.IdPedidoDetalle)" />
                                    </td>
                                    <td>
                                        <div class="btnDelete btnGrid btnGridSmall btnRemoveTR"></div>
                                    </td>
                                    <td style="display:none" data-property="IdPedido" data-property-value="@detalle.IdPedido"></td>
                                    <td style="display:none" data-property="IdContrato" data-property-value="@detalle.IdContrato"></td>
                                    <td style="display:none" data-property="IdConcepto" data-property-value="@detalle.IdConcepto"></td>
                                    <td style="display:none" data-property="IdInsumo" data-property-value="@detalle.IdInsumo"></td>
                                    <td style="display:none" data-property="IdPedidoDetalle" data-property-value="@detalle.IdPedidoDetalle"></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        }
    </div>
    @if(Model.Pedidos != null && Model.Pedidos.Count>0)
    {
        <div class="form-group col-md-12">
            <span id="btnSaveEntrada" class="btn btn-icap btn-right"
                    data-url="@Url.Action("SaveEntradaFromPedido", "Movimientos")"
                    data-error-operacion="@CIdioma.TraduceCadena("IMovimientosTraspasosErroresOperacion")"
                    data-ok-operacion="@CIdioma.TraduceCadena("WebApiResponseOK")"
                    data-cant-zero="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckCantidadesNoZero")"
                    data-exist-zero="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckExistenciasNoZero")"
                    data-exist-cant="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckExistenciasVSsalidas")"
                    data-insumo-repetido="@Entidades.CIdioma.TraduceCadena("NMovimientosInsumosRepetidoMovimiento")"
                    data-movimiento-vacio="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckMovimientoVacio")"
                    data-almacen-equal="@Entidades.CIdioma.TraduceCadena("NMovimientosAlmacenEqualAlmacenDestino")"
                    data-no-almacen="@Entidades.CIdioma.TraduceCadena("NMovimientosNoAlmacen")">@CIdioma.TraduceCadena("IPedidoEnviarInsumos")</span>
            </div>
    }
        <div class="modal-footer IcapFooter"></div>
    </form>



