@model Entidades.IMovimientos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewMovimientos" action="@Url.Action(ViewBag.Action, "Movimientos")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IMovimientos")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveMovimientos" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

