@model Entidades.IMovimientos
@using Entidades
@using Negocio
@using Controladores.MVC
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewMovimientosSalida" action="@Url.Action(ViewBag.Action, "Movimientos")" method="post" class="frmMovimientos">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.HiddenFor(m => m.IdMovimiento)
    <input type="hidden" name="Tipo" id="Tipo" value="@((int)NMovimientos.eTipoMovimientos.Salida)" />
    <div id="dvNotificacionesValidacion">
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Fecha)
        <input name="Fecha" id="Fecha" value="@Model.Fecha.ToString("d")" class="form-control" />
    </div>

    <div class="form-group col-md-8">
        @Html.LabelFor(model => model.IdAlmacen)
        <select id="IdAlmacen" class="form-control" name="IdAlmacen" data-auto2-nombrecampo="IdAlmacen" data-auto2-condicion="=" data-auto2-operador=" AND ">
            @Html.Partial("_Almacenes", new AlmacenesController().GetAlmacenByUnidad(Model.IdUnidad), new ViewDataDictionary(ViewData) { { "IdAlmacen", Model.IdAlmacen } })
        </select>
        @Html.ValidationMessageFor(model => model.IdAlmacen)
    </div>

    <div class="form-group col-md-10">
        <input type="hidden" id="IdInsumoExistenciasSalidasAux" />
        @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdInsumoExistenciasSalidasAutoComplete",
            Url = @Url.Action("Top", "InsumosExistencias"),
            Metod = "post",
            Min = "1",
            Target = "IdInsumoExistenciasSalidasAux",
            PropValue = "IdInsumo",
            PropDisplay = "Codigo,Serie,Descripcion",
            CampoSearch = "Insumos.Codigo",
            CampoCondicion = "contenga",
            OmiteConcatenar = "1",
            ObjectComplemento = "IdAlmacen",
            Multiple = "1"
        })
    </div>
    <div class="form-group col-md-2">
        <div id="btnAddDetalleSalida"
             class="btnGrid" style="background-image: url('../Content/Imagenes/addItem.png');"
             data-url-plantilla="@Url.Action("PlantillaTablaAddSalida", "Movimientos")"
             data-falta-insumo="@Entidades.CIdioma.TraduceCadena("IMovimientosFaltaIdInsumo")"
             data-toggle="tooltip" data-placement="right" title="@Entidades.CIdioma.TraduceCadena("IMovimientosBtnTitleAddInsumo")"></div>
    </div>
    <div class="form-group col-md-12">
        <table class="table table-condensed table-bordered">
            @Html.Partial("_HeadMovimientoDetalleSalida", new CInsumosExistencias())
            <tbody id="tbdodyMovimientoDetalleSalida">
                @if(Model != null)
                {
                    if(Model.DetalleMovimientos != null && Model.DetalleMovimientos.Count() > 0)
                    {
                        foreach(Entidades.IMovimientosDetalles detail in Model.DetalleMovimientos)
                        {
                            @Html.Partial("_AddDetalleMovimientoSalida", detail)
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="form-group col-md-12">
        <span id="btnSaveSalidas" class="btn btn-icap btn-right"
              data-cant-zero="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckCantidadesNoZero")"
              data-exist-zero="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckExistenciasNoZero")"
              data-exist-cant="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckExistenciasVSsalidas")"
              data-insumo-repetido="@Entidades.CIdioma.TraduceCadena("NMovimientosInsumosRepetidoMovimiento")"
              data-movimiento-vacio="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckMovimientoVacio")"
              data-no-almacen="@Entidades.CIdioma.TraduceCadena("NMovimientosNoAlmacen")">@ViewBag.LabelCreate</span>
        </div>
        <div class="modal-footer IcapFooter"></div>
    </form>

