﻿@model Entidades.CModelTraspasos
@using Entidades

<form  method="post" class="frmMovimientos">   
    <div id="dvNotificacionesValidacion"></div>
    <div class="form-group col-md-12">
        <input type="hidden" id="IdProyecto" />
        @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdProyectoTraspasosAutoComplete",
            Url = @Url.Action("TopAll", "Proyectos"),
            Metod = "post",
            Min = "1",
            Target = "IdProyecto",
            PropValue = "IdProyecto",
            PropDisplay = "Proyecto,Unidad,Descripcion",
            CampoSearch = "Proyecto",
            CampoCondicion = "contenga",
            OmiteConcatenar = "1",            
            Multiple = "1"
        })
    </div>    
    <div class="form-group col-md-12">
        <span id="btnCreaTraspaso"
              data-url="@Url.Action("NewTraspasoFromPedido", "Movimientos")"             
              class="btn btn-icap btn-right">@Entidades.CIdioma.TraduceCadena("IPedidoEnviarInsumos")</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>