@model Entidades.IOTPersonalCliente
   @Html.HiddenFor(model => model.IdOTPersonalCliente)
   <div class="form-group">
    @Html.LabelFor(model => model.IdOrdenTrabajo)
    @Html.EditorFor(model => model.IdOrdenTrabajo)
    @Html.ValidationMessageFor(model => model.IdOrdenTrabajo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdEstatus)
    @Html.EditorFor(model => model.IdEstatus)
    @Html.ValidationMessageFor(model => model.IdEstatus)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdPersonalCliente)
    @Html.EditorFor(model => model.IdPersonalCliente)
    @Html.ValidationMessageFor(model => model.IdPersonalCliente)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


