@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaParametros" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IParametros)model.Contenido.First()).Nombre)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IParametros)model.Contenido.First()).Valor)</div>
                </th>               
                <th>
                    <div>@Html.LabelFor(model => ((IParametros)model.Contenido.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IParametros)model.Contenido.First()).Estatus)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IParametros child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdParametro" data-property-value="@child.IdParametro">
                    <td data-property="Nombre" data-property-value="@child.Nombre">@child.Nombre</td>
                    <td data-property="Valor" data-property-value="@child.Valor">@child.Valor</td>                    
                    <td data-property="Descripcion" data-property-value="@child.Descripcion">@child.Descripcion</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus",@child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

