@model Entidades.IConceptos
   @Html.HiddenFor(model => model.IdConcepto)
<div id="dvNotificacionesValidacionConceptos">
</div>  
   <div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Concepto)
    @Html.EditorFor(model => model.Concepto)
    @Html.ValidationMessageFor(model => model.Concepto)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Descripcion)
    @Html.EditorFor(model => model.Descripcion)
    @Html.ValidationMessageFor(model => model.Descripcion)
</div>


<div class="form-group col-md-3">
    @Html.LabelFor(model => model.IdCapitulo, new
{
    @for = "IdCapituloAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdCapituloAutoComplete",
        Url = @Url.Action("Top", "Capitulos"),
        Metod = "post",
        Min = "1",
        Target = "IdCapitulo",
        PropValue = "IdCapitulo",
        PropDisplay = "Capitulo",
        CampoSearch = "Capitulo",
        CampoCondicion = "contenga",        
        Value = (Model != null) ? Model.Capitulo : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdCapitulo)
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(model => model.Precio)
    <br /><h5><b><u>@Model.Precio.ToString("c4")</u> </b></h5>
    @Html.ValidationMessageFor(model => model.Precio)
</div>
<div class="form-group col-md-6">

    @Html.LabelFor(model => model.IdUnidadMedida, new
   {
       @for = "IdUnidadMedidaConceptoAutoComplete"
   })
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdUnidadMedidaConceptoAutoComplete",
            Url = @Url.Action("Top", "UnidadesMedida"),
            Metod = "post",
            Min = "1",
            Target = "IdUnidadMedida",
            PropValue = "IdUnidad",
            PropDisplay = "Unidad,Descripcion",
            CampoSearch = "Unidad",
            CampoCondicion = "contenga",
            Multiple = "1",
            Value = (Model != null) ? Model.UnidadMedida : String.Empty
        })
    @Html.ValidationMessageFor(model => model.IdUnidadMedida)
</div>
<div class="form-group col-md-6">

    @Html.LabelFor(model => model.IdConceptoClasificacion, new
   {
       @for = "IdConceptoClasificacionAutoComplete"
   })
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdConceptoClasificacionAutoComplete",
            Url = @Url.Action("Top", "ClasificacionConceptos"),
            Metod = "post",
            Min = "1",
            Target = "IdConceptoClasificacion",
            PropValue = "IdConceptoClasificacion",
            PropDisplay = "Clasificacion,Descripicion",
            CampoSearch = "Clasificacion",
            CampoCondicion = "contenga",
            Multiple = "1",
            Value = (Model != null) ? Model.Clasificacion : String.Empty
        })    
</div>
<div class="form-group col-md-10">
    <input type="hidden" id="IdInsumoAuxConcepto" />
    @Html.LabelFor(model => model.Insumos, new
   {
       @for = "IdUnidadMedidaConceptoAutoComplete"
   })
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IdInsumoAutoComplete",
            Url = @Url.Action("TopInsumosServicios", "Insumos"),
            Metod = "post",
            Min = "1",
            Target = "IdInsumoAuxConcepto",
            PropValue = "IdInsumo",
            PropDisplay = "Codigo,Serie,Descripcion",
            CampoSearch = "Codigo",
            CampoCondicion = "contenga",
            Multiple = "1"
        })
</div>     
<div class="form-group col-md-2">
    <br />
    <div id="btnAddDetalleConceptos"
         class="btnGrid btnAddItem" 
         data-url-plantilla="@Url.Action("PlantillaTablaAdd", "Conceptos")"
         data-falta-insumo="@Entidades.CIdioma.TraduceCadena("IMovimientosFaltaIdInsumo")"
         data-toggle="tooltip" data-placement="right" title="@Entidades.CIdioma.TraduceCadena("IMovimientosBtnTitleAddInsumo")"></div>
</div>
<div class="form-group col-md-12">
    <table class="table table-condensed table-bordered">
        @Html.Partial("_HeadConceptosInsumos",new Entidades.CInsumos())
        <tbody id="tbdodyConceptosInsumos">  
            @if(Model != null)
            {
                if(Model.Insumos != null && Model.Insumos.Count() > 0)
                {
                    foreach(Entidades.IConceptosInsumos detail in Model.Insumos)
                    {
                        @Html.Partial("_PlantillaTablaAdd", detail)
                    }
                }
            }         
        </tbody>
    </table>
</div>

<div class="fieldDestino">
    @Html.EditorFor(model => model.IdCapitulo)
</div>
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdUnidadMedida)
</div>
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdConceptoClasificacion)
</div>
