@model Entidades.IInsumos
<table id="tablaInsumos" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>            
            <th>
                <div>@Html.LabelFor(model => Model.Codigo)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Serie)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Descripcion)</div>
            </th>           
            <th>
                <div>@Html.LabelFor(model => Model.EsServicio)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>            
            <td>@Model.Codigo</td>
            <td>@Model.Serie</td>
            <td>@Model.Descripcion</td>                        
            <td>@Html.Partial("_Estatus",@Model.EsServicio)</td>
            <td>@Html.Partial("_Estatus",@Model.Estatus)</td>
        </tr>
    </tbody>
</table>