@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaInsumos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumos)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumos)model.Contenido.First()).Familia)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumos)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumos)model.Contenido.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumos)model.Contenido.First()).Serie)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumos)model.Contenido.First()).Descripcion)</div>
                </th>                      
                <th>
                    <div>@Html.LabelFor(model => ((IInsumos)model.Contenido.First()).Moneda)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumos)model.Contenido.First()).EsServicio)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumos)model.Contenido.First()).Estatus)</div>
                </th>
            </tr>
        </thead>
        <tbody style="font-size:95%">
            @foreach(IInsumos child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="@child.IdInsumo">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa)</td>
                    <td data-property="IdFamilia" data-property-value="@child.IdFamilia">
                        @if(@child.IdFamilia == null)
                        {
                            <i style="color:red">@CIdioma.TraduceCadena("IInsumosNoFamiliaAsignada")</i>
                        }
                        else
                        {
                            @child.Familia
                        }
                    </td>
                    <td data-property="IdUnidad" data-property-value="@child.IdUnidad">
                        @if(@child.IdUnidad == null)
                        {
                            <i style="color:red">@CIdioma.TraduceCadena("IInsumosNoUnidadAsignada")</i>                           
                        }
                        else
                        {
                           @String.Format("{0} ({1})", @child.Unidad,@child.UnidadMedidaDescripcion)
                        }
                    </td>
                    <td data-property="Codigo" data-property-value="@child.Codigo">
                        <div class="cellTexto-xs">@child.Codigo</div>
                    </td>
                    <td data-property="Serie" data-property-value="@child.Serie">
                        <div class="cellTexto-xs">@child.Serie</div>
                    </td>
                    <td data-property="Descripcion" data-property-value="@child.Descripcion">
                        <div class="cellTexto-xs">@child.Descripcion</div>
                    </td>                                        
                    <td data-property="IdMoneda" data-property-value="@child.IdMoneda">
                        @if(@child.IdMoneda <=0)
                        {
                            <i style="color:red">@CIdioma.TraduceCadena("IInsumosNoMonedaAsignada")</i>
                        }
                        else
                        {
                            @child.Moneda
                        }
                    </td>
                    <td data-property="EsServicio" data-property-value="@child.EsServicio">@Html.Partial("_Estatus",@child.EsServicio)</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus",@child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}