@model Entidades.IOTPersonal
@Html.DisplayForModel("IOTPersonalDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaOTPersonal" class="btn btn-icap" data-property-id="@Model.IdOTPersonal" data-url-action="@Url.Action("Delete", "OTPersonal")">@ViewBag.LabelDelete</span>
</div>

