@model Entidades.IOTPersonal
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewOTPersonal" action="@Url.Action(ViewBag.Action, "OTPersonal")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IOTPersonal")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveOTPersonal" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

