@model Entidades.IIvaValores
<table id="tablaIvaValores" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>            
            <th>
                <div>@Html.LabelFor(model => Model.FechaInicio)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.FechaFin)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Porcentaje)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>           
            <td>@Model.FechaInicio.ToString("d")</td>
            <td>@Model.FechaFin.ToString("d")</td>
            <td>@String.Format("{0}%", @Model.Porcentaje)</td>
            <td>@Html.Partial("_Estatus", @Model.Estatus)</td>
        </tr>
    </tbody>
</table>

