@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaIvaValores" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>  
                <th>
                    <div>@Html.LabelFor(model => ((IIvaValores)model.Contenido.First()).Empresa)</div>
                </th>              
                <th>
                    <div>@Html.LabelFor(model => ((IIvaValores)model.Contenido.First()).FechaInicio)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IIvaValores)model.Contenido.First()).FechaFin)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IIvaValores)model.Contenido.First()).Porcentaje)</div>
                </th>
                <th><div>@Entidades.CIdioma.TraduceCadena("IIvaValoresDiasVigencia")</div></th>
                <th>
                    <div>@Html.LabelFor(model => ((IIvaValores)model.Contenido.First()).Estatus)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IIvaValores child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdIva" data-property-value="@child.IdIva">  
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="FechaInicio" data-property-value="@child.FechaInicio">@child.FechaInicio.ToString("d")</td>
                    <td data-property="FechaFin" data-property-value="@child.FechaFin">@child.FechaFin.ToString("d")</td>                    
                    <td data-property="Porcentaje" data-property-value="@child.Porcentaje">@String.Format("{0}%", @child.Porcentaje)</td>
                    <td>@(((child.FechaFin - child.FechaInicio).TotalDays+1).ToString("n0"))</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

