@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaConversiones" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IConversiones)model.Contenido.First()).MonedaOrigen)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConversiones)model.Contenido.First()).MonedaDestino)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConversiones)model.Contenido.First()).Operador)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IConversiones child in @Model.Contenido)
            {
                <tr class="ui-rw-cat tipocambios" data-property="IdConversion" data-property-value="@child.IdConversion">
                    <td data-property="IdMonedaOrigen" data-property-value="@child.IdMonedaOrigen">@Html.Raw(String.Format("{0} <i>{1}</i>", child.MonedaOrigen, child.CodigoMonedaOrigen))</td>
                    <td data-property="IdMonedaDestino" data-property-value="@child.IdMonedaDestino">@Html.Raw(String.Format("{0} <i>{1}</i>", child.MonedaDestino, child.CodigoMonedaDestino))</td>
                    <td data-property="Operador" data-property-value="@child.Operador">@child.Operador</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult");
}