@model Entidades.IConversiones
<table id="tablaConversiones" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => Model.IdMonedaOrigen)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdMonedaDestino)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Operador)</div>
</th> 
                   
            </tr>
        </thead>
    <tbody>
	<tbody>          
             <tr>
		 <td>@Model.IdMonedaOrigen</td>
<td>@Model.IdMonedaDestino</td>
<td>@Model.Operador</td>
                      
            </tr>            
        </tbody>         
</table>

