@model Entidades.IMenus
@Html.HiddenFor(model => model.IdMenu)
<div class="form-group col-md-4">
    @if(Model != null)
    {
        @Html.LabelFor(model => model.Menu)
    <input type="text" value="@Model.Menu" class="form-control" readonly="readonly" name="Menu" id="Menu" />
    }
    else
    {
        @Html.LabelFor(model => model.Menu)
        @Html.EditorFor(model => model.Menu)
        @Html.ValidationMessageFor(model => model.Menu)
    }        
</div>
<div class="form-group col-md-4">
    @if(Model != null)
    {
        @Html.LabelFor(model => model.Titulo)
        <input type="text" value="@Model.Titulo" class="form-control" readonly="readonly" name="Titulo" id="Titulo" />
    }
    else
    {
        @Html.LabelFor(model => model.Titulo)
        @Html.EditorFor(model => model.Titulo)
        @Html.ValidationMessageFor(model => model.Titulo)
    }    
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.IdMenuPadre)
    @Html.EditorFor(model => model.IdMenuPadre)
    @Html.ValidationMessageFor(model => model.IdMenuPadre)
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Imagen)
    @Html.EditorFor(model => model.Imagen)
    @Html.ValidationMessageFor(model => model.Imagen)
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.ImagenTab)
    @Html.EditorFor(model => model.ImagenTab)
    @Html.ValidationMessageFor(model => model.ImagenTab)
</div>

<div class="form-group col-md-10">
    @Html.LabelFor(model => model.Url)
    @Html.EditorFor(model => model.Url)
    @Html.ValidationMessageFor(model => model.Url)
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(model => model.Orden)
    @Html.EditorFor(model => model.Orden)
    @Html.ValidationMessageFor(model => model.Orden)
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Parametros)
    @Html.TextAreaFor(model => model.Parametros, new
{
    @class="form-control"
})
    @Html.ValidationMessageFor(model => model.Parametros)
</div>


<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>