@model Entidades.IOTConceptos
@Html.DisplayForModel("IOTConceptosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaOTConceptos" class="btn btn-icap" data-property-id="@Model.IdOTConcepto" data-url-action="@Url.Action("Delete", "OTConceptos")">@ViewBag.LabelDelete</span>
</div>

