@model Entidades.IOTConceptos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewOTConceptos" action="@Url.Action(ViewBag.Action, "OTConceptos")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IOTConceptos")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveOTConceptos" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

