@model Entidades.IEspecialidades
   @Html.HiddenFor(model => model.IdEspecialidad)
<div id="dvNotificacionesValidacionEspecialidades"></div>
  <div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.IdGrado, new
  {
      @for = "IEspecialidadesGradoAutoComplete"
  })
    @Html.Partial("_AutoComplete",
        new
        {
            Id = "IEspecialidadesGradoAutoComplete",
            Url = @Url.Action("Top", "TecnicosGrados"),
            Metod = "post",
            Min = "1",
            Target = "IdGrado",
            PropValue = "IdGrado",
            PropDisplay = "Codigo,Nombre",
            CampoSearch = "Codigo",
            CampoCondicion = "contenga",
            Multiple = "1",
            Value = (Model != null) ? Model.Grado : String.Empty
        })
    @Html.ValidationMessageFor(model => model.IdGrado)
</div>

<div class="form-group col-md-5">
    @Html.LabelFor(model => model.Codigo)
    @Html.EditorFor(model => model.Codigo)
</div>
<div class="form-group col-md-5">
    @Html.LabelFor(model => model.Nombre)
    @Html.EditorFor(model => model.Nombre)
</div>
<div class="form-group col-md-2">
    <br />
@if(Model.IdEspecialidad<=0)
{
    <div id="btnAddEspecialidad"
         data-falta-datos="@Entidades.CIdioma.TraduceCadena("IEspecialidadesFaltanDatos")"
         class="btnGrid btnAddItem">
    </div>
}
</div>
@if(Model.IdEspecialidad<=0)
{
    <div class="form-group col-md-12">
        <table  class="table table-condensed table-bordered">
            <thead class="grid-Head navbar-default">
                <tr>
                    <th>
                        <div>@Html.LabelFor(model => Model.Codigo)</div>
                    </th>
                    <th>
                        <div>@Html.LabelFor(model => Model.Nombre)</div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tBodyAllEspecialidades">           
            </tbody>
        </table>
    </div>
}
@if(Model.IdEspecialidad>0)
{
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.Estatus)
        @Html.EditorFor(model => model.Estatus)
        @Html.ValidationMessageFor(model => model.Estatus)
    </div>
}
<div class="fieldDestino">
    @Html.EditorFor(model => model.IdGrado)
</div>
