@model Entidades.IClientes
@Html.DisplayForModel("IClientesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaClientes" class="btn btn-icap" data-property-id="@Model.IdCliente" data-url-action="@Url.Action("Delete", "Clientes")">@ViewBag.LabelDelete</span>
</div>

