@model Entidades.IClientes
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewClientes" action="@Url.Action(ViewBag.Action, "Clientes")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IClientes")
    <div class="form-group col-md-12">
        <span id="btnSaveClientes" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>


