﻿@model IEnumerable<IContratosDetalles>
@using Entidades

@if(@Model != null && @Model.Count() > 0)
{
    <table class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IContratosDetalles)model.First()).Concepto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IContratosDetalles)model.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IContratosDetalles)model.First()).Partida)</div>
                </th>  
                <th>
                    <div>@Html.LabelFor(model => ((IContratosDetalles)model.First()).Precio)</div>
                </th>    
                <th>
                    <div>@Html.LabelFor(model => ((IContratosDetalles)model.First()).Moneda)</div>
                </th>              
            </tr>
        </thead>
        <tbody id="tbdyConceptosContratos">
            @foreach(IContratosDetalles child in @Model)
            {
                <tr class="ui-rw-cat" data-property="IdContratoDetalle" data-property-value="@child.IdContratoDetalle">
                    <td data-property="IdConcepto" data-property-value="@child.IdConcepto">@child.Concepto</td>
                    <td>@child.Descripcion</td>
                    <td data-property="Partida" data-property-value="@child.Partida">@child.Partida</td>
                    <td>@child.Precio.ToString("c4")</td>
                    <td>@child.Moneda</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_NoResultGeneric");
}

