@model Entidades.IContratosDetalles
@Html.DisplayForModel("IContratosDetallesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaContratosDetalles" class="btn btn-icap" data-property-id="@Model.IdContratoDetalle" data-url-action="@Url.Action("Delete", "ContratosDetalles")">@ViewBag.LabelDelete</span>
</div>

