@model Entidades.IContratosDetalles
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewContratosDetalles" action="@Url.Action(ViewBag.Action, "ContratosDetalles")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel("IContratosDetalles")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveContratosDetalles" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

