@using Entidades
@model Entidades.IUICatalogo 
@{ 
    IEnumerable<IContratos2> contratos = null;
}                     
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    {
       contratos = Model.Contenido.OrderBy(x => ((IContratos2)x).Proyecto.Proyecto).Select(x=>  x as IContratos2);
    }
    <table id="tablaContratos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Unidad)</div>
                </th>  
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Proyecto)</div>
                </th>               
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Cotizacion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Contrato)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).RazonSocial)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Usuario)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Fecha)</div>
                </th>
                @*<th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Valor)</div>
                </th>*@               
                @*<th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).DescuentoMonto)</div>
                </th>*@              
                @*<th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Iva)</div>
                </th>*@
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Total)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IContratos2)model.Contenido.First()).Moneda)</div>
                </th>                          
            </tr>
        </thead>
        <tbody>
            @foreach(IContratos2 child in contratos)
            {
                <tr class="ui-rw-cat" data-property="IdContrato" data-property-value="@child.IdContrato">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td>@child.Unidad</td>                 
                    <td>@child.Proyecto.Proyecto</td>
                    <td>@child.Cotizacion</td>
                    <td>@child.Contrato</td>
                    <td>@child.RazonSocial</td> 
                    <td>@child.Usuario.NombreEmpleado</td> 
                    <td>@child.Fecha.ToString("d")</td> 
                    @*<td>@child.Valor.ToString("c4")</td>*@ 
                    @*<td>@child.DescuentoMonto.ToString("c4")</td>*@                     
                    @*<td>@Convert.ToDouble(child.Iva/100).ToString("p2")</td>*@                    
                    <td>@child.Total.ToString("c4")</td>
                    <td data-property="IdMoneda" data-property-value="@child.IdMoneda">@child.Moneda</td>                                   
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}