@model Entidades.IContratos2
<table id="tablaContratos" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Contrato)</div>
            </th>                       
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Contrato</td>           
        </tr>
    </tbody>
</table>