﻿@model IEnumerable<Entidades.IvwContratos2>
@using Entidades
@if(Model!= null)
{
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th class="btn-one">

            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First() as IContratos2).Contrato)</div>
            </th>           
            <th>
                <div>@Html.LabelFor(model => (model.First() as IContratos2).Fecha)</div>
            </th>                      
        </tr>
    </thead>
    <tbody id="tAllContratosInsumos" style="font-size:130%!important;">
        @foreach(IvwContratos2 contrato in Model)
        {
            <tr>
                <td style="cursor:pointer" class="dvdetail" data-target-div="@String.Format("dvContratoInsumo{0}",contrato.IdContrato)">
                    <div style="color:#286090">
                        <i class="fa fa-plus fa-1x "></i>
                    </div>
                </td>
                <td>@contrato.Contrato</td>
                <td>@contrato.Fecha.ToString("d")</td>               
            </tr>
            if(contrato.Conceptos != null)
            {
                <tr id="@String.Format("dvContratoInsumo{0}", contrato.IdContrato)" class="tdDetailContenido">
                    <td colspan="3"> @Html.Partial("InsumosByProyecto/_RptConceptos", contrato.Conceptos)</td>
                </tr>
            }
        }
    </tbody>
</table> 
}