﻿@model IEnumerable<Entidades.IContratosDetallesInsumos2>
@using Entidades
@if(Model != null)
{
    <table class="table table-condensed table-bordered table-striped">
        <thead class="grid-Head-Detalle grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadPorConcepto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Cantidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadProgramada)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadEjecutada)</div>
                </th>

                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadSolicitada)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadEnviada)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).CantidadRecibida)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).SalidaAlmacen)</div>
                </th>
            </tr>
        </thead>
        <tbody id="tAllInusmosInsumos">
            @foreach(IContratosDetallesInsumos2 insumo in Model)
            {
                <tr>
                    <td>@insumo.Codigo</td>
                    <td><div class="cellTexto-xs">@insumo.Descripcion</div></td>
                    <td>@insumo.Unidad</td>
                    <td>@insumo.CantidadPorConcepto.ToString("n4")</td>
                    <td>@insumo.Cantidad.ToString("n4")</td>
                    <td>@insumo.CantidadProgramada.ToString("n4")</td>
                    <td>@insumo.CantidadEjecutada.ToString("n4")</td>
                    <td>@insumo.CantidadSolicitada.ToString("n4")</td>
                    <td>@insumo.CantidadEnviada.ToString("n4")</td>
                    <td>@insumo.CantidadRecibida.ToString("n4")</td>
                    <td>@insumo.SalidaAlmacen.ToString("n4")</td>
                </tr>
            }
        </tbody>
    </table>
}