﻿@model IEnumerable<Entidades.IContratosDetalles2>
@using Entidades
@if(Model!= null)
{
<table class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th class="btn-one">

            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).Partida)</div>
            </th>  
            <th>
                <div>@Html.LabelFor(model => (model.First() ).Concepto)</div>
            </th>           
            <th>
                <div>@Html.LabelFor(model => (model.First() ).Ubicacion)</div>
            </th> 
                              
            <th>
                <div>@Html.LabelFor(model => (model.First() ).Cantidad)</div>
            </th>           
            <th>
                <div>@Html.LabelFor(model => (model.First()).CantidadProgramada)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).CantidadEjecutada)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => (model.First()).Ots)</div>
            </th>
            

        </tr>
    </thead>
    <tbody id="tAllConceptosInsumos">
        @foreach(IContratosDetalles2 concepto in Model)
        {
            <tr>
                <td style="cursor:pointer" class="dvdetail" data-target-div="@String.Format("dvConceptosInsumo{0}", concepto.IdContratosDetalles)">
                    <div style="color:#286090">
                        <i class="fa fa-plus fa-1x "></i>
                    </div>
                </td>
                <td><div data-toggle="tooltip" title="@CIdioma.TraduceCadena("IContratosDetalles2Partida")">@concepto.Partida</div></td>    
                <td><div >@concepto.Concepto</div></td>
                <td><div >@concepto.Ubicacion</div></td>                            
                <td><div data-toggle="tooltip" title="@CIdioma.TraduceCadena("IContratosDetalles2Cantidad")">@concepto.Cantidad.ToString("n0")</div></td>               
                <td><div data-toggle="tooltip" title="@CIdioma.TraduceCadena("IOTConceptosEjecucionCantidadProgramada")">@concepto.CantidadProgramada.ToString("n4")</div></td> 
                <td><div data-toggle="tooltip" title="@CIdioma.TraduceCadena("IOTConceptosEjecucionCantidadEjecutada")">@concepto.CantidadEjecutada.ToString("n4")</div></td> 
                <td><div data-toggle="tooltip" title="@CIdioma.TraduceCadena("IOTContratoDetalles2OrdenesTrabajo")">@concepto.Ots.ToString("n0")</div></td> 
            </tr>
            if(concepto.Insumos != null)
            {
                <tr id="@String.Format("dvConceptosInsumo{0}", concepto.IdContratosDetalles)" class="tdDetailContenido">
                    <td colspan="8" class="tdDetailContenido"> @Html.Partial("InsumosByProyecto/_RptInsumos", concepto.Insumos)</td>
                </tr>
            }
        }
    </tbody>
</table> 
}