@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaConceptosInsumos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => ((IConceptosInsumos)model.Contenido.First()).IdConcepto)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IConceptosInsumos)model.Contenido.First()).IdInsumo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IConceptosInsumos)model.Contenido.First()).Cantidad)</div>
</th> 
                   
            </tr>
        </thead>
        <tbody>
            @foreach(IConceptosInsumos child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdConceptoInsumo" data-property-value="@child.IdConceptoInsumo">
		   <td data-property="IdConcepto" data-property-value="@child.IdConcepto">@child.IdConcepto</td>
<td data-property="IdInsumo" data-property-value="@child.IdInsumo">@child.IdInsumo</td>
<td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad</td>
                      
                </tr>
            }
        </tbody>       
    </table>
   @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
   @Html.Partial("_NoResult",Model);
}  

