@model Entidades.IMonedas
@Html.HiddenFor(model => model.IdMoneda)
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-8">
    @Html.LabelFor(model => model.Moneda)
    @Html.EditorFor(model => model.Moneda)
    @Html.ValidationMessageFor(model => model.Moneda)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Codigo)
    @Html.EditorFor(model => model.Codigo)
    @Html.ValidationMessageFor(model => model.Codigo)
</div>


