@model Entidades.IInsumosExistencias
@Html.DisplayForModel("IInsumosExistenciasDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaInsumosExistencias" class="btn btn-icap" data-property-id="@Model.IdExistencia" data-url-action="@Url.Action("Delete", "InsumosExistencias")">@ViewBag.LabelDelete</span>
</div>

