@model Entidades.IInsumosExistencias
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewInsumosExistencias" action="@Url.Action(ViewBag.Action, "InsumosExistencias")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IInsumosExistencias")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveInsumosExistencias" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

