@model Entidades.IInsumosExistencias
<table id="tablaInsumosExistencias" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.IdAlmacen)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.IdInsumo)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Cantidad)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.IdAlmacen</td>
            <td>@Model.IdInsumo</td>
            <td>@Model.Cantidad</td>
            <td>@Model.Estatus</td>

        </tr>
    </tbody>
</table>

