@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaInsumosExistencias" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumosExistencias)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumosExistencias)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumosExistencias)model.Contenido.First()).Almacen)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumosExistencias)model.Contenido.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumosExistencias)model.Contenido.First()).Cantidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumosExistencias)model.Contenido.First()).Costo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IInsumosExistencias)model.Contenido.First()).UltimoMovimiento)</div>
                </th>              
            </tr>
        </thead>
        <tbody>
            @foreach(IInsumosExistencias child in @Model.Contenido)
            {
                <tr class="ui-rw-cat tipocambios" data-property="IdExistencia" data-property-value="@child.IdExistencia">
                    <td>@child.Empresa</td>
                    <td>@child.Unidad</td>
                    <td data-property="IdAlmacen" data-property-value="@child.IdAlmacen">@child.Almacen</td>
                    <td data-property="IdInsumo" data-property-value="@child.IdInsumo">@child.Codigo</td>
                    <td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad.ToString("n4")</td>
                    <td data-property="Costo" data-property-value="@child.Costo">@Html.Raw(String.Format("{0} <i>{1}</i>", child.Costo.ToString("n4"), child.CodigoMoneda))</td>
                    <td>@child.UltimoMovimiento.ToString("d")</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

