﻿.Cantidades 
{
    text-align:right !important;
    width:75px!important;
}
.headCantidades 
{
  width:75px!important;      
}
.headObservacion,.Observacion
{
    width:150px!important;
    max-width:250px!important;
}
.btn-one 
{
   width:40px;
   max-width:40px;
}
.TipoMovGrafico 
{    
    background-repeat: no-repeat;
    background-size: 25px;
    width:250px!important;
    background-position:left;
    padding-left:30px!important;   
}
.MovimientoEntrada 
{
    background-image: url('../Content/Imagenes/movEntrada.png')!important;
}
.MovimientoSalida {
       background-image: url('../Content/Imagenes/movSalida.png')!important;
}
form.frmMovimientos select 
{    
    font-size:80%;
}