﻿.PaginadorIcap
{    
   display:inline-block;   
}

div.PaginadorIcap div
{    
   display:inline-block;
}
div.PaginadorIcap input.txtNumberPage 
{
    width:150px !important;
    text-align:center;
}
div.PaginadorIcap span 
{   
    font-size:110%;   
}
div.PaginadorIcap span:hover 
{    
    font-size:120%;
    cursor:pointer;
}