﻿li.liTab a 
{
   
    background-color:#53AEFF!important;
    color:#000!important;
      
}
li.liTab a:hover 
{
     background-color:#C6E4FF !important;          
     cursor:pointer !important;          
     border-bottom:none !important;          
     color:#000!important;  
     border-top:3px solid orange!important;          
     border-bottom:none !important;          
}
li.active a
{
     background-color:#C6E4FF !important;          
     cursor:pointer !important;          
     border-bottom:none !important;          
     color:#000!important;  
     border-top:3px solid orange!important;          
     border-bottom:none !important;          
}
