﻿.dvTabulador 
{   
    height:40px;
    width:100%;
    display:inline-block;    
   /* background-color:#53AEFF;*/
   /*padding-left:1%; */
   /* border-bottom:2px solid #000;  */
}
.dvTab 
{    
    /*background-color:#53AEFF;*/
    display:inline-block;
    background-color:#53AEFF;
    color:#000!important;
    height:100%;
    width:auto !important;
    max-width:250px!important;
    text-align:left;
    padding-top:10px;
    margin-right:2px;
   
    border-bottom:none;     
    border-top:none; 
    background-repeat:no-repeat;
    background-size:16px;
    background-position:center left;
    padding-left:20px!important;
         


   /* background-image: url('../Imagenes/clientes.png');*/
   /* border:1px solid #fff;
    border-bottom:none; 
    border-radius: 9px 9px 0px 0px;*/     
}
div.dvTab>span 
{   
    /*font-size:120%; */
   /**position:absolute;
    right:0px;
    top:8px; */
    color:#000;
    margin-left:20px !important;
    /*padding-bottom:0px!important;
    padding-top:0px!important;
    padding:1px;
        */
    font-weight:bold;
    font-size:12px;
    display:inline-block;
    width:15px;
    height:15px;        
    text-align:center;
}
div.dvTab>span:hover 
{   
    border-radius:100%;
    color:#fff;
    background-color:#DF0101;
    font-weight:normal;
    /*font-size:10px;        */

}
div.dvTab:hover,div.dvTavActive
{    
     background-color:#C6E4FF; 
     /*background-color:#003e7e;
     background-color:none;*/        
     cursor:pointer;    
     border-bottom:none; 
     color:#000!important;
     /*font-weight:bold;*/
    /* border-left:2px solid #fff;
     border-right:2px solid #fff;*/
     border-top:3px solid orange;
     border-bottom:none;
    /* border-radius: 9px 9px 0px 0px;    
     border:none; */
}

.dvTabContenido 
{
   
}


.dvPageIcap
{    
    height:100%;
    width:100%;
}
