﻿.dvIconTool 
{               
    background-repeat:no-repeat;
    background-size:20px;
    background-position:left center;           
    padding-left:25px!important;
    color:#0786F6!important;    
}
a.dvIconTool:hover 
{
cursor:pointer!important;       
background-color:#C6E4FF!important;
color:#000!important;  
}

.dvToolPermisos 
{
padding-left:15px;
padding-right:15px;
margin-bottom:0px!important;
/*border-bottom:3px solid #0786F6!important;*/
}
.permisoBuscar 
{   
position: absolute; 
right: 100px;            
}

.TabProyecto 
{
    background-image: url('../Imagenes/AddProyecto.png');
}
.TabAprobarContrato 
{
   background-image: url('../Imagenes/AprobarContrato.png');
}
.TabLoadExel 
{
    background-image: url('../Imagenes/ExcelUpload.png');
}
.TabImprimir
{
    background-image: url('../Imagenes/Imprimir.png');
}
.TabGeneraContrato 
{
    background-image: url('../Imagenes/ContratoMenu.png');
}
.TabCopiar
{
    background-image: url('../Imagenes/CopiarTool.png');
}
.TabAllTecnicos 
{
        background-image: url('../Imagenes/TecnicosMenu.png');
}

.TabDownloadFile 
{
        background-image: url('../Imagenes/DownloadFile.png');
}
.TabEliminaFile 
{
        background-image: url('../Imagenes/DeleteFile.png');
}
.TabAddFile 
{
        background-image: url('../Imagenes/AddFile.png');
}
.TabPreviewFile 
{
        background-image: url('../Imagenes/PreviewFile.png');
}
.TabAddConcepto 
{
        background-image: url('../Imagenes/ConceptosMenu.png');
}
.TabExeConcepto 
{
        background-image: url('../Imagenes/EjecutarConcepto.png');
}
.TabAplicaPrecios 
{
       background-image: url('../Imagenes/Pesos.png');
}
.TabDeshacerPrecios 
{
     background-image: url('../Imagenes/Deshacer.png');     
}
.TabManCotizaciones
{   
    background-image: url('../Imagenes/CotizacionMenu.png');     
}
.TabAdministraProyecto 
{
   background-image: url('../Imagenes/AddProyecto.png');     
}
.TabGeneraOT 
{
    background-image: url('../Imagenes/OTMenu.png');     
}
.TabSolicitarMaterial 
{
   background-image: url('../Imagenes/PedidosMenu.png');     
}
.TabResumenInsumos{
    background-image: url('../Imagenes/InsumosMenu.png');     
}