﻿.selectPerfil 
{
    height:28px!important;
    /*border-radius:0px!important;    
    background-repeat:no-repeat;
    background-size:25px;
    background-position:left;
    padding-left:10000px!important;
    text-align:center;
    background-image: url('../Imagenes/Profile.png');*/
}
li.selectPerfil i 
{
   font-size:150%;
}

