@model Entidades.IOTPersonalCliente
@Html.DisplayForModel("IOTPersonalClienteDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaOTPersonalCliente" class="btn btn-icap" data-property-id="@Model.IdOTPersonalCliente" data-url-action="@Url.Action("Delete", "OTPersonalCliente")">@ViewBag.LabelDelete</span>
</div>

