@model Entidades.IOTPersonalCliente
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewOTPersonalCliente" action="@Url.Action(ViewBag.Action, "OTPersonalCliente")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IOTPersonalCliente")
    <div class="modal-footer IcapFooter">
        <span id="btnSaveOTPersonalCliente" class="btn btn-icap">@ViewBag.LabelCreate</span>
    </div>
</form>

