﻿@using Entidades
@if(ViewBag.Idiomas != null)
{
    <select id="opAllIdiomas" class="form-control" data-url-idioma='@Url.Action("SetIdioma", "Acceso")'>
        @foreach(IIdioma idioma in ViewBag.Idiomas)
        {
            if(idioma.IdIdioma == @ViewBag.IdiomaSeleccionado)
            {
                <option selected="selected" value="@idioma.IdIdioma">@idioma.Idioma</option>
            }
            else
            {
                <option value="@idioma.IdIdioma">@idioma.Idioma</option>            
            }
        }
    </select>
}