﻿@model Entidades.IUsuarios
<div class="panel">
    <div class="panel-heading"> <h3 class="panel-title">ICAP</h3> </div>
    <div class="panel-body" style="width:100%;">
        @using(@Html.BeginForm("Login", "Acceso", FormMethod.Post, new
        {
            id = "frmLoggin",
            autocomplete = "off"
        }))
        {
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Usuario, new
            {
                @for = "Usuario"
            })
                @*@Html.EditorFor(model => model.Usuario)
                    @Html.ValidationMessageFor(model => model.Usuario)*@
                <input class="form-control" id="Usuario" name="Usuario" type="text" value="">

            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Clave, new
            {
                @for = "Clave"
            })
                @*@Html.PasswordFor(model => model.Clave)*@
                <input id="Clave" name="Clave" type="password" class="form-control">
            </div>
            <div class="form-group col-md-10">
                <label for="opAllIdiomas">@ViewBag.LabelIdioma</label>
                @Html.Partial("GetIdiomas")
            </div>
            if(Model != null)
            {
                if(!String.IsNullOrEmpty(Model.InicioSession))
                {
                    <div class="form-group col-md-12">
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @Model.InicioSession
                        </div>
                    </div>
                }
            }
            <div class="form-group col-md-12">
                <input type="submit" class="btn btn-icap" value="@ViewBag.LabelInicioSession" />
            </div>
        }
    </div>
</div>
