﻿@model Entidades.IUsuarios
@using Entidades
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Acceso</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")  
    @Scripts.Render("~/bundles/jqueryval") 
    <script src="~/Scripts/Sistema/Acceso.js"></script>
    <script>
        window.onload = function ()
        {          
            var obj = new Acceso();
        }
    </script>
</head>
<body>       
    <div id="dvBackGround" class="fondoLasec"  style="width:100%;">  
        <div class="frmLoggin" style="width:27%;">
            @Html.Partial("InicioSesion")
        </div>  
    </div> 
    @*<div  style="width:20%;position:fixed;left:50px;top:30px;">       
         @Html.Partial("InicioSesion")       
    </div>*@  
</body>
</html>
