@model Entidades.IClientes
@Html.HiddenFor(model => model.IdCliente)
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Unidad)
    @if(Model != null)
    {
        @Html.TextBox("Unidad", Model.Unidad, new{@class = "form-control",@readonly = "readonly"})
    }
    @Html.ValidationMessageFor(model => model.Unidad)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.RazonSocial)
    @Html.EditorFor(model => model.RazonSocial)
    @Html.ValidationMessageFor(model => model.RazonSocial)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.NombreComercial)
    @Html.EditorFor(model => model.NombreComercial)
    @Html.ValidationMessageFor(model => model.NombreComercial)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Rfc)
    @Html.EditorFor(model => model.Rfc)
    @Html.ValidationMessageFor(model => model.Rfc)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Telefono)
    @Html.EditorFor(model => model.Telefono)
    @Html.ValidationMessageFor(model => model.Telefono)
</div>
<div class="form-group col-md-8">
    @Html.LabelFor(model => model.Direccion)
    @Html.EditorFor(model => model.Direccion)
    @Html.ValidationMessageFor(model => model.Direccion)
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.CodigoPostal)
    @Html.EditorFor(model => model.CodigoPostal)
    @Html.ValidationMessageFor(model => model.CodigoPostal)
</div>

<div class="col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>

@*<div class="switch2">
        <input id="Estatus" class="cmn-toggle cmn-toggle-round" type="checkbox">
        <label for="Estatus" style="display:block!important;color:#fff">.</label>
    </div>*@