@model Entidades.IInsumosExistencias
   @Html.HiddenFor(model => model.IdExistencia)
   <div class="form-group">
    @Html.LabelFor(model => model.IdAlmacen)
    @Html.EditorFor(model => model.IdAlmacen)
    @Html.ValidationMessageFor(model => model.IdAlmacen)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdInsumo)
    @Html.EditorFor(model => model.IdInsumo)
    @Html.ValidationMessageFor(model => model.IdInsumo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Cantidad)
    @Html.EditorFor(model => model.Cantidad)
    @Html.ValidationMessageFor(model => model.Cantidad)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


