﻿@model IEnumerable<Entidades.IEstatus>
@using Entidades
@if(Model.Any())
{
    <option selected="selected" value="0">
        @Entidades.CIdioma.TraduceCadena("IEstatusSeleccioneEstatus")
    </option>
    foreach(Entidades.IEstatus estatus in Model)
    {
        <option value="@estatus.IdEstatus">
            @estatus.Nombre
        </option>
    }
}
else
{
    <option selected="selected" value="0">
        @Entidades.CIdioma.TraduceCadena("ViewMvcNoResult")
    </option>
}