@model Entidades.IEstatus
@Html.DisplayForModel("IEstatusDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaEstatus" class="btn btn-icap" data-property-id="@Model.IdEstatus" data-url-action="@Url.Action("Delete", "Estatus")">@ViewBag.LabelDelete</span>
</div>

