@model Entidades.IEstatus
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewEstatus" action="@Url.Action(ViewBag.Action, "Estatus")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IEstatus")   
    <div class="form-group col-md-12">
        <span id="btnSaveEstatus" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>

