@model Entidades.IOrdenesTrabajo
<input type="hidden" name="IdOrdenTrabajo" id="IdOrdenTrabajo" value="@Model.IdOrdenTrabajo">
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Empresa)
    @Html.TextBox("Empresa", Model.Empresa, new
    {
        @class = "form-control",
        @readonly = "readonly"
    })
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Unidad)
    @Html.TextBox("Unidad", Model.Unidad, new
    {
        @class = "form-control",
        @readonly = "readonly"
    })    
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.RazonSocial)
    <input type="text"
           readonly="readonly"
           id="RazonSocial"
           class="form-control"
           value="@Model.RazonSocial"
           data-property="IdCliente"
           data-property-value="@Model.IdCliente"
           data-url="@Url.Action("PersonalByCliente", "ClientesPersonal")"
           style="font-size:75%!important" />
</div>
@if(Model.IdOrdenTrabajo > 0)
{
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.TipoOT)
        <input class="form-control" readonly="readonly" value="@Model.TipoOT" />
        @Html.HiddenFor(model => model.IdTipo)
    </div>
}
else
{
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.TipoOT)
        <select class="form-control input-sm"
                name="IdTipo"
                id="IdTipo"
                data-empty-ms="@Entidades.CIdioma.TraduceCadena("IOTSeleccioneTipo")"
                data-cerrada="definida"
                data-idestatusot="@Model.IdTipo"
                data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                data-url-estatus="@Url.Action("OTTipo", "Estatus")"></select>
    </div>
}


@if(Model.IdOrdenTrabajo <= 0 && Model.IdProyecto<=0)
{
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Proyecto, new
    {
        @for = "IdOTPoryectoAutoComplete"
    })
        @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdOTPoryectoAutoComplete",
        Url = @Url.Action("Top", "Proyectos"),
        Metod = "post",
        Min = "1",
        Target = "IdProyecto",
        PropValue = "IdProyecto",
        PropDisplay = "Proyecto",
        CampoSearch = "Proyecto",
        CampoCondicion = "contenga",
        Multiple = "1",
        FnOnSelect = "OnSelectProyecto",
        Value = (Model != null) ? Model.Proyecto : String.Empty
    })
        @Html.ValidationMessageFor(model => model.IdProyecto)
    </div>
}
else
{
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Proyecto, new
    {
        @for = "IdOTPoryectoAutoComplete"
    })
        <input type='text' class="form-control" id="Proyecto" value="@Model.Proyecto" readonly="readonly" />
        <input type="hidden" name="IdProyecto" id="IdProyecto" value="@Model.IdProyecto">
    </div>
}

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Folio)
    @Html.TextBox("Folio", Model.Folio, new
{
    @class = "form-control",
    style = "font-size:75%!important",
    data_empty_ms=@Entidades.CIdioma.TraduceCadena("IOTSeleccioneFolio")
})
</div>

@if(Model.IdOrdenTrabajo > 0 || (Model.Contratos!= null && Model.Contratos.Count>0) )
{
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Contratos)
        <input id="IdContrato"
               data-idcontratoorden="@Model.Contratos.First().IdContratoOrden"
               data-id="@Model.Contratos.First().IdContrato"
               data-empty-ms="@Entidades.CIdioma.TraduceCadena("IOTSeleccioneContrato")"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               class="form-control" readonly="readonly" value="@Model.Contratos.First().Contrato" />
    </div>
}
else
{
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Contratos)
        <select class="form-control input-sm"
                id="IdContrato"
                data-idcontratoorden="0"
                data-empty-ms="@Entidades.CIdioma.TraduceCadena("IOTSeleccioneContrato")"
                data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
                data-url-proyecto="@Url.Action("ContratrosByProyecto", "Proyectos")"></select>
    </div>
}



<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Ubicacion)
    @Html.TextBox("Ubicacion", Model.Ubicacion, new
{
    @class = "form-control input-sm",
    style = "font-size:75%!important",
    data_empty_ms=@Entidades.CIdioma.TraduceCadena("IOTSeleccioneUbicacion")
})   
</div>



<div class="form-group col-md-2">
    @Html.LabelFor(model => model.FechaInicio)
    <input type='text' class="form-control" id='FechaInicio' value="@Model.FechaInicio" style="font-size:75%!important" />
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(model => model.FechaFin)
    <input type='text' class="form-control" id='FechaFin' value="@Model.FechaFin" style="font-size:75%!important" />
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(model => model.IdEstatus)
    <select class="form-control input-sm"
            name="IdEstatus"
            id="IdEstatus"
            data-idestatusot="@Model.IdEstatus"
            data-empty-ms="@Entidades.CIdioma.TraduceCadena("IOTSeleccioneEstatus")"
            data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
            data-url-estatus="@Url.Action("OTEstado", "Estatus")"
            style="font-size:75%!important"></select>
</div>
<div class="form-group col-md-2">
    @Html.LabelFor(model => model.IdPrioridad)
    <select class="form-control input-sm"
            name="IdPrioridad"
            id="IdPrioridad"
            data-idestatusot="@Model.IdPrioridad"
            data-empty-ms="@Entidades.CIdioma.TraduceCadena("IOTSeleccionePrioridad")"
            data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
            data-url-estatus="@Url.Action("OTPrioridad", "Estatus")"
            style="font-size:75%!important"></select>
</div>


<div class="form-group col-md-4">
    <label>@Entidades.CIdioma.TraduceCadena("IOTPersonalClienteAtencion")</label>
    <select class="form-control" id="selAtencionOT"></select>

</div>
<div class="form-group col-md-2">
    <br />
    <div>
        <div id="btnAtencionPlus" class="btn btn-sm btn-primary glyphicon glyphicon-plus" data-origen="selAtencionOT" data-destino="ulAtencionOT"></div>
        <div id="btnAtencionMinus" class="btn btn-sm btn-primary glyphicon glyphicon-minus" data-origen="ulAtencionOT"></div>
    </div>
</div>
<div class="form-group col-md-4">
    <label>@Entidades.CIdioma.TraduceCadena("IOTPersonalClienteContacto")</label>
    <select class="form-control" id="selContactoOT"></select>
</div>
<div class="form-group col-md-2">
    <br />
    <div>
        <div id="btnContactoPlus" class="btn btn-sm btn-primary glyphicon glyphicon-plus" data-origen="selContactoOT" data-destino="ulContactoOT"></div>
        <div id="btnContactoMinus" class="btn btn-sm btn-primary glyphicon glyphicon-minus" data-origen="ulContactoOT"></div>
    </div>
</div>

<div class="form-group col-md-6">
    <ul id="ulAtencionOT" class="list-group ulPersonalCliente" data-msj-existe="@Entidades.CIdioma.TraduceCadena("IOTyaExisteElPersonal")">
        @Html.Partial("_OTPersonalCliente", Model.PersonalClienteAtencion)
    </ul>
</div>
<div class="form-group col-md-6">
    <ul id="ulContactoOT" class="list-group ulPersonalCliente" data-msj-existe="@Entidades.CIdioma.TraduceCadena("IOTyaExisteElPersonal")">
        @Html.Partial("_OTPersonalCliente", Model.PersonalClienteContacto)
    </ul>
</div>


<div class="fieldDestino">
    @Html.EditorFor(model => model.IdProyecto)
</div>