@model Entidades.IOrdenesTrabajo
@using Entidades
<div id="dvNotificacionesValidacionOT"></div>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="liTab">
            <a href="#dvOTTabDatosGenerales" aria-controls="dvOTTabDatosGenerales" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("IOTTabDatosGenerales")
            </a>
        </li>       
        @*<li role="presentation" class="liTab">
            <a href="#dvOTTabContratos" aria-controls="dvOTTabContratos" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("IOTTabContratos")
            </a>
        </li>*@
        <li role="presentation" class="liTab">
            <a id="tabConceptos" href="#dvOTTabConceptos" aria-controls="dvOTTabConceptos" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("IOTTabConceptos")
            </a>
        </li>
        <li role="presentation" class="liTab">
            <a href="#dvOTPersonal" aria-controls="dvOTPersonal" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("IOTTabPersonal")
            </a>
        </li> 
        <li role="presentation" class="liTab">
            <a href="#dvOTTabComentarios" aria-controls="dvOTTabComentarios" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("IOTTabComentarios")
            </a>
        </li>   
        <li role="presentation" class="liTab">
            <a href="#dvOTDetallesInstalacion" aria-controls="dvOTDetallesInstalacion" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("IOTTabDetallesInstalacion")
            </a>
        </li> 
        <li role="presentation" class="liTab">
            <a href="#dvOTDiagramas" aria-controls="dvOTDiagramas" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("IOTTabDiagramas")
            </a>
        </li>      
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane  active" id="dvOTTabDatosGenerales">
            @Html.Partial("EditorTemplates/IOrdenesTrabajoHeader", Model)
        </div>        
        @*<div role="tabpanel" class="tab-pane " id="dvOTTabContratos">
            @Html.Partial("_Contratos", Model)
        </div>*@
        <div role="tabpanel" class="tab-pane" id="dvOTTabConceptos">
            @Html.Partial("_Conceptos", Model)
        </div>
        <div role="tabpanel" class="tab-pane " id="dvOTTabComentarios">
            @Html.Partial("_Comentarios", Model)
        </div>
        <div role="tabpanel" class="tab-pane " id="dvOTPersonal">
           @Html.Partial("_OTPersonal", Model)
        </div>
        <div role="tabpanel" class="tab-pane " id="dvOTDetallesInstalacion">
            @Html.Partial("_OTDetallesInstalacion", Model)
        </div>
        <div role="tabpanel" class="tab-pane " id="dvOTDiagramas">
            @Html.Partial("_OTDiagramas",Model)
        </div>
    </div>
</div>