@model Entidades.IClasificacionConceptos
   @Html.HiddenFor(model => model.IdConceptoClasificacion)

<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Clasificacion)
    @Html.EditorFor(model => model.Clasificacion)
    @Html.ValidationMessageFor(model => model.Clasificacion)
</div>
<div class="form-group col-md-8">
    @Html.LabelFor(model => model.Descripicion)
    @Html.EditorFor(model => model.Descripicion)
    @Html.ValidationMessageFor(model => model.Descripicion)
</div>


