@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaDepartamentos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IDepartamentos)model.Contenido.First()).Empresa)</div>
                </th>               
                <th>
                    <div>@Html.LabelFor(model => ((IDepartamentos)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IDepartamentos)model.Contenido.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IDepartamentos)model.Contenido.First()).Nombre)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IDepartamentos)model.Contenido.First()).Estatus)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IDepartamentos child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdDepartamento" data-property-value="@child.IdDepartamento">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>                    
                    <td data-property="IdUnidad" data-property-value="@child.IdUnidad">@child.Unidad</td>
                    <td data-property="Codigo" data-property-value="@child.Codigo">@child.Codigo</td>
                    <td data-property="Nombre" data-property-value="@child.Nombre">@child.Nombre</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult");
}