@model Entidades.IDepartamentos
<table id="tablaDepartamentos" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Codigo)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Nombre)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Estatus)</div>
            </th>

        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Codigo</td>
            <td>@Model.Nombre</td>
            <td>@Html.Partial("_Estatus", @Model.Estatus) </td>
        </tr>
    </tbody>
</table>

