@model Entidades.ICapitulos
@Html.HiddenFor(model => model.IdCapitulo)
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Capitulo)
    @Html.EditorFor(model => model.Capitulo)
    @Html.ValidationMessageFor(model => model.Capitulo)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


