﻿@model Entidades.IProyectos
@using Entidades 
@if(Model != null && Model.Contratos != null && Model.Contratos.Count > 0)
{
    <div class="form-group col-md-12">
        <table class="table table-condensed table-bordered">
            <thead class="grid-Head navbar-default">
                <tr>
                    <th>
                        <div>@Html.LabelFor(model => ((IProyectoContratos)model.Contratos.First()).Empresa)</div>
                    </th>
                    <th>
                        <div>@Html.LabelFor(model => ((IProyectoContratos)model.Contratos.First()).Unidad)</div>
                    </th>
                    <th>
                        <div>@Html.LabelFor(model => ((IProyectoContratos)model.Contratos.First()).Contrato)</div>
                    </th>
                    <th>
                        <div>@Html.LabelFor(model => ((IProyectoContratos)model.Contratos.First()).RazonSocial)</div>
                    </th>                   
                    <th class="btn-one"></th>                   
                </tr>
            </thead>
            <tbody id="tBodyAllContratosDetalleProyecto">
                @foreach(IProyectoContratos proyectoContrato in Model.Contratos)
                {
                    <tr class="rwProyectoContrato" data-property="IdProyectoContrato" data-property-value="@proyectoContrato.IdProyectoContrato">
                        <td >@proyectoContrato.Empresa</td>
                        <td >@proyectoContrato.Unidad</td>
                        <td data-property="Contrato" data-property-value="@proyectoContrato.Contrato">@proyectoContrato.Contrato</td>
                        <td>@Model.RazonSocial</td>                       
                            <td>
                                <div style="color:#286090"><i class="fa fa-file-text fa-2x dvPreview" aria-hidden="true" style="cursor:pointer"></i></div>
                            </td>                        
                        <td style="display:none" data-property="IdContrato" data-property-value="@proyectoContrato.IdContrato"></td>
                        <td style="display:none" data-property="IdCliente" data-property-value="@proyectoContrato.IdCliente"></td>
                        <td style="display:none" data-property="Estatus" data-property-value="@proyectoContrato.Estatus"></td>
                    </tr>
                }
            </tbody>
        </table>  
    </div>
    <div class="form-group col-md-12"
         id="dvContratoProyectoDetail"
         data-url="@Url.Action("PreviewContrato", "Contratos")"
         data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")">
    </div>
}