﻿@model Entidades.IProyectos
@using Entidades 
<div class="dvToolPermisos navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>
            <a id="spnPrintCotizacionProyecto"
               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-id="@Model.IdCotizacion"
               data-url="@Url.Action("ImprimeCotizacion23", "Cotizaciones")"
               class="dvIconTool TabImprimir">@Entidades.CIdioma.TraduceCadena("IImprimeCotizacion")</a>
        </li>
        <li>
            <a id="spnShowCotizacionProyecto"
               class="dvIconTool TabPreviewFile"
               data-id="@Model.IdCotizacion"
               data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("PreviewCotizacion", "Cotizaciones")">
                @Entidades.CIdioma.TraduceCadena("IOTPreviewCotizacion")
            </a>
        </li>
     </ul>
</div>
<div class="form-group col-md-12" id="dvCotizacionProyectoDetail">

</div>