﻿@model Entidades.IProyectos
@using Entidades   
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Empresa)
    <input type="text" class="form-control" value="@Model.Empresa" readonly="readonly"/>
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Unidad)    
    <input type="text" class="form-control" value="@Model.Unidad" readonly="readonly" />
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Proyecto)
    <input type="text" class="form-control" value="@Model.Proyecto" readonly="readonly" />
</div>
<div class="form-group col-md-5">
    @Html.LabelFor(model => model.Descripcion)
    <input type="text" class="form-control" value="@Model.Descripcion" readonly="readonly" />
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.IdEstatus)
    <input type="text" class="form-control" value="@Model.EstatusProyecto" readonly="readonly" />    
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Ubicacion)
    <input type="text" class="form-control" value="@Model.Ubicacion" readonly="readonly" />
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.FechaInicial)
    <input type="text" class="form-control" value="@Model.FechaInicial.ToString("d")" readonly="readonly" />
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(model => model.FechaFinal)
    <input type="text" class="form-control" value="@Model.FechaFinal.ToString("d")" readonly="readonly" />
</div>