@model Entidades.IActividades
@Html.DisplayForModel("IActividadesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaActividades" class="btn btn-icap" data-property-id="@Model.IdActividad" data-url-action="@Url.Action("Delete", "Actividades")">@ViewBag.LabelDelete</span>
</div>

