@model Entidades.IActividades
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewActividades" action="@Url.Action(ViewBag.Action, "Actividades")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IActividades")
    <div class="form-group col-md-12">
        <span id="btnSaveActividades" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>    
    <div class="modal-footer IcapFooter"></div>
</form>

