@model Entidades.IOTConceptos
<table id="tablaOTConceptos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => Model.IdOrdenTrabajo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdContratoDetalle)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.CantidadSolicitada)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.CantidadProgramada)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.CantidadEjecutada)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Estatus)</div>
</th> 
                   
            </tr>
        </thead>
    <tbody>
	<tbody>          
             <tr>
		 <td>@Model.IdOrdenTrabajo</td>
<td>@Model.IdContratoDetalle</td>
<td>@Model.CantidadSolicitada</td>
<td>@Model.CantidadProgramada</td>
<td>@Model.CantidadEjecutada</td>
<td>@Model.Estatus</td>
                      
            </tr>            
        </tbody>         
</table>

