@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaOTConceptos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => ((IOTConceptos)model.Contenido.First()).IdOrdenTrabajo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTConceptos)model.Contenido.First()).IdContratoDetalle)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTConceptos)model.Contenido.First()).CantidadSolicitada)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTConceptos)model.Contenido.First()).CantidadProgramada)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTConceptos)model.Contenido.First()).CantidadEjecutada)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTConceptos)model.Contenido.First()).Estatus)</div>
</th> 
                   
            </tr>
        </thead>
        <tbody>
            @foreach(IOTConceptos child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdOTConcepto" data-property-value="@child.IdOTConcepto">
		   <td data-property="IdOrdenTrabajo" data-property-value="@child.IdOrdenTrabajo">@child.IdOrdenTrabajo</td>
<td data-property="IdContratoDetalle" data-property-value="@child.IdContratoDetalle">@child.IdContratoDetalle</td>
<td data-property="CantidadSolicitada" data-property-value="@child.CantidadSolicitada">@child.CantidadSolicitada</td>
<td data-property="CantidadProgramada" data-property-value="@child.CantidadProgramada">@child.CantidadProgramada</td>
<td data-property="CantidadEjecutada" data-property-value="@child.CantidadEjecutada">@child.CantidadEjecutada</td>
<td data-property="Estatus" data-property-value="@child.Estatus">@child.Estatus</td>
                      
                </tr>
            }
        </tbody>       
    </table>
   @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
   @Html.Partial("_NoResult",Model);
}  

