@model Entidades.IContratos2
@using Entidades
<div id="dvNotificacionesValidacionConceptosContratos"></div>
@*@if(Model.Aprobado)
{
    <div class="alert alert-success col-md-12" role="alert">        
        <b>@CIdioma.TraduceCadena("IContratoAprobado")</b>
    </div>
}*@
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="liTab">
            <a href="#dvCotratosDatosGenerales" aria-controls="dvCotratosDatosGenerales" role="tab" data-toggle="tab">
                @CIdioma.TraduceCadena("IContratosTabDatosGenerales")
            </a>
        </li>
        <li role="presentation" class="liTab">
            <a id="tabConceptosByIngenieria"
               href="#dvTabConceptosContratos"
               aria-controls="dvTabConceptosContratos"
               role="tab"
               data-toggle="tab"
               data-url-conceptos="@Url.Action("ContratoDetalles", "ContratosDetalles")">
                @CIdioma.TraduceCadena("IContratosTabConceptos")
            </a>
        </li>
        <li role="presentation" class="liTab">
            <a id="tabConceptosAdicionales"
               data-url-insumos="@Url.Action("", "")"
               href="#dvTabConceptosAdicionales"
               aria-controls="dvTabConceptosAdicionales"
               role="tab"
               data-toggle="tab">
                @CIdioma.TraduceCadena("IContratosTabAdicionales")
            </a>
        </li>
        <li role="presentation" class="liTab">
            <a id="tabModificaCostos"
               href="#dvTabModificaCostos"
               aria-controls="dvTabModificaCostos"
               role="tab"
               data-msj-wait="@CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
               data-url="@Url.Action("GetPrecioConceptos", "Contratos")"
               data-tab="dvTabModificaCostos"
               data-solo-uno="0"
               data-toggle="tab">
                @CIdioma.TraduceCadena("IContratosTabModificaCostos")
            </a>
        </li> 
        <li role="presentation" class="liTab">
            <a id="tabExplosionInsumosContratos"
               data-url-insumos="@Url.Action("ContratoDetallesInsumos", "ContratosDetalles")"
               data-no-ingenieria="@CIdioma.TraduceCadena("IContratosSeleccioneProyecto")"
               href="#dvTabExpInsumosContratos"
               aria-controls="dvTabExpInsumosContratos"
               role="tab"
               data-toggle="tab">
                @CIdioma.TraduceCadena("IContratosTabExposionInsumos")
            </a>
        </li>
             
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane  active" id="dvCotratosDatosGenerales">
            @Html.Partial("_ContratoHeader", Model)
        </div>
        <div role="tabpanel" class="tab-pane " id="dvTabConceptosContratos"> 
            @Html.Partial("_ConceptosHeader", Model.Conceptos)@*, new ViewDataDictionary { { "Aprobado", Model.Aprobado } })*@           
        </div>
        <div role="tabpanel" class="tab-pane " id="dvTabConceptosAdicionales">
            @Html.Partial("_ConceptosHeaderAdicionales", Model.Adicionales)
        </div>
        <div role="tabpanel" class="tab-pane " id="dvTabModificaCostos">            
        </div> 
        <div role="tabpanel" class="tab-pane " id="dvTabExpInsumosContratos">
            @Html.Partial("_InsumosHeader", Model.Conceptos)                        
            @Html.Partial("_InsumosHeader", Model.Adicionales)        
        </div>       
       
    </div>
</div>