@model Entidades.IProyectos
@Html.HiddenFor(model => model.IdProyecto) 
@Html.HiddenFor(model => model.IdCotizacion)
@Html.HiddenFor(model => model.IdCliente)
@{
   // bool OcultaBotones = false;
    /*if(Model.IdCotizacion != null)
    {
        OcultaBotones = true;
    }*/
}
<div id="dvNotificacionesValidacionPProyectos"></div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.Unidad)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Unidad, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>

@*@if(Model.IdCotizacion != null)
{
    <div class="form-group col-md-4">

        @Html.LabelFor(model => model.Cotizacion)
        <input class="form-control" value="@Model.Cotizacion" readonly="readonly" />
    </div>
}*@


<div class="form-group col-md-4">
    @Html.LabelFor(model => model.IdCliente, new
{
    @for = "IdProyectoClienteAutoComplete"
})
    @Html.Partial("_AutoComplete",
    new
    {
        Id = "IdProyectoClienteAutoComplete",
        Url = @Url.Action("Top", "Clientes"),
        Metod = "post",
        Min = "1",
        Target = "IdCliente",
        PropValue = "IdCliente",
        PropDisplay = "RazonSocial",
        CampoSearch = "RazonSocial",
        CampoCondicion = "contenga",
        Value = (Model != null) ? Model.RazonSocial : String.Empty
    })
    @Html.ValidationMessageFor(model => model.IdCliente)
</div>


<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Proyecto)
    @Html.EditorFor(model => model.Proyecto)
    @Html.ValidationMessageFor(model => model.Proyecto)
</div>
<div class="form-group col-md-6">
    @Html.LabelFor(model => model.Descripcion)
    @Html.EditorFor(model => model.Descripcion)
    @Html.ValidationMessageFor(model => model.Descripcion)
</div>


<div class="form-group col-md-3">
    @Html.LabelFor(model => model.Ubicacion)
    @Html.EditorFor(model => model.Ubicacion)
    @Html.ValidationMessageFor(model => model.Ubicacion)
</div>


<div class="form-group col-md-4">
    @Html.LabelFor(model => model.FechaInicial)
    <input name="FechaInicial" id="FechaInicial" value="@Model.FechaInicial.ToString("d")" class="form-control icapDatePicker" />
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.FechaFinal)
    <input name="FechaFinal" id="FechaFinal" value="@Model.FechaFinal.ToString("d")" class="form-control icapDatePicker" />
</div>


<div class="form-group col-md-4">
    @Html.LabelFor(model => model.IdEstatus)
    <select class="form-control input-sm"
            name="IdEstatus"
            id="IdEstatus"
            data-idestatusot="@Model.IdEstatus"
            data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
            data-url-estatus="@Url.Action("ProyectoEstado", "Estatus")"></select>
</div>

@*@if(Model != null )
{
    if(Model.IdCotizacion != null && Model.Contratos != null && Model.Contratos.Count() > 0)
    {
        @Html.Partial("_ContratosListado",Model)
    }
    if(Model.IdCotizacion == null)
    {             
       @Html.Partial("_ContratosListado", Model)
    }
}*@



<div class="fieldDestino">
    @Html.EditorFor(model => model.IdCliente)
</div>