﻿<!DOCTYPE html>
<html>
<head id="headMainIcap">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Icap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Icap/Sistema/Base")
    @Scripts.Render("~/Icap/Sistema")
    @RenderSection("Scripts", false)
    <style>        
    .divtop 
    {
        width:100vw;height:50px;color:#fff;
        background-color:#286090       
    }
        .OTLista {
            color:#fff;
        }
        .list-mnu 
        {
            background-color:#286090;
        }
        .list-mnu-wait
        {
            background-color:#f8ac0e;
        }
        .lst-item-menu 
        {
            text-decoration:none;
            display:block;
            width:100%;
            height:40px;
          /*  background: rgba(255,255,255,0.5);*/
            color:#fff;
            cursor:pointer;            
        }
    </style>
    <script>
        function ini()
        {
            var top = document.getElementById('dvTop');
            top.ICAPM = new ICAPM();
            top.ICAPM.Loggin();
        }
        window.onload = ini;
    </script>
</head>
<body style="background-color:#17202A;">
    <div  id ="dvTop" class="divtop">
        <span style="margin-left:40%;font-size:300%"> ICAP </span>
    </div>
    @RenderBody()
</body>
</html>
