﻿<!-- Modal -->
<div id="dvModalMessageGlobal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ModalTitle" style="color:#fff!important;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div id="pModalBodyGlobal">
                </div>
            </div>
            <div id="pModalFooterGlobal" class="modal-footer">
                <button id="btnModalAccept" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>