﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ReportesIcap.aspx.cs" Inherits="WEB_ICAP.Reportes.ReportesIcap" %>
<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>    
        <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="600"></rsweb:ReportViewer>
        <asp:ScriptManager runat="server" ID="SillyPrerequisite"></asp:ScriptManager>   
    </div>
    </form>
</body>
</html>
