@model Entidades.ICotizacionesDetalles
   @Html.HiddenFor(model => model.IdCotizacionDetalle)
   <div class="form-group">
    @Html.LabelFor(model => model.IdCotizacion)
    @Html.EditorFor(model => model.IdCotizacion)
    @Html.ValidationMessageFor(model => model.IdCotizacion)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdIConcepto)
    @Html.EditorFor(model => model.IdIConcepto)
    @Html.ValidationMessageFor(model => model.IdIConcepto)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IdInsumo)
    @Html.EditorFor(model => model.IdInsumo)
    @Html.ValidationMessageFor(model => model.IdInsumo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Cantidad)
    @Html.EditorFor(model => model.Cantidad)
    @Html.ValidationMessageFor(model => model.Cantidad)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Precio)
    @Html.EditorFor(model => model.Precio)
    @Html.ValidationMessageFor(model => model.Precio)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.PorcentajeDescuento)
    @Html.EditorFor(model => model.PorcentajeDescuento)
    @Html.ValidationMessageFor(model => model.PorcentajeDescuento)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.DescuentoMonto)
    @Html.EditorFor(model => model.DescuentoMonto)
    @Html.ValidationMessageFor(model => model.DescuentoMonto)
</div>


