@model Entidades.IUnidadesMedida
@Html.DisplayForModel("IUnidadesMedidaDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaUnidadesMedida" class="btn btn-icap" data-property-id="@Model.IdUnidad" data-url-action="@Url.Action("Delete", "UnidadesMedida")">@ViewBag.LabelDelete</span>
</div>

