@model Entidades.IUnidadesMedida
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewUnidadesMedida" action="@Url.Action(ViewBag.Action, "UnidadesMedida")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")    
    @Html.EditorForModel("IUnidadesMedida")
    <div class="form-group col-md-12">
        <span id="btnSaveUnidadesMedida" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>

