@model Entidades.IIvaValores
@Html.DisplayForModel("IIvaValoresDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaIvaValores" class="btn btn-icap" data-property-id="@Model.IdIva" data-url-action="@Url.Action("Delete", "IvaValores")">@ViewBag.LabelDelete</span>
</div>

