@model Entidades.IIvaValores
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewIvaValores" action="@Url.Action(ViewBag.Action, "IvaValores")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IIvaValores")
    <div class="form-group  col-md-12">
        <span id="btnSaveIvaValores" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
    </div>
    <div class="modal-footer IcapFooter"></div>
</form>

