﻿<div class="form-group col-md-12">
    <div class="icap-input-file">
        <input type="file" size="1" class="input-file" name="fileUnidadesXls" id="fileUnidadesXls" />
        <p>@Entidades.CIdioma.TraduceCadena("ICatalogoLeyendaPlantillaMasiva")</p>
        <span class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("ILeyendaLoadCatalogos")</span>
        <br />
        <label id="lblUnidadesXlsSelect"></label>
    </div>
</div>