@model Entidades.IUnidades
@Html.DisplayForModel("IUnidadesDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaUnidades" class="btn btn-icap" data-property-id="@Model.IdUnidad" data-url-action="@Url.Action("Delete", "Unidades")">@ViewBag.LabelDelete</span>
</div>

