@model Entidades.IUnidades
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewUnidades" action="@Url.Action(ViewBag.Action, "Unidades")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")    
    @Html.EditorForModel("IUnidades")
    <div class="form-group col-md-12">
        <span id="btnSaveUnidades" class="btn btn-icap btn-right">@ViewBag.LabelCreate</span>
     </div>
        <div class="modal-footer IcapFooter"></div>
</form>

