@model Entidades.ITecnicosGrados
<table id="tablaTecnicosGrados" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Codigo)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Nombre)</div>
            </th>           
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Codigo</td>
            <td>@Model.Nombre</td>           
        </tr>
    </tbody>
</table>

