@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaUnidades" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IUnidades)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUnidades)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUnidades)model.Contenido.First()).Direccion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUnidades)model.Contenido.First()).Telefono)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IUnidades)model.Contenido.First()).Estatus)</div>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(IUnidades child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdUnidad" data-property-value="@child.IdUnidad">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="Unidad" data-property-value="@child.Unidad">@child.Unidad</td>
                    <td data-property="Direccion" data-property-value="@child.Direccion">@child.Direccion</td>
                    <td data-property="Telefono" data-property-value="@child.Telefono">@child.Telefono</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>

                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult");
}

