@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaOTPersonal" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => ((IOTPersonal)model.Contenido.First()).IdOrdenTrabajo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTPersonal)model.Contenido.First()).IdTecnico)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTPersonal)model.Contenido.First()).Estatus)</div>
</th> 
                   
            </tr>
        </thead>
        <tbody>
            @foreach(IOTPersonal child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdOTPersonal" data-property-value="@child.IdOTPersonal">
		   <td data-property="IdOrdenTrabajo" data-property-value="@child.IdOrdenTrabajo">@child.IdOrdenTrabajo</td>
<td data-property="IdTecnico" data-property-value="@child.IdTecnico">@child.IdTecnico</td>
<td data-property="Estatus" data-property-value="@child.Estatus">@child.Estatus</td>
                      
                </tr>
            }
        </tbody>       
    </table>
   @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
   @Html.Partial("_NoResult",Model);
}  

