@model Entidades.IMonedas
<table id="tablaMonedas" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>
            <th>
                <div>@Html.LabelFor(model => Model.Moneda)</div>
            </th>
            <th>
                <div>@Html.LabelFor(model => Model.Codigo)</div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td>@Model.Moneda</td>
            <td>@Model.Codigo</td>            
        </tr>
    </tbody>
</table>

