@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaMonedas" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IMonedas)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMonedas)model.Contenido.First()).Moneda)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMonedas)model.Contenido.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMonedas)model.Contenido.First()).Estatus)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IMonedas child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdMoneda" data-property-value="@child.IdMoneda">
                    <td data-property="IdEmpresa" data-property-value="@child.IdEmpresa">@child.Empresa</td>
                    <td data-property="Moneda" data-property-value="@child.Moneda">@child.Moneda</td>
                    <td data-property="Codigo" data-property-value="@child.Codigo">@child.Codigo</td>
                    <td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", child.Estatus)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

