@model Entidades.IAcciones
   @Html.HiddenFor(model => model.IdAccion)
   <div class="form-group col-md-12">
    @Html.LabelFor(model => model.AccionNombre)
    @Html.EditorFor(model => model.AccionNombre)
    @Html.ValidationMessageFor(model => model.AccionNombre)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.ParametrosJs)
    @Html.TextAreaFor(model => model.ParametrosJs, new
{
    @class = "form-control"
})
    @Html.ValidationMessageFor(model => model.ParametrosJs)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.ParametrosMvc)
    @Html.TextAreaFor(model => model.ParametrosMvc, new
{
    @class = "form-control"
})
    @Html.ValidationMessageFor(model => model.ParametrosJs)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Html)
    @Html.TextAreaFor(model => model.Html, new{@class = "form-control"})
    @Html.ValidationMessageFor(model => model.Html)
</div>


<div class="form-group col-md-12">
    @Html.LabelFor(model => model.MenuIncluir)
    @Html.EditorFor(model => model.MenuIncluir, new
{
    @class = "form-control"
})
    @Html.ValidationMessageFor(model => model.MenuIncluir)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.MenuOmitir)
    @Html.EditorFor(model => model.MenuOmitir, new
{
    @class = "form-control"
})
    @Html.ValidationMessageFor(model => model.MenuOmitir)
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>