@model Entidades.IEstatus
   @Html.HiddenFor(model => model.IdEstatus)
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Empresa)
    @if(Model != null)
    {
        @Html.TextBox("Empresa", Model.Empresa, new
   {
       @class = "form-control",
       @readonly = "readonly"
   })
    }
</div>
   <div class="form-group col-md-12">
    @Html.LabelFor(model => model.Clasificacion)
    @Html.EditorFor(model => model.Clasificacion)
    @Html.ValidationMessageFor(model => model.Clasificacion)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Nombre)
    @Html.EditorFor(model => model.Nombre)
    @Html.ValidationMessageFor(model => model.Nombre)
</div>
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Estatus)
    @Html.EditorFor(model => model.Estatus)
    @Html.ValidationMessageFor(model => model.Estatus)
</div>


