@model Entidades.IMovimientos
<table id="tablaMovimientos" class="table table-condensed table-bordered">
    <thead class="grid-Head navbar-default">
        <tr>            
            <th>
                <div>@Html.LabelFor(model => Model.Fecha)</div>
            </th>            
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>

            <td>@Model.Fecha</td>           
        </tr>
    </tbody>
</table>

