@using Entidades
@model Entidades.IUICatalogo

@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="@String.Format("tabla{0}",Model.Nombre)" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>                
                <th class="btn-one">

                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientos)model.Contenido.First()).Fecha)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientos)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientos)model.Contenido.First()).Almacen)</div>
                </th>
                @if(((IMovimientos)Model.Contenido.First()).IdAlmacenDestino != null && ((IMovimientos)Model.Contenido.First()).IdAlmacenDestino > 0)
                {
                 <th>
                    <div>@Html.LabelFor(model => ((IMovimientos)model.Contenido.First()).AlmacenDestino)</div>
                 </th>
                }
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientos)model.Contenido.First()).Usuario)</div>
                </th>  
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientos)model.Contenido.First()).Proyecto)</div>
                </th>  
                <th>
                    <div>@Html.LabelFor(model => ((IMovimientos)model.Contenido.First()).Contrato)</div>
                </th>                
                @*<th>
                    <div>@Html.LabelFor(model => ((IMovimientos)model.Contenido.First()).Estatus)</div>
                </th>*@                
            </tr>
        </thead>
        <tbody>
                        @foreach (IMovimientos child in @Model.Contenido)
            {
                            <tr class="ui-rw-cat" 
                                data-property="IdMovimiento" 
                                data-property-value="@child.IdMovimiento" 
                                data-url-movs="@Url.Action("GetAllMovsById", "MovimientosDetalles")">
                                <td>
                                    @*<div style="background-image: url('../Content/Imagenes/detail.png');"></div>*@
                                    <div class="btnGridSmallDetalle" style="color:#286090">
                                        <i class="fa fa-plus fa-1x "></i>
                                    </div>
                                </td>
                                <td data-property="Fecha" data-property-value="@child.Fecha">@child.Fecha.ToString("d")</td>
                                <td data-property="IdUnidad" data-property-value="@child.IdUnidad">@child.Unidad</td>
                                @if (child.Tipo == (int)Negocio.NMovimientos.eTipoMovimientos.Entrada)
                    {
                                    <td data-property="IdAlmacen"
                                        data-property-value="@child.IdAlmacen"
                                        class="TipoMovGrafico"
                                        style="background-image: url('../Content/Imagenes/movEntrada.png');">
                                        @child.Almacen
                                    </td>
                    }
                                @if (child.Tipo == (int)Negocio.NMovimientos.eTipoMovimientos.Salida || child.Tipo == (int)Negocio.NMovimientos.eTipoMovimientos.Traspaso)
                    {
                                    <td data-property="IdAlmacen"
                                        data-property-value="@child.IdAlmacen"
                                        class="TipoMovGrafico"
                                        style="background-image: url('../Content/Imagenes/movSalida.png');">
                                        @child.Almacen
                                    </td>
                    }

                                @if (((IMovimientos)Model.Contenido.First()).IdAlmacenDestino != null && ((IMovimientos)Model.Contenido.First()).IdAlmacenDestino > 0)
                    {
                                    <td data-property="IdUsuario"
                                        data-property-value="@child.IdAlmacenDestino"
                                        class="TipoMovGrafico"
                                        style="background-image: url('../Content/Imagenes/movEntrada.png');">
                                        @child.AlmacenDestino
                                    </td>
                    }
                                <td data-property="IdUsuario" data-property-value="@child.IdUsuario">@child.Usuario</td>

                                <td data-property="IdProyecto" data-property-value="@child.IdProyecto">@child.Proyecto</td>
                                <td data-property="IdContrato" data-property-value="@child.IdContrato">@child.Contrato</td>

                                @*<td data-property="Estatus" data-property-value="@child.Estatus">@Html.Partial("_Estatus", @child.Estatus)</td>*@

                            </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

