@using Entidades
@model Entidades.IUICatalogo
<div>
    <span>@Model.Usuario.Data.Empresa.Empresa</span>
    <span>@Model.Usuario.Data.Unidad.Unidad</span>
</div>                      
@Html.Partial("DisplayTemplates/MovimientosCollection",Model)   