@model Entidades.IOTDocumentos
<table id="tablaOTDocumentos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => Model.IdOrdenTrabajo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.IdTipoDocumento)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.RutaDocumento)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => Model.Estatus)</div>
</th> 
                   
            </tr>
        </thead>
    <tbody>
	<tbody>          
             <tr>
		 <td>@Model.IdOrdenTrabajo</td>
<td>@Model.IdTipoDocumento</td>
<td>@Model.RutaDocumento</td>
<td>@Model.Estatus</td>
                      
            </tr>            
        </tbody>         
</table>

