@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaOTDocumentos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
	          <th>
    <div>@Html.LabelFor(model => ((IOTDocumentos)model.Contenido.First()).IdOrdenTrabajo)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTDocumentos)model.Contenido.First()).IdTipoDocumento)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTDocumentos)model.Contenido.First()).RutaDocumento)</div>
</th> 
<th>
    <div>@Html.LabelFor(model => ((IOTDocumentos)model.Contenido.First()).Estatus)</div>
</th> 
                   
            </tr>
        </thead>
        <tbody>
            @foreach(IOTDocumentos child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdOTDocumentos" data-property-value="@child.IdOTDocumentos">
		   <td data-property="IdOrdenTrabajo" data-property-value="@child.IdOrdenTrabajo">@child.IdOrdenTrabajo</td>
<td data-property="IdTipoDocumento" data-property-value="@child.IdTipoDocumento">@child.IdTipoDocumento</td>
<td data-property="RutaDocumento" data-property-value="@child.RutaDocumento">@child.RutaDocumento</td>
<td data-property="Estatus" data-property-value="@child.Estatus">@child.Estatus</td>
                      
                </tr>
            }
        </tbody>       
    </table>
   @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
   @Html.Partial("_NoResult",Model);
}  

