@using Entidades
@model Entidades.IUICatalogo
@if(@Model.Contenido != null && @Model.Contenido.Count() > 0)
{
    <table id="tablaPedidos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>               
                <th class="btn-one">

                </th> 
                <th>
                    <div>@Html.LabelFor(model => ((IPedidos)model.Contenido.First()).Empresa)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IPedidos)model.Contenido.First()).Unidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IPedidos)model.Contenido.First()).FechaSolicitado)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IPedidos)model.Contenido.First()).FechaLlegada)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IPedidos)model.Contenido.First()).Proyecto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IPedidos)model.Contenido.First()).Contrato)</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IPedidos child in @Model.Contenido)
            {
                <tr class="ui-rw-cat" data-property="IdPedido" data-property-value="@child.IdPedido">
                    <td>
                        <div class="btnGridDetalle btnGridSmall "
                             data-url-detail="@Url.Action("DetallesByPedido", "PedidosDetalles")"></div>
                    </td>   
                    <td >@child.Empresa</td>
                    <td data-property="IdUnidad" data-property-value="@child.IdUnidad"> @child.Unidad</td>

                    <td data-property="FechaSolicitado" data-property-value="@child.FechaSolicitado">
                        @child.FechaSolicitado.ToString("d")
                    </td>
                    <td data-property="FechaLlegada" data-property-value="@child.FechaLlegada">
                        @if(@child.FechaLlegada != null)
                        {                            
                            @child.FechaLlegada.Value.ToString("d")
                        }
                    </td>
                    <td>@child.Proyecto</td>
                    <td >@child.Contrato</td>                    
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Paginador", @Model.PaginaInfo)
}
else
{
    @Html.Partial("_NoResult", Model);
}

