﻿@model IEnumerable<Entidades.IConceptosInsumos>
@using Entidades
@if(Model != null && Model.Count() > 0)
{
    <table id="tablaExplosionInsumos" class="table table-condensed table-bordered">
        <thead class="grid-Head navbar-default">
            <tr>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptosInsumos)model.First()).Codigo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptosInsumos)model.First()).Descripcion)</div>
                </th>                
                <th>
                    <div>@Html.LabelFor(model => ((IConceptosInsumos)model.First()).Cantidad)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => ((IConceptosInsumos)model.First()).Unidad)</div>
                </th>                
            </tr>
        </thead>
        <tbody>
            @foreach(IConceptosInsumos child in @Model)
            {
                <tr class="ui-rw-cat" data-property="IdConceptoInsumo" data-property-value="@child.IdConceptoInsumo">
                    <td >@child.Codigo</td>
                    <td><span class="LargeTxt">  @child.Descripcion </span></td>
                    <td data-property="Cantidad" data-property-value="@child.Cantidad">@child.Cantidad.ToString("n4")</td>
                    @if(!String.IsNullOrEmpty(child.Unidad))
                    {
                        <td>@child.Unidad</td>
                    }
                    else
                    {
                        <td>@CIdioma.TraduceCadena("IInsumoAutoEsServicio") </td>
                    }                                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_NoResultGeneric");
}