﻿<div class="form-group col-md-12">
    <div class="icap-input-file">
        <input type="file" size="1" class="input-file" name="fileConceptosXls" id="fileConceptosXls" />
        <p>@Entidades.CIdioma.TraduceCadena("IConceptosLeyendaPlantillaMasiva")</p>
        <span class="btn btn-icap">@Entidades.CIdioma.TraduceCadena("IConceptosLeyendaLoadInsumo")</span>
        <br />
        <label id="lblConceptosXlsSelect"></label>
    </div>
</div>