﻿@using Entidades
@model IEnumerable<Entidades.IConceptos>
@if(Model != null && Model.Count() > 0)
{
    <table id="tablaConceptos" class="table table-condensed table-bordered">
        <thead class="grid-HeadRed navbar-default">
            <tr>
                <th colspan="6"><div>@CIdioma.TraduceCadena("IConceptosWithErrorXls")</div></th>
            </tr>
            <tr>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Concepto)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Descripcion)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Capitulo)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).UnidadMedida)</div>
                </th>
                <th>
                    <div>@Html.LabelFor(model => (model.First()).Clasificacion)</div>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(IConceptos child in @Model)
            {
            <tr class="ui-rw-cat" data-property="IdConcepto" data-property-value="@child.IdConcepto">
                <td><div class="cellTexto-xs">@child.Concepto</div></td> 
                <td> <div class="cellTexto-xs">@child.Descripcion</div></td>
                <td> <div class="cellTexto-xs">@child.Capitulo</div></td>
                <td> <div class="cellTexto-xs">@child.UnidadMedida</div></td>
                <td> <div class="cellTexto-xs">@child.Clasificacion</div>  </td>
                <td> <div class="cellTexto-xs" style="color:#f00;"><b>@child.Empresa</b></div></td>                                                  
            </tr>            
            <tr>
                <td colspan="6">
                    <table class="table table-condensed table-bordered">
                        <thead class="grid-HeadRed  navbar-default">
                            <tr>
                                <th>
                                    <div>@CIdioma.TraduceCadena("IInsumosCodigo")</div>
                                </th>
                                <th>
                                    <div>@CIdioma.TraduceCadena("IConceptosCostoInsumo")</div>
                                </th>
                                <th>
                                    <div>@CIdioma.TraduceCadena("IConceptosInsumosCantidad")</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(child.Insumos !=null)
                            {                            
                                foreach(IConceptosInsumos insumo in child.Insumos)
                                {
                                    <tr class="ui-rw-cat" data-property="IdInsumo" data-property-value="@insumo.IdInsumo">
                                        <td>
                                            <div class="cellTexto-xs">@insumo.Codigo</div>
                                        </td>
                                        <td>
                                            <div class="cellTexto-xs">@insumo.CostoInsumo.ToString("C4")</div>
                                        </td>
                                        <td>
                                            <div class="cellTexto-xs">@insumo.Cantidad.ToString("N4")</div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-success col-md-12" style="visibility:visible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <b>@Html.Raw(@Entidades.CIdioma.TraduceCadena("WebApiResponseOK"))</b>
    </div>
}

