﻿@model Entidades.IInsumos
<thead class="grid-Head navbar-default">
    <tr>
        <th>
            <div> @Html.LabelFor(Model => Model.Codigo)</div>
        </th>
        <th >
            <div> @Html.LabelFor(Model => Model.Descripcion)</div>
        </th>
        <th class="headCantidades">
            <div><label>@Entidades.CIdioma.TraduceCadena("IConceptosCostoInsumo")</label></div>
        </th>
        <th>
            <div> @Html.LabelFor(Model => Model.Moneda)</div>
        </th>
        <th class="headCantidades">
            <div><label>@Entidades.CIdioma.TraduceCadena("IConceptosCantidadInsumo")</label></div>
        </th> 
        <th>
            <div> @Html.LabelFor(Model => Model.Unidad)</div>
        </th>       
        <th class="btn-one">
        </th>
    </tr>
</thead>