﻿@model Entidades.IConceptosInsumos
@using Entidades
<tr class="ConcetptosInsumos">
    <td>
        <span>@Model.Codigo</span>
    </td>
    <td>
        <span class="LargeTxt">@Model.Descripcion</span>
    </td>
    <td data-property="CostoInsumo" data-object-value="@String.Format("CICosto{0}", Model.IdInsumo)">        
        <input type="number"
               class="my-form-control TxtCantidades SimboloMoneda objTooltip"
               value="@Model.CostoInsumo"
               data-toggle="tooltip"
               data-placement="left"
               title="@Model.CostoInsumo.ToString("c4")"
               id="@String.Format("CICosto{0}", Model.IdInsumo)" />
    </td>
    <td>
        <span>@Model.CodigoMoneda</span>
    </td>
    <td data-property="Cantidad" data-object-value="@String.Format("CICantidad{0}", Model.IdInsumo)">
        <input type="number"
               class="form-control Cantidades objTooltip"
               value="@Model.Cantidad"
               data-toggle="tooltip"
               data-placement="left"
               title="@Model.Cantidad.ToString("n4")"
               id="@String.Format("CICantidad{0}", Model.IdInsumo)" />
    </td>    
    <td>
        @if(!String.IsNullOrEmpty(Model.Unidad))
        {
            <span>@Model.Unidad</span>
        }
        else
        {
            <span>@CIdioma.TraduceCadena("IInsumoAutoEsServicio") </span>
        }
        
    </td>
    <td>
        <div class="btnDelete btnGrid btnGridSmall btnRemoveTR"  data-param="@Model.IdInsumo"></div>
    </td>    
    <td style="display:none" data-property="IdMoneda" data-property-value="@Model.IdMoneda"></td>
    <td style="display:none" data-property="IdConceptoInsumo" data-property-value="@Model.IdConceptoInsumo"></td>
    <td style="display:none" data-property="IdInsumo" data-property-value="@Model.IdInsumo"></td>
</tr>