@model Entidades.IConceptos
@Html.DisplayForModel("IConceptosDisplay")
<div class="modal-footer IcapFooter">
    <span id="btnEliminaConceptos" class="btn btn-icap" data-property-id="@Model.IdConcepto" data-url-action="@Url.Action("Delete", "Conceptos")">@ViewBag.LabelDelete</span>
</div>

