@model Entidades.IConceptos
@Html.Partial("_LoadScripts")
<form id="formularioEditarNewConceptos" action="@Url.Action(ViewBag.Action, "Conceptos")" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_NotificacionesCatalogos")
    @Html.EditorForModel("IConceptos")
    <div class="form-group col-md-12">
        <span id="btnSaveConceptos" class="btn btn-icap btn-right"
              data-msj-wait="@Entidades.CIdioma.TraduceCadena("IUICatalogoMensajeWait")"
              data-capitulo-vacio="@Entidades.CIdioma.TraduceCadena("IMovimientosCapituloNecesario")"
              data-cant-zero="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckCantidadesPrecioNoZero")"
              data-insumo-repetido="@Entidades.CIdioma.TraduceCadena("NMovimientosInsumosRepetidoMovimiento")"
              data-movimiento-vacio="@Entidades.CIdioma.TraduceCadena("IMovimientosCheckMovimientoVacio")">@ViewBag.LabelCreate</span>
     </div>
     <div class="modal-footer IcapFooter "></div>
</form>

